In [1]:
# import dependencies
import pandas as pd
import datetime

In [2]:
# read in climate data
climate = pd.read_csv("raw/CA_State_Climate.csv")
climate.head()

,StateCode,Division,YearMonth,PCP,TAVG,PDSI,PHDI,ZNDX,PMDI,CDD,HDD,SP01,SP02,SP03,SP06,SP09,SP12,SP24,TMIN,TMAX
0,4,0,2010-01,6.48,45.2,0.67,-2.02,2.00,-1.14,0,491,0.94,0.60,0.15,0.25,0.34,0.08,-1.22,36.6,53.7
1,4,0,2010-02,3.65,46.8,0.66,-1.75,0.20,-0.76,0,436,0.15,0.70,0.49,0.23,0.23,-0.11,-1.05,37.5,56.1
2,4,0,2010-03,2.19,49.0,0.22,-1.94,-1.12,-1.36,0,420,-0.36,-0.17,0.41,0.14,0.05,-0.05,-0.88,37.2,60.9
3,4,0,2010-04,3.47,50.9,1.22,-0.72,3.06,1.03,1,388,1.46,0.52,0.35,0.31,0.37,0.44,-0.49,39.0,62.8
4,4,0,2010-05,1.07,56.9,1.50,1.50,1.22,1.50,14,247,0.49,1.39,0.55,0.60,0.42,0.42,-0.43,44.0,69.8

In [3]:
# drop unnecessary columns
climate = climate.drop(columns=["StateCode", "Division"])
climate.head()
climate.dtypes

,YearMonth,PCP,TAVG,PDSI,PHDI,ZNDX,PMDI,CDD,HDD,SP01,SP02,SP03,SP06,SP09,SP12,SP24,TMIN,TMAX
0,2010-01,6.48,45.2,0.67,-2.02,2.00,-1.14,0,491,0.94,0.60,0.15,0.25,0.34,0.08,-1.22,36.6,53.7
1,2010-02,3.65,46.8,0.66,-1.75,0.20,-0.76,0,436,0.15,0.70,0.49,0.23,0.23,-0.11,-1.05,37.5,56.1
2,2010-03,2.19,49.0,0.22,-1.94,-1.12,-1.36,0,420,-0.36,-0.17,0.41,0.14,0.05,-0.05,-0.88,37.2,60.9
3,2010-04,3.47,50.9,1.22,-0.72,3.06,1.03,1,388,1.46,0.52,0.35,0.31,0.37,0.44,-0.49,39.0,62.8
4,2010-05,1.07,56.9,1.50,1.50,1.22,1.50,14,247,0.49,1.39,0.55,0.60,0.42,0.42,-0.43,44.0,69.8

In [4]:
# change YearMonth format
climate["YearMonth"] = pd.to_datetime(climate["YearMonth"]).dt.to_period("m")
climate

,YearMonth,PCP,TAVG,PDSI,PHDI,ZNDX,PMDI,CDD,HDD,SP01,SP02,SP03,SP06,SP09,SP12,SP24,TMIN,TMAX
0,2010-01,6.48,45.2,0.67,-2.02,2.00,-1.14,0,491,0.94,0.60,0.15,0.25,0.34,0.08,-1.22,36.6,53.7
1,2010-02,3.65,46.8,0.66,-1.75,0.20,-0.76,0,436,0.15,0.70,0.49,0.23,0.23,-0.11,-1.05,37.5,56.1
2,2010-03,2.19,49.0,0.22,-1.94,-1.12,-1.36,0,420,-0.36,-0.17,0.41,0.14,0.05,-0.05,-0.88,37.2,60.9
3,2010-04,3.47,50.9,1.22,-0.72,3.06,1.03,1,388,1.46,0.52,0.35,0.31,0.37,0.44,-0.49,39.0,62.8
4,2010-05,1.07,56.9,1.50,1.50,1.22,1.50,14,247,0.49,1.39,0.55,0.60,0.42,0.42,-0.43,44.0,69.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,2020-06,0.15,70.5,-1.48,-1.48,0.06,-0.83,132,32,-0.56,0.36,0.46,-1.05,-0.97,-0.98,0.02,56.1,84.8
126,2020-07,0.05,76.7,-1.63,-1.63,-0.91,-1.29,254,1,-1.17,-1.06,0.19,-0.83,-0.80,-0.99,0.00,61.3,92.0
127,2020-08,0.09,79.0,-1.90,-1.90,-1.31,-1.90,358,0,-0.76,-1.52,-1.28,0.26,-0.68,-1.00,0.01,64.4,93.6
128,2020-09,0.04,74.2,-2.27,-2.27,-1.72,-2.27,268,2,-1.68,-1.67,-1.95,0.03,-1.25,-1.12,0.00,59.4,89.0
129,2020-10,0.05,66.5,-3.10,-3.10,-3.19,-3.10,131,36,-1.69,-1.98,-2.11,-1.58,-1.38,-1.17,-0.08,51.7,81.3

In [5]:
# check column dtypes
climate.dtypes

YearMonth    period[M]
    PCP        float64
   TAVG        float64
   PDSI        float64
   PHDI        float64
   ZNDX        float64
   PMDI        float64
    CDD          int64
    HDD          int64
   SP01        float64
   SP02        float64
   SP03        float64
   SP06        float64
   SP09        float64
   SP12        float64
   SP24        float64
   TMIN        float64
   TMAX        float64
dtype: object

In [6]:
# export climate
climate.to_csv('resources/climate.csv', index=False)