In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import os
import warnings
warnings.filterwarnings('ignore')
from pathlib import Path

from sqlalchemy import create_engine
from config import db_password

In [ ]:
# get db server connection string
db_string = f'postgres://postgres:{db_password}@127.0.0.1:5432/avocados'

# Create db engine
engine = create_engine(db_string)

# Load prices data set
cleaned_df = pd.read_sql_table('combined_cleaned', engine)

In [45]:
cleaned_df = pd.read_csv(Path('../resources/combined_cleaned.csv'))
cleaned_df.head()

,Unnamed: 0,index,type,avg_price,total_volume_price,4046_units,4225_units,4770_units,total_bags,s_bags,...,geography_South Carolina,geography_South Central,geography_Southeast,geography_Spokane,geography_St. Louis,geography_Syracuse,geography_Tampa,geography_Total U.S.,geography_West,geography_West Tex/New Mexico
0,0,5616,1,1.42,95246.38,2897.41,76570.67,44.00,15734.30,10012.80,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,5617,0,1.47,4140.95,7.30,301.87,0.00,3831.78,3831.78,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,5618,1,1.69,135196.35,3133.37,116520.88,88.78,15453.32,10023.79,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,5619,0,1.54,3346.54,14.67,253.01,0.00,3078.86,3078.86,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,5620,1,1.57,93625.03,3101.17,74627.23,55.59,15841.04,11614.79,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
cleaned_df = cleaned_df.drop(columns=['Unnamed: 0', 'index'], axis=1)
cleaned_df.head()

,type,avg_price,total_volume_price,4046_units,4225_units,4770_units,total_bags,s_bags,l_bags,xl_bags,...,geography_South Carolina,geography_South Central,geography_Southeast,geography_Spokane,geography_St. Louis,geography_Syracuse,geography_Tampa,geography_Total U.S.,geography_West,geography_West Tex/New Mexico
0,1,1.42,95246.38,2897.41,76570.67,44.00,15734.30,10012.80,5721.50,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,1.47,4140.95,7.30,301.87,0.00,3831.78,3831.78,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,1.69,135196.35,3133.37,116520.88,88.78,15453.32,10023.79,5429.53,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,1.54,3346.54,14.67,253.01,0.00,3078.86,3078.86,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,1.57,93625.03,3101.17,74627.23,55.59,15841.04,11614.79,4159.58,66.67,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [47]:
price_bins = [0.44, 1.14, 1.37, 1.63, 3.17]
group_names = ["0", "1", "2", "3" ]

cleaned_cat_df = cleaned_df.copy()

# Categorize prices for NB.
cleaned_cat_df["price_cat"] = pd.cut(cleaned_cat_df['avg_price'], price_bins, labels=group_names)

cleaned_cat_df.head()

,type,avg_price,total_volume_price,4046_units,4225_units,4770_units,total_bags,s_bags,l_bags,xl_bags,...,geography_South Central,geography_Southeast,geography_Spokane,geography_St. Louis,geography_Syracuse,geography_Tampa,geography_Total U.S.,geography_West,geography_West Tex/New Mexico,price_cat
0,1,1.42,95246.38,2897.41,76570.67,44.00,15734.30,10012.80,5721.50,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
1,0,1.47,4140.95,7.30,301.87,0.00,3831.78,3831.78,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
2,1,1.69,135196.35,3133.37,116520.88,88.78,15453.32,10023.79,5429.53,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
3,0,1.54,3346.54,14.67,253.01,0.00,3078.86,3078.86,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
4,1,1.57,93625.03,3101.17,74627.23,55.59,15841.04,11614.79,4159.58,66.67,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2

In [48]:
cleaned_cat_df['price_cat'].value_counts()

0    4282
1    3838
2    3681
3    3039
Name: price_cat, dtype: int64

In [49]:
cleaned_cat_df.columns

Index(['type', 'avg_price', 'total_volume_price', '4046_units', '4225_units',
       '4770_units', 'total_bags', 's_bags', 'l_bags', 'xl_bags',
       ...
       'geography_South Central', 'geography_Southeast', 'geography_Spokane',
       'geography_St. Louis', 'geography_Syracuse', 'geography_Tampa',
       'geography_Total U.S.', 'geography_West',
       'geography_West Tex/New Mexico', 'price_cat'],
      dtype='object', length=267)

In [50]:
cleaned_cat_df.shape

(14840, 267)

In [51]:
def RFSSModel4(X, y):
    # Initial imports.
    import pandas as pd
    from path import Path
    from sklearn.ensemble import RandomForestClassifier
    from sklearn.preprocessing import StandardScaler
    from sklearn.model_selection import train_test_split
    from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
    
    # Splitting into Train and Test sets.
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)
    
    # Creating a StandardScaler instance.
    scaler = StandardScaler()
    # Fitting the Standard Scaler with the training data.
    X_scaler = scaler.fit(X_train)
    
    # Scaling the data.
    X_train_scaled = X_scaler.transform(X_train)
    X_test_scaled = X_scaler.transform(X_test)
    
    # Create a random forest classifier.
    #rf_model = RandomForestClassifier(n_estimators=128, random_state=78) 
    rf_model = RandomForestClassifier(n_estimators=1024, random_state=78, max_depth=5) 
    
    # Fitting the model
    rf_model = rf_model.fit(X_train_scaled, y_train)
    
    # Making predictions using the testing data.
    predictions = rf_model.predict(X_test_scaled)
    
    print(f"Predictions: {predictions}")
    
    # Calculating the confusion matrix.
    cm = confusion_matrix(y_test, predictions)
    
    # Create a DataFrame from the confusion matrix.
    cm_df = pd.DataFrame(cm, index=["Actual 0", "Actual 1", "Actual 2", "Actual 3"], 
                         columns=["Predicted 0", "Predicted 1", "Predicted 2", "Predicted 3"])
    cm_df
    
    # Calculating the accuracy score.
    acc_score = accuracy_score(y_test, predictions)
    
    # Displaying results
    print("Confusion Matrix")
    display(cm_df)
    print(f"Accuracy Score : {acc_score}")
    print("Classification Report")
    print(classification_report(y_test, predictions))
    
    # Calculate feature importance in the Random Forest model.
    importances = rf_model.feature_importances_
    print(f"Importances: {importances}")
    
    # We can sort the features by their importance.
    print(sorted(zip(rf_model.feature_importances_, X.columns), reverse=True))

In [52]:
y = cleaned_cat_df['price_cat']
X = cleaned_cat_df.drop(columns=['price_cat', 'total_volume_prod', 'total_volume_price'], axis=1)

RFSSModel4(X, y)

Predictions: ['2' '0' '3' ... '2' '0' '2']
Confusion Matrix

          Predicted 0  Predicted 1  Predicted 2  Predicted 3
Actual 0          974           15           39            5
Actual 1           68          642          227           13
Actual 2           14          178          740           39
Actual 3            4           22           36          694

Accuracy Score : 0.8221024258760108
Classification Report
              precision    recall  f1-score   support

           0       0.92      0.94      0.93      1033
           1       0.75      0.68      0.71       950
           2       0.71      0.76      0.74       971
           3       0.92      0.92      0.92       756

    accuracy                           0.82      3710
   macro avg       0.83      0.82      0.82      3710
weighted avg       0.82      0.82      0.82      3710

Importances: [4.36197080e-02 3.06348645e-01 7.96838929e-02 4.17820227e-02
 5.89422673e-02 5.45278732e-02 4.34861178e-02 3.74548750e-02
 7.47235749e-02 2.48165256e-03 3.19582550e-03 4.03326885e-03
 7.21207756e-03 1.23984693e-03 6.53251148e-03 3.92172990e-03
 3.32797299e-03 9.36167737e-04 1.40289302e-03 3.11889083e-03
 5.31057351e-03 7.62008491e-03 4.39179922e-03 1.84783654e-03
 4.16125387e-03 3.66403604e-03 0.00000000e+00 2.33014474e-03
 1.08006047e-03 2.88168721e-03 4.08171474e-03 4.69385336e-04
 0.00000000e+00 0.00000000e+00 1.73314376e-03 7.65467416e-03
 8.69378640e-03 1.05658437e-02 1.00208962e-02 1.02259948e-02
 4.45807671e-03 1.93199168e-02 6.53161628e-02 1.53460704e-02
 3.37367873e-05 3.84094533e-05 8.66366484e-06 4.60034658e-05
 2.57565185e-05 1.76407084e-05 9.63380521e-06 3.48903760e-05
 3.49779725e-04 3.01737913e-05 4.03895103e-05 9.85404410e-05
 7.68732660e-06 9.99039916e-05 1.54859523e-04 6.13519721e-05
 1.85203077e-04 9.15478695e-05 2.04989435e-03 4.87120348e-04
 8.67756603e-05 1.29051350e-04 1.05796911e-04 3.44172795e-04
 7.43999297e-05 1.90217371e-04 6.78167255e-05 5.47604656e-05
 8.78220246e-06 1.53126632e-05 2.27471044e-05 3.17802683e-04
 1.38158686e-05 1.11337773e-05 3.03442851e-05 9.88387224e-06
 7.36245102e-06 1.29506689e-05 7.52119958e-06 1.20658337e-05
 1.12464725e-05 1.02419217e-05 1.46004912e-06 6.66790555e-06
 4.70818313e-06 1.30823139e-05 5.54181003e-06 9.90487728e-07
 8.16226278e-06 6.55496202e-06 2.31531601e-05 2.45423448e-06
 0.00000000e+00 3.30403548e-06 2.17226763e-06 0.00000000e+00
 0.00000000e+00 8.63846183e-06 1.77283535e-06 1.04048220e-06
 0.00000000e+00 2.92848978e-06 1.34215588e-05 5.96259105e-07
 1.36317295e-06 2.13026040e-06 5.65992305e-06 7.20432393e-05
 2.36188791e-05 4.27029196e-06 7.19363976e-06 1.09240580e-05
 6.94420911e-06 4.92103018e-06 8.25547579e-06 4.05159797e-06
 2.18012598e-06 4.37622961e-06 7.77302676e-06 3.77046612e-05
 1.31347638e-04 3.53718919e-06 4.51870827e-06 9.99767694e-06
 1.22258453e-05 1.05469343e-05 1.05477233e-05 5.17714006e-07
 6.67328949e-06 3.12067222e-06 7.50614022e-06 9.66426301e-06
 2.23779416e-06 1.03691510e-05 1.68732263e-05 3.77308476e-05
 1.23226139e-04 1.33936425e-05 1.13254349e-05 5.30762689e-06
 1.44242935e-05 2.23219068e-05 1.25444398e-05 1.17181309e-05
 3.06322317e-05 2.08569295e-05 2.46207160e-05 2.86599325e-05
 1.44117138e-04 3.58016010e-05 2.84328185e-05 1.63793823e-05
 5.66510133e-06 1.28966716e-05 2.96646553e-06 3.74467945e-06
 7.93604621e-06 3.61348884e-06 5.04779980e-06 1.15710981e-05
 7.66865643e-06 6.40036217e-06 3.39885142e-05 2.70844158e-05
 5.78942954e-06 1.12125473e-05 1.26335434e-05 2.71760319e-05
 2.45594086e-05 1.97329330e-05 4.66976662e-06 4.22696288e-05
 5.73583954e-06 8.17040344e-06 3.27005726e-06 1.19734107e-05
 1.48727239e-05 7.65038338e-06 1.41100718e-05 9.91233456e-06
 1.57349594e-05 1.33129135e-05 9.97332879e-07 3.43184068e-06
 5.93296776e-06 1.19665448e-05 9.18858346e-07 2.47179245e-06
 4.27626326e-06 2.22429841e-06 1.12613141e-05 7.38444823e-06
 5.77963426e-06 2.03471923e-06 3.10382516e-06 1.73755805e-06
 3.39095154e-06 0.00000000e+00 7.67053638e-06 0.00000000e+00
 9.60787609e-06 5.24127811e-06 1.40909951e-06 1.00807887e-05
 9.35498257e-06 1.06032271e-05 1.38924767e-05 2.13020444e-04
 1.58993382e-04 6.57743966e-04 5.18446862e-04 7.42502309e-04
 4.18652099e-04 9.75259688e-04 2.84843244e-04 2.90657894e-04
 5.84350807e-05 2.48673075e-04 4.66241042e-04 3.06347472e-05
 5.98677598e-05 6.36189334e-04 1.23239892e-04 2.51096920e-04
 1.79233653e-03 7.90884506e-04 1.06103278e-04 1.43380052e-04
 5.12769794e-05 1.08997020e-04 2.45510782e-04 1.18561506e-04
 1.15763471e-04 6.21682627e-04 1.01915370e-03 1.25292930e-03
 7.89773276e-05 1.43719197e-04 4.78179125e-04 2.62311172e-04
 3.31755327e-04 1.21733306e-04 5.50784515e-04 5.11684978e-04
 1.77547735e-04 6.69773395e-05 2.52896435e-04 4.20813916e-04
 2.30627659e-03 1.00062895e-03 2.54947909e-05 4.16529014e-04
 1.01062630e-04 9.36509649e-04 4.46195266e-04 4.28599865e-04
 5.95384730e-04 8.51616942e-04 2.98634430e-04 4.86884911e-04]
[(0.306348644756774, 'avg_price'), (0.0796838929256686, '4046_units'), (0.07472357489703418, 'xl_bags'), (0.0653161627824877, 'avg_price_current_year'), (0.05894226732599109, '4770_units'), (0.05452787322276258, 'total_bags'), (0.04361970804410779, 'type'), (0.04348611775865924, 's_bags'), (0.0417820227248063, '4225_units'), (0.03745487504500644, 'l_bags'), (0.01931991684522804, 'avg_price_prior_year'), (0.015346070390612252, 'avg_price_variance'), (0.010565843710266419, 'unit_variance'), (0.010225994781254853, 'dollars_current_year'), (0.010020896195985615, 'dollars_prior_year'), (0.008693786400873928, 'units_current_year'), (0.007654674164286661, 'units_prior_year'), (0.007620084914191139, 'sp09'), (0.007212077560967422, 'phdi'), (0.006532511481827212, 'pmdi'), (0.005310573505469217, 'sp06'), (0.004458076711897504, 'dollar_variance'), (0.004391799222197901, 'sp12'), (0.004161253874932447, 'tmin'), (0.004081714738616909, 'peru'), (0.004033268854931417, 'pdsi'), (0.003921729896669362, 'cdd'), (0.003664036043005918, 'tmax'), (0.003327972990145323, 'hdd'), (0.003195825497828278, 'tavg'), (0.00311889083216851, 'sp03'), (0.0028816872100627154, 'mexico'), (0.0024816525649427076, 'pcp'), (0.002330144735215537, 'california'), (0.0023062765940454195, 'geography_San Francisco'), (0.0020498943497255086, 'year_month_2019-07-01 00:00:00'), (0.00184783653574041, 'sp24'), (0.001792336525105543, 'geography_Hartford/Springfield'), (0.0017331437595975087, 'period'), (0.0014028930197062983, 'sp02'), (0.0012529292992921174, 'geography_Northeast'), (0.001239846933721477, 'zndx'), (0.0010800604742572557, 'chile'), (0.0010191537023113084, 'geography_New York'), (0.0010006289451271965, 'geography_Seattle'), (0.0009752596881513412, 'geography_California'), (0.0009365096492307919, 'geography_Spokane'), (0.0009361677366104649, 'sp01'), (0.0008516169415217359, 'geography_Total U.S.'), (0.0007908845059911989, 'geography_Houston'), (0.0007425023087880852, 'geography_Boston'), (0.0006577439664066902, 'geography_Baltimore/Washington'), (0.0006361893339259716, 'geography_Grand Rapids'), (0.0006216826268953113, 'geography_New Orleans/Mobile'), (0.0005953847297335699, 'geography_Tampa'), (0.0005507845152972996, 'geography_Portland'), (0.0005184468623491626, 'geography_Boise'), (0.000511684978164772, 'geography_Raleigh/Greensboro'), (0.0004871203475226887, 'year_month_2019-08-01 00:00:00'), (0.0004868849109272574, 'geography_West Tex/New Mexico'), (0.00047817912523713296, 'geography_Philadelphia'), (0.00046938533581524975, 'columbia'), (0.00046624104225206735, 'geography_Dallas/Ft. Worth'), (0.0004461952659466187, 'geography_St. Louis'), (0.000428599864700269, 'geography_Syracuse'), (0.0004208139162498989, 'geography_San Diego'), (0.0004186520986173117, 'geography_Buffalo/Rochester'), (0.0004165290139737403, 'geography_South Central'), (0.0003497797247367974, 'year_month_2018-09-01 00:00:00'), (0.00034417279462723685, 'year_month_2019-12-01 00:00:00'), (0.00033175532687983926, 'geography_Pittsburgh'), (0.00031780268269607074, 'year_month_2020-08-01 00:00:00'), (0.0002986344300456919, 'geography_West'), (0.0002906578941807739, 'geography_Chicago'), (0.0002848432443636482, 'geography_Charlotte'), (0.00026231117168707264, 'geography_Phoenix/Tucson'), (0.00025289643451412093, 'geography_Sacramento'), (0.00025109692045674915, 'geography_Harrisburg/Scranton'), (0.000248673075071981, 'geography_Columbus'), (0.000245510781502111, 'geography_Louisville'), (0.00021302044352810936, 'geography_Albany'), (0.0001902173714438258, 'year_month_2020-02-01 00:00:00'), (0.00018520307650999075, 'year_month_2019-05-01 00:00:00'), (0.00017754773533715126, 'geography_Richmond/Norfolk'), (0.000158993381997763, 'geography_Atlanta'), (0.0001548595229033318, 'year_month_2019-03-01 00:00:00'), (0.00014411713765525037, 'date_2019-07-21 00:00:00'), (0.0001437191974280205, 'geography_Orlando'), (0.00014338005162972724, 'geography_Jacksonville'), (0.0001313476381953327, 'date_2018-12-02 00:00:00'), (0.000129051349651654, 'year_month_2019-10-01 00:00:00'), (0.0001232398921397096, 'geography_Great Lakes'), (0.00012322613858540394, 'date_2019-04-28 00:00:00'), (0.00012173330610099853, 'geography_Plains'), (0.00011856150574384069, 'geography_Midsouth'), (0.0001157634707860939, 'geography_Nashville'), (0.00010899701984289308, 'geography_Los Angeles'), (0.00010610327837107148, 'geography_Indianapolis'), (0.00010579691054797578, 'year_month_2019-11-01 00:00:00'), (0.00010106262962644399, 'geography_Southeast'), (9.990399164462761e-05, 'year_month_2019-02-01 00:00:00'), (9.854044096898882e-05, 'year_month_2018-12-01 00:00:00'), (9.154786953423179e-05, 'year_month_2019-06-01 00:00:00'), (8.67756602566204e-05, 'year_month_2019-09-01 00:00:00'), (7.897732763225882e-05, 'geography_Northern New England'), (7.439992970792214e-05, 'year_month_2020-01-01 00:00:00'), (7.204323929981008e-05, 'date_2018-09-02 00:00:00'), (6.781672551040455e-05, 'year_month_2020-03-01 00:00:00'), (6.697733952068673e-05, 'geography_Roanoke'), (6.135197207642092e-05, 'year_month_2019-04-01 00:00:00'), (5.9867759792875e-05, 'geography_Detroit'), (5.843508068692809e-05, 'geography_Cincinnati/Dayton'), (5.4760465591409235e-05, 'year_month_2020-04-01 00:00:00'), (5.127697944790274e-05, 'geography_Las Vegas'), (4.6003465842855345e-05, 'year_month_2018-04-01 00:00:00'), (4.226962878047295e-05, 'date_2019-12-29 00:00:00'), (4.038951026330148e-05, 'year_month_2018-11-01 00:00:00'), (3.840945333105435e-05, 'year_month_2018-02-01 00:00:00'), (3.7730847593641716e-05, 'date_2019-04-21 00:00:00'), (3.770466122820682e-05, 'date_2018-11-25 00:00:00'), (3.580160099062204e-05, 'date_2019-07-28 00:00:00'), (3.489037602058893e-05, 'year_month_2018-08-01 00:00:00'), (3.398851418936667e-05, 'date_2019-10-27 00:00:00'), (3.373678726502963e-05, 'year_month_2018-01-01 00:00:00'), (3.063474723231321e-05, 'geography_Denver'), (3.063223169361168e-05, 'date_2019-06-23 00:00:00'), (3.0344285146769328e-05, 'date_2018-01-14 00:00:00'), (3.0173791250391082e-05, 'year_month_2018-10-01 00:00:00'), (2.8659932471099902e-05, 'date_2019-07-14 00:00:00'), (2.843281854859234e-05, 'date_2019-08-04 00:00:00'), (2.7176031948462094e-05, 'date_2019-12-01 00:00:00'), (2.7084415815529612e-05, 'date_2019-11-03 00:00:00'), (2.5756518476683423e-05, 'year_month_2018-05-01 00:00:00'), (2.549479088809571e-05, 'geography_South Carolina'), (2.4620716023657783e-05, 'date_2019-07-07 00:00:00'), (2.4559408629052365e-05, 'date_2019-12-08 00:00:00'), (2.3618879124652006e-05, 'date_2018-09-09 00:00:00'), (2.315316011986551e-05, 'date_2018-05-06 00:00:00'), (2.2747104405292572e-05, 'year_month_2020-07-01 00:00:00'), (2.2321906768457892e-05, 'date_2019-06-02 00:00:00'), (2.085692947759669e-05, 'date_2019-06-30 00:00:00'), (1.9732932995054722e-05, 'date_2019-12-15 00:00:00'), (1.7640708433536494e-05, 'year_month_2018-06-01 00:00:00'), (1.6873226293079686e-05, 'date_2019-04-14 00:00:00'), (1.6379382303513716e-05, 'date_2019-08-11 00:00:00'), (1.5734959394542552e-05, 'date_2020-03-08 00:00:00'), (1.5312663189354177e-05, 'year_month_2020-06-01 00:00:00'), (1.4872723879968258e-05, 'date_2020-02-09 00:00:00'), (1.4424293516047873e-05, 'date_2019-05-26 00:00:00'), (1.4110071760606577e-05, 'date_2020-02-23 00:00:00'), (1.3892476686346593e-05, 'date_2020-09-06 00:00:00'), (1.3815868590448275e-05, 'year_month_2020-09-01 00:00:00'), (1.3421558827634441e-05, 'date_2018-07-29 00:00:00'), (1.3393642505223482e-05, 'date_2019-05-05 00:00:00'), (1.3312913477785065e-05, 'date_2020-03-15 00:00:00'), (1.3082313930615252e-05, 'date_2018-04-01 00:00:00'), (1.2950668927972416e-05, 'date_2018-02-04 00:00:00'), (1.2896671637619301e-05, 'date_2019-08-25 00:00:00'), (1.2633543379037455e-05, 'date_2019-11-24 00:00:00'), (1.254443977326139e-05, 'date_2019-06-09 00:00:00'), (1.2225845311363611e-05, 'date_2019-02-03 00:00:00'), (1.2065833695100508e-05, 'date_2018-02-18 00:00:00'), (1.1973410740437798e-05, 'date_2020-02-02 00:00:00'), (1.1966544760046985e-05, 'date_2020-04-12 00:00:00'), (1.1718130915834509e-05, 'date_2019-06-16 00:00:00'), (1.1571098085787578e-05, 'date_2019-10-06 00:00:00'), (1.1325434868444134e-05, 'date_2019-05-12 00:00:00'), (1.1261314055371394e-05, 'date_2020-05-17 00:00:00'), (1.1246472528998804e-05, 'date_2018-02-25 00:00:00'), (1.1212547310806816e-05, 'date_2019-11-17 00:00:00'), (1.113377728682332e-05, 'date_2018-01-07 00:00:00'), (1.0924058003852283e-05, 'date_2018-09-30 00:00:00'), (1.0603227119488687e-05, 'date_2020-08-30 00:00:00'), (1.0547723295300844e-05, 'date_2019-02-17 00:00:00'), (1.0546934293007162e-05, 'date_2019-02-10 00:00:00'), (1.0369150995359676e-05, 'date_2019-04-07 00:00:00'), (1.0241921662108362e-05, 'date_2018-03-04 00:00:00'), (1.0080788696693212e-05, 'date_2020-08-16 00:00:00'), (9.997676940759522e-06, 'date_2019-01-27 00:00:00'), (9.912334557168625e-06, 'date_2020-03-01 00:00:00'), (9.8838722359175e-06, 'date_2018-01-21 00:00:00'), (9.664263005827575e-06, 'date_2019-03-24 00:00:00'), (9.633805211793552e-06, 'year_month_2018-07-01 00:00:00'), (9.607876085557354e-06, 'date_2020-07-26 00:00:00'), (9.354982569300537e-06, 'date_2020-08-23 00:00:00'), (8.7822024648851e-06, 'year_month_2020-05-01 00:00:00'), (8.66366483680959e-06, 'year_month_2018-03-01 00:00:00'), (8.638461829273824e-06, 'date_2018-06-24 00:00:00'), (8.255475793177492e-06, 'date_2018-10-21 00:00:00'), (8.170403440886484e-06, 'date_2020-01-19 00:00:00'), (8.162262777106499e-06, 'date_2018-04-22 00:00:00'), (7.936046211735068e-06, 'date_2019-09-15 00:00:00'), (7.77302675612921e-06, 'date_2018-11-18 00:00:00'), (7.687326598343132e-06, 'year_month_2019-01-01 00:00:00'), (7.670536384306145e-06, 'date_2020-07-12 00:00:00'), (7.668656431447087e-06, 'date_2019-10-13 00:00:00'), (7.650383380868811e-06, 'date_2020-02-16 00:00:00'), (7.521199581573895e-06, 'date_2018-02-11 00:00:00'), (7.506140218837321e-06, 'date_2019-03-17 00:00:00'), (7.3844482287485315e-06, 'date_2020-05-24 00:00:00'), (7.362451023524084e-06, 'date_2018-01-28 00:00:00'), (7.193639758322278e-06, 'date_2018-09-23 00:00:00'), (6.944209107089686e-06, 'date_2018-10-07 00:00:00'), (6.6732894872372105e-06, 'date_2019-03-03 00:00:00'), (6.667905552827667e-06, 'date_2018-03-18 00:00:00'), (6.554962018829462e-06, 'date_2018-04-29 00:00:00'), (6.400362171094808e-06, 'date_2019-10-20 00:00:00'), (5.93296776163448e-06, 'date_2020-04-05 00:00:00'), (5.789429542718735e-06, 'date_2019-11-10 00:00:00'), (5.779634256415388e-06, 'date_2020-05-31 00:00:00'), (5.735839539759274e-06, 'date_2020-01-12 00:00:00'), (5.66510132529375e-06, 'date_2019-08-18 00:00:00'), (5.6599230459326115e-06, 'date_2018-08-26 00:00:00'), (5.541810034280622e-06, 'date_2018-04-08 00:00:00'), (5.307626894648416e-06, 'date_2019-05-19 00:00:00'), (5.241278109399005e-06, 'date_2020-08-02 00:00:00'), (5.04779979620812e-06, 'date_2019-09-29 00:00:00'), (4.921030176755204e-06, 'date_2018-10-14 00:00:00'), (4.708183133337479e-06, 'date_2018-03-25 00:00:00'), (4.669766622542393e-06, 'date_2019-12-22 00:00:00'), (4.518708272866165e-06, 'date_2019-01-20 00:00:00'), (4.376229605524541e-06, 'date_2018-11-11 00:00:00'), (4.2762632645383705e-06, 'date_2020-05-03 00:00:00'), (4.270291957771755e-06, 'date_2018-09-16 00:00:00'), (4.051597970414282e-06, 'date_2018-10-28 00:00:00'), (3.7446794525904835e-06, 'date_2019-09-08 00:00:00'), (3.613488842831739e-06, 'date_2019-09-22 00:00:00'), (3.537189192108199e-06, 'date_2019-01-13 00:00:00'), (3.431840675373441e-06, 'date_2020-03-29 00:00:00'), (3.390951537961988e-06, 'date_2020-06-28 00:00:00'), (3.3040354779720596e-06, 'date_2018-05-27 00:00:00'), (3.2700572639638247e-06, 'date_2020-01-26 00:00:00'), (3.1206722208535835e-06, 'date_2019-03-10 00:00:00'), (3.1038251637977603e-06, 'date_2020-06-14 00:00:00'), (2.9664655292813235e-06, 'date_2019-09-01 00:00:00'), (2.9284897767292875e-06, 'date_2018-07-22 00:00:00'), (2.471792451078594e-06, 'date_2020-04-26 00:00:00'), (2.4542344761024205e-06, 'date_2018-05-13 00:00:00'), (2.237794155025991e-06, 'date_2019-03-31 00:00:00'), (2.224298408383977e-06, 'date_2020-05-10 00:00:00'), (2.18012598033048e-06, 'date_2018-11-04 00:00:00'), (2.172267634300273e-06, 'date_2018-06-03 00:00:00'), (2.130260403423521e-06, 'date_2018-08-19 00:00:00'), (2.034719234139617e-06, 'date_2020-06-07 00:00:00'), (1.772835345078461e-06, 'date_2018-07-01 00:00:00'), (1.7375580467586052e-06, 'date_2020-06-21 00:00:00'), (1.4600491181599671e-06, 'date_2018-03-11 00:00:00'), (1.4090995110129122e-06, 'date_2020-08-09 00:00:00'), (1.3631729474307804e-06, 'date_2018-08-12 00:00:00'), (1.040482199357889e-06, 'date_2018-07-08 00:00:00'), (9.973328787571577e-07, 'date_2020-03-22 00:00:00'), (9.904877278652085e-07, 'date_2018-04-15 00:00:00'), (9.188583461640546e-07, 'date_2020-04-19 00:00:00'), (5.962591048499266e-07, 'date_2018-08-05 00:00:00'), (5.17714005526956e-07, 'date_2019-02-24 00:00:00'), (0.0, 'variety'), (0.0, 'status'), (0.0, 'segment'), (0.0, 'date_2020-07-19 00:00:00'), (0.0, 'date_2020-07-05 00:00:00'), (0.0, 'date_2018-07-15 00:00:00'), (0.0, 'date_2018-06-17 00:00:00'), (0.0, 'date_2018-06-10 00:00:00'), (0.0, 'date_2018-05-20 00:00:00')]

In [53]:
y = cleaned_cat_df['price_cat']
X = cleaned_cat_df.drop(columns=['price_cat', 'avg_price', 'total_volume_prod', 'total_volume_price'], axis=1)

RFSSModel4(X, y)

Predictions: ['3' '0' '3' ... '2' '0' '2']
Confusion Matrix

          Predicted 0  Predicted 1  Predicted 2  Predicted 3
Actual 0          877           82           57           17
Actual 1          350          283          260           57
Actual 2          101          147          551          172
Actual 3           16           39          195          506

Accuracy Score : 0.5975741239892183
Classification Report
              precision    recall  f1-score   support

           0       0.65      0.85      0.74      1033
           1       0.51      0.30      0.38       950
           2       0.52      0.57      0.54       971
           3       0.67      0.67      0.67       756

    accuracy                           0.60      3710
   macro avg       0.59      0.60      0.58      3710
weighted avg       0.59      0.60      0.58      3710

Importances: [6.06437409e-02 1.08313855e-01 5.80785601e-02 7.38218975e-02
 8.17983179e-02 6.85955246e-02 5.87508358e-02 1.02358736e-01
 3.68180670e-03 4.75631422e-03 5.99983972e-03 9.67685534e-03
 1.96918677e-03 8.29046411e-03 5.98247336e-03 4.67655329e-03
 1.22022080e-03 2.41216432e-03 4.43469889e-03 7.67913619e-03
 1.16746497e-02 6.56429479e-03 2.85111424e-03 6.40571022e-03
 4.98865101e-03 0.00000000e+00 3.09184261e-03 1.74164274e-03
 4.16107856e-03 6.12210913e-03 9.88367903e-04 0.00000000e+00
 0.00000000e+00 2.20898385e-03 1.08181070e-02 1.22577709e-02
 1.55276355e-02 1.49328954e-02 1.55853331e-02 6.91543406e-03
 2.95569660e-02 1.04328822e-01 2.14905646e-02 1.02822263e-04
 3.36274264e-05 7.78042231e-06 5.75408764e-05 5.38669977e-05
 5.80270514e-05 1.10969143e-05 1.57817364e-05 6.18808238e-04
 3.24500239e-05 2.50964559e-05 2.40323262e-04 1.94284165e-05
 8.38977287e-05 9.01018079e-05 1.54945360e-04 2.39108432e-04
 1.51336786e-04 2.69163152e-03 6.67855898e-04 3.12787486e-05
 1.07888616e-04 6.67094824e-05 7.34934383e-04 5.87800568e-05
 2.50551352e-04 8.84925703e-05 7.29556382e-05 1.23166998e-05
 2.18480401e-05 3.05368371e-05 3.72824591e-04 1.48541067e-05
 1.65230729e-05 3.61811457e-05 1.97299064e-05 1.66902828e-05
 3.39951577e-05 1.22106448e-05 2.62951296e-05 1.68164221e-05
 1.41182855e-06 4.73753797e-06 2.56796472e-05 1.16586163e-05
 1.10490179e-05 1.04096121e-05 1.49241491e-06 3.12189351e-05
 7.47025406e-06 2.42759618e-05 7.46613272e-07 7.34712296e-06
 9.97060172e-06 1.39968221e-05 1.34771947e-05 1.37527258e-06
 9.88900152e-06 6.33576028e-06 8.09096511e-06 2.11555927e-06
 4.48595289e-06 8.33010725e-06 1.55221937e-05 6.37639556e-06
 1.73487309e-06 2.58897355e-05 4.32374454e-05 2.72190795e-05
 1.24995296e-06 2.06268616e-05 1.03108856e-05 9.81649961e-06
 1.02444986e-05 5.66023201e-07 2.24081304e-05 1.82221510e-05
 7.54450962e-06 9.52397969e-06 3.60504090e-05 1.99758827e-04
 1.81175281e-05 7.20899091e-06 8.47770357e-06 7.29379814e-06
 2.56155335e-05 9.71288205e-06 1.19227481e-06 3.29889384e-05
 6.22777485e-06 2.16420968e-05 1.14762795e-05 3.31661704e-06
 6.42217792e-05 2.38017692e-05 5.72098454e-05 2.41332516e-04
 1.81294611e-05 8.11421147e-06 4.92928575e-06 1.49161268e-05
 2.85835180e-05 1.08303207e-05 1.25082144e-05 2.71419987e-05
 3.59461458e-05 6.80654145e-05 4.38588576e-05 2.50142619e-04
 7.22663639e-05 7.05005721e-05 1.13455747e-05 2.59608353e-05
 1.31396314e-05 1.93057778e-05 1.66039245e-05 4.28445254e-06
 4.35538140e-06 4.84098497e-06 1.75764712e-06 8.29708874e-06
 1.02038952e-05 2.42307900e-05 3.55215345e-05 2.82030601e-06
 1.96388828e-05 9.37603681e-07 1.84385569e-05 4.57699695e-05
 2.57852208e-05 2.62867245e-05 5.76031614e-05 1.86157240e-05
 5.87594872e-06 4.11383270e-06 1.68468943e-05 2.90215545e-06
 1.14108466e-05 1.40898174e-05 2.15576297e-05 7.32941710e-06
 2.02630349e-05 4.24387501e-06 3.28253462e-05 5.23951652e-06
 8.61105322e-06 0.00000000e+00 1.21827017e-05 1.42437506e-05
 3.13828333e-06 1.84635499e-05 0.00000000e+00 1.43128017e-06
 4.91345715e-06 1.39730613e-06 6.38418877e-06 5.33396313e-06
 2.02889514e-06 9.50032827e-07 7.91538850e-06 5.77043926e-06
 3.52067844e-09 1.62576338e-05 3.97302448e-06 8.91084295e-06
 3.92943607e-06 1.46923520e-05 1.90418986e-04 1.45262730e-04
 1.30077064e-03 7.84982135e-04 1.00241850e-03 8.34999217e-04
 1.47969980e-03 2.56283446e-04 4.53367745e-04 6.15993730e-05
 2.67615192e-04 8.92275301e-04 4.54312664e-05 1.44548846e-04
 7.94042381e-04 1.39834742e-04 2.96898619e-04 2.30887543e-03
 1.28259626e-03 1.95006670e-04 1.96668512e-04 1.20040842e-04
 2.18087904e-04 2.77628094e-04 1.45080468e-04 2.35918185e-04
 9.41837418e-04 1.90393984e-03 1.76027160e-03 1.21607531e-04
 2.52227706e-04 8.60972770e-04 4.87496183e-04 3.58797953e-04
 1.57135107e-04 6.60666646e-04 6.73162638e-04 2.42456272e-04
 1.43182252e-04 3.95250383e-04 4.85322019e-04 3.51821942e-03
 1.87853619e-03 3.35239790e-05 6.19658558e-04 1.86140764e-04
 9.90167489e-04 8.30832290e-04 6.40480658e-04 6.64114899e-04
 7.46621659e-04 3.51101771e-04 7.04219545e-04]
[(0.10831385455503077, '4046_units'), (0.10432882228872929, 'avg_price_current_year'), (0.10235873613595393, 'xl_bags'), (0.08179831792650927, 'total_bags'), (0.0738218975456134, '4770_units'), (0.06859552460493511, 's_bags'), (0.06064374094456864, 'type'), (0.05875083584917236, 'l_bags'), (0.0580785601286949, '4225_units'), (0.029556965992957072, 'avg_price_prior_year'), (0.02149056455282613, 'avg_price_variance'), (0.01558533305009481, 'dollars_current_year'), (0.015527635505961238, 'unit_variance'), (0.014932895388368905, 'dollars_prior_year'), (0.012257770934240525, 'units_current_year'), (0.01167464967729345, 'sp09'), (0.010818106974131332, 'units_prior_year'), (0.00967685534438454, 'phdi'), (0.00829046411255433, 'pmdi'), (0.007679136193247214, 'sp06'), (0.006915434063423748, 'dollar_variance'), (0.006564294793640388, 'sp12'), (0.006405710220942087, 'tmin'), (0.006122109125581284, 'peru'), (0.005999839719212407, 'pdsi'), (0.005982473355855274, 'cdd'), (0.004988651009855222, 'tmax'), (0.004756314217543219, 'tavg'), (0.004676553289584023, 'hdd'), (0.004434698886140251, 'sp03'), (0.004161078562446388, 'mexico'), (0.003681806703983811, 'pcp'), (0.003518219424543553, 'geography_San Francisco'), (0.0030918426139922577, 'california'), (0.002851114241868701, 'sp24'), (0.0026916315215008953, 'year_month_2019-07-01 00:00:00'), (0.0024121643163474015, 'sp02'), (0.002308875433510643, 'geography_Hartford/Springfield'), (0.0022089838503243833, 'period'), (0.0019691867662166304, 'zndx'), (0.0019039398442142288, 'geography_New York'), (0.0018785361904765261, 'geography_Seattle'), (0.0017602715997789666, 'geography_Northeast'), (0.0017416427398785567, 'chile'), (0.0014796998037851633, 'geography_California'), (0.001300770639001778, 'geography_Baltimore/Washington'), (0.0012825962629059938, 'geography_Houston'), (0.0012202207984085005, 'sp01'), (0.0010024185043407043, 'geography_Boston'), (0.0009901674889983582, 'geography_Spokane'), (0.0009883679028156447, 'columbia'), (0.000941837417627861, 'geography_New Orleans/Mobile'), (0.0008922753010113858, 'geography_Dallas/Ft. Worth'), (0.0008609727696435146, 'geography_Philadelphia'), (0.000834999216908447, 'geography_Buffalo/Rochester'), (0.000830832290134279, 'geography_St. Louis'), (0.0007940423811674441, 'geography_Grand Rapids'), (0.0007849821346458108, 'geography_Boise'), (0.000746621658669687, 'geography_Total U.S.'), (0.0007349343833699387, 'year_month_2019-12-01 00:00:00'), (0.0007042195451237841, 'geography_West Tex/New Mexico'), (0.0006731626379078912, 'geography_Raleigh/Greensboro'), (0.0006678558984043386, 'year_month_2019-08-01 00:00:00'), (0.0006641148992643678, 'geography_Tampa'), (0.0006606666459196902, 'geography_Portland'), (0.0006404806579170194, 'geography_Syracuse'), (0.0006196585575120409, 'geography_South Central'), (0.0006188082382709542, 'year_month_2018-09-01 00:00:00'), (0.00048749618340588783, 'geography_Phoenix/Tucson'), (0.000485322018666314, 'geography_San Diego'), (0.00045336774455183017, 'geography_Chicago'), (0.0003952503825055848, 'geography_Sacramento'), (0.0003728245906936401, 'year_month_2020-08-01 00:00:00'), (0.0003587979527860889, 'geography_Pittsburgh'), (0.00035110177082221225, 'geography_West'), (0.00029689861898359764, 'geography_Harrisburg/Scranton'), (0.00027762809418757433, 'geography_Louisville'), (0.0002676151924003998, 'geography_Columbus'), (0.00025628344621403393, 'geography_Charlotte'), (0.0002522277055853817, 'geography_Orlando'), (0.0002505513516281812, 'year_month_2020-02-01 00:00:00'), (0.0002501426192924061, 'date_2019-07-21 00:00:00'), (0.00024245627156008935, 'geography_Richmond/Norfolk'), (0.00024133251560521502, 'date_2019-04-28 00:00:00'), (0.0002403232623099738, 'year_month_2018-12-01 00:00:00'), (0.00023910843169185013, 'year_month_2019-05-01 00:00:00'), (0.00023591818506367763, 'geography_Nashville'), (0.00021808790396255545, 'geography_Los Angeles'), (0.000199758827162937, 'date_2018-12-02 00:00:00'), (0.00019666851225992108, 'geography_Jacksonville'), (0.0001950066703154223, 'geography_Indianapolis'), (0.00019041898581811226, 'geography_Albany'), (0.0001861407643237534, 'geography_Southeast'), (0.00015713510654076387, 'geography_Plains'), (0.00015494535993465435, 'year_month_2019-04-01 00:00:00'), (0.00015133678554927644, 'year_month_2019-06-01 00:00:00'), (0.00014526273024355202, 'geography_Atlanta'), (0.0001450804682573682, 'geography_Midsouth'), (0.00014454884617772396, 'geography_Detroit'), (0.00014318225213392742, 'geography_Roanoke'), (0.0001398347416191515, 'geography_Great Lakes'), (0.00012160753065449362, 'geography_Northern New England'), (0.00012004084247899651, 'geography_Las Vegas'), (0.00010788861559893134, 'year_month_2019-10-01 00:00:00'), (0.0001028222630139364, 'year_month_2018-01-01 00:00:00'), (9.010180791816973e-05, 'year_month_2019-03-01 00:00:00'), (8.849257032979837e-05, 'year_month_2020-03-01 00:00:00'), (8.389772874233263e-05, 'year_month_2019-02-01 00:00:00'), (7.295563818722772e-05, 'year_month_2020-04-01 00:00:00'), (7.226636387086301e-05, 'date_2019-07-28 00:00:00'), (7.05005720672641e-05, 'date_2019-08-04 00:00:00'), (6.80654145351185e-05, 'date_2019-07-07 00:00:00'), (6.67094824168335e-05, 'year_month_2019-11-01 00:00:00'), (6.422177919927584e-05, 'date_2019-04-07 00:00:00'), (6.159937298813156e-05, 'geography_Cincinnati/Dayton'), (5.8780056788714054e-05, 'year_month_2020-01-01 00:00:00'), (5.8027051365164636e-05, 'year_month_2018-06-01 00:00:00'), (5.760316140697838e-05, 'date_2019-12-29 00:00:00'), (5.754087636260562e-05, 'year_month_2018-04-01 00:00:00'), (5.720984543715726e-05, 'date_2019-04-21 00:00:00'), (5.386699770000791e-05, 'year_month_2018-05-01 00:00:00'), (4.576996945469869e-05, 'date_2019-12-08 00:00:00'), (4.5431266397297355e-05, 'geography_Denver'), (4.385885758331082e-05, 'date_2019-07-14 00:00:00'), (4.323744538076551e-05, 'date_2018-09-02 00:00:00'), (3.61811457470368e-05, 'date_2018-01-14 00:00:00'), (3.605040898001964e-05, 'date_2018-11-25 00:00:00'), (3.594614583065751e-05, 'date_2019-06-30 00:00:00'), (3.552153447908818e-05, 'date_2019-11-03 00:00:00'), (3.3995157673567266e-05, 'date_2018-02-04 00:00:00'), (3.362742637034293e-05, 'year_month_2018-02-01 00:00:00'), (3.3523978969893036e-05, 'geography_South Carolina'), (3.298893835609546e-05, 'date_2019-03-03 00:00:00'), (3.282534624558461e-05, 'date_2020-03-29 00:00:00'), (3.2450023943764725e-05, 'year_month_2018-10-01 00:00:00'), (3.127874857359292e-05, 'year_month_2019-09-01 00:00:00'), (3.121893505276842e-05, 'date_2018-04-22 00:00:00'), (3.053683706723832e-05, 'year_month_2020-07-01 00:00:00'), (2.858351797340396e-05, 'date_2019-06-02 00:00:00'), (2.7219079470509093e-05, 'date_2018-09-09 00:00:00'), (2.7141998744599084e-05, 'date_2019-06-23 00:00:00'), (2.629512960729816e-05, 'date_2018-02-18 00:00:00'), (2.628672449909796e-05, 'date_2019-12-22 00:00:00'), (2.5960835277221994e-05, 'date_2019-08-18 00:00:00'), (2.588973554175317e-05, 'date_2018-08-26 00:00:00'), (2.578522081307796e-05, 'date_2019-12-15 00:00:00'), (2.5679647222371986e-05, 'date_2018-03-18 00:00:00'), (2.561553350726196e-05, 'date_2019-02-10 00:00:00'), (2.5096455891117563e-05, 'year_month_2018-11-01 00:00:00'), (2.4275961781174922e-05, 'date_2018-05-06 00:00:00'), (2.4230790018844983e-05, 'date_2019-10-27 00:00:00'), (2.3801769241673657e-05, 'date_2019-04-14 00:00:00'), (2.2408130395885654e-05, 'date_2018-10-28 00:00:00'), (2.18480400720319e-05, 'year_month_2020-06-01 00:00:00'), (2.1642096790934175e-05, 'date_2019-03-17 00:00:00'), (2.155762974813306e-05, 'date_2020-03-01 00:00:00'), (2.062686158284738e-05, 'date_2018-09-23 00:00:00'), (2.0263034941342963e-05, 'date_2020-03-15 00:00:00'), (1.9729906358685194e-05, 'date_2018-01-21 00:00:00'), (1.9638882822937523e-05, 'date_2019-11-17 00:00:00'), (1.9428416465758697e-05, 'year_month_2019-01-01 00:00:00'), (1.9305777790844377e-05, 'date_2019-09-01 00:00:00'), (1.861572404716949e-05, 'date_2020-01-12 00:00:00'), (1.8463549879670026e-05, 'date_2020-05-17 00:00:00'), (1.843855686944717e-05, 'date_2019-12-01 00:00:00'), (1.8222150966962594e-05, 'date_2018-11-04 00:00:00'), (1.8129461069867526e-05, 'date_2019-05-05 00:00:00'), (1.811752808999008e-05, 'date_2019-01-13 00:00:00'), (1.6846894336217026e-05, 'date_2020-02-02 00:00:00'), (1.6816422138659267e-05, 'date_2018-02-25 00:00:00'), (1.6690282815064283e-05, 'date_2018-01-28 00:00:00'), (1.6603924505483155e-05, 'date_2019-09-08 00:00:00'), (1.6523072931824013e-05, 'date_2018-01-07 00:00:00'), (1.62576338398772e-05, 'date_2020-08-09 00:00:00'), (1.578173644809456e-05, 'year_month_2018-08-01 00:00:00'), (1.5522193675048717e-05, 'date_2018-08-05 00:00:00'), (1.491612676800256e-05, 'date_2019-05-26 00:00:00'), (1.485410665246297e-05, 'year_month_2020-09-01 00:00:00'), (1.4692352036336288e-05, 'date_2020-09-06 00:00:00'), (1.4243750615607148e-05, 'date_2020-05-03 00:00:00'), (1.4089817445521947e-05, 'date_2020-02-23 00:00:00'), (1.3996822093246321e-05, 'date_2018-06-03 00:00:00'), (1.347719469516299e-05, 'date_2018-06-10 00:00:00'), (1.3139631395270724e-05, 'date_2019-08-25 00:00:00'), (1.2508214428881416e-05, 'date_2019-06-16 00:00:00'), (1.2316699843614999e-05, 'year_month_2020-05-01 00:00:00'), (1.2210644772573806e-05, 'date_2018-02-11 00:00:00'), (1.2182701731158293e-05, 'date_2020-04-26 00:00:00'), (1.1658616253470294e-05, 'date_2018-03-25 00:00:00'), (1.1476279476199607e-05, 'date_2019-03-24 00:00:00'), (1.1410846612652661e-05, 'date_2020-02-16 00:00:00'), (1.134557466163717e-05, 'date_2019-08-11 00:00:00'), (1.1096914288420125e-05, 'year_month_2018-07-01 00:00:00'), (1.1049017859183452e-05, 'date_2018-04-01 00:00:00'), (1.0830320668452056e-05, 'date_2019-06-09 00:00:00'), (1.0409612071775223e-05, 'date_2018-04-08 00:00:00'), (1.0310885588659091e-05, 'date_2018-09-30 00:00:00'), (1.024449858179742e-05, 'date_2018-10-14 00:00:00'), (1.0203895200609374e-05, 'date_2019-10-20 00:00:00'), (9.970601717135195e-06, 'date_2018-05-27 00:00:00'), (9.889001517945335e-06, 'date_2018-06-24 00:00:00'), (9.816499607671096e-06, 'date_2018-10-07 00:00:00'), (9.712882053955047e-06, 'date_2019-02-17 00:00:00'), (9.523979690005373e-06, 'date_2018-11-18 00:00:00'), (8.910842951294473e-06, 'date_2020-08-23 00:00:00'), (8.611053215325885e-06, 'date_2020-04-12 00:00:00'), (8.477703573785687e-06, 'date_2019-01-27 00:00:00'), (8.33010725073774e-06, 'date_2018-07-29 00:00:00'), (8.29708874427072e-06, 'date_2019-10-13 00:00:00'), (8.114211471908312e-06, 'date_2019-05-12 00:00:00'), (8.090965112607391e-06, 'date_2018-07-08 00:00:00'), (7.915388501689166e-06, 'date_2020-07-19 00:00:00'), (7.780422314375383e-06, 'year_month_2018-03-01 00:00:00'), (7.5445096236701185e-06, 'date_2018-11-11 00:00:00'), (7.4702540611752575e-06, 'date_2018-04-29 00:00:00'), (7.347122964648009e-06, 'date_2018-05-20 00:00:00'), (7.329417102863481e-06, 'date_2020-03-08 00:00:00'), (7.2937981400854554e-06, 'date_2019-02-03 00:00:00'), (7.208990913877552e-06, 'date_2019-01-20 00:00:00'), (6.384188773830482e-06, 'date_2020-06-21 00:00:00'), (6.3763955588691285e-06, 'date_2018-08-12 00:00:00'), (6.3357602802294454e-06, 'date_2018-07-01 00:00:00'), (6.227774854255532e-06, 'date_2019-03-10 00:00:00'), (5.875948715281733e-06, 'date_2020-01-19 00:00:00'), (5.770439264925721e-06, 'date_2020-07-26 00:00:00'), (5.333963129058375e-06, 'date_2020-06-28 00:00:00'), (5.239516517550928e-06, 'date_2020-04-05 00:00:00'), (4.929285753662005e-06, 'date_2019-05-19 00:00:00'), (4.913457153777896e-06, 'date_2020-06-07 00:00:00'), (4.8409849651490705e-06, 'date_2019-09-29 00:00:00'), (4.73753797249256e-06, 'date_2018-03-11 00:00:00'), (4.485952889979333e-06, 'date_2018-07-22 00:00:00'), (4.355381401814485e-06, 'date_2019-09-22 00:00:00'), (4.2844525446530286e-06, 'date_2019-09-15 00:00:00'), (4.243875005109072e-06, 'date_2020-03-22 00:00:00'), (4.113832702178422e-06, 'date_2020-01-26 00:00:00'), (3.973024480113263e-06, 'date_2020-08-16 00:00:00'), (3.929436073777453e-06, 'date_2020-08-30 00:00:00'), (3.316617040196165e-06, 'date_2019-03-31 00:00:00'), (3.138283333989528e-06, 'date_2020-05-10 00:00:00'), (2.902155445477513e-06, 'date_2020-02-09 00:00:00'), (2.8203060149390253e-06, 'date_2019-11-10 00:00:00'), (2.11555926670756e-06, 'date_2018-07-15 00:00:00'), (2.028895136093832e-06, 'date_2020-07-05 00:00:00'), (1.7576471241108795e-06, 'date_2019-10-06 00:00:00'), (1.7348730925751992e-06, 'date_2018-08-19 00:00:00'), (1.4924149110936735e-06, 'date_2018-04-15 00:00:00'), (1.4312801662125665e-06, 'date_2020-05-31 00:00:00'), (1.411828550072805e-06, 'date_2018-03-04 00:00:00'), (1.3973061280716191e-06, 'date_2020-06-14 00:00:00'), (1.375272579728249e-06, 'date_2018-06-17 00:00:00'), (1.2499529614735882e-06, 'date_2018-09-16 00:00:00'), (1.1922748078185495e-06, 'date_2019-02-24 00:00:00'), (9.500328272152889e-07, 'date_2020-07-12 00:00:00'), (9.376036807120928e-07, 'date_2019-11-24 00:00:00'), (7.466132717551561e-07, 'date_2018-05-13 00:00:00'), (5.660232013134487e-07, 'date_2018-10-21 00:00:00'), (3.5206784398257734e-09, 'date_2020-08-02 00:00:00'), (0.0, 'variety'), (0.0, 'status'), (0.0, 'segment'), (0.0, 'date_2020-05-24 00:00:00'), (0.0, 'date_2020-04-19 00:00:00')]

In [54]:
prices_df = pd.read_csv(Path('../resources/prices.csv'))
prices_df.head()

,year_month,geography,timeframe,date,type,avg_price,total_volume,4046_units,4225_units,4770_units,total_bags,s_bags,l_bags,xl_bags,price_inc
0,1/1/2017,Albany,Weekly,1/2/2017,conventional,1.47,129948.23,4845.77,117027.41,200.36,7874.69,7866.86,7.83,0.00,1
1,1/1/2017,Albany,Weekly,1/8/2017,conventional,1.55,91728.18,3355.47,75641.23,56.91,12674.57,12606.67,67.90,0.00,1
2,1/1/2017,Albany,Weekly,1/15/2017,conventional,1.55,88526.26,3327.65,71956.77,607.03,12634.81,12574.72,60.09,0.00,0
3,1/1/2017,Albany,Weekly,1/22/2017,conventional,1.59,128679.24,4119.94,111173.08,2191.71,11194.51,11060.19,125.50,8.82,1
4,1/1/2017,Albany,Weekly,1/29/2017,conventional,1.31,95424.59,3844.62,78315.15,484.56,12780.26,12393.84,382.06,4.36,0

In [55]:
prices_df['year_month'] = pd.to_datetime(prices_df['year_month'])
prices_df['date'] = pd.to_datetime(prices_df['date'])
#prices_df["year"] = prices_df['date'].apply(lambda x: x.year)
#prices_df["month"] = prices_df['date'].apply(lambda x: x.month)
#prices_df["day"] = prices_df['date'].apply(lambda x: x.day)

In [56]:
for col in prices_df.columns:
    print(f"Column {col} has {prices_df[col].isnull().sum()} null values")

Column year_month has 0 null values
Column geography has 0 null values
Column timeframe has 0 null values
Column date has 0 null values
Column type has 0 null values
Column avg_price has 0 null values
Column total_volume has 0 null values
Column 4046_units has 0 null values
Column 4225_units has 0 null values
Column 4770_units has 0 null values
Column total_bags has 0 null values
Column s_bags has 0 null values
Column l_bags has 0 null values
Column xl_bags has 0 null values
Column price_inc has 0 null values

In [57]:
# type con organic
def change_type_string(str):
        
    if str == "actual":
        return 1
    
    if str == "avocados":
        return 1
    
    if str == "hass":
        return 1
    
    if str == "conventional":
        return 1
    else:
        return 0
    
    
prices_df['type'] = prices_df['type'].apply(change_type_string)
#combined_cleaned_df['status'] = combined_cleaned_df['status'].apply(change_type_string)
#combined_cleaned_df['segment'] = combined_cleaned_df['segment'].apply(change_type_string)
#combined_cleaned_df['variety'] = combined_cleaned_df['variety'].apply(change_type_string)

#combined_cleaned_df.head()

In [58]:
price_bins = [0.44, 1.14, 1.37, 1.63, 3.17]
group_names = ["0", "1", "2", "3" ]

#cleaned_cat_df = prices_df.copy()

# Categorize prices for NB.
prices_df["price_cat"] = pd.cut(prices_df['avg_price'], price_bins, labels=group_names)

prices_df.head()

,year_month,geography,timeframe,date,type,avg_price,total_volume,4046_units,4225_units,4770_units,total_bags,s_bags,l_bags,xl_bags,price_inc,price_cat
0,2017-01-01,Albany,Weekly,2017-01-02,1,1.47,129948.23,4845.77,117027.41,200.36,7874.69,7866.86,7.83,0.00,1,2
1,2017-01-01,Albany,Weekly,2017-01-08,1,1.55,91728.18,3355.47,75641.23,56.91,12674.57,12606.67,67.90,0.00,1,2
2,2017-01-01,Albany,Weekly,2017-01-15,1,1.55,88526.26,3327.65,71956.77,607.03,12634.81,12574.72,60.09,0.00,0,2
3,2017-01-01,Albany,Weekly,2017-01-22,1,1.59,128679.24,4119.94,111173.08,2191.71,11194.51,11060.19,125.50,8.82,1,2
4,2017-01-01,Albany,Weekly,2017-01-29,1,1.31,95424.59,3844.62,78315.15,484.56,12780.26,12393.84,382.06,4.36,0,1

In [59]:
prices_df = pd.get_dummies(data=prices_df, columns=['year_month', 'date'])
prices_df.head()

,geography,timeframe,type,avg_price,total_volume,4046_units,4225_units,4770_units,total_bags,s_bags,...,date_2020-07-05 00:00:00,date_2020-07-12 00:00:00,date_2020-07-19 00:00:00,date_2020-07-26 00:00:00,date_2020-08-02 00:00:00,date_2020-08-09 00:00:00,date_2020-08-16 00:00:00,date_2020-08-23 00:00:00,date_2020-08-30 00:00:00,date_2020-09-06 00:00:00
0,Albany,Weekly,1,1.47,129948.23,4845.77,117027.41,200.36,7874.69,7866.86,...,0,0,0,0,0,0,0,0,0,0
1,Albany,Weekly,1,1.55,91728.18,3355.47,75641.23,56.91,12674.57,12606.67,...,0,0,0,0,0,0,0,0,0,0
2,Albany,Weekly,1,1.55,88526.26,3327.65,71956.77,607.03,12634.81,12574.72,...,0,0,0,0,0,0,0,0,0,0
3,Albany,Weekly,1,1.59,128679.24,4119.94,111173.08,2191.71,11194.51,11060.19,...,0,0,0,0,0,0,0,0,0,0
4,Albany,Weekly,1,1.31,95424.59,3844.62,78315.15,484.56,12780.26,12393.84,...,0,0,0,0,0,0,0,0,0,0

In [60]:
prices_df = prices_df.reset_index()

In [61]:
# Create the OneHotEncoder instance
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False)

# Fit the encoder and produce encoded DataFrame
encode_df = pd.DataFrame(enc.fit_transform(prices_df.geography.values.reshape(-1,1)))

# Rename encoded columns
encode_df.columns = enc.get_feature_names(['geography'])
encode_df.head()

,geography_Albany,geography_Atlanta,geography_Baltimore/Washington,geography_Boise,geography_Boston,geography_Buffalo/Rochester,geography_California,geography_Charlotte,geography_Chicago,geography_Cincinnati/Dayton,...,geography_South Carolina,geography_South Central,geography_Southeast,geography_Spokane,geography_St. Louis,geography_Syracuse,geography_Tampa,geography_Total U.S.,geography_West,geography_West Tex/New Mexico
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [62]:
# Merge the two DataFrames together and drop the geography column
prices_df = prices_df.merge(encode_df,left_index=True,right_index=True).drop("geography",1)
prices_df.head()

,index,timeframe,type,avg_price,total_volume,4046_units,4225_units,4770_units,total_bags,s_bags,...,geography_South Carolina,geography_South Central,geography_Southeast,geography_Spokane,geography_St. Louis,geography_Syracuse,geography_Tampa,geography_Total U.S.,geography_West,geography_West Tex/New Mexico
0,0,Weekly,1,1.47,129948.23,4845.77,117027.41,200.36,7874.69,7866.86,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,Weekly,1,1.55,91728.18,3355.47,75641.23,56.91,12674.57,12606.67,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,Weekly,1,1.55,88526.26,3327.65,71956.77,607.03,12634.81,12574.72,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,Weekly,1,1.59,128679.24,4119.94,111173.08,2191.71,11194.51,11060.19,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,Weekly,1,1.31,95424.59,3844.62,78315.15,484.56,12780.26,12393.84,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [63]:
prices_df = prices_df.drop(columns=['timeframe'], axis=1)
prices_df.head()

,index,type,avg_price,total_volume,4046_units,4225_units,4770_units,total_bags,s_bags,l_bags,...,geography_South Carolina,geography_South Central,geography_Southeast,geography_Spokane,geography_St. Louis,geography_Syracuse,geography_Tampa,geography_Total U.S.,geography_West,geography_West Tex/New Mexico
0,0,1,1.47,129948.23,4845.77,117027.41,200.36,7874.69,7866.86,7.83,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1,1.55,91728.18,3355.47,75641.23,56.91,12674.57,12606.67,67.90,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,1,1.55,88526.26,3327.65,71956.77,607.03,12634.81,12574.72,60.09,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,1,1.59,128679.24,4119.94,111173.08,2191.71,11194.51,11060.19,125.50,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,1,1.31,95424.59,3844.62,78315.15,484.56,12780.26,12393.84,382.06,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [64]:
prices_df.shape

(20410, 301)

In [65]:
print(prices_df.columns)

Index(['index', 'type', 'avg_price', 'total_volume', '4046_units',
       '4225_units', '4770_units', 'total_bags', 's_bags', 'l_bags',
       ...
       'geography_South Carolina', 'geography_South Central',
       'geography_Southeast', 'geography_Spokane', 'geography_St. Louis',
       'geography_Syracuse', 'geography_Tampa', 'geography_Total U.S.',
       'geography_West', 'geography_West Tex/New Mexico'],
      dtype='object', length=301)

In [66]:
prices_df = prices_df.dropna()

In [67]:
prices_df["4046_units"] = prices_df["4046_units"] / 100
prices_df["4225_units"] = prices_df["4225_units"] / 1000
prices_df["4770_units"] = prices_df["4770_units"] / 10
prices_df["total_bags"] = prices_df["total_bags"] / 100
prices_df["s_bags"] = prices_df["s_bags"] / 100
prices_df["l_bags"] = prices_df["l_bags"] / 100

In [68]:
y = prices_df['price_cat']
X = prices_df.drop(columns=['index', 'price_cat', 'avg_price', 'total_volume'], axis=1)

RFSSModel4(X, y)

Predictions: ['3' '3' '3' ... '0' '3' '3']
Confusion Matrix

          Predicted 0  Predicted 1  Predicted 2  Predicted 3
Actual 0         1147           22           45          116
Actual 1          636           72          168          341
Actual 2          339           31          209          712
Actual 3          127            7           89         1042

Accuracy Score : 0.48402900254752107
Classification Report
              precision    recall  f1-score   support

           0       0.51      0.86      0.64      1330
           1       0.55      0.06      0.11      1217
           2       0.41      0.16      0.23      1291
           3       0.47      0.82      0.60      1265

    accuracy                           0.48      5103
   macro avg       0.48      0.48      0.39      5103
weighted avg       0.48      0.48      0.40      5103

Importances: [8.47747813e-02 1.49524193e-01 7.21587054e-02 9.51356396e-02
 1.18458881e-01 8.83919252e-02 8.85176864e-02 1.09615650e-01
 3.95119949e-04 4.63380970e-04 1.65566776e-03 2.74314669e-04
 4.10024755e-04 3.26134496e-04 3.75768572e-04 1.53418362e-03
 5.99550427e-03 1.67528777e-02 1.45377979e-02 3.90577110e-04
 1.15485347e-04 1.14144223e-04 1.44412474e-04 7.13887112e-05
 1.76671022e-04 1.64006473e-04 1.35196045e-04 1.56834091e-04
 1.34189912e-04 4.60502257e-04 1.07592620e-04 9.41397859e-05
 4.30217215e-05 2.14268180e-04 1.37926725e-03 2.96122468e-03
 6.50150109e-05 5.55663318e-04 8.09847734e-04 9.24155231e-03
 1.67892195e-03 1.78262889e-04 2.24648997e-04 3.71992730e-04
 1.32698817e-03 3.06086865e-03 2.01601339e-03 1.71713226e-04
 1.26321034e-04 1.23060470e-04 1.19118764e-04 9.86895301e-05
 1.01119840e-03 2.67222529e-05 5.32157024e-05 4.48913827e-05
 5.67685544e-05 6.59751422e-05 4.80489593e-05 1.33113983e-04
 5.44960570e-05 6.61350177e-05 6.42333354e-05 8.02853493e-05
 3.36780895e-05 3.15418893e-05 6.01574318e-05 2.69417541e-05
 5.53639800e-05 3.11933820e-05 4.12361801e-05 6.68323916e-05
 3.22298038e-05 3.25270990e-05 3.18606757e-05 7.80424700e-05
 3.85647948e-05 3.34681040e-05 1.16009520e-04 2.38422418e-05
 5.19832533e-05 2.19336674e-05 7.12912326e-05 1.03803176e-04
 9.41572582e-05 6.94408186e-05 5.81215550e-05 1.33487040e-04
 3.50074030e-04 1.12503274e-03 1.78749418e-03 1.06513574e-03
 9.57605858e-04 1.99573918e-03 2.98764348e-03 5.42985263e-04
 3.89466075e-04 1.49593602e-04 3.90113380e-05 1.55677537e-05
 7.01264350e-06 2.03327798e-05 4.05875322e-06 2.84242539e-05
 3.09045845e-05 2.23230457e-05 1.87803040e-05 2.15054264e-05
 1.77940283e-05 2.94625731e-05 2.43034747e-05 7.03588913e-05
 1.88152616e-05 3.15459473e-05 2.33942703e-05 1.41569408e-05
 2.11781281e-05 1.20384665e-05 1.66896361e-05 3.16644781e-05
 4.32541223e-05 2.10090494e-05 3.90428637e-05 2.00959744e-05
 1.75029997e-05 2.91190269e-05 2.82185244e-05 2.57963545e-05
 3.17436665e-05 2.06116110e-05 4.15957926e-05 2.56898002e-05
 2.47567930e-05 3.44785214e-05 1.73606388e-05 1.24015503e-05
 1.90794088e-05 1.54776230e-05 2.52149095e-05 1.06532651e-05
 3.18937070e-05 3.24556287e-05 8.77264524e-05 1.56201346e-05
 6.87700847e-05 2.48538972e-05 1.73016473e-05 9.03231483e-06
 1.42643657e-05 9.29905493e-06 2.14773045e-05 1.72489074e-05
 1.01993308e-05 8.04354842e-06 1.79981274e-05 8.42616018e-06
 2.87305322e-05 5.50389163e-05 2.49742511e-05 2.16777149e-04
 7.28469970e-05 4.36471403e-05 4.15222411e-05 3.30926460e-05
 8.93250770e-05 8.72655571e-05 6.86337721e-05 7.02391215e-05
 4.05930275e-05 3.97943611e-05 2.77667304e-05 6.99548486e-05
 3.95097613e-05 2.03770777e-05 2.84132807e-05 3.12096038e-05
 2.60697375e-05 4.78207015e-05 2.09804844e-05 6.99493023e-05
 4.69852779e-05 2.66516079e-04 1.55543069e-04 3.53291433e-04
 1.60970578e-04 1.36032804e-04 7.31900132e-05 4.18303382e-05
 3.72855455e-05 3.14260723e-05 2.22925787e-05 2.88252974e-05
 4.17205517e-05 5.05915606e-06 3.46785384e-05 2.27673601e-05
 3.95803442e-05 2.68904678e-05 1.00855941e-04 1.77244588e-05
 5.90939445e-05 3.76080005e-05 2.12703126e-05 5.02434129e-05
 7.76978542e-05 3.87442888e-05 1.69575476e-04 1.04351352e-04
 1.05836051e-04 1.75401461e-04 7.11438815e-05 2.52566553e-04
 9.04860744e-05 1.63662763e-05 4.72823322e-05 2.84476951e-05
 2.50945022e-05 1.88226410e-05 7.81042359e-06 1.46250572e-05
 1.80402836e-05 2.33195274e-05 2.46920741e-05 3.78085494e-05
 2.22385584e-05 2.98289738e-05 2.52682425e-05 4.11291632e-05
 3.57980504e-06 3.05254719e-05 2.29678633e-05 1.70110429e-05
 6.53526387e-05 8.53953037e-06 1.00331376e-05 3.40409034e-05
 3.67608563e-05 2.47322977e-05 3.62194185e-05 2.43749339e-05
 4.76508762e-05 4.58353581e-05 2.38437444e-05 6.67933696e-04
 3.38562699e-04 2.77725819e-03 4.84433039e-04 3.77134681e-03
 2.89498915e-03 2.91814998e-03 1.03602206e-03 2.36361064e-03
 2.80807591e-04 1.84008234e-03 5.40661671e-03 1.12991095e-04
 5.16687900e-04 5.98086880e-04 2.58315075e-04 3.96061677e-04
 9.03343273e-03 5.42569517e-03 1.04862724e-03 1.72127608e-04
 4.34849305e-04 4.97851489e-04 9.86124387e-04 9.05936993e-04
 4.36016771e-04 1.60356902e-03 1.79177690e-03 8.42972556e-03
 4.84977453e-03 1.15873008e-04 1.96467504e-04 9.04748139e-04
 3.26271201e-03 2.98391080e-03 1.35912557e-04 1.29599550e-03
 1.06163108e-03 6.85481274e-04 9.16589013e-04 2.60178183e-03
 1.74282025e-03 9.53117170e-03 2.23379017e-03 8.61170887e-05
 4.89195648e-03 1.07885984e-04 1.45655605e-03 3.34325192e-04
 9.42178737e-04 3.32120056e-04 1.00175512e-03 8.17533382e-04
 2.93853034e-03]

In [70]:
cleaned_cat_df["4046_units"] = cleaned_cat_df["4046_units"] / 100
cleaned_cat_df["4225_units"] = cleaned_cat_df["4225_units"] / 1000
cleaned_cat_df["4770_units"] = cleaned_cat_df["4770_units"] / 10
cleaned_cat_df["total_bags"] = cleaned_cat_df["total_bags"] / 100
cleaned_cat_df["s_bags"] = cleaned_cat_df["s_bags"] / 100
cleaned_cat_df["l_bags"] = cleaned_cat_df["l_bags"] / 100

In [74]:
y = cleaned_cat_df['price_cat']
X = cleaned_cat_df.drop(columns=['price_cat', 'total_bags', 'avg_price_current_year',
                                 'avg_price_prior_year', 'total_volume_prod', 'avg_price_variance', 
                                 'unit_variance', 'total_volume_price'], axis=1)

RFSSModel4(X, y)

Predictions: ['2' '0' '3' ... '2' '0' '2']
Confusion Matrix

          Predicted 0  Predicted 1  Predicted 2  Predicted 3
Actual 0          992            2           27           12
Actual 1          108          578          239           25
Actual 2           34          184          707           46
Actual 3            1           34           24          697

Accuracy Score : 0.8016172506738545
Classification Report
              precision    recall  f1-score   support

           0       0.87      0.96      0.92      1033
           1       0.72      0.61      0.66       950
           2       0.71      0.73      0.72       971
           3       0.89      0.92      0.91       756

    accuracy                           0.80      3710
   macro avg       0.80      0.80      0.80      3710
weighted avg       0.80      0.80      0.80      3710

Importances: [4.83042268e-02 3.30939821e-01 1.05268307e-01 5.05364285e-02
 6.14864439e-02 6.37390852e-02 4.92384685e-02 7.80323219e-02
 3.53995080e-03 4.19033549e-03 7.31316977e-03 1.07926090e-02
 2.13085825e-03 9.86499061e-03 6.09130998e-03 5.58396108e-03
 1.10707622e-03 2.22399273e-03 4.33798368e-03 8.37492200e-03
 1.15222695e-02 7.33669870e-03 2.77538511e-03 6.16443182e-03
 4.49271965e-03 0.00000000e+00 2.44024251e-03 1.71103523e-03
 3.80011491e-03 6.40413772e-03 9.02236371e-04 0.00000000e+00
 0.00000000e+00 2.02824296e-03 8.71965824e-03 9.47911394e-03
 1.18945630e-02 1.23027192e-02 7.11132298e-03 6.62995698e-05
 3.31735582e-05 1.42506194e-05 5.96005965e-05 2.52625721e-05
 4.35264463e-05 3.80014064e-05 4.87089221e-05 4.50934603e-04
 3.79435127e-05 1.26842061e-05 1.16022595e-04 3.33399841e-05
 8.10270461e-05 1.88055413e-04 4.60780876e-05 1.61313547e-04
 1.40604771e-04 3.86072269e-03 8.82551722e-04 1.02618535e-04
 6.15408054e-05 4.87123293e-05 7.39889119e-04 7.07695977e-05
 2.14841028e-04 4.66340315e-05 5.35435034e-05 3.65054361e-05
 1.40794497e-05 3.78885576e-05 4.77202104e-04 1.61872132e-05
 1.34031860e-05 2.48830619e-05 1.81938056e-05 1.34215137e-05
 2.74196988e-05 3.18924763e-06 1.05008231e-05 9.94625603e-06
 3.35916955e-06 3.72123012e-06 1.77547656e-05 7.14942149e-06
 2.12935990e-05 1.07780839e-05 8.93046554e-06 8.22568545e-06
 4.56625764e-06 5.13926394e-05 3.98515678e-06 1.17590825e-05
 7.96938839e-06 6.58870001e-06 6.94433780e-06 5.20682317e-06
 8.75040500e-06 5.52047173e-06 5.13026420e-06 7.93353399e-06
 2.58915991e-06 7.97679000e-06 4.26819629e-06 3.14458012e-06
 4.66283932e-07 1.63847462e-05 2.61049131e-05 2.32116121e-05
 1.85200060e-05 1.20587301e-05 1.55707329e-06 4.98439107e-06
 9.58686026e-06 7.61306577e-06 1.89257407e-05 2.23221232e-05
 2.52498168e-06 6.13426752e-06 2.26779669e-05 2.08461200e-04
 1.86684824e-05 7.22220039e-06 4.08468946e-06 1.31430354e-05
 2.74659799e-05 3.31564399e-06 7.02086318e-06 2.13551212e-05
 5.33167839e-06 1.95900876e-05 1.76570001e-05 4.36609811e-06
 3.01308800e-05 1.67610463e-05 2.21340353e-05 6.12283229e-05
 2.11552622e-05 3.79194749e-06 6.11433677e-06 3.09622123e-05
 4.07596108e-05 3.48928411e-05 2.37300853e-05 8.47650981e-06
 1.66040985e-05 7.93449623e-05 5.40845837e-05 2.70388823e-04
 7.80657516e-05 5.68496797e-05 2.12840655e-05 1.75804962e-06
 2.79696680e-06 1.09313449e-05 1.08105641e-05 5.37215101e-06
 7.44867016e-07 9.82777781e-06 1.81965257e-05 1.31966910e-05
 5.03129205e-06 2.65957720e-05 2.29151868e-05 7.26389136e-06
 5.30239558e-06 2.76141276e-06 1.43481385e-05 7.37077963e-05
 2.43432125e-06 3.66982082e-05 3.35329158e-05 8.47570776e-06
 1.92006924e-05 4.13616865e-06 1.35560171e-05 2.55324955e-06
 3.52547581e-06 8.39645709e-06 1.54423845e-05 5.76461226e-06
 1.28735752e-05 3.90175355e-06 9.84934686e-06 3.00115952e-06
 1.55603243e-06 2.44841116e-06 1.93543073e-06 2.39572793e-05
 7.94228001e-06 8.39057573e-06 9.75960123e-06 2.49206663e-06
 1.81094002e-06 3.06902634e-06 4.13250858e-08 7.22328179e-06
 3.51291582e-06 4.51099338e-06 3.70187011e-06 9.45906038e-06
 1.30858878e-06 1.27670982e-05 4.20492797e-06 5.77142011e-07
 1.03864140e-05 2.83420558e-05 1.85936184e-04 1.71591673e-04
 1.25309936e-03 1.02461093e-03 1.05394021e-03 9.64837100e-04
 1.33383822e-03 3.44827096e-04 4.59345522e-04 1.23358893e-04
 3.73814009e-04 1.27173847e-03 5.29419282e-05 1.82955496e-04
 7.73817073e-04 1.35350756e-04 3.48792594e-04 2.44982896e-03
 1.52958348e-03 1.88516202e-04 2.72584824e-04 8.21220608e-05
 1.39126780e-04 2.55122200e-04 5.93832820e-05 1.45929749e-04
 9.48143702e-04 1.88577170e-03 1.92036014e-03 1.26459186e-04
 2.63388056e-04 7.40673268e-04 6.51896187e-04 5.25866338e-04
 2.38119978e-04 7.38203315e-04 6.39325350e-04 2.97668612e-04
 9.91600569e-05 4.97000190e-04 2.99212718e-04 3.90027210e-03
 1.85271671e-03 4.88384219e-05 7.14944718e-04 1.20206166e-04
 1.66467033e-03 7.67887645e-04 5.10165998e-04 9.14464683e-04
 5.96451465e-04 3.48678323e-04 7.33084085e-04]
[(0.3309398209415635, 'avg_price'), (0.10526830691530839, '4046_units'), (0.07803232188947301, 'xl_bags'), (0.06373908516953736, 's_bags'), (0.06148644391989362, '4770_units'), (0.05053642847126031, '4225_units'), (0.049238468478364404, 'l_bags'), (0.04830422675753616, 'type'), (0.0123027191721874, 'dollars_current_year'), (0.011894563041574229, 'dollars_prior_year'), (0.011522269530582666, 'sp09'), (0.01079260899944512, 'phdi'), (0.009864990610346335, 'pmdi'), (0.009479113939093408, 'units_current_year'), (0.008719658235510313, 'units_prior_year'), (0.008374921995895212, 'sp06'), (0.007336698699860555, 'sp12'), (0.007313169774008466, 'pdsi'), (0.007111322978842233, 'dollar_variance'), (0.006404137724077573, 'peru'), (0.006164431821743892, 'tmin'), (0.0060913099792674905, 'cdd'), (0.005583961082396399, 'hdd'), (0.004492719647966959, 'tmax'), (0.004337983682248715, 'sp03'), (0.004190335486518037, 'tavg'), (0.0039002721040477754, 'geography_San Francisco'), (0.0038607226924100495, 'year_month_2019-07-01 00:00:00'), (0.0038001149135437977, 'mexico'), (0.0035399508004421427, 'pcp'), (0.002775385106256313, 'sp24'), (0.002449828958598001, 'geography_Hartford/Springfield'), (0.0024402425143460276, 'california'), (0.002223992728587766, 'sp02'), (0.0021308582493701996, 'zndx'), (0.002028242961675365, 'period'), (0.0019203601392713651, 'geography_Northeast'), (0.0018857717036993259, 'geography_New York'), (0.0018527167070468184, 'geography_Seattle'), (0.0017110352292947241, 'chile'), (0.0016646703349776385, 'geography_Spokane'), (0.0015295834791953192, 'geography_Houston'), (0.001333838219543424, 'geography_California'), (0.0012717384661486476, 'geography_Dallas/Ft. Worth'), (0.001253099363240097, 'geography_Baltimore/Washington'), (0.001107076218858658, 'sp01'), (0.0010539402113864612, 'geography_Boston'), (0.001024610929031468, 'geography_Boise'), (0.0009648370996951428, 'geography_Buffalo/Rochester'), (0.0009481437020920559, 'geography_New Orleans/Mobile'), (0.0009144646829706193, 'geography_Tampa'), (0.000902236371007618, 'columbia'), (0.0008825517222741039, 'year_month_2019-08-01 00:00:00'), (0.0007738170725833613, 'geography_Grand Rapids'), (0.0007678876447827251, 'geography_St. Louis'), (0.0007406732683947689, 'geography_Philadelphia'), (0.0007398891188933284, 'year_month_2019-12-01 00:00:00'), (0.0007382033146710627, 'geography_Portland'), (0.0007330840854819627, 'geography_West Tex/New Mexico'), (0.0007149447177007552, 'geography_South Central'), (0.0006518961872317789, 'geography_Phoenix/Tucson'), (0.0006393253504087068, 'geography_Raleigh/Greensboro'), (0.0005964514647703728, 'geography_Total U.S.'), (0.0005258663381458901, 'geography_Pittsburgh'), (0.000510165998081169, 'geography_Syracuse'), (0.0004970001901757388, 'geography_Sacramento'), (0.00047720210385084673, 'year_month_2020-08-01 00:00:00'), (0.00045934552192711703, 'geography_Chicago'), (0.0004509346033785662, 'year_month_2018-09-01 00:00:00'), (0.0003738140087362264, 'geography_Columbus'), (0.00034879259407767893, 'geography_Harrisburg/Scranton'), (0.0003486783234997839, 'geography_West'), (0.0003448270956683195, 'geography_Charlotte'), (0.00029921271753733324, 'geography_San Diego'), (0.00029766861185676877, 'geography_Richmond/Norfolk'), (0.00027258482360462333, 'geography_Jacksonville'), (0.00027038882280356854, 'date_2019-07-21 00:00:00'), (0.0002633880558425697, 'geography_Orlando'), (0.00025512219976212095, 'geography_Louisville'), (0.00023811997774033885, 'geography_Plains'), (0.00021484102788421294, 'year_month_2020-02-01 00:00:00'), (0.00020846119952797643, 'date_2018-12-02 00:00:00'), (0.00018851620243631072, 'geography_Indianapolis'), (0.0001880554129872381, 'year_month_2019-03-01 00:00:00'), (0.00018593618383161382, 'geography_Albany'), (0.00018295549639074074, 'geography_Detroit'), (0.00017159167292858473, 'geography_Atlanta'), (0.00016131354735282477, 'year_month_2019-05-01 00:00:00'), (0.00014592974930013257, 'geography_Nashville'), (0.000140604770655144, 'year_month_2019-06-01 00:00:00'), (0.00013912678017000357, 'geography_Los Angeles'), (0.00013535075598646615, 'geography_Great Lakes'), (0.0001264591863466227, 'geography_Northern New England'), (0.00012335889343002737, 'geography_Cincinnati/Dayton'), (0.00012020616571605597, 'geography_Southeast'), (0.00011602259455707083, 'year_month_2018-12-01 00:00:00'), (0.00010261853482425952, 'year_month_2019-09-01 00:00:00'), (9.91600569094146e-05, 'geography_Roanoke'), (8.212206075419033e-05, 'geography_Las Vegas'), (8.102704606633591e-05, 'year_month_2019-02-01 00:00:00'), (7.9344962334485e-05, 'date_2019-07-07 00:00:00'), (7.806575155335893e-05, 'date_2019-07-28 00:00:00'), (7.370779634460093e-05, 'date_2019-12-08 00:00:00'), (7.07695977400235e-05, 'year_month_2020-01-01 00:00:00'), (6.62995698057284e-05, 'year_month_2018-01-01 00:00:00'), (6.154080537201892e-05, 'year_month_2019-10-01 00:00:00'), (6.122832290777905e-05, 'date_2019-04-28 00:00:00'), (5.9600596459584e-05, 'year_month_2018-04-01 00:00:00'), (5.9383281969622764e-05, 'geography_Midsouth'), (5.684967967366706e-05, 'date_2019-08-04 00:00:00'), (5.408458365451793e-05, 'date_2019-07-14 00:00:00'), (5.354350341114551e-05, 'year_month_2020-04-01 00:00:00'), (5.294192821644075e-05, 'geography_Denver'), (5.1392639413010283e-05, 'date_2018-05-06 00:00:00'), (4.883842186683744e-05, 'geography_South Carolina'), (4.8712329336426075e-05, 'year_month_2019-11-01 00:00:00'), (4.870892207906639e-05, 'year_month_2018-08-01 00:00:00'), (4.663403151803886e-05, 'year_month_2020-03-01 00:00:00'), (4.607808758831419e-05, 'year_month_2019-04-01 00:00:00'), (4.352644628150329e-05, 'year_month_2018-06-01 00:00:00'), (4.0759610829490186e-05, 'date_2019-06-02 00:00:00'), (3.800140637004419e-05, 'year_month_2018-07-01 00:00:00'), (3.794351271338057e-05, 'year_month_2018-10-01 00:00:00'), (3.788855764532982e-05, 'year_month_2020-07-01 00:00:00'), (3.6698208163890354e-05, 'date_2019-12-22 00:00:00'), (3.650543610934671e-05, 'year_month_2020-05-01 00:00:00'), (3.489284105728365e-05, 'date_2019-06-09 00:00:00'), (3.3532915805123105e-05, 'date_2019-12-29 00:00:00'), (3.333998413783262e-05, 'year_month_2019-01-01 00:00:00'), (3.3173558240908424e-05, 'year_month_2018-02-01 00:00:00'), (3.096221225507734e-05, 'date_2019-05-26 00:00:00'), (3.0130880045339443e-05, 'date_2019-04-07 00:00:00'), (2.8342055757111233e-05, 'date_2020-09-06 00:00:00'), (2.7465979882194176e-05, 'date_2019-02-10 00:00:00'), (2.741969881733186e-05, 'date_2018-02-04 00:00:00'), (2.659577198446826e-05, 'date_2019-10-27 00:00:00'), (2.6104913095441806e-05, 'date_2018-09-02 00:00:00'), (2.526257207140936e-05, 'year_month_2018-05-01 00:00:00'), (2.488306192153486e-05, 'date_2018-01-14 00:00:00'), (2.3957279313486424e-05, 'date_2020-05-03 00:00:00'), (2.3730085336546848e-05, 'date_2019-06-16 00:00:00'), (2.3211612076606554e-05, 'date_2018-09-09 00:00:00'), (2.291518682131685e-05, 'date_2019-11-03 00:00:00'), (2.2677966923213748e-05, 'date_2018-11-25 00:00:00'), (2.2322123178694103e-05, 'date_2018-11-04 00:00:00'), (2.2134035288818077e-05, 'date_2019-04-21 00:00:00'), (2.1355121234505733e-05, 'date_2019-03-03 00:00:00'), (2.1293599041213187e-05, 'date_2018-04-01 00:00:00'), (2.128406548956733e-05, 'date_2019-08-11 00:00:00'), (2.1155262212164938e-05, 'date_2019-05-05 00:00:00'), (1.9590087604069483e-05, 'date_2019-03-17 00:00:00'), (1.9200692414034335e-05, 'date_2020-01-19 00:00:00'), (1.8925740715290356e-05, 'date_2018-10-28 00:00:00'), (1.866848242717227e-05, 'date_2019-01-13 00:00:00'), (1.852000602237383e-05, 'date_2018-09-16 00:00:00'), (1.819652565892205e-05, 'date_2019-10-06 00:00:00'), (1.8193805604098486e-05, 'date_2018-01-21 00:00:00'), (1.7754765624016317e-05, 'date_2018-03-18 00:00:00'), (1.7657000129109414e-05, 'date_2019-03-24 00:00:00'), (1.6761046250466314e-05, 'date_2019-04-14 00:00:00'), (1.6604098454038293e-05, 'date_2019-06-30 00:00:00'), (1.6384746237315872e-05, 'date_2018-08-26 00:00:00'), (1.6187213154875548e-05, 'year_month_2020-09-01 00:00:00'), (1.5442384540821466e-05, 'date_2020-03-01 00:00:00'), (1.4348138500302726e-05, 'date_2019-12-01 00:00:00'), (1.4250619351788423e-05, 'year_month_2018-03-01 00:00:00'), (1.4079449670581256e-05, 'year_month_2020-06-01 00:00:00'), (1.3556017101171015e-05, 'date_2020-02-02 00:00:00'), (1.3421513700294722e-05, 'date_2018-01-28 00:00:00'), (1.3403185982708054e-05, 'date_2018-01-07 00:00:00'), (1.3196690994222001e-05, 'date_2019-10-13 00:00:00'), (1.3143035398724907e-05, 'date_2019-02-03 00:00:00'), (1.2873575195006807e-05, 'date_2020-03-15 00:00:00'), (1.2767098240351014e-05, 'date_2020-08-09 00:00:00'), (1.268420607287473e-05, 'year_month_2018-11-01 00:00:00'), (1.2058730065815143e-05, 'date_2018-09-23 00:00:00'), (1.1759082504467419e-05, 'date_2018-05-20 00:00:00'), (1.093134488919589e-05, 'date_2019-09-01 00:00:00'), (1.0810564078080882e-05, 'date_2019-09-08 00:00:00'), (1.0778083934943181e-05, 'date_2018-04-08 00:00:00'), (1.05008230520396e-05, 'date_2018-02-18 00:00:00'), (1.03864140335828e-05, 'date_2020-08-30 00:00:00'), (9.946256028904694e-06, 'date_2018-02-25 00:00:00'), (9.849346863864878e-06, 'date_2020-03-29 00:00:00'), (9.827777805343762e-06, 'date_2019-09-29 00:00:00'), (9.759601229354657e-06, 'date_2020-05-24 00:00:00'), (9.586860257693835e-06, 'date_2018-10-14 00:00:00'), (9.459060381936429e-06, 'date_2020-07-26 00:00:00'), (8.930465536405086e-06, 'date_2018-04-15 00:00:00'), (8.750404996292781e-06, 'date_2018-06-24 00:00:00'), (8.476509811817648e-06, 'date_2019-06-23 00:00:00'), (8.475707761931466e-06, 'date_2020-01-12 00:00:00'), (8.396457091486442e-06, 'date_2020-02-23 00:00:00'), (8.390575728838277e-06, 'date_2020-05-17 00:00:00'), (8.225685452339714e-06, 'date_2018-04-22 00:00:00'), (7.976790001347388e-06, 'date_2018-07-29 00:00:00'), (7.969388394176553e-06, 'date_2018-05-27 00:00:00'), (7.942280013223081e-06, 'date_2020-05-10 00:00:00'), (7.933533989633571e-06, 'date_2018-07-15 00:00:00'), (7.613065770343219e-06, 'date_2018-10-21 00:00:00'), (7.263891363796386e-06, 'date_2019-11-10 00:00:00'), (7.223281787739352e-06, 'date_2020-06-28 00:00:00'), (7.222200389075565e-06, 'date_2019-01-20 00:00:00'), (7.149421486796698e-06, 'date_2018-03-25 00:00:00'), (7.020863178885197e-06, 'date_2019-02-24 00:00:00'), (6.944337803101763e-06, 'date_2018-06-10 00:00:00'), (6.588700014692474e-06, 'date_2018-06-03 00:00:00'), (6.134267522358892e-06, 'date_2018-11-18 00:00:00'), (6.11433677447644e-06, 'date_2019-05-19 00:00:00'), (5.764612259805695e-06, 'date_2020-03-08 00:00:00'), (5.520471733975597e-06, 'date_2018-07-01 00:00:00'), (5.372151010116913e-06, 'date_2019-09-15 00:00:00'), (5.331678389118849e-06, 'date_2019-03-10 00:00:00'), (5.30239557500736e-06, 'date_2019-11-17 00:00:00'), (5.206823172184458e-06, 'date_2018-06-17 00:00:00'), (5.130264199504491e-06, 'date_2018-07-08 00:00:00'), (5.031292050558916e-06, 'date_2019-10-20 00:00:00'), (4.984391073154257e-06, 'date_2018-10-07 00:00:00'), (4.5662576435483475e-06, 'date_2018-04-29 00:00:00'), (4.510993382006005e-06, 'date_2020-07-12 00:00:00'), (4.36609811342649e-06, 'date_2019-03-31 00:00:00'), (4.268196285321684e-06, 'date_2018-08-05 00:00:00'), (4.204927970431068e-06, 'date_2020-08-16 00:00:00'), (4.1361686536766675e-06, 'date_2020-01-26 00:00:00'), (4.0846894553712414e-06, 'date_2019-01-27 00:00:00'), (3.985156778570238e-06, 'date_2018-05-13 00:00:00'), (3.901753550367171e-06, 'date_2020-03-22 00:00:00'), (3.7919474854726574e-06, 'date_2019-05-12 00:00:00'), (3.721230122002903e-06, 'date_2018-03-11 00:00:00'), (3.701870114977818e-06, 'date_2020-07-19 00:00:00'), (3.5254758085570934e-06, 'date_2020-02-16 00:00:00'), (3.512915822269214e-06, 'date_2020-07-05 00:00:00'), (3.3591695494941306e-06, 'date_2018-03-04 00:00:00'), (3.3156439868807476e-06, 'date_2019-02-17 00:00:00'), (3.189247629577517e-06, 'date_2018-02-11 00:00:00'), (3.1445801189125425e-06, 'date_2018-08-12 00:00:00'), (3.0690263417259465e-06, 'date_2020-06-14 00:00:00'), (3.00115951724723e-06, 'date_2020-04-05 00:00:00'), (2.7969668027111783e-06, 'date_2019-08-25 00:00:00'), (2.7614127578340746e-06, 'date_2019-11-24 00:00:00'), (2.5891599101397572e-06, 'date_2018-07-22 00:00:00'), (2.553249549023755e-06, 'date_2020-02-09 00:00:00'), (2.524981682621544e-06, 'date_2018-11-11 00:00:00'), (2.4920666329460273e-06, 'date_2020-05-31 00:00:00'), (2.4484111557698272e-06, 'date_2020-04-19 00:00:00'), (2.434321251104168e-06, 'date_2019-12-15 00:00:00'), (1.9354307273485514e-06, 'date_2020-04-26 00:00:00'), (1.810940016037513e-06, 'date_2020-06-07 00:00:00'), (1.7580496167579314e-06, 'date_2019-08-18 00:00:00'), (1.5570732907416614e-06, 'date_2018-09-30 00:00:00'), (1.556032429457301e-06, 'date_2020-04-12 00:00:00'), (1.3085887809405662e-06, 'date_2020-08-02 00:00:00'), (7.448670156036435e-07, 'date_2019-09-22 00:00:00'), (5.771420108793563e-07, 'date_2020-08-23 00:00:00'), (4.662839320765465e-07, 'date_2018-08-19 00:00:00'), (4.132508577893932e-08, 'date_2020-06-21 00:00:00'), (0.0, 'variety'), (0.0, 'status'), (0.0, 'segment')]

In [97]:
pp_df = pd.read_csv(Path('../resources/prices_prod.csv'))
pp_df.head()

,year_month,geography,timeframe,date,type,avg_price,total_volume,4046_units,4225_units,4770_units,...,s_bags,l_bags,xl_bags,status,prod_total_volume,california,chile,mexico,peru,columbia
0,2020-03-01,Phoenix/Tucson,Weekly,2020-03-22,conventional,0.83,1559597.93,490963.83,191059.35,5795.86,...,225725.82,640831.47,5221.60,actual,54765620,8086208,0,46679412,0,0
1,2020-03-01,Buffalo/Rochester,Weekly,2020-03-15,conventional,1.20,255471.62,22625.06,70184.86,2547.78,...,134178.70,23965.22,1970.00,actual,48039847,3868964,0,44120882,50000,0
2,2018-11-01,San Diego,Weekly,2018-11-18,organic,2.07,15809.64,2284.08,9243.37,0.00,...,4263.31,18.88,0.00,actual,44931673,0,3513150,41418523,0,0
3,2018-11-01,Dallas/Ft. Worth,Weekly,2018-11-18,conventional,0.71,1160242.00,655676.32,95361.47,3983.06,...,278437.39,126749.95,33.81,actual,44931673,0,3513150,41418523,0,0
4,2020-02-01,Total U.S.,Weekly,2020-02-23,organic,1.41,1871904.09,105003.23,150837.39,6789.04,...,1298135.07,311012.52,77.88,actual,60175473,6454635,0,53720838,0,0

In [98]:
for col in pp_df.columns:
    print(f"Column {col} has {pp_df[col].isnull().sum()} null values")

Column year_month has 0 null values
Column geography has 0 null values
Column timeframe has 0 null values
Column date has 0 null values
Column type has 0 null values
Column avg_price has 0 null values
Column total_volume has 0 null values
Column 4046_units has 0 null values
Column 4225_units has 0 null values
Column 4770_units has 0 null values
Column total_bags has 0 null values
Column s_bags has 0 null values
Column l_bags has 0 null values
Column xl_bags has 0 null values
Column status has 0 null values
Column prod_total_volume has 0 null values
Column california has 0 null values
Column chile has 0 null values
Column mexico has 0 null values
Column peru has 0 null values
Column columbia has 0 null values

In [99]:
pp_df['type'] = pp_df['type'].apply(change_type_string)

In [100]:
pp_df = pd.get_dummies(data=pp_df, columns=['year_month', 'date', 'geography'])
pp_df.head()

,timeframe,type,avg_price,total_volume,4046_units,4225_units,4770_units,total_bags,s_bags,l_bags,...,geography_South Carolina,geography_South Central,geography_Southeast,geography_Spokane,geography_St. Louis,geography_Syracuse,geography_Tampa,geography_Total U.S.,geography_West,geography_West Tex/New Mexico
0,Weekly,0,0.83,1559597.93,490963.83,191059.35,5795.86,871778.89,225725.82,640831.47,...,0,0,0,0,0,0,0,0,0,0
1,Weekly,0,1.20,255471.62,22625.06,70184.86,2547.78,160113.92,134178.70,23965.22,...,0,0,0,0,0,0,0,0,0,0
2,Weekly,0,2.07,15809.64,2284.08,9243.37,0.00,4282.19,4263.31,18.88,...,0,0,0,0,0,0,0,0,0,0
3,Weekly,1,0.71,1160242.00,655676.32,95361.47,3983.06,405221.15,278437.39,126749.95,...,0,0,0,0,0,0,0,0,0,0
4,Weekly,0,1.41,1871904.09,105003.23,150837.39,6789.04,1609225.47,1298135.07,311012.52,...,0,0,0,0,0,0,0,1,0,0

In [101]:
print(pp_df.columns)

Index(['timeframe', 'type', 'avg_price', 'total_volume', '4046_units',
       '4225_units', '4770_units', 'total_bags', 's_bags', 'l_bags',
       ...
       'geography_South Carolina', 'geography_South Central',
       'geography_Southeast', 'geography_Spokane', 'geography_St. Louis',
       'geography_Syracuse', 'geography_Tampa', 'geography_Total U.S.',
       'geography_West', 'geography_West Tex/New Mexico'],
      dtype='object', length=239)

In [102]:
price_bins = [0.44, 1.14, 1.37, 1.63, 3.17]
group_names = ["0", "1", "2", "3" ]

#cleaned_cat_df = prices_df.copy()

# Categorize prices for NB.
pp_df["price_cat"] = pd.cut(pp_df['avg_price'], price_bins, labels=group_names)

pp_df.head()

,timeframe,type,avg_price,total_volume,4046_units,4225_units,4770_units,total_bags,s_bags,l_bags,...,geography_South Central,geography_Southeast,geography_Spokane,geography_St. Louis,geography_Syracuse,geography_Tampa,geography_Total U.S.,geography_West,geography_West Tex/New Mexico,price_cat
0,Weekly,0,0.83,1559597.93,490963.83,191059.35,5795.86,871778.89,225725.82,640831.47,...,0,0,0,0,0,0,0,0,0,0
1,Weekly,0,1.20,255471.62,22625.06,70184.86,2547.78,160113.92,134178.70,23965.22,...,0,0,0,0,0,0,0,0,0,1
2,Weekly,0,2.07,15809.64,2284.08,9243.37,0.00,4282.19,4263.31,18.88,...,0,0,0,0,0,0,0,0,0,3
3,Weekly,1,0.71,1160242.00,655676.32,95361.47,3983.06,405221.15,278437.39,126749.95,...,0,0,0,0,0,0,0,0,0,0
4,Weekly,0,1.41,1871904.09,105003.23,150837.39,6789.04,1609225.47,1298135.07,311012.52,...,0,0,0,0,0,0,1,0,0,2

In [103]:
pp_df = pp_df.drop(columns=['timeframe', 'status'], axis=1)
pp_df.head()

,type,avg_price,total_volume,4046_units,4225_units,4770_units,total_bags,s_bags,l_bags,xl_bags,...,geography_South Central,geography_Southeast,geography_Spokane,geography_St. Louis,geography_Syracuse,geography_Tampa,geography_Total U.S.,geography_West,geography_West Tex/New Mexico,price_cat
0,0,0.83,1559597.93,490963.83,191059.35,5795.86,871778.89,225725.82,640831.47,5221.60,...,0,0,0,0,0,0,0,0,0,0
1,0,1.20,255471.62,22625.06,70184.86,2547.78,160113.92,134178.70,23965.22,1970.00,...,0,0,0,0,0,0,0,0,0,1
2,0,2.07,15809.64,2284.08,9243.37,0.00,4282.19,4263.31,18.88,0.00,...,0,0,0,0,0,0,0,0,0,3
3,1,0.71,1160242.00,655676.32,95361.47,3983.06,405221.15,278437.39,126749.95,33.81,...,0,0,0,0,0,0,0,0,0,0
4,0,1.41,1871904.09,105003.23,150837.39,6789.04,1609225.47,1298135.07,311012.52,77.88,...,0,0,0,0,0,0,1,0,0,2

In [104]:
y = pp_df['price_cat']
X = pp_df.drop(columns=['price_cat', 'total_volume', 'prod_total_volume'], axis=1)

RFSSModel4(X, y)

Predictions: ['1' '1' '0' ... '3' '1' '2']
Confusion Matrix

          Predicted 0  Predicted 1  Predicted 2  Predicted 3
Actual 0          974            2           85            0
Actual 1           89          557          318            1
Actual 2           52          154          653            0
Actual 3            1           41           20          671

Accuracy Score : 0.789110005527916
Classification Report
              precision    recall  f1-score   support

           0       0.87      0.92      0.89      1061
           1       0.74      0.58      0.65       965
           2       0.61      0.76      0.67       859
           3       1.00      0.92      0.96       733

    accuracy                           0.79      3618
   macro avg       0.80      0.79      0.79      3618
weighted avg       0.80      0.79      0.79      3618

Importances: [6.85363297e-02 3.22124416e-01 1.02296103e-01 5.20452821e-02
 6.52251627e-02 7.37873805e-02 5.80475502e-02 4.20394549e-02
 8.55233762e-02 5.65562328e-03 2.48726280e-03 1.05017266e-02
 1.09955478e-02 1.67564318e-03 1.99183487e-04 1.18318334e-04
 5.53653641e-05 9.43043905e-05 2.50349969e-04 1.06384343e-04
 1.26137275e-04 1.09168507e-04 1.24822941e-03 9.62980803e-05
 1.71599459e-04 3.76378140e-05 1.00303094e-04 7.70937865e-04
 8.58283240e-04 2.49119835e-04 1.12125194e-03 7.59708132e-04
 1.06532829e-02 3.91085914e-03 2.05154821e-04 1.49493518e-04
 1.83088331e-04 9.00932697e-04 6.42551463e-04 9.61777631e-04
 1.79818641e-04 2.01118575e-04 7.52192548e-05 7.36861507e-05
 1.16613977e-04 7.17825245e-04 2.76042706e-05 2.55672670e-05
 1.14513873e-04 6.17552457e-05 1.17250626e-05 5.07629710e-05
 6.72946458e-06 3.61814428e-05 2.63546938e-05 3.66305422e-05
 3.42227331e-05 2.08422543e-05 3.62615317e-05 1.36515565e-05
 4.76106359e-05 1.22037418e-05 7.16525457e-05 2.09493117e-05
 8.42340061e-05 2.94068081e-05 1.95326513e-05 4.33275518e-05
 1.24328902e-05 3.58636768e-05 1.44939201e-05 7.96650617e-06
 3.06873119e-05 2.19330919e-05 1.83245801e-05 1.69267977e-05
 2.46663999e-05 1.23992863e-05 1.25278856e-05 1.01711793e-05
 4.14726972e-05 6.79844484e-05 1.02616455e-04 1.37804234e-05
 8.39796814e-05 3.66676300e-05 1.63345501e-05 4.61854720e-06
 3.98116820e-05 2.26979441e-05 5.85225928e-05 2.76396929e-05
 2.13570863e-05 1.08255181e-04 5.77193207e-05 1.52247194e-05
 5.00795516e-05 2.94200634e-05 7.20633281e-05 8.47056753e-05
 3.29065581e-05 2.95946710e-05 4.37138800e-05 2.79254982e-05
 4.16522958e-05 4.98880721e-05 3.18673715e-05 6.20906842e-05
 4.51449966e-05 3.83785037e-05 4.27543734e-04 4.93866464e-05
 1.50604132e-05 7.52223306e-05 3.71899251e-05 2.33689995e-05
 2.67659300e-05 2.78387700e-05 6.50125386e-05 1.50571825e-04
 3.07756551e-04 3.12484862e-04 3.35294566e-04 3.60346424e-04
 3.45904996e-04 1.09400527e-04 9.03039195e-05 6.89846353e-05
 2.24819490e-05 2.71362612e-05 3.37834439e-05 3.85950522e-05
 1.89802339e-05 1.89817731e-05 1.04067865e-05 2.22485461e-05
 3.31265945e-05 3.22737675e-05 2.26212363e-05 4.62417942e-05
 2.42115614e-05 2.02941604e-05 4.50693281e-05 5.77931434e-06
 1.94137477e-05 1.03724402e-04 4.10328407e-05 1.11994758e-04
 4.49837096e-05 1.41590885e-04 5.84843105e-05 3.33524732e-05
 3.55667079e-05 2.34635431e-05 1.50425281e-05 2.30069103e-05
 1.73567408e-05 1.19331069e-05 2.35395680e-05 2.88349495e-05
 9.77448342e-06 2.70725204e-05 2.67748425e-05 1.34144432e-05
 2.25865822e-05 1.42606181e-05 4.57281111e-06 2.04240496e-05
 2.78741296e-05 1.36251916e-05 2.71484603e-05 2.39853846e-05
 1.38915538e-05 4.27681034e-05 2.97862177e-05 1.42762781e-05
 4.30291652e-05 4.26096181e-05 1.38282134e-05 6.57029341e-05
 4.39881973e-05 1.58023844e-04 3.69272452e-04 2.57465441e-03
 1.89196612e-03 3.09894440e-03 1.22440346e-03 2.97206126e-03
 7.94604376e-04 5.04707892e-04 2.34655538e-04 5.32064177e-04
 1.60227529e-03 6.30228256e-05 2.25432857e-04 9.43516106e-04
 1.37240701e-04 3.75670584e-04 4.99821708e-03 2.38609192e-03
 5.06621111e-04 2.56232167e-04 1.38350094e-04 2.45195577e-04
 3.91050306e-04 1.06898728e-03 3.65089047e-04 1.66143637e-04
 9.88279106e-04 3.18803749e-03 2.63846776e-03 5.30730933e-05
 4.14657886e-04 7.26056100e-04 9.23045047e-04 4.62226149e-04
 1.33478160e-04 2.20166821e-03 1.13182828e-03 5.11930404e-04
 4.22750147e-04 1.51891620e-03 1.38148169e-03 7.49430164e-03
 4.40216333e-03 3.41781925e-05 1.34389773e-03 9.35927991e-05
 1.69147319e-03 5.11899710e-04 1.55819333e-03 1.70333540e-03
 1.29725102e-03 7.08243762e-04 9.22605983e-04]
[(0.32212441617925597, 'avg_price'), (0.10229610286983908, '4046_units'), (0.08552337620892736, 'xl_bags'), (0.07378738045829598, 'total_bags'), (0.06853632965065273, 'type'), (0.06522516272668266, '4770_units'), (0.058047550240652966, 's_bags'), (0.052045282056527066, '4225_units'), (0.042039454873383175, 'l_bags'), (0.010995547769039719, 'peru'), (0.010653282928709092, 'year_month_2019-07-01'), (0.010501726622555482, 'mexico'), (0.007494301641028711, 'geography_San Francisco'), (0.005655623280259376, 'california'), (0.004998217076202119, 'geography_Hartford/Springfield'), (0.004402163325105967, 'geography_Seattle'), (0.003910859143379767, 'year_month_2019-08-01'), (0.0031880374862447223, 'geography_New York'), (0.003098944402069342, 'geography_Boston'), (0.0029720612635018833, 'geography_California'), (0.0026384677569344177, 'geography_Northeast'), (0.0025746544056350065, 'geography_Baltimore/Washington'), (0.002487262795875741, 'chile'), (0.00238609192472818, 'geography_Houston'), (0.002201668206292266, 'geography_Portland'), (0.00189196612306243, 'geography_Boise'), (0.0017033354038355748, 'geography_Tampa'), (0.0016914731945373207, 'geography_Spokane'), (0.0016756431791962174, 'columbia'), (0.001602275292437506, 'geography_Dallas/Ft. Worth'), (0.0015581933270039277, 'geography_Syracuse'), (0.001518916202705035, 'geography_Sacramento'), (0.0013814816891813708, 'geography_San Diego'), (0.0013438977253347481, 'geography_South Central'), (0.0012972510154162045, 'geography_Total U.S.'), (0.0012482294103870076, 'year_month_2018-09-01'), (0.0012244034616159262, 'geography_Buffalo/Rochester'), (0.0011318282809746924, 'geography_Raleigh/Greensboro'), (0.0011212519406389812, 'year_month_2019-05-01'), (0.0010689872764279883, 'geography_Miami/Ft. Lauderdale'), (0.000988279106081695, 'geography_New Orleans/Mobile'), (0.0009617776312337207, 'year_month_2020-02-01'), (0.0009435161057326046, 'geography_Grand Rapids'), (0.0009230450468678427, 'geography_Phoenix/Tucson'), (0.0009226059829255233, 'geography_West Tex/New Mexico'), (0.0009009326968785323, 'year_month_2019-12-01'), (0.00085828323997077, 'year_month_2019-03-01'), (0.0007946043755903186, 'geography_Charlotte'), (0.0007709378654433562, 'year_month_2019-02-01'), (0.0007597081324930943, 'year_month_2019-06-01'), (0.0007260560995757555, 'geography_Philadelphia'), (0.0007178252447188418, 'year_month_2020-08-01'), (0.0007082437623614316, 'geography_West'), (0.0006425514626939155, 'year_month_2020-01-01'), (0.0005320641767536714, 'geography_Columbus'), (0.0005119304038534403, 'geography_Richmond/Norfolk'), (0.0005118997104475937, 'geography_St. Louis'), (0.0005066211105747089, 'geography_Indianapolis'), (0.0005047078923072472, 'geography_Chicago'), (0.00046222614862568965, 'geography_Pittsburgh'), (0.0004275437336245611, 'date_2019-04-28'), (0.0004227501472639618, 'geography_Roanoke'), (0.00041465788554945394, 'geography_Orlando'), (0.00039105030581759856, 'geography_Louisville'), (0.0003756705836755613, 'geography_Harrisburg/Scranton'), (0.00036927245156856886, 'geography_Atlanta'), (0.00036508904728593615, 'geography_Midsouth'), (0.00036034642358903353, 'date_2019-07-28'), (0.0003459049960179733, 'date_2019-08-04'), (0.00033529456622981106, 'date_2019-07-21'), (0.0003124848622273167, 'date_2019-07-14'), (0.00030775655116399174, 'date_2019-07-07'), (0.0002562321668944746, 'geography_Jacksonville'), (0.0002503499690165811, 'year_month_2018-05-01'), (0.0002491198346613499, 'year_month_2019-04-01'), (0.0002451955765533116, 'geography_Los Angeles'), (0.00023465553807925995, 'geography_Cincinnati/Dayton'), (0.00022543285658236514, 'geography_Detroit'), (0.00020515482097246444, 'year_month_2019-09-01'), (0.0002011185752724562, 'year_month_2020-04-01'), (0.0001991834866255958, 'year_month_2018-01-01'), (0.00018308833107006677, 'year_month_2019-11-01'), (0.00017981864125923887, 'year_month_2020-03-01'), (0.00017159945885540664, 'year_month_2018-11-01'), (0.00016614363710119008, 'geography_Nashville'), (0.0001580238442754349, 'geography_Albany'), (0.00015057182488161056, 'date_2019-06-30'), (0.0001494935180801856, 'year_month_2019-10-01'), (0.00014159088532888708, 'date_2020-02-02'), (0.00013835009405929464, 'geography_Las Vegas'), (0.0001372407005470737, 'geography_Great Lakes'), (0.00013347816038391836, 'geography_Plains'), (0.000126137274527461, 'year_month_2018-07-01'), (0.00011831833382249242, 'year_month_2018-02-01'), (0.00011661397688642806, 'year_month_2020-07-01'), (0.0001145138730635262, 'date_2018-01-14'), (0.00011199475817116639, 'date_2020-01-19'), (0.0001094005274621625, 'date_2019-08-11'), (0.00010916850658667828, 'year_month_2018-08-01'), (0.00010825518111986693, 'date_2018-11-25'), (0.00010638434326148434, 'year_month_2018-06-01'), (0.00010372440192028338, 'date_2019-12-29'), (0.00010261645507030095, 'date_2018-09-09'), (0.00010030309393804754, 'year_month_2019-01-01'), (9.629808031507958e-05, 'year_month_2018-10-01'), (9.430439051571435e-05, 'year_month_2018-04-01'), (9.359279912744238e-05, 'geography_Southeast'), (9.030391947716523e-05, 'date_2019-08-18'), (8.47056753188029e-05, 'date_2019-02-10'), (8.42340061149809e-05, 'date_2018-05-06'), (8.397968143923406e-05, 'date_2018-09-23'), (7.522233061200521e-05, 'date_2019-05-19'), (7.52192548380181e-05, 'year_month_2020-05-01'), (7.368615074935126e-05, 'year_month_2020-06-01'), (7.206332807324441e-05, 'date_2019-02-03'), (7.165254573989185e-05, 'date_2018-04-22'), (6.898463529364025e-05, 'date_2019-08-25'), (6.798444843275898e-05, 'date_2018-09-02'), (6.570293413948345e-05, 'date_2020-08-30'), (6.501253860585839e-05, 'date_2019-06-23'), (6.302282562776648e-05, 'geography_Denver'), (6.209068415476853e-05, 'date_2019-04-07'), (6.175524573862694e-05, 'date_2018-01-21'), (5.852259284932818e-05, 'date_2018-11-04'), (5.8484310549576293e-05, 'date_2020-02-09'), (5.7719320708610094e-05, 'date_2018-12-02'), (5.5365364096173014e-05, 'year_month_2018-03-01'), (5.307309334822766e-05, 'geography_Northern New England'), (5.076297097918756e-05, 'date_2018-02-04'), (5.0079551619868746e-05, 'date_2019-01-20'), (4.9888072131022686e-05, 'date_2019-03-24'), (4.938664636946433e-05, 'date_2019-05-05'), (4.761063587972655e-05, 'date_2018-04-08'), (4.6241794209770615e-05, 'date_2019-11-17'), (4.514499663197684e-05, 'date_2019-04-14'), (4.506932811291258e-05, 'date_2019-12-08'), (4.4983709611360164e-05, 'date_2020-01-26'), (4.3988197342089027e-05, 'date_2020-09-06'), (4.3713879951837734e-05, 'date_2019-03-03'), (4.332755181645769e-05, 'date_2018-05-27'), (4.302916524759674e-05, 'date_2020-08-09'), (4.276810342189985e-05, 'date_2020-07-19'), (4.260961809156264e-05, 'date_2020-08-16'), (4.165229575422786e-05, 'date_2019-03-17'), (4.147269716499368e-05, 'date_2018-08-26'), (4.103284070505887e-05, 'date_2020-01-12'), (3.981168200514492e-05, 'date_2018-10-21'), (3.859505220808864e-05, 'date_2019-09-22'), (3.837850369775011e-05, 'date_2019-04-21'), (3.763781404824834e-05, 'year_month_2018-12-01'), (3.7189925128672276e-05, 'date_2019-05-26'), (3.666763002760885e-05, 'date_2018-09-30'), (3.663054216357601e-05, 'date_2018-03-04'), (3.6261531723351375e-05, 'date_2018-03-25'), (3.618144282971413e-05, 'date_2018-02-18'), (3.5863676801877595e-05, 'date_2018-06-10'), (3.5566707903318665e-05, 'date_2020-02-23'), (3.422273305003713e-05, 'date_2018-03-11'), (3.417819248227463e-05, 'geography_South Carolina'), (3.378344387451205e-05, 'date_2019-09-15'), (3.3352473238587e-05, 'date_2020-02-16'), (3.31265944599771e-05, 'date_2019-10-27'), (3.2906558135027195e-05, 'date_2019-02-17'), (3.227376745176957e-05, 'date_2019-11-03'), (3.186737149310065e-05, 'date_2019-03-31'), (3.068731186483686e-05, 'date_2018-07-01'), (2.9786217680629563e-05, 'date_2020-07-26'), (2.9594670956561135e-05, 'date_2019-02-24'), (2.9420063441765668e-05, 'date_2019-01-27'), (2.9406808147168583e-05, 'date_2018-05-13'), (2.8834949548844405e-05, 'date_2020-04-12'), (2.7925498178942632e-05, 'date_2019-03-10'), (2.787412955046476e-05, 'date_2020-06-14'), (2.7838770017125166e-05, 'date_2019-06-16'), (2.7639692871140695e-05, 'date_2018-11-11'), (2.760427064869597e-05, 'year_month_2020-09-01'), (2.7148460256702713e-05, 'date_2020-06-28'), (2.7136261208721196e-05, 'date_2019-09-08'), (2.7072520449157455e-05, 'date_2020-04-26'), (2.677484249313276e-05, 'date_2020-05-03'), (2.6765929974071474e-05, 'date_2019-06-09'), (2.635469377022509e-05, 'date_2018-02-25'), (2.5567267001030634e-05, 'date_2018-01-07'), (2.4666399924333783e-05, 'date_2018-07-29'), (2.4211561447561754e-05, 'date_2019-11-24'), (2.3985384573679876e-05, 'date_2020-07-05'), (2.3539567963998772e-05, 'date_2020-04-05'), (2.3463543098848912e-05, 'date_2020-03-01'), (2.336899954741755e-05, 'date_2019-06-02'), (2.3006910282814044e-05, 'date_2020-03-15'), (2.269794412310413e-05, 'date_2018-10-28'), (2.2621236267624394e-05, 'date_2019-11-10'), (2.2586582155093537e-05, 'date_2020-05-17'), (2.248194902966966e-05, 'date_2019-09-01'), (2.224854613479884e-05, 'date_2019-10-20'), (2.1933091898799316e-05, 'date_2018-07-08'), (2.1357086302001155e-05, 'date_2018-11-18'), (2.0949311715171818e-05, 'date_2018-04-29'), (2.0842254251451962e-05, 'date_2018-03-18'), (2.042404957150914e-05, 'date_2020-06-07'), (2.0294160361493896e-05, 'date_2019-12-01'), (1.9532651335993755e-05, 'date_2018-05-20'), (1.9413747741091628e-05, 'date_2019-12-22'), (1.8981773056887293e-05, 'date_2019-10-06'), (1.8980233862184004e-05, 'date_2019-09-29'), (1.8324580074173655e-05, 'date_2018-07-15'), (1.7356740776110545e-05, 'date_2020-03-22'), (1.6926797717807856e-05, 'date_2018-07-22'), (1.6334550112890075e-05, 'date_2018-10-07'), (1.5224719416626464e-05, 'date_2019-01-13'), (1.5060413220448249e-05, 'date_2019-05-12'), (1.504252806777626e-05, 'date_2020-03-08'), (1.4493920074566059e-05, 'date_2018-06-17'), (1.4276278066660362e-05, 'date_2020-08-02'), (1.4260618130034517e-05, 'date_2020-05-24'), (1.3891553845786781e-05, 'date_2020-07-12'), (1.3828213402641592e-05, 'date_2020-08-23'), (1.3780423362487681e-05, 'date_2018-09-16'), (1.3651556494873276e-05, 'date_2018-04-01'), (1.3625191582437325e-05, 'date_2020-06-21'), (1.3414443177323826e-05, 'date_2020-05-10'), (1.2527885630962318e-05, 'date_2018-08-12'), (1.2432890248361334e-05, 'date_2018-06-03'), (1.2399286300421885e-05, 'date_2018-08-05'), (1.2203741802637687e-05, 'date_2018-04-15'), (1.1933106867718883e-05, 'date_2020-03-29'), (1.1725062619223089e-05, 'date_2018-01-28'), (1.0406786509907402e-05, 'date_2019-10-13'), (1.0171179345946753e-05, 'date_2018-08-19'), (9.77448341938983e-06, 'date_2020-04-19'), (7.966506169157347e-06, 'date_2018-06-24'), (6.729464577800724e-06, 'date_2018-02-11'), (5.779314340377207e-06, 'date_2019-12-15'), (4.618547198616256e-06, 'date_2018-10-14'), (4.5728111053225e-06, 'date_2020-05-31')]

In [105]:
y = pp_df['price_cat']
X = pp_df.drop(columns=['price_cat', 'avg_price', 'total_volume', 'prod_total_volume'], axis=1)

RFSSModel4(X, y)

Predictions: ['0' '0' '0' ... '3' '0' '2']
Confusion Matrix

          Predicted 0  Predicted 1  Predicted 2  Predicted 3
Actual 0          935           29           84           13
Actual 1          500          101          335           29
Actual 2          198           38          523          100
Actual 3           46            4          198          485

Accuracy Score : 0.5649530127142067
Classification Report
              precision    recall  f1-score   support

           0       0.56      0.88      0.68      1061
           1       0.59      0.10      0.18       965
           2       0.46      0.61      0.52       859
           3       0.77      0.66      0.71       733

    accuracy                           0.56      3618
   macro avg       0.59      0.56      0.52      3618
weighted avg       0.59      0.56      0.52      3618

Importances: [1.04947870e-01 1.38929829e-01 8.53006244e-02 9.76447926e-02
 9.75646177e-02 8.19397760e-02 7.10238616e-02 1.20624332e-01
 8.99151419e-03 4.46490329e-03 1.73726984e-02 1.92921836e-02
 3.00738140e-03 3.75435591e-04 1.95039711e-04 9.63124357e-05
 2.53704930e-04 3.63967028e-04 1.92527318e-04 2.06777832e-04
 1.98465729e-04 1.36558293e-03 2.16801182e-04 2.37064329e-04
 1.67833155e-04 1.39906925e-04 1.17468695e-03 1.00055750e-03
 3.56129359e-04 1.18190610e-03 9.97396005e-04 1.40368773e-02
 5.18936049e-03 4.66562624e-04 2.75022212e-04 4.08169340e-04
 9.56407755e-04 8.39476898e-04 1.64474369e-03 1.79085696e-04
 1.88015880e-04 1.11669276e-04 1.68118231e-04 2.31750613e-04
 1.21269886e-03 1.15469885e-04 3.15534534e-05 1.98684284e-04
 8.13571326e-05 4.60818216e-05 1.19397902e-04 3.44793190e-05
 5.42891286e-05 2.92235188e-05 4.17375371e-05 4.92308961e-05
 2.80438971e-05 4.61146424e-05 2.62768054e-05 8.39686104e-05
 5.17891970e-05 9.00661754e-05 3.67784310e-05 3.42037112e-04
 4.66689782e-05 3.07004055e-05 4.62570005e-05 2.20638993e-05
 7.04313556e-05 3.96317590e-05 1.24213451e-05 3.46151685e-05
 7.19044725e-05 2.93851695e-05 3.82725238e-05 2.77748743e-05
 4.56392946e-05 1.96568113e-05 1.50982941e-05 7.60022514e-05
 1.52687790e-04 1.25907504e-04 6.51732076e-05 1.29025278e-04
 3.17696546e-05 2.89157292e-05 2.31616153e-05 3.93835984e-05
 9.73526057e-05 1.10133044e-04 2.81058663e-05 5.37036285e-05
 1.53575555e-04 8.29981219e-05 6.17773299e-05 5.75753330e-05
 4.34148588e-05 6.69527886e-05 1.31362497e-04 5.66215884e-05
 2.29052081e-05 5.30641661e-05 8.44556315e-05 1.23225070e-04
 9.88651361e-05 4.10701523e-05 5.62219560e-05 6.49503003e-05
 7.86282827e-05 2.58312802e-04 3.40448898e-05 5.87922615e-05
 9.92812730e-05 3.12404928e-05 3.63284129e-05 2.56246540e-05
 8.00993387e-05 7.64777543e-05 1.57112638e-04 6.95451251e-04
 6.87340252e-04 7.16127831e-04 7.79483563e-04 3.53668925e-04
 1.35565851e-04 8.06792727e-05 1.17151193e-04 4.57588632e-05
 2.31274953e-05 2.00225492e-05 3.57261139e-05 3.04316354e-05
 1.32090286e-05 3.74240244e-05 5.25155448e-05 1.16381193e-04
 1.31765755e-04 4.29481683e-05 5.31065391e-05 2.80207346e-05
 5.13856509e-05 9.46060018e-05 4.33899608e-05 5.34937741e-05
 1.10592432e-04 7.87926865e-05 7.70426163e-05 8.42115747e-05
 3.76046143e-04 1.38385250e-04 5.81857545e-05 4.86186531e-05
 3.31161950e-05 2.55771928e-05 5.16947525e-05 1.47564366e-05
 4.02406817e-05 8.81619569e-05 3.90932679e-05 4.91556797e-05
 5.79543112e-05 3.05321100e-05 2.83438701e-05 3.56026254e-05
 1.87007636e-05 2.53635358e-05 3.52555271e-05 3.13546386e-05
 4.95782041e-05 3.85187205e-05 1.96134413e-05 4.64588399e-05
 3.02134531e-05 5.35994552e-05 6.14121647e-05 5.23163039e-05
 2.92053624e-05 1.98790956e-05 7.96684969e-05 8.64297870e-05
 2.80904487e-04 5.19461199e-04 4.58146889e-03 2.10061438e-03
 4.53120553e-03 2.48640059e-03 4.21326599e-03 1.23950811e-03
 7.37953375e-04 3.31436907e-04 7.14787841e-04 3.20768545e-03
 1.08288208e-04 4.05763165e-04 1.60176461e-03 2.50263140e-04
 5.25436146e-04 7.51539273e-03 4.35774663e-03 8.21234825e-04
 3.58433569e-04 1.96548293e-04 9.35575052e-04 5.78003042e-04
 1.79416217e-03 3.85163182e-04 3.78334936e-04 1.78912582e-03
 5.71581484e-03 3.74563563e-03 1.46623713e-04 5.63425139e-04
 8.91832438e-04 1.57909184e-03 5.89151135e-04 2.23690221e-04
 2.82919262e-03 1.51962271e-03 7.01713370e-04 1.00235904e-03
 2.01071480e-03 1.88802813e-03 1.05832245e-02 6.57381562e-03
 8.33852101e-05 2.11245681e-03 1.61101984e-04 2.73037248e-03
 7.39563392e-04 2.17871234e-03 2.66386919e-03 1.71366566e-03
 1.03506343e-03 1.60365268e-03]
[(0.13892982903434065, '4046_units'), (0.12062433210435708, 'xl_bags'), (0.10494787004285663, 'type'), (0.09764479264498692, '4770_units'), (0.09756461765008623, 'total_bags'), (0.08530062439962427, '4225_units'), (0.08193977601375518, 's_bags'), (0.07102386163988253, 'l_bags'), (0.019292183611170955, 'peru'), (0.01737269836119036, 'mexico'), (0.014036877338224443, 'year_month_2019-07-01'), (0.010583224461661236, 'geography_San Francisco'), (0.008991514185148429, 'california'), (0.0075153927253326595, 'geography_Hartford/Springfield'), (0.006573815621345022, 'geography_Seattle'), (0.00571581484292628, 'geography_New York'), (0.005189360492202862, 'year_month_2019-08-01'), (0.0045814688941274995, 'geography_Baltimore/Washington'), (0.004531205533889395, 'geography_Boston'), (0.0044649032946698815, 'chile'), (0.004357746634992362, 'geography_Houston'), (0.004213265988240471, 'geography_California'), (0.0037456356292455985, 'geography_Northeast'), (0.003207685452975082, 'geography_Dallas/Ft. Worth'), (0.003007381403492681, 'columbia'), (0.002829192624199159, 'geography_Portland'), (0.002730372478646068, 'geography_Spokane'), (0.002663869193307498, 'geography_Tampa'), (0.0024864005930540453, 'geography_Buffalo/Rochester'), (0.0021787123366222827, 'geography_Syracuse'), (0.002112456808279268, 'geography_South Central'), (0.002100614381033616, 'geography_Boise'), (0.0020107147964140894, 'geography_Sacramento'), (0.0018880281271807528, 'geography_San Diego'), (0.0017941621727662563, 'geography_Miami/Ft. Lauderdale'), (0.0017891258205120762, 'geography_New Orleans/Mobile'), (0.0017136656574815088, 'geography_Total U.S.'), (0.0016447436944462364, 'year_month_2020-02-01'), (0.0016036526813365303, 'geography_West Tex/New Mexico'), (0.0016017646102560997, 'geography_Grand Rapids'), (0.0015790918432688039, 'geography_Phoenix/Tucson'), (0.001519622711304169, 'geography_Raleigh/Greensboro'), (0.00136558293227402, 'year_month_2018-09-01'), (0.0012395081144672927, 'geography_Charlotte'), (0.0012126988619311826, 'year_month_2020-08-01'), (0.0011819061036228964, 'year_month_2019-05-01'), (0.0011746869533084726, 'year_month_2019-02-01'), (0.0010350634280564465, 'geography_West'), (0.0010023590353745084, 'geography_Roanoke'), (0.0010005575002014953, 'year_month_2019-03-01'), (0.000997396004665619, 'year_month_2019-06-01'), (0.0009564077548996856, 'year_month_2019-12-01'), (0.0009355750519810809, 'geography_Los Angeles'), (0.0008918324381026535, 'geography_Philadelphia'), (0.000839476898236727, 'year_month_2020-01-01'), (0.0008212348254519116, 'geography_Indianapolis'), (0.0007794835626699578, 'date_2019-07-28'), (0.0007395633915972152, 'geography_St. Louis'), (0.0007379533754090828, 'geography_Chicago'), (0.0007161278309759971, 'date_2019-07-21'), (0.0007147878407360302, 'geography_Columbus'), (0.0007017133701113815, 'geography_Richmond/Norfolk'), (0.0006954512507122568, 'date_2019-07-07'), (0.0006873402523917296, 'date_2019-07-14'), (0.0005891511346313301, 'geography_Pittsburgh'), (0.0005780030420744441, 'geography_Louisville'), (0.0005634251392733194, 'geography_Orlando'), (0.0005254361462092791, 'geography_Harrisburg/Scranton'), (0.0005194611993470327, 'geography_Atlanta'), (0.00046656262372030816, 'year_month_2019-09-01'), (0.0004081693402306254, 'year_month_2019-11-01'), (0.0004057631653174181, 'geography_Detroit'), (0.00038516318237329095, 'geography_Midsouth'), (0.0003783349356061468, 'geography_Nashville'), (0.00037604614317661894, 'date_2020-02-02'), (0.0003754355914858309, 'year_month_2018-01-01'), (0.0003639670282903794, 'year_month_2018-05-01'), (0.0003584335689465191, 'geography_Jacksonville'), (0.00035612935870599, 'year_month_2019-04-01'), (0.000353668925108019, 'date_2019-08-04'), (0.0003420371116993567, 'date_2018-05-06'), (0.00033143690662231623, 'geography_Cincinnati/Dayton'), (0.0002809044865526846, 'geography_Albany'), (0.00027502221171145933, 'year_month_2019-10-01'), (0.00025831280173647773, 'date_2019-04-28'), (0.0002537049299286008, 'year_month_2018-04-01'), (0.00025026313984557373, 'geography_Great Lakes'), (0.00023706432934912755, 'year_month_2018-11-01'), (0.0002317506129897069, 'year_month_2020-07-01'), (0.0002236902207169913, 'geography_Plains'), (0.00021680118221200463, 'year_month_2018-10-01'), (0.00020677783179654733, 'year_month_2018-07-01'), (0.00019868428438295975, 'date_2018-01-14'), (0.00019846572892881481, 'year_month_2018-08-01'), (0.00019654829319088886, 'geography_Las Vegas'), (0.0001950397110070227, 'year_month_2018-02-01'), (0.00019252731847415848, 'year_month_2018-06-01'), (0.00018801588007347504, 'year_month_2020-04-01'), (0.00017908569588857875, 'year_month_2020-03-01'), (0.00016811823051399283, 'year_month_2020-06-01'), (0.00016783315497699504, 'year_month_2018-12-01'), (0.00016110198438675988, 'geography_Southeast'), (0.0001571126377473219, 'date_2019-06-30'), (0.0001535755550287048, 'date_2018-11-25'), (0.00015268779021013583, 'date_2018-09-02'), (0.00014662371294903132, 'geography_Northern New England'), (0.0001399069245328968, 'year_month_2019-01-01'), (0.000138385249889203, 'date_2020-02-09'), (0.00013556585072176523, 'date_2019-08-11'), (0.00013176575457998652, 'date_2019-11-03'), (0.00013136249742375469, 'date_2019-02-10'), (0.00012902527816560975, 'date_2018-09-23'), (0.00012590750386002694, 'date_2018-09-09'), (0.00012322507034717896, 'date_2019-03-17'), (0.00011939790249153088, 'date_2018-02-04'), (0.00011715119305763401, 'date_2019-08-25'), (0.00011638119316883154, 'date_2019-10-27'), (0.00011546988474074996, 'year_month_2020-09-01'), (0.00011166927550643084, 'year_month_2020-05-01'), (0.00011059243162440991, 'date_2019-12-29'), (0.00011013304365018579, 'date_2018-11-04'), (0.00010828820789181641, 'geography_Denver'), (9.928127298886362e-05, 'date_2019-05-19'), (9.88651360934655e-05, 'date_2019-03-24'), (9.73526056605328e-05, 'date_2018-10-28'), (9.631243574224519e-05, 'year_month_2018-03-01'), (9.46060017539416e-05, 'date_2019-12-08'), (9.006617536171583e-05, 'date_2018-04-22'), (8.816195688744645e-05, 'date_2020-04-05'), (8.642978697940541e-05, 'date_2020-09-06'), (8.445563153499184e-05, 'date_2019-03-10'), (8.421157473562927e-05, 'date_2020-01-26'), (8.396861037532693e-05, 'date_2018-04-08'), (8.338521010215199e-05, 'geography_South Carolina'), (8.299812194320341e-05, 'date_2018-12-02'), (8.135713263731579e-05, 'date_2018-01-21'), (8.06792726957157e-05, 'date_2019-08-18'), (8.009933872386944e-05, 'date_2019-06-16'), (7.966849687853677e-05, 'date_2020-08-30'), (7.879268650859091e-05, 'date_2020-01-12'), (7.862828270006485e-05, 'date_2019-04-21'), (7.704261633678983e-05, 'date_2020-01-19'), (7.647775428786202e-05, 'date_2019-06-23'), (7.600225135548479e-05, 'date_2018-08-26'), (7.190447249622995e-05, 'date_2018-07-08'), (7.043135555059513e-05, 'date_2018-06-10'), (6.695278858374501e-05, 'date_2019-02-03'), (6.51732075568822e-05, 'date_2018-09-16'), (6.495030032671073e-05, 'date_2019-04-14'), (6.177732987326452e-05, 'date_2019-01-13'), (6.141216469320986e-05, 'date_2020-08-02'), (5.879226149153056e-05, 'date_2019-05-12'), (5.8185754512661415e-05, 'date_2020-02-16'), (5.7954311181807394e-05, 'date_2020-04-26'), (5.757533297981807e-05, 'date_2019-01-20'), (5.662158837087632e-05, 'date_2019-02-17'), (5.6221955986223556e-05, 'date_2019-04-07'), (5.4289128644316826e-05, 'date_2018-02-18'), (5.370362845914513e-05, 'date_2018-11-18'), (5.359945522688534e-05, 'date_2020-07-26'), (5.349377407993471e-05, 'date_2019-12-22'), (5.3106539053450534e-05, 'date_2019-11-17'), (5.30641660916141e-05, 'date_2019-03-03'), (5.251554482555985e-05, 'date_2019-10-20'), (5.2316303887201365e-05, 'date_2020-08-09'), (5.1789196978379525e-05, 'date_2018-04-15'), (5.169475254627693e-05, 'date_2020-03-15'), (5.138565091710736e-05, 'date_2019-12-01'), (4.957820413574781e-05, 'date_2020-06-21'), (4.923089611906847e-05, 'date_2018-03-11'), (4.915567966263358e-05, 'date_2020-04-19'), (4.86186531312457e-05, 'date_2020-02-23'), (4.666897824644292e-05, 'date_2018-05-13'), (4.6458839874266855e-05, 'date_2020-07-12'), (4.6257000471615376e-05, 'date_2018-05-27'), (4.611464243976357e-05, 'date_2018-03-25'), (4.608182158375275e-05, 'date_2018-01-28'), (4.575886316200826e-05, 'date_2019-09-01'), (4.56392945783545e-05, 'date_2018-08-05'), (4.341485878998111e-05, 'date_2019-01-27'), (4.3389960838218756e-05, 'date_2019-12-15'), (4.2948168252084793e-05, 'date_2019-11-10'), (4.173753708978531e-05, 'date_2018-03-04'), (4.107015226734389e-05, 'date_2019-03-31'), (4.0240681749998375e-05, 'date_2020-03-29'), (3.963175896698634e-05, 'date_2018-06-17'), (3.938359843548613e-05, 'date_2018-10-21'), (3.90932679412578e-05, 'date_2020-04-12'), (3.85187205373187e-05, 'date_2020-06-28'), (3.827252380324427e-05, 'date_2018-07-22'), (3.742402438416301e-05, 'date_2019-10-13'), (3.677843099522748e-05, 'date_2018-04-29'), (3.632841288087723e-05, 'date_2019-06-02'), (3.572611389831494e-05, 'date_2019-09-22'), (3.56026253810807e-05, 'date_2020-05-17'), (3.5255527061673176e-05, 'date_2020-06-07'), (3.46151685375095e-05, 'date_2018-07-01'), (3.447931903109304e-05, 'date_2018-02-11'), (3.404488975327922e-05, 'date_2019-05-05'), (3.3116194951549444e-05, 'date_2020-03-01'), (3.1769654632440175e-05, 'date_2018-09-30'), (3.155345335762321e-05, 'date_2018-01-07'), (3.135463860100966e-05, 'date_2020-06-14'), (3.124049277986303e-05, 'date_2019-05-26'), (3.0700405543790526e-05, 'date_2018-05-20'), (3.053211003202515e-05, 'date_2020-05-03'), (3.0431635427251897e-05, 'date_2019-09-29'), (3.02134530714932e-05, 'date_2020-07-19'), (2.938516948664152e-05, 'date_2018-07-15'), (2.9223518848415168e-05, 'date_2018-02-25'), (2.9205362406259864e-05, 'date_2020-08-16'), (2.8915729203393313e-05, 'date_2018-10-07'), (2.834387010222397e-05, 'date_2020-05-10'), (2.8105866300716884e-05, 'date_2018-11-11'), (2.8043897129300382e-05, 'date_2018-03-18'), (2.80207346326295e-05, 'date_2019-11-24'), (2.7774874337626556e-05, 'date_2018-07-29'), (2.627680541394067e-05, 'date_2018-04-01'), (2.5624653950068834e-05, 'date_2019-06-09'), (2.5577192773254268e-05, 'date_2020-03-08'), (2.536353583235714e-05, 'date_2020-05-31'), (2.3161615348634512e-05, 'date_2018-10-14'), (2.3127495316297805e-05, 'date_2019-09-08'), (2.290520805953679e-05, 'date_2019-02-24'), (2.2063899333795042e-05, 'date_2018-06-03'), (2.0022549237534297e-05, 'date_2019-09-15'), (1.9879095597441344e-05, 'date_2020-08-23'), (1.9656811290533796e-05, 'date_2018-08-12'), (1.9613441292563533e-05, 'date_2020-07-05'), (1.8700763647951532e-05, 'date_2020-05-24'), (1.5098294110089244e-05, 'date_2018-08-19'), (1.4756436580783073e-05, 'date_2020-03-22'), (1.3209028616629897e-05, 'date_2019-10-06'), (1.2421345078965757e-05, 'date_2018-06-24')]