In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import os
import warnings
warnings.filterwarnings('ignore')
from pathlib import Path

from sqlalchemy import create_engine
from config import db_password

In [12]:
# get db server connection string
db_string = f'postgres://postgres:{db_password}@127.0.0.1:5432/avocados'

# Create db engine
engine = create_engine(db_string)

# Load prices data set
cleaned_df = pd.read_sql_table('combined_cleaned', engine)

In [13]:
#cleaned_df = pd.read_csv(Path('../resources/combined_cleaned.csv'))
cleaned_df.head()

,index,type,avg_price,total_volume_price,4046_units,4225_units,4770_units,total_bags,s_bags,l_bags,...,geography_South Carolina,geography_South Central,geography_Southeast,geography_Spokane,geography_St. Louis,geography_Syracuse,geography_Tampa,geography_Total U.S.,geography_West,geography_West Tex/New Mexico
0,0,0,0.83,1559597.93,490963.83,191059.35,5795.86,871778.89,225725.82,640831.47,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0,1.20,255471.62,22625.06,70184.86,2547.78,160113.92,134178.70,23965.22,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0,2.07,15809.64,2284.08,9243.37,0.00,4282.19,4263.31,18.88,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,1,0.71,1160242.00,655676.32,95361.47,3983.06,405221.15,278437.39,126749.95,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,0,1.41,1871904.09,105003.23,150837.39,6789.04,1609225.47,1298135.07,311012.52,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [14]:
#cleaned_df = cleaned_df.drop(columns=['Unnamed: 0', 'index'], axis=1)
cleaned_df = cleaned_df.drop(columns=['index'], axis=1)
cleaned_df.head()

,type,avg_price,total_volume_price,4046_units,4225_units,4770_units,total_bags,s_bags,l_bags,xl_bags,...,geography_South Carolina,geography_South Central,geography_Southeast,geography_Spokane,geography_St. Louis,geography_Syracuse,geography_Tampa,geography_Total U.S.,geography_West,geography_West Tex/New Mexico
0,0,0.83,1559597.93,490963.83,191059.35,5795.86,871778.89,225725.82,640831.47,5221.60,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,1.20,255471.62,22625.06,70184.86,2547.78,160113.92,134178.70,23965.22,1970.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,2.07,15809.64,2284.08,9243.37,0.00,4282.19,4263.31,18.88,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,0.71,1160242.00,655676.32,95361.47,3983.06,405221.15,278437.39,126749.95,33.81,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,1.41,1871904.09,105003.23,150837.39,6789.04,1609225.47,1298135.07,311012.52,77.88,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [15]:
price_bins = [0.44, 1.14, 1.37, 1.63, 3.17]
group_names = ["0", "1", "2", "3" ]

cleaned_cat_df = cleaned_df.copy()

# Categorize prices for NB.
cleaned_cat_df["price_cat"] = pd.cut(cleaned_cat_df['avg_price'], price_bins, labels=group_names)

cleaned_cat_df.head()

,type,avg_price,total_volume_price,4046_units,4225_units,4770_units,total_bags,s_bags,l_bags,xl_bags,...,geography_South Central,geography_Southeast,geography_Spokane,geography_St. Louis,geography_Syracuse,geography_Tampa,geography_Total U.S.,geography_West,geography_West Tex/New Mexico,price_cat
0,0,0.83,1559597.93,490963.83,191059.35,5795.86,871778.89,225725.82,640831.47,5221.60,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0,1.20,255471.62,22625.06,70184.86,2547.78,160113.92,134178.70,23965.22,1970.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,0,2.07,15809.64,2284.08,9243.37,0.00,4282.19,4263.31,18.88,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
3,1,0.71,1160242.00,655676.32,95361.47,3983.06,405221.15,278437.39,126749.95,33.81,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,0,1.41,1871904.09,105003.23,150837.39,6789.04,1609225.47,1298135.07,311012.52,77.88,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2

In [16]:
cleaned_cat_df['price_cat'].value_counts()

0    4282
1    3838
2    3681
3    3039
Name: price_cat, dtype: int64

In [17]:
cleaned_cat_df.columns

Index(['type', 'avg_price', 'total_volume_price', '4046_units', '4225_units',
       '4770_units', 'total_bags', 's_bags', 'l_bags', 'xl_bags',
       ...
       'geography_South Central', 'geography_Southeast', 'geography_Spokane',
       'geography_St. Louis', 'geography_Syracuse', 'geography_Tampa',
       'geography_Total U.S.', 'geography_West',
       'geography_West Tex/New Mexico', 'price_cat'],
      dtype='object', length=267)

In [18]:
cleaned_cat_df.shape

(14840, 267)

In [19]:
def RFSSModel4(X, y):
    # Initial imports.
    import pandas as pd
    from path import Path
    from sklearn.ensemble import RandomForestClassifier
    from sklearn.preprocessing import StandardScaler
    from sklearn.model_selection import train_test_split
    from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
    
    # Splitting into Train and Test sets.
    X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)
    
    # Creating a StandardScaler instance.
    scaler = StandardScaler()
    # Fitting the Standard Scaler with the training data.
    X_scaler = scaler.fit(X_train)
    
    # Scaling the data.
    X_train_scaled = X_scaler.transform(X_train)
    X_test_scaled = X_scaler.transform(X_test)
    
    # Create a random forest classifier.
    #rf_model = RandomForestClassifier(n_estimators=128, random_state=78) 
    rf_model = RandomForestClassifier(n_estimators=1024, random_state=78, max_depth=5) 
    
    # Fitting the model
    rf_model = rf_model.fit(X_train_scaled, y_train)
    
    # Making predictions using the testing data.
    predictions = rf_model.predict(X_test_scaled)
    
    print(f"Predictions: {predictions}")
    
    # Calculating the confusion matrix.
    cm = confusion_matrix(y_test, predictions)
    
    # Create a DataFrame from the confusion matrix.
    cm_df = pd.DataFrame(cm, index=["Actual 0", "Actual 1", "Actual 2", "Actual 3"], 
                         columns=["Predicted 0", "Predicted 1", "Predicted 2", "Predicted 3"])
    cm_df
    
    # Calculating the accuracy score.
    acc_score = accuracy_score(y_test, predictions)
    
    # Displaying results
    print("Confusion Matrix")
    display(cm_df)
    print(f"Accuracy Score : {acc_score}")
    print("Classification Report")
    print(classification_report(y_test, predictions))
    
    # Calculate feature importance in the Random Forest model.
    importances = rf_model.feature_importances_
    print(f"Importances: {importances}")
    
    # We can sort the features by their importance.
    print(sorted(zip(rf_model.feature_importances_, X.columns), reverse=True))

In [20]:
y = cleaned_cat_df['price_cat']
X = cleaned_cat_df.drop(columns=['price_cat', 'total_volume_prod', 'total_volume_price'], axis=1)

RFSSModel4(X, y)

Predictions: ['2' '2' '0' ... '0' '3' '0']
Confusion Matrix

          Predicted 0  Predicted 1  Predicted 2  Predicted 3
Actual 0         1001           19           40            7
Actual 1           80          625          282           14
Actual 2           26          159          677           35
Actual 3            6           20           29          690

Accuracy Score : 0.8067385444743935
Classification Report
              precision    recall  f1-score   support

           0       0.90      0.94      0.92      1067
           1       0.76      0.62      0.69      1001
           2       0.66      0.75      0.70       897
           3       0.92      0.93      0.93       745

    accuracy                           0.81      3710
   macro avg       0.81      0.81      0.81      3710
weighted avg       0.81      0.81      0.80      3710

Importances: [4.34711463e-02 3.06845316e-01 8.44897361e-02 4.04617973e-02
 5.86514652e-02 5.31632038e-02 4.41461606e-02 4.27368462e-02
 7.06002795e-02 2.44919490e-03 2.49992317e-03 3.73784482e-03
 7.34870487e-03 1.04640900e-03 6.58639168e-03 3.02035452e-03
 2.66599300e-03 1.08120920e-03 1.56544887e-03 3.50193033e-03
 5.60658719e-03 6.81606701e-03 4.15463974e-03 1.23711316e-03
 3.56032697e-03 2.62986339e-03 0.00000000e+00 2.40973905e-03
 1.23809086e-03 3.18523162e-03 4.56256728e-03 5.23330867e-04
 0.00000000e+00 0.00000000e+00 1.34451003e-03 7.74991836e-03
 9.00957996e-03 8.76864989e-03 1.08797844e-02 1.06998377e-02
 4.28485853e-03 1.99554258e-02 6.59280443e-02 1.35976102e-02
 8.22336585e-05 1.72689647e-05 2.58110191e-05 3.34919392e-05
 3.15165790e-05 1.38273134e-05 2.03513441e-05 1.57156886e-05
 5.26938377e-04 2.25528063e-05 5.13109097e-06 1.63761383e-04
 8.42770480e-06 7.73146772e-05 1.59435126e-04 5.62570485e-05
 1.32458353e-04 1.45390156e-04 2.46970880e-03 4.36816155e-04
 5.46887461e-05 9.18212097e-05 3.88906816e-05 2.78554776e-04
 3.12536788e-05 1.24038962e-04 7.20335489e-05 3.99805064e-05
 2.29071595e-05 9.84764394e-06 1.38513870e-05 1.17447595e-04
 3.56603410e-06 8.64311906e-06 9.11913493e-06 7.19946649e-06
 8.98317516e-06 2.03730109e-05 1.63672453e-06 4.53505883e-06
 6.05423046e-06 9.46734737e-06 8.58208352e-06 8.78475834e-06
 5.47562286e-06 1.32734289e-06 6.15781510e-06 3.32356432e-06
 8.65691993e-06 6.30951719e-06 1.37145572e-05 3.95993665e-06
 5.91558231e-06 6.84478963e-06 2.34086340e-06 5.14421337e-06
 4.38495294e-06 1.00697739e-05 4.85546587e-06 3.84916878e-06
 7.40658081e-07 4.24025171e-07 8.32771320e-06 5.88893755e-06
 2.12673635e-06 1.92158196e-06 6.77732415e-06 3.32027826e-05
 3.46854676e-05 1.78695084e-06 7.74352737e-06 1.44201619e-06
 5.41487548e-06 1.19853546e-06 7.10769385e-06 2.46970719e-05
 4.58570283e-06 7.33506409e-06 8.36521106e-06 2.59291242e-05
 2.05617085e-04 8.24504750e-06 1.04562519e-06 1.38840259e-06
 1.32570887e-05 6.31097107e-06 7.27880463e-06 3.69471267e-06
 8.81628725e-06 6.54078835e-06 6.96945730e-06 7.50789237e-06
 3.64383581e-06 2.04229387e-05 6.58852047e-06 3.42171786e-05
 1.13271091e-04 5.83207623e-06 1.03320262e-05 4.10840342e-05
 6.77667294e-06 2.12151685e-05 1.61412142e-05 7.65375354e-06
 3.23104134e-05 2.89211960e-05 4.39584533e-05 2.23949500e-05
 6.78424129e-05 1.62052108e-04 3.25965597e-05 3.17503015e-06
 1.18751793e-05 1.42257480e-05 1.21659122e-06 7.60725033e-06
 1.19311811e-05 7.73202884e-07 1.40138000e-05 1.68866379e-05
 3.52093974e-06 8.08456939e-06 4.27188389e-06 1.04084030e-05
 4.36004625e-06 7.41982730e-06 3.99106898e-06 2.84539421e-05
 2.70513644e-05 3.73432351e-06 9.44663190e-06 2.67007222e-05
 9.85796810e-06 3.02444799e-06 4.54935190e-06 2.31523293e-05
 4.10993465e-07 6.39852009e-06 5.24834924e-06 8.57070089e-06
 6.95458884e-06 8.29404012e-06 5.99839494e-06 4.28373489e-05
 4.20300453e-06 1.15264834e-05 3.50317563e-06 5.08726093e-06
 2.25418479e-06 3.39184305e-06 8.28131932e-06 1.98757643e-06
 1.62330415e-06 6.93646478e-06 2.26262914e-06 1.87952376e-06
 2.69552510e-06 5.29000583e-07 4.30340494e-06 1.97953576e-06
 1.59333362e-06 1.68390710e-06 1.37242484e-06 1.60761369e-06
 3.74588229e-06 1.47658101e-05 7.86651105e-06 1.50715101e-04
 1.86431037e-04 1.03127233e-03 5.97779613e-04 6.36870891e-04
 6.49598932e-04 1.26922401e-03 1.66406870e-04 3.03079701e-04
 9.01401710e-05 1.62955077e-04 4.81363806e-04 1.84541220e-05
 9.79723868e-05 4.29008533e-04 8.41428018e-05 1.50312198e-04
 2.03935564e-03 5.17542371e-04 1.82626737e-04 1.35816944e-04
 9.43158602e-05 1.28498497e-04 2.86906826e-04 1.28573215e-04
 1.11909010e-04 5.10088550e-04 1.01397786e-03 1.24789262e-03
 8.07493446e-05 1.84602253e-04 5.41368809e-04 4.50798192e-04
 3.54464229e-04 1.01818107e-04 7.06130711e-04 3.03398758e-04
 1.74860295e-04 1.54453878e-04 3.53618826e-04 5.50815215e-04
 2.50528665e-03 8.62827322e-04 2.79586029e-05 4.55951348e-04
 8.70107305e-05 4.73999117e-04 6.29762719e-04 7.42387666e-04
 7.18121069e-04 5.52096006e-04 2.98693815e-04 4.62311671e-04]
[(0.3068453159958599, 'avg_price'), (0.08448973613752718, '4046_units'), (0.0706002794822149, 'xl_bags'), (0.06592804434428057, 'avg_price_current_year'), (0.05865146524922668, '4770_units'), (0.05316320375308049, 'total_bags'), (0.0441461606137901, 's_bags'), (0.043471146301266694, 'type'), (0.04273684622050216, 'l_bags'), (0.040461797296610785, '4225_units'), (0.019955425818620722, 'avg_price_prior_year'), (0.013597610233036322, 'avg_price_variance'), (0.010879784393980265, 'dollars_prior_year'), (0.010699837657427703, 'dollars_current_year'), (0.009009579962434613, 'units_current_year'), (0.008768649888313034, 'unit_variance'), (0.007749918355655375, 'units_prior_year'), (0.007348704866752186, 'phdi'), (0.006816067011808531, 'sp09'), (0.0065863916845623, 'pmdi'), (0.005606587189604992, 'sp06'), (0.004562567280918661, 'peru'), (0.004284858534521244, 'dollar_variance'), (0.00415463974438187, 'sp12'), (0.003737844822011544, 'pdsi'), (0.003560326972086123, 'tmin'), (0.0035019303299153723, 'sp03'), (0.003185231622322992, 'mexico'), (0.0030203545169322473, 'cdd'), (0.0026659930028410444, 'hdd'), (0.002629863391424415, 'tmax'), (0.002505286646319791, 'geography_San Francisco'), (0.002499923169456556, 'tavg'), (0.002469708799130774, 'year_month_2019-07-01 00:00:00'), (0.00244919489748504, 'pcp'), (0.0024097390485365504, 'california'), (0.0020393556352975278, 'geography_Hartford/Springfield'), (0.0015654488745896348, 'sp02'), (0.0013445100290035577, 'period'), (0.0012692240138998821, 'geography_California'), (0.0012478926227601989, 'geography_Northeast'), (0.0012380908606959274, 'chile'), (0.0012371131643814193, 'sp24'), (0.0010812092041004029, 'sp01'), (0.0010464089980009698, 'zndx'), (0.001031272328414144, 'geography_Baltimore/Washington'), (0.0010139778626641397, 'geography_New York'), (0.000862827322127359, 'geography_Seattle'), (0.000742387665590231, 'geography_Syracuse'), (0.0007181210694066542, 'geography_Tampa'), (0.0007061307114479667, 'geography_Portland'), (0.000649598931977264, 'geography_Buffalo/Rochester'), (0.0006368708910155679, 'geography_Boston'), (0.0006297627192273325, 'geography_St. Louis'), (0.0005977796133222473, 'geography_Boise'), (0.0005520960059631856, 'geography_Total U.S.'), (0.0005508152150749845, 'geography_San Diego'), (0.0005413688087528599, 'geography_Philadelphia'), (0.0005269383771097219, 'year_month_2018-09-01 00:00:00'), (0.0005233308670229897, 'columbia'), (0.0005175423706689302, 'geography_Houston'), (0.0005100885504013627, 'geography_New Orleans/Mobile'), (0.00048136380557017313, 'geography_Dallas/Ft. Worth'), (0.00047399911667899016, 'geography_Spokane'), (0.0004623116707811255, 'geography_West Tex/New Mexico'), (0.0004559513476876374, 'geography_South Central'), (0.0004507981924249417, 'geography_Phoenix/Tucson'), (0.00043681615457590776, 'year_month_2019-08-01 00:00:00'), (0.00042900853263567486, 'geography_Grand Rapids'), (0.0003544642293317687, 'geography_Pittsburgh'), (0.0003536188262444216, 'geography_Sacramento'), (0.0003033987581000319, 'geography_Raleigh/Greensboro'), (0.000303079701225909, 'geography_Chicago'), (0.0002986938145261179, 'geography_West'), (0.00028690682630848195, 'geography_Louisville'), (0.000278554775944187, 'year_month_2019-12-01 00:00:00'), (0.0002056170846448969, 'date_2018-12-02 00:00:00'), (0.00018643103657648254, 'geography_Atlanta'), (0.00018460225286150403, 'geography_Orlando'), (0.000182626737127399, 'geography_Indianapolis'), (0.0001748602945703527, 'geography_Richmond/Norfolk'), (0.0001664068695368872, 'geography_Charlotte'), (0.00016376138306311625, 'year_month_2018-12-01 00:00:00'), (0.0001629550768711587, 'geography_Columbus'), (0.00016205210771892803, 'date_2019-07-28 00:00:00'), (0.000159435125915212, 'year_month_2019-03-01 00:00:00'), (0.00015445387786157654, 'geography_Roanoke'), (0.0001507151012141362, 'geography_Albany'), (0.00015031219818628397, 'geography_Harrisburg/Scranton'), (0.00014539015617316578, 'year_month_2019-06-01 00:00:00'), (0.00013581694358291612, 'geography_Jacksonville'), (0.00013245835314119897, 'year_month_2019-05-01 00:00:00'), (0.0001285732151973468, 'geography_Midsouth'), (0.0001284984967703596, 'geography_Los Angeles'), (0.00012403896214597664, 'year_month_2020-02-01 00:00:00'), (0.00011744759506827794, 'year_month_2020-08-01 00:00:00'), (0.00011327109076818411, 'date_2019-04-28 00:00:00'), (0.00011190901016425223, 'geography_Nashville'), (0.00010181810650515912, 'geography_Plains'), (9.797238683213993e-05, 'geography_Detroit'), (9.431586017621629e-05, 'geography_Las Vegas'), (9.182120970572223e-05, 'year_month_2019-10-01 00:00:00'), (9.014017104180594e-05, 'geography_Cincinnati/Dayton'), (8.701073048944839e-05, 'geography_Southeast'), (8.414280179939059e-05, 'geography_Great Lakes'), (8.223365849009799e-05, 'year_month_2018-01-01 00:00:00'), (8.074934456180241e-05, 'geography_Northern New England'), (7.731467715058143e-05, 'year_month_2019-02-01 00:00:00'), (7.20335489030172e-05, 'year_month_2020-03-01 00:00:00'), (6.784241294470221e-05, 'date_2019-07-21 00:00:00'), (5.62570484813499e-05, 'year_month_2019-04-01 00:00:00'), (5.468874608167847e-05, 'year_month_2019-09-01 00:00:00'), (4.395845329700434e-05, 'date_2019-07-07 00:00:00'), (4.283734894590059e-05, 'date_2020-03-29 00:00:00'), (4.108403417072316e-05, 'date_2019-05-19 00:00:00'), (3.998050636947356e-05, 'year_month_2020-04-01 00:00:00'), (3.8890681565059106e-05, 'year_month_2019-11-01 00:00:00'), (3.468546758891796e-05, 'date_2018-09-09 00:00:00'), (3.421717864075729e-05, 'date_2019-04-21 00:00:00'), (3.3491939150468116e-05, 'year_month_2018-04-01 00:00:00'), (3.320278263898893e-05, 'date_2018-09-02 00:00:00'), (3.2596559706156176e-05, 'date_2019-08-04 00:00:00'), (3.2310413356572014e-05, 'date_2019-06-23 00:00:00'), (3.1516578978040364e-05, 'year_month_2018-05-01 00:00:00'), (3.1253678837183006e-05, 'year_month_2020-01-01 00:00:00'), (2.8921195968704337e-05, 'date_2019-06-30 00:00:00'), (2.8453942101301336e-05, 'date_2019-12-01 00:00:00'), (2.795860291014316e-05, 'geography_South Carolina'), (2.705136436207438e-05, 'date_2019-12-08 00:00:00'), (2.6700722201162956e-05, 'date_2019-12-29 00:00:00'), (2.5929124161973958e-05, 'date_2018-11-25 00:00:00'), (2.5811019064723183e-05, 'year_month_2018-03-01 00:00:00'), (2.469707191678443e-05, 'date_2018-10-28 00:00:00'), (2.315232928507039e-05, 'date_2020-02-02 00:00:00'), (2.2907159480888374e-05, 'year_month_2020-05-01 00:00:00'), (2.2552806313651196e-05, 'year_month_2018-10-01 00:00:00'), (2.239495001427243e-05, 'date_2019-07-14 00:00:00'), (2.1215168525996105e-05, 'date_2019-06-02 00:00:00'), (2.0422938689119658e-05, 'date_2019-04-07 00:00:00'), (2.03730108938006e-05, 'date_2018-02-04 00:00:00'), (2.0351344145440825e-05, 'year_month_2018-07-01 00:00:00'), (1.8454121979569105e-05, 'geography_Denver'), (1.726896471631651e-05, 'year_month_2018-02-01 00:00:00'), (1.6886637912526277e-05, 'date_2019-10-06 00:00:00'), (1.6141214238189956e-05, 'date_2019-06-09 00:00:00'), (1.5715688629495604e-05, 'year_month_2018-08-01 00:00:00'), (1.4765810055938214e-05, 'date_2020-08-30 00:00:00'), (1.4225747994689889e-05, 'date_2019-08-25 00:00:00'), (1.401380000898925e-05, 'date_2019-09-29 00:00:00'), (1.38513870483921e-05, 'year_month_2020-07-01 00:00:00'), (1.3827313403893457e-05, 'year_month_2018-06-01 00:00:00'), (1.3714557190016973e-05, 'date_2018-05-06 00:00:00'), (1.325708873374113e-05, 'date_2019-02-03 00:00:00'), (1.193118110138778e-05, 'date_2019-09-15 00:00:00'), (1.1875179272938624e-05, 'date_2019-08-18 00:00:00'), (1.152648342096468e-05, 'date_2020-04-12 00:00:00'), (1.0408402992704952e-05, 'date_2019-11-03 00:00:00'), (1.0332026168292653e-05, 'date_2019-05-12 00:00:00'), (1.0069773859798724e-05, 'date_2018-06-24 00:00:00'), (9.857968097783318e-06, 'date_2020-01-12 00:00:00'), (9.847643937423023e-06, 'year_month_2020-06-01 00:00:00'), (9.467347369432365e-06, 'date_2018-03-04 00:00:00'), (9.446631903230875e-06, 'date_2019-12-22 00:00:00'), (9.119134929651035e-06, 'date_2018-01-14 00:00:00'), (8.98317515658841e-06, 'date_2018-01-28 00:00:00'), (8.816287245964143e-06, 'date_2019-03-03 00:00:00'), (8.784758342410363e-06, 'date_2018-03-18 00:00:00'), (8.656919926002634e-06, 'date_2018-04-22 00:00:00'), (8.643119057068745e-06, 'date_2018-01-07 00:00:00'), (8.582083523441249e-06, 'date_2018-03-11 00:00:00'), (8.570700893933843e-06, 'date_2020-03-01 00:00:00'), (8.427704804281012e-06, 'year_month_2019-01-01 00:00:00'), (8.365211063263824e-06, 'date_2018-11-18 00:00:00'), (8.327713203011485e-06, 'date_2018-07-29 00:00:00'), (8.294040116099328e-06, 'date_2020-03-15 00:00:00'), (8.281319320183392e-06, 'date_2020-05-17 00:00:00'), (8.245047500327917e-06, 'date_2019-01-13 00:00:00'), (8.084569391376737e-06, 'date_2019-10-20 00:00:00'), (7.86651104678245e-06, 'date_2020-09-06 00:00:00'), (7.743527373489187e-06, 'date_2018-09-23 00:00:00'), (7.653753537090945e-06, 'date_2019-06-16 00:00:00'), (7.607250330209014e-06, 'date_2019-09-08 00:00:00'), (7.507892368173555e-06, 'date_2019-03-24 00:00:00'), (7.419827298593373e-06, 'date_2019-11-17 00:00:00'), (7.335064086026306e-06, 'date_2018-11-11 00:00:00'), (7.278804629311136e-06, 'date_2019-02-17 00:00:00'), (7.199466490370383e-06, 'date_2018-01-21 00:00:00'), (7.107693851921452e-06, 'date_2018-10-21 00:00:00'), (6.9694573030625065e-06, 'date_2019-03-17 00:00:00'), (6.954588840078029e-06, 'date_2020-03-08 00:00:00'), (6.9364647846081575e-06, 'date_2020-06-07 00:00:00'), (6.844789630084388e-06, 'date_2018-05-27 00:00:00'), (6.777324151019579e-06, 'date_2018-08-26 00:00:00'), (6.776672937208047e-06, 'date_2019-05-26 00:00:00'), (6.5885204685549834e-06, 'date_2019-04-14 00:00:00'), (6.540788352807641e-06, 'date_2019-03-10 00:00:00'), (6.3985200901281955e-06, 'date_2020-02-16 00:00:00'), (6.3109710684357255e-06, 'date_2019-02-10 00:00:00'), (6.3095171904576835e-06, 'date_2018-04-29 00:00:00'), (6.157815100264757e-06, 'date_2018-04-08 00:00:00'), (6.054230456073108e-06, 'date_2018-02-25 00:00:00'), (5.99839494032002e-06, 'date_2020-03-22 00:00:00'), (5.915582308833465e-06, 'date_2018-05-20 00:00:00'), (5.88893754512238e-06, 'date_2018-08-05 00:00:00'), (5.832076233519293e-06, 'date_2019-05-05 00:00:00'), (5.475622855036545e-06, 'date_2018-03-25 00:00:00'), (5.414875478676107e-06, 'date_2018-10-07 00:00:00'), (5.248349241119343e-06, 'date_2020-02-23 00:00:00'), (5.144213374561707e-06, 'date_2018-06-10 00:00:00'), (5.131090969425794e-06, 'year_month_2018-11-01 00:00:00'), (5.0872609263901e-06, 'date_2020-04-26 00:00:00'), (4.855465866617596e-06, 'date_2018-07-01 00:00:00'), (4.585702833540024e-06, 'date_2018-11-04 00:00:00'), (4.5493519008590104e-06, 'date_2020-01-26 00:00:00'), (4.5350588273521716e-06, 'date_2018-02-18 00:00:00'), (4.384952944727515e-06, 'date_2018-06-17 00:00:00'), (4.360046251321205e-06, 'date_2019-11-10 00:00:00'), (4.30340493623868e-06, 'date_2020-07-12 00:00:00'), (4.271883890327535e-06, 'date_2019-10-27 00:00:00'), (4.203004529335053e-06, 'date_2020-04-05 00:00:00'), (3.991068979063674e-06, 'date_2019-11-24 00:00:00'), (3.959936653985535e-06, 'date_2018-05-13 00:00:00'), (3.849168780176135e-06, 'date_2018-07-08 00:00:00'), (3.745882290957341e-06, 'date_2020-08-23 00:00:00'), (3.734323509654513e-06, 'date_2019-12-15 00:00:00'), (3.6947126678889004e-06, 'date_2019-02-24 00:00:00'), (3.6438358051982984e-06, 'date_2019-03-31 00:00:00'), (3.5660341048406568e-06, 'year_month_2020-09-01 00:00:00'), (3.52093974114345e-06, 'date_2019-10-13 00:00:00'), (3.5031756264358417e-06, 'date_2020-04-19 00:00:00'), (3.391843049956843e-06, 'date_2020-05-10 00:00:00'), (3.323564316316009e-06, 'date_2018-04-15 00:00:00'), (3.1750301541536226e-06, 'date_2019-08-11 00:00:00'), (3.0244479867443103e-06, 'date_2020-01-19 00:00:00'), (2.695525102713488e-06, 'date_2020-06-28 00:00:00'), (2.3408633993707012e-06, 'date_2018-06-03 00:00:00'), (2.26262913929365e-06, 'date_2020-06-14 00:00:00'), (2.2541847906425055e-06, 'date_2020-05-03 00:00:00'), (2.1267363532335634e-06, 'date_2018-08-12 00:00:00'), (1.987576434205272e-06, 'date_2020-05-24 00:00:00'), (1.979535761153305e-06, 'date_2020-07-19 00:00:00'), (1.921581956242472e-06, 'date_2018-08-19 00:00:00'), (1.8795237614915466e-06, 'date_2020-06-21 00:00:00'), (1.78695084088957e-06, 'date_2018-09-16 00:00:00'), (1.68390709561357e-06, 'date_2020-08-02 00:00:00'), (1.6367245324301242e-06, 'date_2018-02-11 00:00:00'), (1.6233041489328367e-06, 'date_2020-05-31 00:00:00'), (1.6076136921954662e-06, 'date_2020-08-16 00:00:00'), (1.593333623199831e-06, 'date_2020-07-26 00:00:00'), (1.4420161910908209e-06, 'date_2018-09-30 00:00:00'), (1.3884025853880096e-06, 'date_2019-01-27 00:00:00'), (1.372424844946619e-06, 'date_2020-08-09 00:00:00'), (1.3273428861575656e-06, 'date_2018-04-01 00:00:00'), (1.216591224957397e-06, 'date_2019-09-01 00:00:00'), (1.1985354576589489e-06, 'date_2018-10-14 00:00:00'), (1.0456251861934095e-06, 'date_2019-01-20 00:00:00'), (7.732028838385766e-07, 'date_2019-09-22 00:00:00'), (7.406580810239559e-07, 'date_2018-07-15 00:00:00'), (5.290005831857011e-07, 'date_2020-07-05 00:00:00'), (4.240251710248042e-07, 'date_2018-07-22 00:00:00'), (4.1099346450612047e-07, 'date_2020-02-09 00:00:00'), (0.0, 'variety'), (0.0, 'status'), (0.0, 'segment')]

In [21]:
y = cleaned_cat_df['price_cat']
X = cleaned_cat_df.drop(columns=['price_cat', 'avg_price', 'total_volume_prod', 'total_volume_price'], axis=1)

RFSSModel4(X, y)

Predictions: ['2' '2' '0' ... '0' '2' '0']
Confusion Matrix

          Predicted 0  Predicted 1  Predicted 2  Predicted 3
Actual 0          928           65           57           17
Actual 1          378          278          289           56
Actual 2          101          155          517          124
Actual 3           24           23          211          487

Accuracy Score : 0.5956873315363881
Classification Report
              precision    recall  f1-score   support

           0       0.65      0.87      0.74      1067
           1       0.53      0.28      0.37      1001
           2       0.48      0.58      0.52       897
           3       0.71      0.65      0.68       745

    accuracy                           0.60      3710
   macro avg       0.59      0.59      0.58      3710
weighted avg       0.59      0.60      0.58      3710

Importances: [6.41890366e-02 1.17258843e-01 6.09845683e-02 7.56180118e-02
 8.23880879e-02 6.63469397e-02 5.56227051e-02 9.61007424e-02
 3.67415471e-03 4.28807266e-03 5.61973394e-03 9.66249568e-03
 1.60086213e-03 9.02470360e-03 4.64808201e-03 4.24992657e-03
 1.38396178e-03 2.40047311e-03 4.88906739e-03 7.80325480e-03
 9.98349282e-03 6.87810228e-03 2.91613536e-03 5.29915871e-03
 4.29831331e-03 0.00000000e+00 3.53572514e-03 1.85534350e-03
 3.56753231e-03 6.05879257e-03 7.27392236e-04 0.00000000e+00
 0.00000000e+00 2.37317844e-03 1.09540249e-02 1.22456254e-02
 1.30145078e-02 1.64592409e-02 1.62996585e-02 6.87270287e-03
 2.66162444e-02 1.03470765e-01 2.16311880e-02 1.00916220e-04
 4.32495249e-05 2.45893671e-05 6.86978632e-05 5.01879544e-05
 3.14431821e-05 2.87133288e-05 7.21642401e-06 6.81543256e-04
 3.09978947e-05 2.31024515e-05 2.51164364e-04 1.38302408e-05
 1.04727299e-04 1.99581565e-04 1.37979050e-04 1.97162579e-04
 3.24412965e-04 3.13087583e-03 4.87606032e-04 7.62504909e-05
 1.25788756e-04 5.98602086e-05 5.62244437e-04 1.11333452e-04
 2.22718259e-04 6.06330021e-05 5.81172193e-05 1.88526472e-05
 2.30834256e-05 5.30112893e-05 1.34358468e-04 2.45421689e-05
 1.55128980e-05 2.75547563e-05 7.01380539e-06 2.62703542e-05
 6.24741620e-05 6.73333374e-06 2.13702840e-05 1.37035072e-06
 2.55578306e-05 9.42476934e-06 5.24692403e-06 1.43280274e-05
 4.26026573e-06 7.63728899e-06 8.96898218e-07 9.21577998e-06
 2.59225652e-05 2.95356624e-05 6.41019590e-06 6.41039428e-06
 5.36608743e-06 1.58746623e-06 2.65747305e-06 6.64329516e-06
 1.22240475e-05 6.48426280e-06 0.00000000e+00 9.87098271e-06
 1.37738673e-05 5.93424781e-06 4.03916688e-06 8.08026576e-06
 3.48692159e-06 2.60371957e-05 1.25833736e-05 4.14429645e-05
 9.17646814e-06 6.94928215e-06 1.15871004e-05 2.25643434e-06
 0.00000000e+00 1.23681110e-05 2.21265848e-05 2.99431201e-05
 1.87789534e-05 9.39752218e-06 4.27005342e-05 2.12724739e-04
 5.48452311e-06 1.08143925e-05 9.14979025e-06 2.99540668e-06
 1.35047491e-05 5.96188594e-06 8.15071453e-06 1.01956665e-05
 5.03821668e-07 1.48758984e-05 1.41410403e-05 1.14744395e-05
 5.38094306e-05 1.54056351e-05 3.26162165e-05 2.83621181e-04
 2.12324468e-05 1.69916295e-05 9.47950228e-06 1.14745186e-05
 7.65293491e-05 4.68855238e-05 1.91398365e-05 3.12653218e-05
 3.66654666e-05 7.97425460e-05 4.86073679e-05 9.61891947e-05
 1.42697381e-04 5.30101593e-05 4.38555791e-06 2.37284827e-05
 1.97322105e-05 1.03957401e-05 1.37129935e-05 1.01126693e-05
 3.62392503e-06 5.78558542e-06 1.85665037e-05 1.35332276e-05
 2.35040254e-05 1.95159742e-05 7.71227171e-06 1.44417174e-05
 4.74724254e-06 7.10593034e-06 2.18755211e-05 4.59797729e-05
 1.62639176e-05 1.97155260e-05 4.79052412e-05 3.04816944e-06
 9.97726574e-06 7.09838429e-06 1.34032716e-05 4.27594414e-05
 4.78955103e-06 3.43399759e-05 9.10310894e-06 6.83840004e-06
 2.27084195e-05 1.93388459e-05 7.12346936e-05 4.50126305e-06
 6.00573425e-06 2.30819524e-06 1.86958633e-05 9.70855801e-06
 2.85158199e-06 3.20302305e-06 6.61546757e-06 2.46253885e-06
 6.06321759e-06 2.84295927e-06 0.00000000e+00 4.15194854e-06
 2.43629161e-06 7.67085595e-06 1.11127758e-05 3.85501328e-06
 9.15803641e-06 2.35260153e-06 3.63642465e-06 3.70445962e-06
 1.17336312e-05 9.12433816e-06 2.12325276e-04 2.05290529e-04
 1.99848558e-03 1.22595075e-03 8.26059838e-04 1.01768395e-03
 1.91317210e-03 3.03798912e-04 5.17974886e-04 1.25963787e-04
 3.55131523e-04 8.30651450e-04 5.10917363e-05 1.48581089e-04
 6.24995649e-04 1.31881026e-04 2.38094661e-04 2.44722703e-03
 8.20829174e-04 4.22770014e-04 1.86248776e-04 7.87922786e-05
 2.85037138e-04 2.80442746e-04 1.35402160e-04 2.02219220e-04
 8.66649523e-04 1.54651073e-03 1.80688449e-03 9.67628290e-05
 3.17895730e-04 9.51007494e-04 5.86168179e-04 5.21907693e-04
 9.89354900e-05 1.02191156e-03 6.36372436e-04 2.90197341e-04
 1.39104641e-04 4.89574378e-04 6.17754141e-04 3.67458816e-03
 1.70893255e-03 4.67026424e-05 5.86514679e-04 1.54029263e-04
 7.31478782e-04 8.73087053e-04 1.11203486e-03 8.63112853e-04
 6.59163007e-04 2.49337912e-04 7.22481122e-04]
[(0.11725884279474838, '4046_units'), (0.10347076526220286, 'avg_price_current_year'), (0.0961007424391834, 'xl_bags'), (0.08238808787425882, 'total_bags'), (0.07561801179274995, '4770_units'), (0.06634693970316774, 's_bags'), (0.06418903657067404, 'type'), (0.06098456826453166, '4225_units'), (0.055622705083901054, 'l_bags'), (0.026616244405462314, 'avg_price_prior_year'), (0.021631187994032148, 'avg_price_variance'), (0.01645924090407228, 'dollars_prior_year'), (0.016299658549919552, 'dollars_current_year'), (0.013014507757413982, 'unit_variance'), (0.012245625372223649, 'units_current_year'), (0.010954024857806872, 'units_prior_year'), (0.009983492823752375, 'sp09'), (0.009662495676202901, 'phdi'), (0.009024703603823785, 'pmdi'), (0.0078032548046440015, 'sp06'), (0.006878102284725403, 'sp12'), (0.0068727028672176714, 'dollar_variance'), (0.006058792573813843, 'peru'), (0.005619733939687415, 'pdsi'), (0.005299158705034932, 'tmin'), (0.004889067390267032, 'sp03'), (0.004648082009967609, 'cdd'), (0.004298313307922925, 'tmax'), (0.0042880726632814874, 'tavg'), (0.004249926574408107, 'hdd'), (0.00367458816133062, 'geography_San Francisco'), (0.0036741547081909007, 'pcp'), (0.0035675323113915705, 'mexico'), (0.003535725142380898, 'california'), (0.003130875832575502, 'year_month_2019-07-01 00:00:00'), (0.0029161353649756077, 'sp24'), (0.0024472270306444494, 'geography_Hartford/Springfield'), (0.002400473113906382, 'sp02'), (0.0023731784367245334, 'period'), (0.0019984855778861603, 'geography_Baltimore/Washington'), (0.001913172096933805, 'geography_California'), (0.0018553434999562968, 'chile'), (0.0018068844918100197, 'geography_Northeast'), (0.0017089325454683717, 'geography_Seattle'), (0.0016008621283094178, 'zndx'), (0.001546510733228845, 'geography_New York'), (0.0013839617846737701, 'sp01'), (0.0012259507497339333, 'geography_Boise'), (0.001112034858685694, 'geography_Syracuse'), (0.0010219115579576654, 'geography_Portland'), (0.0010176839514215476, 'geography_Buffalo/Rochester'), (0.000951007494493177, 'geography_Philadelphia'), (0.0008730870527574034, 'geography_St. Louis'), (0.0008666495226769422, 'geography_New Orleans/Mobile'), (0.0008631128533015801, 'geography_Tampa'), (0.0008306514503498566, 'geography_Dallas/Ft. Worth'), (0.0008260598381132061, 'geography_Boston'), (0.0008208291741323437, 'geography_Houston'), (0.0007314787816459457, 'geography_Spokane'), (0.0007273922356287649, 'columbia'), (0.0007224811221402971, 'geography_West Tex/New Mexico'), (0.0006815432563332617, 'year_month_2018-09-01 00:00:00'), (0.0006591630069632278, 'geography_Total U.S.'), (0.000636372435599051, 'geography_Raleigh/Greensboro'), (0.0006249956488190055, 'geography_Grand Rapids'), (0.0006177541408476558, 'geography_San Diego'), (0.0005865146789743053, 'geography_South Central'), (0.0005861681788923487, 'geography_Phoenix/Tucson'), (0.0005622444370104405, 'year_month_2019-12-01 00:00:00'), (0.0005219076925017036, 'geography_Pittsburgh'), (0.0005179748864378416, 'geography_Chicago'), (0.0004895743779423961, 'geography_Sacramento'), (0.00048760603219080674, 'year_month_2019-08-01 00:00:00'), (0.00042277001359326464, 'geography_Indianapolis'), (0.00035513152344932307, 'geography_Columbus'), (0.0003244129647994726, 'year_month_2019-06-01 00:00:00'), (0.00031789572988503745, 'geography_Orlando'), (0.00030379891226395235, 'geography_Charlotte'), (0.00029019734139517153, 'geography_Richmond/Norfolk'), (0.00028503713812904295, 'geography_Los Angeles'), (0.0002836211807734995, 'date_2019-04-28 00:00:00'), (0.0002804427461811819, 'geography_Louisville'), (0.0002511643642661362, 'year_month_2018-12-01 00:00:00'), (0.00024933791211804334, 'geography_West'), (0.0002380946614085447, 'geography_Harrisburg/Scranton'), (0.0002227182591990615, 'year_month_2020-02-01 00:00:00'), (0.00021272473877314963, 'date_2018-12-02 00:00:00'), (0.0002123252760837161, 'geography_Albany'), (0.00020529052867495056, 'geography_Atlanta'), (0.00020221922005705443, 'geography_Nashville'), (0.000199581564701999, 'year_month_2019-03-01 00:00:00'), (0.0001971625788223867, 'year_month_2019-05-01 00:00:00'), (0.0001862487761953057, 'geography_Jacksonville'), (0.000154029262631182, 'geography_Southeast'), (0.0001485810892901114, 'geography_Detroit'), (0.00014269738118019543, 'date_2019-07-28 00:00:00'), (0.00013910464091752774, 'geography_Roanoke'), (0.00013797904951143576, 'year_month_2019-04-01 00:00:00'), (0.00013540216032315044, 'geography_Midsouth'), (0.000134358468267798, 'year_month_2020-08-01 00:00:00'), (0.00013188102569376087, 'geography_Great Lakes'), (0.00012596378683965565, 'geography_Cincinnati/Dayton'), (0.0001257887556584165, 'year_month_2019-10-01 00:00:00'), (0.0001113334518663475, 'year_month_2020-01-01 00:00:00'), (0.00010472729881827362, 'year_month_2019-02-01 00:00:00'), (0.00010091622046560006, 'year_month_2018-01-01 00:00:00'), (9.893549000224775e-05, 'geography_Plains'), (9.676282903203495e-05, 'geography_Northern New England'), (9.61891947108072e-05, 'date_2019-07-21 00:00:00'), (7.974254603091273e-05, 'date_2019-07-07 00:00:00'), (7.879227857283573e-05, 'geography_Las Vegas'), (7.652934907918654e-05, 'date_2019-06-02 00:00:00'), (7.625049085238062e-05, 'year_month_2019-09-01 00:00:00'), (7.12346936074857e-05, 'date_2020-03-29 00:00:00'), (6.869786322726834e-05, 'year_month_2018-04-01 00:00:00'), (6.247416199379372e-05, 'date_2018-02-04 00:00:00'), (6.063300210922626e-05, 'year_month_2020-03-01 00:00:00'), (5.986020858995377e-05, 'year_month_2019-11-01 00:00:00'), (5.8117219339112925e-05, 'year_month_2020-04-01 00:00:00'), (5.38094306459244e-05, 'date_2019-04-07 00:00:00'), (5.301128929915793e-05, 'year_month_2020-07-01 00:00:00'), (5.301015925176969e-05, 'date_2019-08-04 00:00:00'), (5.109173629508803e-05, 'geography_Denver'), (5.018795436244699e-05, 'year_month_2018-05-01 00:00:00'), (4.860736786925974e-05, 'date_2019-07-14 00:00:00'), (4.790524124132237e-05, 'date_2019-12-29 00:00:00'), (4.688552381923046e-05, 'date_2019-06-09 00:00:00'), (4.670264240294031e-05, 'geography_South Carolina'), (4.5979772928554556e-05, 'date_2019-12-08 00:00:00'), (4.3249524897029527e-05, 'year_month_2018-02-01 00:00:00'), (4.275944141261155e-05, 'date_2020-02-09 00:00:00'), (4.270053418948643e-05, 'date_2018-11-25 00:00:00'), (4.144296452508132e-05, 'date_2018-09-09 00:00:00'), (3.666546658249474e-05, 'date_2019-06-30 00:00:00'), (3.4339975935154154e-05, 'date_2020-02-23 00:00:00'), (3.261621654970046e-05, 'date_2019-04-21 00:00:00'), (3.1443182051500445e-05, 'year_month_2018-06-01 00:00:00'), (3.1265321846883996e-05, 'date_2019-06-23 00:00:00'), (3.0997894709921576e-05, 'year_month_2018-10-01 00:00:00'), (2.9943120110481685e-05, 'date_2018-11-04 00:00:00'), (2.9535662404986285e-05, 'date_2018-05-06 00:00:00'), (2.8713328760606217e-05, 'year_month_2018-07-01 00:00:00'), (2.7554756331502643e-05, 'date_2018-01-14 00:00:00'), (2.627035422503961e-05, 'date_2018-01-28 00:00:00'), (2.6037195748729314e-05, 'date_2018-08-26 00:00:00'), (2.5922565211547606e-05, 'date_2018-04-29 00:00:00'), (2.5557830577502137e-05, 'date_2018-03-04 00:00:00'), (2.4589367114042688e-05, 'year_month_2018-03-01 00:00:00'), (2.4542168923184834e-05, 'year_month_2020-09-01 00:00:00'), (2.372848266572238e-05, 'date_2019-08-18 00:00:00'), (2.3504025353412204e-05, 'date_2019-10-20 00:00:00'), (2.310245152858792e-05, 'year_month_2018-11-01 00:00:00'), (2.3083425638808676e-05, 'year_month_2020-06-01 00:00:00'), (2.2708419526078617e-05, 'date_2020-03-15 00:00:00'), (2.2126584824192303e-05, 'date_2018-10-28 00:00:00'), (2.187552108139286e-05, 'date_2019-12-01 00:00:00'), (2.1370284020798505e-05, 'date_2018-02-18 00:00:00'), (2.1232446787450033e-05, 'date_2019-05-05 00:00:00'), (1.973221048378845e-05, 'date_2019-08-25 00:00:00'), (1.971552598850305e-05, 'date_2019-12-22 00:00:00'), (1.9515974153737906e-05, 'date_2019-10-27 00:00:00'), (1.933884585178729e-05, 'date_2020-03-22 00:00:00'), (1.913983651266387e-05, 'date_2019-06-16 00:00:00'), (1.8852647169619498e-05, 'year_month_2020-05-01 00:00:00'), (1.8778953359885206e-05, 'date_2018-11-11 00:00:00'), (1.8695863312176416e-05, 'date_2020-04-26 00:00:00'), (1.8566503676262436e-05, 'date_2019-10-06 00:00:00'), (1.6991629465304378e-05, 'date_2019-05-12 00:00:00'), (1.6263917559546152e-05, 'date_2019-12-15 00:00:00'), (1.5512897963396142e-05, 'date_2018-01-07 00:00:00'), (1.5405635059625325e-05, 'date_2019-04-14 00:00:00'), (1.4875898356027847e-05, 'date_2019-03-17 00:00:00'), (1.4441717379217287e-05, 'date_2019-11-10 00:00:00'), (1.4328027439294425e-05, 'date_2018-03-25 00:00:00'), (1.4141040313530077e-05, 'date_2019-03-24 00:00:00'), (1.3830240796968758e-05, 'year_month_2019-01-01 00:00:00'), (1.3773867332259394e-05, 'date_2018-07-22 00:00:00'), (1.3712993485564884e-05, 'date_2019-09-08 00:00:00'), (1.3533227553716185e-05, 'date_2019-10-13 00:00:00'), (1.3504749123258043e-05, 'date_2019-02-10 00:00:00'), (1.3403271619732408e-05, 'date_2020-02-02 00:00:00'), (1.2583373556518156e-05, 'date_2018-09-02 00:00:00'), (1.2368110979632994e-05, 'date_2018-10-21 00:00:00'), (1.2224047538697834e-05, 'date_2018-06-24 00:00:00'), (1.1733631230796109e-05, 'date_2020-08-30 00:00:00'), (1.1587100407586394e-05, 'date_2018-09-30 00:00:00'), (1.147451860804273e-05, 'date_2019-05-26 00:00:00'), (1.1474439491037615e-05, 'date_2019-03-31 00:00:00'), (1.1112775796640209e-05, 'date_2020-07-19 00:00:00'), (1.0814392450390456e-05, 'date_2019-01-20 00:00:00'), (1.0395740112824303e-05, 'date_2019-09-01 00:00:00'), (1.0195666487726513e-05, 'date_2019-03-03 00:00:00'), (1.0112669266058511e-05, 'date_2019-09-15 00:00:00'), (9.977265742371758e-06, 'date_2020-01-19 00:00:00'), (9.870982712287037e-06, 'date_2018-07-15 00:00:00'), (9.708558008613499e-06, 'date_2020-05-03 00:00:00'), (9.479502279227425e-06, 'date_2019-05-19 00:00:00'), (9.42476933600152e-06, 'date_2018-03-11 00:00:00'), (9.397522183485938e-06, 'date_2018-11-18 00:00:00'), (9.215779978292829e-06, 'date_2018-04-22 00:00:00'), (9.176468139350276e-06, 'date_2018-09-16 00:00:00'), (9.158036413309628e-06, 'date_2020-08-02 00:00:00'), (9.149790250924311e-06, 'date_2019-01-27 00:00:00'), (9.124338160581193e-06, 'date_2020-09-06 00:00:00'), (9.103108941176923e-06, 'date_2020-03-01 00:00:00'), (8.150714528363279e-06, 'date_2019-02-24 00:00:00'), (8.080265761144876e-06, 'date_2018-08-12 00:00:00'), (7.712271706809516e-06, 'date_2019-11-03 00:00:00'), (7.670855948784071e-06, 'date_2020-07-12 00:00:00'), (7.63728899273675e-06, 'date_2018-04-08 00:00:00'), (7.216424010225667e-06, 'year_month_2018-08-01 00:00:00'), (7.1059303385556305e-06, 'date_2019-11-24 00:00:00'), (7.0983842879793776e-06, 'date_2020-01-26 00:00:00'), (7.013805385312231e-06, 'date_2018-01-21 00:00:00'), (6.949282147929748e-06, 'date_2018-09-23 00:00:00'), (6.838400043493048e-06, 'date_2020-03-08 00:00:00'), (6.73333373751877e-06, 'date_2018-02-11 00:00:00'), (6.643295164685132e-06, 'date_2018-06-17 00:00:00'), (6.615467574123181e-06, 'date_2020-05-24 00:00:00'), (6.48426279550306e-06, 'date_2018-07-01 00:00:00'), (6.410394282391724e-06, 'date_2018-05-20 00:00:00'), (6.410195904869242e-06, 'date_2018-05-13 00:00:00'), (6.063217586966052e-06, 'date_2020-06-07 00:00:00'), (6.005734248575114e-06, 'date_2020-04-12 00:00:00'), (5.961885936279414e-06, 'date_2019-02-17 00:00:00'), (5.934247806673137e-06, 'date_2018-07-29 00:00:00'), (5.785585418533095e-06, 'date_2019-09-29 00:00:00'), (5.4845231072807065e-06, 'date_2019-01-13 00:00:00'), (5.366087431487341e-06, 'date_2018-05-27 00:00:00'), (5.246924025626454e-06, 'date_2018-03-18 00:00:00'), (4.7895510308096545e-06, 'date_2020-02-16 00:00:00'), (4.747242536156754e-06, 'date_2019-11-17 00:00:00'), (4.5012630529876775e-06, 'date_2020-04-05 00:00:00'), (4.385557908616365e-06, 'date_2019-08-11 00:00:00'), (4.260265730702691e-06, 'date_2018-04-01 00:00:00'), (4.151948537484887e-06, 'date_2020-06-28 00:00:00'), (4.039166875285225e-06, 'date_2018-08-05 00:00:00'), (3.855013283439927e-06, 'date_2020-07-26 00:00:00'), (3.7044596233466533e-06, 'date_2020-08-23 00:00:00'), (3.6364246482756818e-06, 'date_2020-08-16 00:00:00'), (3.623925027609457e-06, 'date_2019-09-22 00:00:00'), (3.486921589471139e-06, 'date_2018-08-19 00:00:00'), (3.2030230457420937e-06, 'date_2020-05-17 00:00:00'), (3.0481694432884093e-06, 'date_2020-01-12 00:00:00'), (2.9954066790238397e-06, 'date_2019-02-03 00:00:00'), (2.8515819898522135e-06, 'date_2020-05-10 00:00:00'), (2.842959273531131e-06, 'date_2020-06-14 00:00:00'), (2.6574730511622082e-06, 'date_2018-06-10 00:00:00'), (2.462538848727691e-06, 'date_2020-05-31 00:00:00'), (2.4362916140709514e-06, 'date_2020-07-05 00:00:00'), (2.3526015348846632e-06, 'date_2020-08-09 00:00:00'), (2.3081952364963154e-06, 'date_2020-04-19 00:00:00'), (2.256434335873105e-06, 'date_2018-10-07 00:00:00'), (1.5874662341606404e-06, 'date_2018-06-03 00:00:00'), (1.3703507175997178e-06, 'date_2018-02-25 00:00:00'), (8.968982179268757e-07, 'date_2018-04-15 00:00:00'), (5.038216678871082e-07, 'date_2019-03-10 00:00:00'), (0.0, 'variety'), (0.0, 'status'), (0.0, 'segment'), (0.0, 'date_2020-06-21 00:00:00'), (0.0, 'date_2018-10-14 00:00:00'), (0.0, 'date_2018-07-08 00:00:00')]

In [22]:
cleaned_cat_C_df = cleaned_cat_df[cleaned_cat_df['type'] == 1]
cleaned_cat_O_df = cleaned_cat_df[cleaned_cat_df['type'] == 0]

In [23]:
cleaned_cat_C_df.head()

,type,avg_price,total_volume_price,4046_units,4225_units,4770_units,total_bags,s_bags,l_bags,xl_bags,...,geography_South Central,geography_Southeast,geography_Spokane,geography_St. Louis,geography_Syracuse,geography_Tampa,geography_Total U.S.,geography_West,geography_West Tex/New Mexico,price_cat
3,1,0.71,1160242.00,655676.32,95361.47,3983.06,405221.15,278437.39,126749.95,33.81,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
6,1,1.12,407825.00,101929.83,102790.68,4632.90,198471.59,191459.41,7012.18,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
7,1,0.96,215174.35,57709.13,47906.28,420.76,109138.18,91597.49,16710.84,829.85,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
8,1,0.93,327947.50,139758.63,9321.77,78.26,178788.84,137514.46,38587.71,2686.67,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
17,1,1.23,7790367.73,1943744.90,1393097.50,198376.10,4255149.23,2094327.51,2003610.81,157210.91,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [24]:
cleaned_cat_O_df.head()

,type,avg_price,total_volume_price,4046_units,4225_units,4770_units,total_bags,s_bags,l_bags,xl_bags,...,geography_South Central,geography_Southeast,geography_Spokane,geography_St. Louis,geography_Syracuse,geography_Tampa,geography_Total U.S.,geography_West,geography_West Tex/New Mexico,price_cat
0,0,0.83,1559597.93,490963.83,191059.35,5795.86,871778.89,225725.82,640831.47,5221.60,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0,1.20,255471.62,22625.06,70184.86,2547.78,160113.92,134178.70,23965.22,1970.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,0,2.07,15809.64,2284.08,9243.37,0.00,4282.19,4263.31,18.88,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
4,0,1.41,1871904.09,105003.23,150837.39,6789.04,1609225.47,1298135.07,311012.52,77.88,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2
5,0,1.04,3419597.99,978147.40,75145.36,225266.42,2141038.81,1093146.19,651430.92,396461.70,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [25]:
y = cleaned_cat_C_df['price_cat']
X = cleaned_cat_C_df.drop(columns=['price_cat', 'total_volume_prod', 'total_volume_price'], axis=1)

RFSSModel4(X, y)

Predictions: ['0' '0' '0' ... '1' '1' '0']
Confusion Matrix

          Predicted 0  Predicted 1  Predicted 2  Predicted 3
Actual 0          581            0            0            0
Actual 1           30          333            0            0
Actual 2            0          100            7            0
Actual 3            0            8            1            0

Accuracy Score : 0.8688679245283019
Classification Report
              precision    recall  f1-score   support

           0       0.95      1.00      0.97       581
           1       0.76      0.92      0.83       363
           2       0.88      0.07      0.12       107
           3       0.00      0.00      0.00         9

    accuracy                           0.87      1060
   macro avg       0.65      0.50      0.48      1060
weighted avg       0.87      0.87      0.83      1060

Importances: [0.00000000e+00 3.29268777e-01 4.34629978e-02 1.08498994e-02
 6.28651162e-03 3.22437904e-02 2.54461165e-02 1.88657069e-02
 7.07049327e-03 3.45485607e-03 2.60467754e-03 1.09838013e-02
 9.68998968e-03 8.79039785e-03 1.15171396e-02 1.81799908e-03
 2.33180113e-03 3.98805332e-03 8.39257036e-03 8.16082428e-03
 5.63217526e-03 4.32699204e-03 3.92648367e-03 7.53893604e-03
 2.58866739e-03 2.70236114e-03 0.00000000e+00 3.89174668e-03
 8.26793468e-03 2.94187184e-03 2.49419170e-03 1.20901433e-03
 0.00000000e+00 0.00000000e+00 6.67162644e-03 1.09639841e-02
 1.10493246e-02 8.87668378e-03 1.00797333e-02 1.08316305e-02
 2.13591005e-02 6.34616950e-02 1.76565027e-01 2.14083482e-02
 2.13804389e-04 2.66096080e-04 2.34077490e-05 6.85529102e-05
 3.99049636e-04 1.19567292e-04 1.93934393e-04 4.43508298e-04
 4.51095748e-03 2.74103380e-04 3.34827055e-04 9.79297830e-04
 4.80263716e-05 2.48195519e-04 4.36117073e-05 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 2.26263005e-04
 2.64691291e-04 1.21719958e-04 1.22973995e-04 1.75441886e-03
 1.55966690e-04 1.10370719e-04 3.49170516e-04 7.41514243e-05
 1.40928165e-04 8.49182471e-04 1.19864655e-04 2.80326659e-04
 1.09952397e-04 4.12432357e-05 1.03229358e-05 7.87792140e-05
 3.15078996e-05 1.16291158e-04 6.23817081e-05 6.52519612e-05
 2.26140470e-05 7.50452388e-05 4.02716264e-04 2.76978426e-05
 2.84885410e-05 2.90143083e-05 2.09672258e-05 1.93370535e-04
 4.49951352e-05 1.48138039e-04 9.55141713e-06 4.28726337e-05
 3.06495173e-05 2.87384645e-05 4.52294768e-05 4.63947591e-05
 1.79871333e-05 6.19002221e-05 3.63383524e-04 5.62647114e-04
 6.70220592e-04 7.34271032e-05 2.08318462e-04 1.12907022e-04
 2.98033578e-05 5.28180219e-05 6.90218821e-05 2.59610648e-04
 2.06484090e-04 7.34299947e-05 6.46513449e-05 4.37180928e-04
 5.42185312e-04 4.38654493e-05 2.45672876e-05 5.49039808e-05
 8.68640112e-05 5.01255681e-05 4.71762695e-05 7.65778745e-05
 6.02196334e-05 3.54314215e-05 3.77762679e-06 2.27038964e-05
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 2.02006317e-04
 5.77895526e-05 6.91357621e-05 1.92883354e-04 2.52314742e-05
 3.19118308e-05 4.71578580e-05 2.46733538e-05 2.83824002e-05
 8.79105990e-06 5.21459398e-05 5.27130574e-05 1.86092771e-05
 6.27436212e-05 2.97317178e-05 3.50861383e-05 6.73374357e-05
 4.08087550e-05 9.17944035e-05 1.10682658e-04 4.56561444e-04
 9.64079297e-04 2.08775219e-03 4.84593871e-04 2.57013777e-03
 3.54208159e-04 4.67159236e-04 1.28168641e-03 2.58586928e-03
 1.79598346e-04 2.29883733e-04 9.05999480e-04 1.07978822e-04
 1.12058461e-04 1.88402934e-03 7.73483623e-05 2.68912505e-04
 3.68459450e-03 6.00376207e-04 6.10676400e-05 2.13058820e-04
 1.29658264e-04 1.42443116e-04 2.00044219e-03 1.90202125e-04
 3.78641483e-04 1.10543658e-04 3.49388677e-03 2.65833762e-03
 3.70215896e-04 2.08554350e-04 1.40594910e-03 6.65545440e-04
 4.56782684e-04 6.24073568e-05 1.64895338e-04 3.94367787e-04
 1.78935048e-04 7.16424191e-04 7.03747981e-04 1.47168320e-04
 4.06005760e-03 6.11164626e-03 5.72802278e-05 1.02552957e-03
 6.05237206e-05 6.85543937e-04 1.28288400e-04 4.92703898e-04
 8.89790774e-05 4.33635289e-05 2.63234439e-04 8.01827076e-04]
[(0.3292687768765819, 'avg_price'), (0.1765650273369318, 'avg_price_current_year'), (0.06346169495769927, 'avg_price_prior_year'), (0.04346299783197127, '4046_units'), (0.032243790434042664, 'total_bags'), (0.025446116538735703, 's_bags'), (0.021408348193188625, 'avg_price_variance'), (0.02135910047810334, 'dollar_variance'), (0.018865706927315, 'l_bags'), (0.011517139623222226, 'pmdi'), (0.011049324644983415, 'units_current_year'), (0.010983801282258718, 'pdsi'), (0.010963984052867103, 'units_prior_year'), (0.01084989938208263, '4225_units'), (0.010831630452615246, 'dollars_current_year'), (0.010079733287688426, 'dollars_prior_year'), (0.009689989683971431, 'phdi'), (0.0088766837836956, 'unit_variance'), (0.008790397853232351, 'zndx'), (0.008392570359005138, 'sp02'), (0.008267934680349266, 'chile'), (0.008160824278692658, 'sp03'), (0.00753893603562118, 'sp24'), (0.00707049327237842, 'xl_bags'), (0.006671626440239294, 'period'), (0.006286511617026257, '4770_units'), (0.0061116462601302655, 'geography_Seattle'), (0.005632175257180639, 'sp06'), (0.004510957481727696, 'year_month_2018-09-01 00:00:00'), (0.004326992037240875, 'sp09'), (0.004060057600156982, 'geography_San Francisco'), (0.003988053320403359, 'sp01'), (0.003926483666626403, 'sp12'), (0.003891746684745538, 'california'), (0.0036845944996518366, 'geography_Hartford/Springfield'), (0.003493886769009094, 'geography_New York'), (0.0034548560697213737, 'pcp'), (0.002941871842920624, 'mexico'), (0.002702361137586291, 'tmax'), (0.002658337615089301, 'geography_Northeast'), (0.0026046775388657495, 'tavg'), (0.0025886673892750903, 'tmin'), (0.002585869276933402, 'geography_Chicago'), (0.002570137770256827, 'geography_Boston'), (0.0024941917003194034, 'peru'), (0.002331801133859232, 'hdd'), (0.0020877521867568604, 'geography_Baltimore/Washington'), (0.002000442189854804, 'geography_Louisville'), (0.0018840293400667284, 'geography_Grand Rapids'), (0.001817999076951904, 'cdd'), (0.0017544188649168003, 'year_month_2020-08-01 00:00:00'), (0.0014059490977524642, 'geography_Philadelphia'), (0.0012816864059340793, 'geography_Charlotte'), (0.0012090143299382107, 'columbia'), (0.0010255295733813338, 'geography_South Central'), (0.0009792978303916804, 'year_month_2018-12-01 00:00:00'), (0.0009640792974993601, 'geography_Atlanta'), (0.0009059994803415394, 'geography_Dallas/Ft. Worth'), (0.0008491824705496486, 'date_2018-02-04 00:00:00'), (0.0008018270764410522, 'geography_West Tex/New Mexico'), (0.0007164241908468615, 'geography_Roanoke'), (0.0007037479813264478, 'geography_Sacramento'), (0.0006855439373687625, 'geography_Spokane'), (0.0006702205917248313, 'date_2018-09-09 00:00:00'), (0.0006655454404159465, 'geography_Phoenix/Tucson'), (0.0006003762066082334, 'geography_Houston'), (0.000562647113626898, 'date_2018-09-02 00:00:00'), (0.0005421853124083227, 'date_2018-12-02 00:00:00'), (0.0004927038977424732, 'geography_Syracuse'), (0.00048459387127907885, 'geography_Boise'), (0.0004671592357117977, 'geography_California'), (0.0004567826835353723, 'geography_Pittsburgh'), (0.00045656144446036025, 'geography_Albany'), (0.00044350829776601693, 'year_month_2018-08-01 00:00:00'), (0.0004371809281776602, 'date_2018-11-25 00:00:00'), (0.00040271626423485655, 'date_2018-05-06 00:00:00'), (0.0003990496364837356, 'year_month_2018-05-01 00:00:00'), (0.00039436778661262043, 'geography_Raleigh/Greensboro'), (0.0003786414831875222, 'geography_Nashville'), (0.000370215895630562, 'geography_Northern New England'), (0.0003633835239897691, 'date_2018-08-26 00:00:00'), (0.00035420815892996447, 'geography_Buffalo/Rochester'), (0.0003491705163487687, 'date_2018-01-14 00:00:00'), (0.00033482705535824094, 'year_month_2018-11-01 00:00:00'), (0.0002803266589983907, 'date_2018-02-18 00:00:00'), (0.00027410338044549194, 'year_month_2018-10-01 00:00:00'), (0.0002689125049800446, 'geography_Harrisburg/Scranton'), (0.00026609608022219706, 'year_month_2018-02-01 00:00:00'), (0.00026469129050940164, 'year_month_2020-05-01 00:00:00'), (0.0002632344390127278, 'geography_West'), (0.0002596106477022412, 'date_2018-10-28 00:00:00'), (0.00024819551876961835, 'year_month_2019-02-01 00:00:00'), (0.00022988373255059915, 'geography_Columbus'), (0.00022626300450861281, 'year_month_2020-04-01 00:00:00'), (0.00021380438899660633, 'year_month_2018-01-01 00:00:00'), (0.00021305881995997534, 'geography_Jacksonville'), (0.00020855434962535344, 'geography_Orlando'), (0.0002083184624536706, 'date_2018-09-23 00:00:00'), (0.00020648408981211892, 'date_2018-11-04 00:00:00'), (0.00020200631673197787, 'date_2020-04-26 00:00:00'), (0.00019393439348249788, 'year_month_2018-07-01 00:00:00'), (0.00019337053517421248, 'date_2018-06-10 00:00:00'), (0.00019288335399061135, 'date_2020-05-17 00:00:00'), (0.0001902021253028868, 'geography_Midsouth'), (0.00017959834560594924, 'geography_Cincinnati/Dayton'), (0.00017893504807675438, 'geography_Richmond/Norfolk'), (0.0001648953376358042, 'geography_Portland'), (0.00015596668989101056, 'year_month_2020-09-01 00:00:00'), (0.0001481380392835021, 'date_2018-06-24 00:00:00'), (0.0001471683204466266, 'geography_San Diego'), (0.00014244311596794894, 'geography_Los Angeles'), (0.00014092816474887518, 'date_2018-01-28 00:00:00'), (0.00012965826369786936, 'geography_Las Vegas'), (0.00012828839950414605, 'geography_St. Louis'), (0.00012297399529705922, 'year_month_2020-07-01 00:00:00'), (0.00012171995769452116, 'year_month_2020-06-01 00:00:00'), (0.00011986465547003643, 'date_2018-02-11 00:00:00'), (0.00011956729248220327, 'year_month_2018-06-01 00:00:00'), (0.00011629115826650175, 'date_2018-04-01 00:00:00'), (0.00011290702206889067, 'date_2018-09-30 00:00:00'), (0.00011205846110882071, 'geography_Detroit'), (0.00011068265784261728, 'date_2020-09-06 00:00:00'), (0.00011054365811440015, 'geography_New Orleans/Mobile'), (0.00011037071919030403, 'date_2018-01-07 00:00:00'), (0.00010995239728506007, 'date_2018-02-25 00:00:00'), (0.00010797882203387893, 'geography_Denver'), (9.179440350271024e-05, 'date_2020-08-30 00:00:00'), (8.897907741427802e-05, 'geography_Tampa'), (8.686401119932716e-05, 'date_2019-02-03 00:00:00'), (7.877921399832877e-05, 'date_2018-03-18 00:00:00'), (7.73483622826972e-05, 'geography_Great Lakes'), (7.657787453070937e-05, 'date_2019-02-24 00:00:00'), (7.504523883178804e-05, 'date_2018-04-29 00:00:00'), (7.415142428215806e-05, 'date_2018-01-21 00:00:00'), (7.342999470019194e-05, 'date_2018-11-11 00:00:00'), (7.342710323168542e-05, 'date_2018-09-16 00:00:00'), (6.913576206824941e-05, 'date_2020-05-10 00:00:00'), (6.902188214188702e-05, 'date_2018-10-21 00:00:00'), (6.855291024705994e-05, 'year_month_2018-04-01 00:00:00'), (6.733743568787289e-05, 'date_2020-08-16 00:00:00'), (6.525196119185803e-05, 'date_2018-04-15 00:00:00'), (6.46513449385568e-05, 'date_2018-11-18 00:00:00'), (6.274362122573797e-05, 'date_2020-07-26 00:00:00'), (6.240735678644646e-05, 'geography_Plains'), (6.238170805973083e-05, 'date_2018-04-08 00:00:00'), (6.190022205664125e-05, 'date_2018-08-19 00:00:00'), (6.106763996479215e-05, 'geography_Indianapolis'), (6.052372059157801e-05, 'geography_Southeast'), (6.0219633376032774e-05, 'date_2019-03-03 00:00:00'), (5.778955264613315e-05, 'date_2020-05-03 00:00:00'), (5.728022780776907e-05, 'geography_South Carolina'), (5.490398075279293e-05, 'date_2019-01-27 00:00:00'), (5.281802192540856e-05, 'date_2018-10-14 00:00:00'), (5.2713057408503686e-05, 'date_2020-07-12 00:00:00'), (5.214593984801412e-05, 'date_2020-07-05 00:00:00'), (5.012556808673931e-05, 'date_2019-02-10 00:00:00'), (4.8026371608248775e-05, 'year_month_2019-01-01 00:00:00'), (4.7176269480309524e-05, 'date_2019-02-17 00:00:00'), (4.715785795287326e-05, 'date_2020-06-07 00:00:00'), (4.639475905967649e-05, 'date_2018-08-05 00:00:00'), (4.5229476773673815e-05, 'date_2018-07-29 00:00:00'), (4.499513516898292e-05, 'date_2018-06-17 00:00:00'), (4.3865449309635905e-05, 'date_2019-01-13 00:00:00'), (4.36117072553445e-05, 'year_month_2019-03-01 00:00:00'), (4.3363528904653653e-05, 'geography_Total U.S.'), (4.2872633667511053e-05, 'date_2018-07-08 00:00:00'), (4.124323574972751e-05, 'date_2018-03-04 00:00:00'), (4.080875495419163e-05, 'date_2020-08-23 00:00:00'), (3.543142154491928e-05, 'date_2019-03-10 00:00:00'), (3.508613833793343e-05, 'date_2020-08-09 00:00:00'), (3.1911830810268347e-05, 'date_2020-05-31 00:00:00'), (3.1507899612186463e-05, 'date_2018-03-25 00:00:00'), (3.06495173185787e-05, 'date_2018-07-15 00:00:00'), (2.9803357847481792e-05, 'date_2018-10-07 00:00:00'), (2.9731717824936258e-05, 'date_2020-08-02 00:00:00'), (2.901430831972306e-05, 'date_2018-05-27 00:00:00'), (2.8738464484626344e-05, 'date_2018-07-22 00:00:00'), (2.8488541033378366e-05, 'date_2018-05-20 00:00:00'), (2.8382400184289014e-05, 'date_2020-06-21 00:00:00'), (2.769784257368532e-05, 'date_2018-05-13 00:00:00'), (2.523147415616154e-05, 'date_2020-05-24 00:00:00'), (2.467335380476033e-05, 'date_2020-06-14 00:00:00'), (2.456728759801511e-05, 'date_2019-01-20 00:00:00'), (2.3407748979708486e-05, 'year_month_2018-03-01 00:00:00'), (2.270389636581869e-05, 'date_2019-03-24 00:00:00'), (2.261404695720934e-05, 'date_2018-04-22 00:00:00'), (2.096722583345971e-05, 'date_2018-06-03 00:00:00'), (1.8609277082812692e-05, 'date_2020-07-19 00:00:00'), (1.7987133334849545e-05, 'date_2018-08-12 00:00:00'), (1.0322935815939765e-05, 'date_2018-03-11 00:00:00'), (9.551417132306095e-06, 'date_2018-07-01 00:00:00'), (8.791059895438906e-06, 'date_2020-06-28 00:00:00'), (3.777626788525711e-06, 'date_2019-03-17 00:00:00'), (0.0, 'year_month_2020-03-01 00:00:00'), (0.0, 'year_month_2020-02-01 00:00:00'), (0.0, 'year_month_2020-01-01 00:00:00'), (0.0, 'year_month_2019-12-01 00:00:00'), (0.0, 'year_month_2019-11-01 00:00:00'), (0.0, 'year_month_2019-10-01 00:00:00'), (0.0, 'year_month_2019-09-01 00:00:00'), (0.0, 'year_month_2019-08-01 00:00:00'), (0.0, 'year_month_2019-07-01 00:00:00'), (0.0, 'year_month_2019-06-01 00:00:00'), (0.0, 'year_month_2019-05-01 00:00:00'), (0.0, 'year_month_2019-04-01 00:00:00'), (0.0, 'variety'), (0.0, 'type'), (0.0, 'status'), (0.0, 'segment'), (0.0, 'date_2020-04-19 00:00:00'), (0.0, 'date_2020-04-12 00:00:00'), (0.0, 'date_2020-04-05 00:00:00'), (0.0, 'date_2020-03-29 00:00:00'), (0.0, 'date_2020-03-22 00:00:00'), (0.0, 'date_2020-03-15 00:00:00'), (0.0, 'date_2020-03-08 00:00:00'), (0.0, 'date_2020-03-01 00:00:00'), (0.0, 'date_2020-02-23 00:00:00'), (0.0, 'date_2020-02-16 00:00:00'), (0.0, 'date_2020-02-09 00:00:00'), (0.0, 'date_2020-02-02 00:00:00'), (0.0, 'date_2020-01-26 00:00:00'), (0.0, 'date_2020-01-19 00:00:00'), (0.0, 'date_2020-01-12 00:00:00'), (0.0, 'date_2019-12-29 00:00:00'), (0.0, 'date_2019-12-22 00:00:00'), (0.0, 'date_2019-12-15 00:00:00'), (0.0, 'date_2019-12-08 00:00:00'), (0.0, 'date_2019-12-01 00:00:00'), (0.0, 'date_2019-11-24 00:00:00'), (0.0, 'date_2019-11-17 00:00:00'), (0.0, 'date_2019-11-10 00:00:00'), (0.0, 'date_2019-11-03 00:00:00'), (0.0, 'date_2019-10-27 00:00:00'), (0.0, 'date_2019-10-20 00:00:00'), (0.0, 'date_2019-10-13 00:00:00'), (0.0, 'date_2019-10-06 00:00:00'), (0.0, 'date_2019-09-29 00:00:00'), (0.0, 'date_2019-09-22 00:00:00'), (0.0, 'date_2019-09-15 00:00:00'), (0.0, 'date_2019-09-08 00:00:00'), (0.0, 'date_2019-09-01 00:00:00'), (0.0, 'date_2019-08-25 00:00:00'), (0.0, 'date_2019-08-18 00:00:00'), (0.0, 'date_2019-08-11 00:00:00'), (0.0, 'date_2019-08-04 00:00:00'), (0.0, 'date_2019-07-28 00:00:00'), (0.0, 'date_2019-07-21 00:00:00'), (0.0, 'date_2019-07-14 00:00:00'), (0.0, 'date_2019-07-07 00:00:00'), (0.0, 'date_2019-06-30 00:00:00'), (0.0, 'date_2019-06-23 00:00:00'), (0.0, 'date_2019-06-16 00:00:00'), (0.0, 'date_2019-06-09 00:00:00'), (0.0, 'date_2019-06-02 00:00:00'), (0.0, 'date_2019-05-26 00:00:00'), (0.0, 'date_2019-05-19 00:00:00'), (0.0, 'date_2019-05-12 00:00:00'), (0.0, 'date_2019-05-05 00:00:00'), (0.0, 'date_2019-04-28 00:00:00'), (0.0, 'date_2019-04-21 00:00:00'), (0.0, 'date_2019-04-14 00:00:00'), (0.0, 'date_2019-04-07 00:00:00'), (0.0, 'date_2019-03-31 00:00:00')]

In [29]:
y = cleaned_cat_C_df['price_cat']
X = cleaned_cat_C_df.drop(columns=['price_cat', 'avg_price', 'total_volume_prod', 'total_volume_price'], axis=1)

RFSSModel4(X, y)

Predictions: ['0' '0' '0' ... '1' '0' '0']
Confusion Matrix

          Predicted 0  Predicted 1  Predicted 2  Predicted 3
Actual 0          547           34            0            0
Actual 1          190          171            2            0
Actual 2           28           78            1            0
Actual 3            0            9            0            0

Accuracy Score : 0.6783018867924528
Classification Report
              precision    recall  f1-score   support

           0       0.72      0.94      0.81       581
           1       0.59      0.47      0.52       363
           2       0.33      0.01      0.02       107
           3       0.00      0.00      0.00         9

    accuracy                           0.68      1060
   macro avg       0.41      0.36      0.34      1060
weighted avg       0.63      0.68      0.63      1060

Importances: [0.00000000e+00 6.29262181e-02 1.83674393e-02 1.02460991e-02
 4.76738554e-02 4.04170329e-02 2.97133326e-02 1.17725223e-02
 5.61968152e-03 4.89396981e-03 1.74721208e-02 1.65884877e-02
 1.21525833e-02 1.67389174e-02 3.69197731e-03 4.62000912e-03
 5.45347204e-03 1.35984457e-02 9.90277872e-03 8.33255543e-03
 6.62739003e-03 5.34125606e-03 1.32164485e-02 3.99351891e-03
 3.84288844e-03 0.00000000e+00 6.12307228e-03 1.22808783e-02
 5.64310970e-03 4.02520914e-03 2.17273460e-03 0.00000000e+00
 0.00000000e+00 8.86342367e-03 1.63613791e-02 1.77212614e-02
 1.17466767e-02 1.33697916e-02 1.48677588e-02 3.63424255e-02
 9.11632362e-02 2.42568084e-01 3.21311968e-02 6.10804216e-04
 4.33963290e-04 1.05396597e-04 5.52334699e-05 5.21820488e-04
 1.81114513e-04 4.04408930e-04 8.88777344e-04 8.10082256e-03
 3.14445262e-04 3.27027232e-04 1.12864543e-03 1.07193245e-04
 1.47378455e-04 1.29405204e-04 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 4.51619961e-04 2.60508472e-04
 1.25080052e-04 3.65550270e-04 2.69365930e-03 1.54086038e-04
 8.41095987e-05 5.29804359e-04 1.30951182e-04 8.06645247e-05
 1.49591453e-03 2.52765558e-04 2.96180184e-04 1.40274049e-04
 1.38052762e-04 6.49465788e-05 1.53126036e-04 1.12070496e-04
 2.24044841e-04 8.49349262e-05 7.67621417e-05 8.70609800e-05
 1.87083635e-04 8.34457444e-04 6.29865100e-05 1.32031752e-04
 1.34375716e-04 2.35830817e-05 1.28263945e-04 1.33104381e-04
 2.88501759e-04 3.05634630e-05 3.20581391e-05 4.00890005e-05
 4.52060139e-05 9.16800825e-05 4.59637268e-05 1.04801444e-04
 6.98892643e-05 5.88621726e-04 1.01524236e-03 7.61170075e-04
 1.53261638e-04 3.75928532e-04 1.77068941e-04 4.85167795e-05
 6.70365113e-05 1.05056005e-04 2.10661362e-04 2.91047373e-04
 5.78514345e-05 1.12379776e-04 7.59710318e-04 1.07211251e-03
 4.23196577e-05 9.01524895e-05 9.86073936e-05 1.19882531e-04
 1.31003172e-04 1.20441553e-04 9.83206334e-05 8.94695621e-05
 7.19924377e-05 3.28844681e-05 5.60174810e-05 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 0.00000000e+00 0.00000000e+00
 0.00000000e+00 0.00000000e+00 5.50700014e-04 6.41717154e-05
 8.22639587e-05 2.28461120e-04 9.14328244e-05 1.53155758e-05
 5.73743159e-05 6.26548342e-05 1.89919624e-05 8.61040951e-05
 8.09075427e-05 5.93486346e-05 3.66667738e-05 6.67542835e-05
 7.81578839e-05 5.05227000e-05 7.55013225e-05 1.10330252e-04
 1.61391150e-04 2.56001934e-04 8.17253941e-04 1.33838848e-03
 3.91562080e-03 9.84328474e-04 4.45575151e-03 6.07603766e-04
 7.64533248e-04 2.25015414e-03 4.42309584e-03 4.81675117e-04
 3.75107278e-04 1.32823659e-03 1.36530561e-04 1.72987585e-04
 2.44912722e-03 8.73680847e-05 5.13790718e-04 5.12336299e-03
 1.58211739e-03 8.14144338e-05 3.47196111e-04 1.96604156e-04
 1.90027814e-04 3.05075200e-03 2.88273471e-04 9.17319766e-04
 1.42094263e-04 5.27466445e-03 5.93746945e-03 4.96444837e-04
 1.97188903e-04 1.92420719e-03 2.56445140e-03 6.73002566e-04
 2.36472042e-04 3.20250713e-04 1.38593325e-03 3.53060392e-04
 1.39081133e-03 9.41385195e-04 2.87481624e-04 4.36301355e-03
 9.58367190e-03 1.14204623e-04 1.38802321e-03 1.33336776e-04
 9.34088134e-04 2.89125706e-04 5.97657268e-04 1.45006474e-04
 1.42967375e-04 3.22336067e-04 1.57673909e-03]
[(0.24256808441937253, 'avg_price_current_year'), (0.09116323615801766, 'avg_price_prior_year'), (0.06292621809032477, '4046_units'), (0.04767385538757062, 'total_bags'), (0.0404170328859676, 's_bags'), (0.036342425469686204, 'dollar_variance'), (0.0321311967859669, 'avg_price_variance'), (0.029713332608527633, 'l_bags'), (0.01836743933214236, '4225_units'), (0.017721261420229954, 'units_current_year'), (0.017472120818147648, 'pdsi'), (0.016738917415032358, 'pmdi'), (0.0165884876922831, 'phdi'), (0.016361379093499235, 'units_prior_year'), (0.014867758817798721, 'dollars_current_year'), (0.013598445706712807, 'sp02'), (0.013369791642747255, 'dollars_prior_year'), (0.013216448463526875, 'sp24'), (0.012280878261253798, 'chile'), (0.012152583275788064, 'zndx'), (0.011772522325307951, 'xl_bags'), (0.011746676689481731, 'unit_variance'), (0.010246099123285517, '4770_units'), (0.009902778717690675, 'sp03'), (0.009583671901358701, 'geography_Seattle'), (0.008863423673216603, 'period'), (0.008332555428459698, 'sp06'), (0.008100822561315356, 'year_month_2018-09-01 00:00:00'), (0.006627390031822026, 'sp09'), (0.006123072280139377, 'california'), (0.005937469453421518, 'geography_Northeast'), (0.00564310969659408, 'mexico'), (0.005619681523768648, 'pcp'), (0.005453472043563869, 'sp01'), (0.005341256055968418, 'sp12'), (0.005274664448363495, 'geography_New York'), (0.00512336299264093, 'geography_Hartford/Springfield'), (0.0048939698085157845, 'tavg'), (0.00462000911592465, 'hdd'), (0.004455751514613971, 'geography_Boston'), (0.004423095842525383, 'geography_Chicago'), (0.0043630135489589935, 'geography_San Francisco'), (0.004025209137622276, 'peru'), (0.003993518909588828, 'tmin'), (0.003915620800257652, 'geography_Baltimore/Washington'), (0.0038428884387200573, 'tmax'), (0.0036919773116609773, 'cdd'), (0.003050752004513306, 'geography_Louisville'), (0.002693659304005688, 'year_month_2020-08-01 00:00:00'), (0.002564451399217282, 'geography_Phoenix/Tucson'), (0.002449127224695147, 'geography_Grand Rapids'), (0.002250154136272782, 'geography_Charlotte'), (0.002172734604592566, 'columbia'), (0.0019242071877072322, 'geography_Philadelphia'), (0.0015821173937546737, 'geography_Houston'), (0.0015767390899550733, 'geography_West Tex/New Mexico'), (0.0014959145323063963, 'date_2018-02-04 00:00:00'), (0.0013908113318788007, 'geography_Roanoke'), (0.001388023214886406, 'geography_South Central'), (0.0013859332546262474, 'geography_Raleigh/Greensboro'), (0.0013383884792857732, 'geography_Atlanta'), (0.0013282365924621078, 'geography_Dallas/Ft. Worth'), (0.0011286454284341542, 'year_month_2018-12-01 00:00:00'), (0.0010721125059820734, 'date_2018-12-02 00:00:00'), (0.0010152423591285366, 'date_2018-09-02 00:00:00'), (0.0009843284742126082, 'geography_Boise'), (0.00094138519503479, 'geography_Sacramento'), (0.0009340881336148259, 'geography_Spokane'), (0.0009173197658176979, 'geography_Nashville'), (0.0008887773438594372, 'year_month_2018-08-01 00:00:00'), (0.0008344574436788779, 'date_2018-05-06 00:00:00'), (0.0008172539410262635, 'geography_Albany'), (0.0007645332484345247, 'geography_California'), (0.0007611700750135498, 'date_2018-09-09 00:00:00'), (0.0007597103181878124, 'date_2018-11-25 00:00:00'), (0.0006730025660123789, 'geography_Pittsburgh'), (0.0006108042155125675, 'year_month_2018-01-01 00:00:00'), (0.0006076037664177743, 'geography_Buffalo/Rochester'), (0.000597657268482365, 'geography_Syracuse'), (0.0005886217256161531, 'date_2018-08-26 00:00:00'), (0.0005507000144583393, 'date_2020-04-26 00:00:00'), (0.0005298043588566322, 'date_2018-01-14 00:00:00'), (0.0005218204880610682, 'year_month_2018-05-01 00:00:00'), (0.0005137907180628788, 'geography_Harrisburg/Scranton'), (0.0004964448367672649, 'geography_Northern New England'), (0.0004816751173035638, 'geography_Cincinnati/Dayton'), (0.0004516199607363161, 'year_month_2020-04-01 00:00:00'), (0.0004339632896449039, 'year_month_2018-02-01 00:00:00'), (0.00040440892998578227, 'year_month_2018-07-01 00:00:00'), (0.0003759285322185781, 'date_2018-09-23 00:00:00'), (0.0003751072775056642, 'geography_Columbus'), (0.0003655502703552577, 'year_month_2020-07-01 00:00:00'), (0.0003530603920214646, 'geography_Richmond/Norfolk'), (0.0003471961106429847, 'geography_Jacksonville'), (0.0003270272321309456, 'year_month_2018-11-01 00:00:00'), (0.00032233606694087493, 'geography_West'), (0.00032025071316016943, 'geography_Portland'), (0.00031444526151809505, 'year_month_2018-10-01 00:00:00'), (0.0002961801837668536, 'date_2018-02-18 00:00:00'), (0.0002910473732704127, 'date_2018-11-04 00:00:00'), (0.0002891257057102043, 'geography_St. Louis'), (0.0002885017589446432, 'date_2018-06-24 00:00:00'), (0.0002882734709906218, 'geography_Midsouth'), (0.0002874816244192542, 'geography_San Diego'), (0.0002605084720629993, 'year_month_2020-05-01 00:00:00'), (0.0002560019342129416, 'date_2020-09-06 00:00:00'), (0.00025276555817053037, 'date_2018-02-11 00:00:00'), (0.0002364720421830071, 'geography_Plains'), (0.00022846112022784692, 'date_2020-05-17 00:00:00'), (0.000224044840554552, 'date_2018-04-01 00:00:00'), (0.0002106613621053259, 'date_2018-10-28 00:00:00'), (0.00019718890285487457, 'geography_Orlando'), (0.00019660415554055086, 'geography_Las Vegas'), (0.0001900278143666237, 'geography_Los Angeles'), (0.0001870836345856174, 'date_2018-04-29 00:00:00'), (0.00018111451265881843, 'year_month_2018-06-01 00:00:00'), (0.00017706894077628132, 'date_2018-09-30 00:00:00'), (0.00017298758474687352, 'geography_Detroit'), (0.00016139115034527067, 'date_2020-08-30 00:00:00'), (0.00015408603790311804, 'year_month_2020-09-01 00:00:00'), (0.0001532616379909156, 'date_2018-09-16 00:00:00'), (0.00015312603573027197, 'date_2018-03-18 00:00:00'), (0.00014737845461184024, 'year_month_2019-02-01 00:00:00'), (0.00014500647357727938, 'geography_Tampa'), (0.0001429673753473289, 'geography_Total U.S.'), (0.0001420942626481345, 'geography_New Orleans/Mobile'), (0.0001402740485793271, 'date_2018-02-25 00:00:00'), (0.00013805276224740048, 'date_2018-03-04 00:00:00'), (0.0001365305605782809, 'geography_Denver'), (0.0001343757160771907, 'date_2018-05-27 00:00:00'), (0.00013333677631941951, 'geography_Southeast'), (0.00013310438107949922, 'date_2018-06-17 00:00:00'), (0.0001320317519632735, 'date_2018-05-20 00:00:00'), (0.0001310031718594211, 'date_2019-02-10 00:00:00'), (0.0001309511824351217, 'date_2018-01-21 00:00:00'), (0.00012940520442656956, 'year_month_2019-03-01 00:00:00'), (0.00012826394493377678, 'date_2018-06-10 00:00:00'), (0.00012508005166990662, 'year_month_2020-06-01 00:00:00'), (0.00012044155271359936, 'date_2019-02-17 00:00:00'), (0.00011988253134928072, 'date_2019-02-03 00:00:00'), (0.00011420462259647201, 'geography_South Carolina'), (0.00011237977565778331, 'date_2018-11-18 00:00:00'), (0.00011207049580678134, 'date_2018-03-25 00:00:00'), (0.00011033025151717122, 'date_2020-08-23 00:00:00'), (0.00010719324531344472, 'year_month_2019-01-01 00:00:00'), (0.00010539659738918527, 'year_month_2018-03-01 00:00:00'), (0.00010505600477681887, 'date_2018-10-21 00:00:00'), (0.0001048014444497988, 'date_2018-08-12 00:00:00'), (9.86073936373419e-05, 'date_2019-01-27 00:00:00'), (9.832063342834719e-05, 'date_2019-02-24 00:00:00'), (9.168008248233069e-05, 'date_2018-07-29 00:00:00'), (9.14328244298713e-05, 'date_2020-05-24 00:00:00'), (9.015248945113387e-05, 'date_2019-01-20 00:00:00'), (8.946956208958364e-05, 'date_2019-03-03 00:00:00'), (8.736808465765106e-05, 'geography_Great Lakes'), (8.706097995620879e-05, 'date_2018-04-22 00:00:00'), (8.610409512760083e-05, 'date_2020-06-28 00:00:00'), (8.493492622243411e-05, 'date_2018-04-08 00:00:00'), (8.410959867006727e-05, 'date_2018-01-07 00:00:00'), (8.226395874395132e-05, 'date_2020-05-10 00:00:00'), (8.141443381881548e-05, 'geography_Indianapolis'), (8.090754272617377e-05, 'date_2020-07-05 00:00:00'), (8.066452466362789e-05, 'date_2018-01-28 00:00:00'), (7.815788385759613e-05, 'date_2020-08-02 00:00:00'), (7.676214170589034e-05, 'date_2018-04-15 00:00:00'), (7.550132250510019e-05, 'date_2020-08-16 00:00:00'), (7.19924376879364e-05, 'date_2019-03-10 00:00:00'), (6.9889264328976e-05, 'date_2018-08-19 00:00:00'), (6.703651131776405e-05, 'date_2018-10-14 00:00:00'), (6.67542834611417e-05, 'date_2020-07-26 00:00:00'), (6.494657877507341e-05, 'date_2018-03-11 00:00:00'), (6.417171539611642e-05, 'date_2020-05-03 00:00:00'), (6.298650998395786e-05, 'date_2018-05-13 00:00:00'), (6.265483422337401e-05, 'date_2020-06-14 00:00:00'), (5.934863461388982e-05, 'date_2020-07-12 00:00:00'), (5.7851434493856955e-05, 'date_2018-11-11 00:00:00'), (5.737431586628808e-05, 'date_2020-06-07 00:00:00'), (5.6017480972339595e-05, 'date_2019-03-24 00:00:00'), (5.5233469907033564e-05, 'year_month_2018-04-01 00:00:00'), (5.0522699983842226e-05, 'date_2020-08-09 00:00:00'), (4.851677947078314e-05, 'date_2018-10-07 00:00:00'), (4.596372678821286e-05, 'date_2018-08-05 00:00:00'), (4.520601393039611e-05, 'date_2018-07-22 00:00:00'), (4.231965766362511e-05, 'date_2019-01-13 00:00:00'), (4.008900051182796e-05, 'date_2018-07-15 00:00:00'), (3.666677383226215e-05, 'date_2020-07-19 00:00:00'), (3.288446809984887e-05, 'date_2019-03-17 00:00:00'), (3.205813911619955e-05, 'date_2018-07-08 00:00:00'), (3.05634630107645e-05, 'date_2018-07-01 00:00:00'), (2.3583081681487404e-05, 'date_2018-06-03 00:00:00'), (1.8991962442041524e-05, 'date_2020-06-21 00:00:00'), (1.531557584493226e-05, 'date_2020-05-31 00:00:00'), (0.0, 'year_month_2020-03-01 00:00:00'), (0.0, 'year_month_2020-02-01 00:00:00'), (0.0, 'year_month_2020-01-01 00:00:00'), (0.0, 'year_month_2019-12-01 00:00:00'), (0.0, 'year_month_2019-11-01 00:00:00'), (0.0, 'year_month_2019-10-01 00:00:00'), (0.0, 'year_month_2019-09-01 00:00:00'), (0.0, 'year_month_2019-08-01 00:00:00'), (0.0, 'year_month_2019-07-01 00:00:00'), (0.0, 'year_month_2019-06-01 00:00:00'), (0.0, 'year_month_2019-05-01 00:00:00'), (0.0, 'year_month_2019-04-01 00:00:00'), (0.0, 'variety'), (0.0, 'type'), (0.0, 'status'), (0.0, 'segment'), (0.0, 'date_2020-04-19 00:00:00'), (0.0, 'date_2020-04-12 00:00:00'), (0.0, 'date_2020-04-05 00:00:00'), (0.0, 'date_2020-03-29 00:00:00'), (0.0, 'date_2020-03-22 00:00:00'), (0.0, 'date_2020-03-15 00:00:00'), (0.0, 'date_2020-03-08 00:00:00'), (0.0, 'date_2020-03-01 00:00:00'), (0.0, 'date_2020-02-23 00:00:00'), (0.0, 'date_2020-02-16 00:00:00'), (0.0, 'date_2020-02-09 00:00:00'), (0.0, 'date_2020-02-02 00:00:00'), (0.0, 'date_2020-01-26 00:00:00'), (0.0, 'date_2020-01-19 00:00:00'), (0.0, 'date_2020-01-12 00:00:00'), (0.0, 'date_2019-12-29 00:00:00'), (0.0, 'date_2019-12-22 00:00:00'), (0.0, 'date_2019-12-15 00:00:00'), (0.0, 'date_2019-12-08 00:00:00'), (0.0, 'date_2019-12-01 00:00:00'), (0.0, 'date_2019-11-24 00:00:00'), (0.0, 'date_2019-11-17 00:00:00'), (0.0, 'date_2019-11-10 00:00:00'), (0.0, 'date_2019-11-03 00:00:00'), (0.0, 'date_2019-10-27 00:00:00'), (0.0, 'date_2019-10-20 00:00:00'), (0.0, 'date_2019-10-13 00:00:00'), (0.0, 'date_2019-10-06 00:00:00'), (0.0, 'date_2019-09-29 00:00:00'), (0.0, 'date_2019-09-22 00:00:00'), (0.0, 'date_2019-09-15 00:00:00'), (0.0, 'date_2019-09-08 00:00:00'), (0.0, 'date_2019-09-01 00:00:00'), (0.0, 'date_2019-08-25 00:00:00'), (0.0, 'date_2019-08-18 00:00:00'), (0.0, 'date_2019-08-11 00:00:00'), (0.0, 'date_2019-08-04 00:00:00'), (0.0, 'date_2019-07-28 00:00:00'), (0.0, 'date_2019-07-21 00:00:00'), (0.0, 'date_2019-07-14 00:00:00'), (0.0, 'date_2019-07-07 00:00:00'), (0.0, 'date_2019-06-30 00:00:00'), (0.0, 'date_2019-06-23 00:00:00'), (0.0, 'date_2019-06-16 00:00:00'), (0.0, 'date_2019-06-09 00:00:00'), (0.0, 'date_2019-06-02 00:00:00'), (0.0, 'date_2019-05-26 00:00:00'), (0.0, 'date_2019-05-19 00:00:00'), (0.0, 'date_2019-05-12 00:00:00'), (0.0, 'date_2019-05-05 00:00:00'), (0.0, 'date_2019-04-28 00:00:00'), (0.0, 'date_2019-04-21 00:00:00'), (0.0, 'date_2019-04-14 00:00:00'), (0.0, 'date_2019-04-07 00:00:00'), (0.0, 'date_2019-03-31 00:00:00')]

In [27]:
y = cleaned_cat_O_df['price_cat']
X = cleaned_cat_O_df.drop(columns=['price_cat', 'total_volume_prod', 'total_volume_price'], axis=1)

RFSSModel4(X, y)

Predictions: ['2' '2' '0' ... '0' '2' '1']
Confusion Matrix

          Predicted 0  Predicted 1  Predicted 2  Predicted 3
Actual 0          356           58           48            4
Actual 1           34          311          275           11
Actual 2            9           48          783           17
Actual 3            0            3            0          693

Accuracy Score : 0.8086792452830188
Classification Report
              precision    recall  f1-score   support

           0       0.89      0.76      0.82       466
           1       0.74      0.49      0.59       631
           2       0.71      0.91      0.80       857
           3       0.96      1.00      0.98       696

    accuracy                           0.81      2650
   macro avg       0.82      0.79      0.80      2650
weighted avg       0.81      0.81      0.80      2650

Importances: [0.00000000e+00 3.34202473e-01 6.51609398e-02 3.01486093e-02
 3.52406156e-02 3.84305867e-02 2.82393745e-02 3.11070213e-02
 5.27078891e-02 7.55007101e-03 9.17064112e-03 1.00499166e-02
 1.03419383e-02 3.57504756e-03 7.66808908e-03 1.15935522e-02
 8.68707197e-03 2.51484130e-03 3.39864466e-03 4.76391929e-03
 4.79217924e-03 7.36219996e-03 1.47214907e-02 9.89609185e-03
 1.34637305e-02 8.98255285e-03 0.00000000e+00 7.58613100e-03
 1.79574103e-03 6.36104703e-03 1.30761165e-02 6.66966997e-04
 0.00000000e+00 0.00000000e+00 4.86225031e-03 9.15546175e-03
 1.04293320e-02 1.20143069e-02 1.32271753e-02 1.32802177e-02
 4.37300724e-03 2.92216183e-02 6.41796143e-02 1.32288668e-02
 1.74093073e-04 2.43524855e-04 1.01842325e-04 1.31496027e-04
 1.61001407e-05 3.83743926e-05 6.70991701e-05 5.44898222e-05
 1.83214503e-04 5.84059897e-05 1.18252638e-04 1.05891623e-04
 1.70425062e-04 5.62276507e-05 1.79122988e-04 4.47852355e-05
 2.02628492e-04 1.45756754e-04 1.36215855e-03 5.71772906e-04
 1.99135236e-04 2.48386562e-04 2.46222922e-04 2.34543379e-03
 5.33244095e-04 1.18265980e-03 2.38281168e-04 7.95923891e-05
 6.47987448e-05 6.40990188e-05 3.68609489e-05 9.56018884e-05
 1.17731764e-05 1.12507295e-05 1.57705055e-05 2.14521566e-05
 1.51739856e-05 2.38453879e-05 3.14955512e-06 8.20283070e-06
 1.94069561e-05 9.82160071e-06 6.42547029e-06 7.90743575e-06
 0.00000000e+00 1.34605127e-06 6.95814012e-06 1.06775209e-05
 2.99834383e-05 0.00000000e+00 2.14974288e-06 4.17874611e-06
 3.37412890e-06 1.15513296e-05 2.80490267e-05 9.00796096e-06
 2.33099135e-06 1.03207849e-05 6.35681297e-06 7.80894177e-07
 1.88804772e-06 9.75035969e-06 3.50753907e-06 1.06012703e-05
 1.00112538e-05 9.35182784e-06 1.26804448e-06 3.36804093e-06
 5.24649296e-07 1.00645713e-05 2.47374200e-06 3.97419459e-06
 1.94258851e-06 8.67223087e-06 2.09403826e-05 1.25477145e-05
 7.73767102e-06 1.49502968e-05 1.00800248e-05 2.47057301e-05
 2.31708206e-05 7.86771751e-06 1.36869435e-05 2.14508756e-05
 1.40784044e-05 1.56836876e-05 1.57249487e-06 5.27469010e-06
 4.12536205e-06 1.35643000e-05 1.28312960e-05 3.15291490e-06
 4.15765228e-05 2.93851960e-04 2.09753138e-05 1.66123480e-05
 1.42903636e-04 1.25402607e-05 1.48814286e-06 1.75634917e-06
 7.33896217e-06 5.63515038e-05 2.33331251e-05 7.32081116e-06
 9.36491118e-06 2.38442839e-05 6.41205358e-05 4.72902473e-05
 3.24982393e-05 2.91806783e-05 2.55304971e-05 9.17756959e-06
 1.36648911e-05 5.69855448e-06 9.04534198e-06 6.20150822e-06
 1.02085390e-05 1.85973623e-05 4.63883235e-06 2.43713154e-05
 1.26094968e-05 4.10713271e-06 2.69918766e-05 1.90980769e-05
 6.86062198e-06 5.29648751e-05 6.31111087e-07 2.53560809e-05
 2.58994134e-04 4.72381467e-05 2.09370766e-05 1.64964604e-04
 3.02266002e-05 6.46815529e-05 3.61825063e-05 8.49007401e-05
 2.84383127e-05 1.84003305e-05 1.24924810e-05 1.91052024e-05
 2.58699550e-05 1.51554557e-05 1.92060882e-05 4.61261253e-05
 8.49297828e-06 9.52022219e-06 4.36722404e-07 9.20680207e-06
 5.88943067e-06 1.88964521e-06 1.80494312e-06 0.00000000e+00
 1.78958103e-08 2.05804488e-05 1.04538054e-08 0.00000000e+00
 6.62827794e-06 4.25990297e-06 1.89687127e-05 1.16819181e-06
 2.30059233e-06 7.23818876e-06 3.44129515e-06 4.01794717e-06
 4.70546913e-06 1.34680288e-05 1.00244440e-05 2.22578975e-04
 1.01304208e-04 8.34836484e-04 1.44939563e-03 2.78634514e-04
 8.32292929e-04 1.18571445e-03 1.78326861e-04 1.10296255e-04
 2.83543696e-05 1.60782911e-04 7.13204411e-04 8.88671506e-05
 2.94393063e-04 7.67108391e-04 1.17037212e-04 3.09051577e-04
 2.66111189e-03 5.56645333e-04 3.71632516e-04 1.58797957e-04
 1.46673280e-04 3.09709649e-04 3.07949139e-04 8.09517233e-05
 8.33923921e-05 7.73097112e-04 1.02572291e-03 6.87447413e-04
 1.06193199e-04 2.66168455e-04 1.73484918e-04 1.44612878e-04
 2.78324795e-04 2.45920959e-04 1.45714502e-03 7.73454870e-04
 2.63860100e-04 6.77853328e-05 4.86941118e-04 5.87374449e-04
 3.97470340e-03 6.38786303e-04 7.04520628e-05 8.17910675e-04
 2.18268521e-04 1.36698184e-03 7.78886582e-04 7.04017364e-04
 8.98187593e-04 9.05874658e-04 3.17478907e-04 3.13399271e-04]
[(0.3342024730103692, 'avg_price'), (0.065160939832249, '4046_units'), (0.06417961425465696, 'avg_price_current_year'), (0.05270788907134554, 'xl_bags'), (0.03843058667103296, 'total_bags'), (0.03524061556695272, '4770_units'), (0.031107021253696715, 'l_bags'), (0.03014860933861333, '4225_units'), (0.02922161830113597, 'avg_price_prior_year'), (0.028239374519545304, 's_bags'), (0.014721490747130233, 'sp12'), (0.013463730472547812, 'tmin'), (0.013280217696568524, 'dollars_current_year'), (0.013228866814157912, 'avg_price_variance'), (0.013227175257780546, 'dollars_prior_year'), (0.013076116511345593, 'peru'), (0.012014306914066528, 'unit_variance'), (0.011593552231837518, 'cdd'), (0.010429332049950273, 'units_current_year'), (0.010341938341670484, 'phdi'), (0.010049916646639812, 'pdsi'), (0.009896091854812949, 'sp24'), (0.009170641118889027, 'tavg'), (0.009155461752353423, 'units_prior_year'), (0.008982552853862093, 'tmax'), (0.008687071974667539, 'hdd'), (0.007668089077573421, 'pmdi'), (0.007586131001689272, 'california'), (0.007550071014384808, 'pcp'), (0.007362199964833931, 'sp09'), (0.006361047029446198, 'mexico'), (0.0048622503121747715, 'period'), (0.004792179239868248, 'sp06'), (0.00476391929123594, 'sp03'), (0.004373007242770749, 'dollar_variance'), (0.003974703401702532, 'geography_San Francisco'), (0.003575047556648782, 'zndx'), (0.0033986446624530028, 'sp02'), (0.002661111894765158, 'geography_Hartford/Springfield'), (0.0025148413021487395, 'sp01'), (0.002345433789632607, 'year_month_2019-12-01 00:00:00'), (0.0017957410314348664, 'chile'), (0.0014571450246601346, 'geography_Portland'), (0.0014493956324009775, 'geography_Boise'), (0.0013669818395447846, 'geography_Spokane'), (0.0013621585502926505, 'year_month_2019-07-01 00:00:00'), (0.0011857144517799598, 'geography_California'), (0.0011826598008111617, 'year_month_2020-02-01 00:00:00'), (0.0010257229101326322, 'geography_New York'), (0.0009058746584038122, 'geography_Total U.S.'), (0.0008981875925374392, 'geography_Tampa'), (0.0008348364844356868, 'geography_Baltimore/Washington'), (0.0008322929293246053, 'geography_Buffalo/Rochester'), (0.000817910674606892, 'geography_South Central'), (0.000778886582097353, 'geography_St. Louis'), (0.0007734548699588538, 'geography_Raleigh/Greensboro'), (0.000773097111683291, 'geography_New Orleans/Mobile'), (0.0007671083913556768, 'geography_Grand Rapids'), (0.0007132044114204334, 'geography_Dallas/Ft. Worth'), (0.0007040173638983508, 'geography_Syracuse'), (0.0006874474125826569, 'geography_Northeast'), (0.0006669669969043951, 'columbia'), (0.000638786303395872, 'geography_Seattle'), (0.0005873744490052153, 'geography_San Diego'), (0.0005717729060124541, 'year_month_2019-08-01 00:00:00'), (0.000556645332957968, 'geography_Houston'), (0.0005332440951064906, 'year_month_2020-01-01 00:00:00'), (0.00048694111805695105, 'geography_Sacramento'), (0.0003716325159820109, 'geography_Indianapolis'), (0.00031747890669205623, 'geography_West'), (0.00031339927102814016, 'geography_West Tex/New Mexico'), (0.00030970964912215026, 'geography_Los Angeles'), (0.0003090515765834193, 'geography_Harrisburg/Scranton'), (0.00030794913927686274, 'geography_Louisville'), (0.00029439306288728755, 'geography_Detroit'), (0.00029385196012274284, 'date_2019-04-07 00:00:00'), (0.0002786345135177438, 'geography_Boston'), (0.00027832479513302354, 'geography_Pittsburgh'), (0.00026616845503334814, 'geography_Orlando'), (0.0002638600995623148, 'geography_Richmond/Norfolk'), (0.00025899413449115266, 'date_2019-12-08 00:00:00'), (0.0002483865623823105, 'year_month_2019-10-01 00:00:00'), (0.0002462229221371938, 'year_month_2019-11-01 00:00:00'), (0.0002459209590381903, 'geography_Plains'), (0.0002435248551803113, 'year_month_2018-02-01 00:00:00'), (0.0002382811675299689, 'year_month_2020-03-01 00:00:00'), (0.000222578974501704, 'geography_Albany'), (0.0002182685207402031, 'geography_Southeast'), (0.00020262849161303408, 'year_month_2019-05-01 00:00:00'), (0.00019913523639979633, 'year_month_2019-09-01 00:00:00'), (0.0001832145030500326, 'year_month_2018-09-01 00:00:00'), (0.00017912298785294884, 'year_month_2019-03-01 00:00:00'), (0.00017832686097875853, 'geography_Charlotte'), (0.0001740930728408794, 'year_month_2018-01-01 00:00:00'), (0.00017348491795424594, 'geography_Philadelphia'), (0.00017042506225107228, 'year_month_2019-01-01 00:00:00'), (0.0001649646043494074, 'date_2019-12-29 00:00:00'), (0.0001607829106289035, 'geography_Columbus'), (0.00015879795714661605, 'geography_Jacksonville'), (0.0001466732801926838, 'geography_Las Vegas'), (0.0001457567537469309, 'year_month_2019-06-01 00:00:00'), (0.00014461287750172516, 'geography_Phoenix/Tucson'), (0.00014290363573753073, 'date_2019-04-28 00:00:00'), (0.00013149602682032056, 'year_month_2018-04-01 00:00:00'), (0.00011825263775343546, 'year_month_2018-11-01 00:00:00'), (0.0001170372119716659, 'geography_Great Lakes'), (0.00011029625535224571, 'geography_Chicago'), (0.00010619319896443005, 'geography_Northern New England'), (0.00010589162305816702, 'year_month_2018-12-01 00:00:00'), (0.00010184232548355282, 'year_month_2018-03-01 00:00:00'), (0.0001013042082976546, 'geography_Atlanta'), (9.560188839942305e-05, 'year_month_2020-08-01 00:00:00'), (8.88671506340176e-05, 'geography_Denver'), (8.490074012666613e-05, 'date_2020-02-02 00:00:00'), (8.339239210130583e-05, 'geography_Nashville'), (8.09517233342729e-05, 'geography_Midsouth'), (7.959238914396089e-05, 'year_month_2020-04-01 00:00:00'), (7.045206275757264e-05, 'geography_South Carolina'), (6.778533282642114e-05, 'geography_Roanoke'), (6.709917009577811e-05, 'year_month_2018-07-01 00:00:00'), (6.479874484730261e-05, 'year_month_2020-05-01 00:00:00'), (6.468155292088747e-05, 'date_2020-01-19 00:00:00'), (6.412053579789804e-05, 'date_2019-07-07 00:00:00'), (6.409901875593158e-05, 'year_month_2020-06-01 00:00:00'), (5.8405989723288934e-05, 'year_month_2018-10-01 00:00:00'), (5.635150377816382e-05, 'date_2019-06-02 00:00:00'), (5.622765068378725e-05, 'year_month_2019-02-01 00:00:00'), (5.448982215356325e-05, 'year_month_2018-08-01 00:00:00'), (5.296487509454947e-05, 'date_2019-11-17 00:00:00'), (4.7290247305393215e-05, 'date_2019-07-14 00:00:00'), (4.7238146699946906e-05, 'date_2019-12-15 00:00:00'), (4.6126125324951316e-05, 'date_2020-03-29 00:00:00'), (4.4785235454908153e-05, 'year_month_2019-04-01 00:00:00'), (4.1576522772555e-05, 'date_2019-03-31 00:00:00'), (3.8374392553085174e-05, 'year_month_2018-06-01 00:00:00'), (3.686094893171201e-05, 'year_month_2020-07-01 00:00:00'), (3.618250631571439e-05, 'date_2020-01-26 00:00:00'), (3.249823928788069e-05, 'date_2019-07-21 00:00:00'), (3.0226600237447353e-05, 'date_2020-01-12 00:00:00'), (2.998343826932783e-05, 'date_2018-04-22 00:00:00'), (2.9180678270973605e-05, 'date_2019-07-28 00:00:00'), (2.8438312714134492e-05, 'date_2020-02-09 00:00:00'), (2.835436958577231e-05, 'geography_Cincinnati/Dayton'), (2.8049026682190252e-05, 'date_2018-06-03 00:00:00'), (2.6991876633329336e-05, 'date_2019-10-27 00:00:00'), (2.5869955019944412e-05, 'date_2020-03-08 00:00:00'), (2.553049714949352e-05, 'date_2019-08-04 00:00:00'), (2.5356080872223732e-05, 'date_2019-12-01 00:00:00'), (2.4705730126888773e-05, 'date_2018-11-25 00:00:00'), (2.4371315408184143e-05, 'date_2019-10-06 00:00:00'), (2.3845387889907788e-05, 'date_2018-02-04 00:00:00'), (2.38442839301467e-05, 'date_2019-06-30 00:00:00'), (2.3333125128651162e-05, 'date_2019-06-09 00:00:00'), (2.3170820577704463e-05, 'date_2018-12-02 00:00:00'), (2.145215656572261e-05, 'date_2018-01-21 00:00:00'), (2.1450875630092868e-05, 'date_2019-01-27 00:00:00'), (2.097531375782445e-05, 'date_2019-04-14 00:00:00'), (2.0940382582684645e-05, 'date_2018-10-21 00:00:00'), (2.093707663619989e-05, 'date_2019-12-22 00:00:00'), (2.0580448846970296e-05, 'date_2020-06-07 00:00:00'), (1.9406956135897473e-05, 'date_2018-02-25 00:00:00'), (1.920608815977245e-05, 'date_2020-03-22 00:00:00'), (1.910520235811029e-05, 'date_2020-03-01 00:00:00'), (1.909807691448432e-05, 'date_2019-11-03 00:00:00'), (1.8968712729591043e-05, 'date_2020-07-12 00:00:00'), (1.8597362252780515e-05, 'date_2019-09-22 00:00:00'), (1.840033054288987e-05, 'date_2020-02-16 00:00:00'), (1.661234800446592e-05, 'date_2019-04-21 00:00:00'), (1.6100140692645717e-05, 'year_month_2018-05-01 00:00:00'), (1.5770505528908695e-05, 'date_2018-01-14 00:00:00'), (1.568368756009463e-05, 'date_2019-02-10 00:00:00'), (1.517398560446118e-05, 'date_2018-01-28 00:00:00'), (1.515545572134844e-05, 'date_2020-03-15 00:00:00'), (1.4950296821843535e-05, 'date_2018-11-11 00:00:00'), (1.4078404408803216e-05, 'date_2019-02-03 00:00:00'), (1.3686943478003405e-05, 'date_2019-01-20 00:00:00'), (1.366489105046632e-05, 'date_2019-08-18 00:00:00'), (1.3564299957291743e-05, 'date_2019-03-10 00:00:00'), (1.3468028843214191e-05, 'date_2020-08-30 00:00:00'), (1.2831296036479249e-05, 'date_2019-03-17 00:00:00'), (1.2609496834731197e-05, 'date_2019-10-13 00:00:00'), (1.2547714498915288e-05, 'date_2018-10-28 00:00:00'), (1.2540260719784582e-05, 'date_2019-05-05 00:00:00'), (1.2492480953891915e-05, 'date_2020-02-23 00:00:00'), (1.177317643844796e-05, 'year_month_2020-09-01 00:00:00'), (1.1551329629176873e-05, 'date_2018-05-27 00:00:00'), (1.1250729470241501e-05, 'date_2018-01-07 00:00:00'), (1.0677520875803818e-05, 'date_2018-04-15 00:00:00'), (1.060127029459686e-05, 'date_2018-08-05 00:00:00'), (1.0320784902004407e-05, 'date_2018-06-24 00:00:00'), (1.0208539014178768e-05, 'date_2019-09-15 00:00:00'), (1.0080024771467489e-05, 'date_2018-11-18 00:00:00'), (1.0064571284115541e-05, 'date_2018-09-16 00:00:00'), (1.0024443978601856e-05, 'date_2020-09-06 00:00:00'), (1.0011253761559711e-05, 'date_2018-08-12 00:00:00'), (9.821600708930803e-06, 'date_2018-03-04 00:00:00'), (9.750359686552903e-06, 'date_2018-07-22 00:00:00'), (9.520222190542582e-06, 'date_2020-04-12 00:00:00'), (9.364911178534026e-06, 'date_2019-06-23 00:00:00'), (9.351827839070415e-06, 'date_2018-08-19 00:00:00'), (9.206802067674236e-06, 'date_2020-04-26 00:00:00'), (9.17756959158815e-06, 'date_2019-08-11 00:00:00'), (9.04534198136978e-06, 'date_2019-09-01 00:00:00'), (9.00796096342254e-06, 'date_2018-06-10 00:00:00'), (8.672230873378186e-06, 'date_2018-10-14 00:00:00'), (8.49297827843389e-06, 'date_2020-04-05 00:00:00'), (8.202830695274434e-06, 'date_2018-02-18 00:00:00'), (7.907435749902092e-06, 'date_2018-03-18 00:00:00'), (7.867717509684003e-06, 'date_2019-01-13 00:00:00'), (7.737671023289723e-06, 'date_2018-11-04 00:00:00'), (7.338962174930925e-06, 'date_2019-05-26 00:00:00'), (7.320811160960635e-06, 'date_2019-06-16 00:00:00'), (7.2381887639858816e-06, 'date_2020-08-02 00:00:00'), (6.95814011993539e-06, 'date_2018-04-08 00:00:00'), (6.860621983297569e-06, 'date_2019-11-10 00:00:00'), (6.628277943491789e-06, 'date_2020-06-28 00:00:00'), (6.425470290681646e-06, 'date_2018-03-11 00:00:00'), (6.3568129717433676e-06, 'date_2018-07-01 00:00:00'), (6.2015082211940196e-06, 'date_2019-09-08 00:00:00'), (5.889430671015894e-06, 'date_2020-05-03 00:00:00'), (5.698554480600474e-06, 'date_2019-08-25 00:00:00'), (5.274690104893083e-06, 'date_2019-02-24 00:00:00'), (4.705469134607342e-06, 'date_2020-08-23 00:00:00'), (4.638832347390833e-06, 'date_2019-09-29 00:00:00'), (4.2599029660348635e-06, 'date_2020-07-05 00:00:00'), (4.17874610702709e-06, 'date_2018-05-13 00:00:00'), (4.125362049554813e-06, 'date_2019-03-03 00:00:00'), (4.107132711126376e-06, 'date_2019-10-20 00:00:00'), (4.017947171589023e-06, 'date_2020-08-16 00:00:00'), (3.974194590152454e-06, 'date_2018-09-30 00:00:00'), (3.5075390678019863e-06, 'date_2018-07-29 00:00:00'), (3.4412951459159277e-06, 'date_2020-08-09 00:00:00'), (3.374128901427151e-06, 'date_2018-05-20 00:00:00'), (3.368040925768883e-06, 'date_2018-09-02 00:00:00'), (3.152914899809151e-06, 'date_2019-03-24 00:00:00'), (3.1495551216840672e-06, 'date_2018-02-11 00:00:00'), (2.4737419993723537e-06, 'date_2018-09-23 00:00:00'), (2.330991354179816e-06, 'date_2018-06-17 00:00:00'), (2.30059233363921e-06, 'date_2020-07-26 00:00:00'), (2.1497428817939714e-06, 'date_2018-05-06 00:00:00'), (1.942588512262214e-06, 'date_2018-10-07 00:00:00'), (1.8896452078647286e-06, 'date_2020-05-10 00:00:00'), (1.888047715934587e-06, 'date_2018-07-15 00:00:00'), (1.8049431230017088e-06, 'date_2020-05-17 00:00:00'), (1.7563491718304908e-06, 'date_2019-05-19 00:00:00'), (1.5724948718544994e-06, 'date_2019-02-17 00:00:00'), (1.4881428590161655e-06, 'date_2019-05-12 00:00:00'), (1.3460512740073202e-06, 'date_2018-04-01 00:00:00'), (1.2680444842835377e-06, 'date_2018-08-26 00:00:00'), (1.1681918058415943e-06, 'date_2020-07-19 00:00:00'), (7.808941767814416e-07, 'date_2018-07-08 00:00:00'), (6.311110872931514e-07, 'date_2019-11-24 00:00:00'), (5.246492958825384e-07, 'date_2018-09-09 00:00:00'), (4.3672240376863273e-07, 'date_2020-04-19 00:00:00'), (1.7895810257492083e-08, 'date_2020-05-31 00:00:00'), (1.0453805372638569e-08, 'date_2020-06-14 00:00:00'), (0.0, 'variety'), (0.0, 'type'), (0.0, 'status'), (0.0, 'segment'), (0.0, 'date_2020-06-21 00:00:00'), (0.0, 'date_2020-05-24 00:00:00'), (0.0, 'date_2018-04-29 00:00:00'), (0.0, 'date_2018-03-25 00:00:00')]

In [30]:
y = cleaned_cat_O_df['price_cat']
X = cleaned_cat_O_df.drop(columns=['price_cat', 'avg_price', 'total_volume_prod', 'total_volume_price'], axis=1)

RFSSModel4(X, y)

Predictions: ['2' '2' '0' ... '0' '2' '0']
Confusion Matrix

          Predicted 0  Predicted 1  Predicted 2  Predicted 3
Actual 0          343           53           50           20
Actual 1           98          194          273           66
Actual 2           27           86          560          184
Actual 3            4           18          159          515

Accuracy Score : 0.6083018867924528
Classification Report
              precision    recall  f1-score   support

           0       0.73      0.74      0.73       466
           1       0.55      0.31      0.40       631
           2       0.54      0.65      0.59       857
           3       0.66      0.74      0.70       696

    accuracy                           0.61      2650
   macro avg       0.62      0.61      0.60      2650
weighted avg       0.61      0.61      0.60      2650

Importances: [0.00000000e+00 8.57289019e-02 4.94157068e-02 5.30952220e-02
 6.38410653e-02 4.43303940e-02 4.59961568e-02 7.35259750e-02
 1.05434698e-02 1.45326903e-02 1.35905405e-02 1.53923238e-02
 5.07387451e-03 1.09711484e-02 1.57325761e-02 1.33027397e-02
 3.23944592e-03 5.95321050e-03 8.32577149e-03 8.07892778e-03
 1.16306594e-02 2.19593997e-02 1.72242973e-02 1.87105466e-02
 1.33561650e-02 0.00000000e+00 1.12296361e-02 2.37513679e-03
 8.93693419e-03 1.97082794e-02 1.03096386e-03 0.00000000e+00
 0.00000000e+00 6.45370261e-03 1.37529812e-02 1.41542024e-02
 1.78586143e-02 2.20861421e-02 2.15708570e-02 8.69216422e-03
 4.60150978e-02 9.49204147e-02 2.17634614e-02 4.54164317e-04
 2.81887183e-04 6.98344831e-05 3.09075849e-04 5.07153918e-05
 4.50049745e-05 9.58068682e-05 4.89671949e-05 2.15586841e-04
 1.76656424e-04 2.08052148e-04 1.30924523e-04 1.02751259e-04
 1.39618360e-04 2.60563253e-04 1.27323469e-04 2.21061884e-04
 1.67588679e-04 1.66142304e-03 3.93134020e-04 3.18526027e-04
 4.25938233e-04 1.31956653e-04 2.64696187e-03 1.21044149e-03
 1.94494499e-03 2.02109672e-04 9.67850750e-05 1.37956963e-04
 4.74213008e-05 4.37921657e-05 1.76051683e-04 9.45221602e-06
 1.25546776e-05 3.07221512e-05 1.66911646e-05 3.08678428e-05
 3.08372093e-05 1.29328032e-05 1.64268701e-05 1.89029742e-05
 2.43185930e-05 3.34538819e-05 2.48726616e-05 2.68192340e-06
 7.78016998e-06 1.38026630e-05 5.79643416e-06 3.44652187e-05
 1.08525874e-05 7.64988493e-06 7.60092754e-06 7.79340805e-06
 2.46173073e-05 2.79904447e-05 7.31187372e-06 1.30536042e-06
 1.57124953e-05 3.84982004e-06 1.28675937e-05 9.09589328e-06
 3.15329102e-06 2.01333737e-06 1.04194483e-05 6.88298100e-06
 1.66632268e-05 2.52892736e-06 1.48381739e-05 0.00000000e+00
 4.26069956e-06 1.46634520e-05 2.16574875e-05 7.70238426e-06
 1.01398970e-06 1.63926266e-05 1.79734777e-05 2.02804416e-05
 5.07937901e-06 1.44860132e-05 4.68614109e-05 8.12971127e-05
 1.67098325e-05 3.22432001e-05 6.02904874e-06 4.51439806e-06
 3.01620703e-05 5.27733074e-06 2.13100640e-05 1.16754799e-05
 1.75329789e-05 7.03027538e-05 6.80753566e-06 1.30902408e-04
 2.47353998e-04 5.56762666e-05 5.58263345e-05 2.26959460e-04
 1.65722253e-05 2.28510958e-05 1.82079241e-05 1.81446033e-05
 3.97449544e-05 6.80630909e-05 2.03945449e-05 4.01148300e-05
 1.43523198e-05 6.43671842e-05 6.32877378e-05 7.04658821e-05
 8.39135089e-05 5.83839859e-05 1.47657812e-05 3.10079084e-05
 1.57720693e-05 1.56633576e-05 5.22623770e-06 9.93106747e-06
 1.26825276e-05 2.46447028e-05 2.04108380e-05 1.57836238e-05
 5.96591928e-06 3.49747468e-05 3.88258920e-05 2.29899146e-05
 4.16801155e-05 2.45902576e-05 4.25497419e-05 2.31306438e-04
 1.32177991e-05 3.30904475e-05 3.42150339e-04 4.77470382e-05
 7.94600631e-05 6.97461841e-05 1.42826946e-04 6.46605228e-05
 8.64875497e-06 9.66688425e-06 1.90264192e-05 1.57840618e-05
 3.71807315e-06 1.15138059e-05 6.88901568e-05 2.02644853e-05
 3.22566078e-05 1.32602484e-05 1.89147848e-05 5.60961932e-06
 7.80204509e-06 5.52379465e-06 3.14388219e-06 1.09177413e-05
 3.63733871e-07 8.71434427e-06 7.48045223e-06 6.55235399e-06
 0.00000000e+00 1.13905027e-05 1.19783949e-05 1.18990723e-05
 1.55053592e-05 1.96582489e-05 1.27495282e-05 7.45419548e-06
 2.41540485e-05 6.75141256e-05 3.23817814e-04 1.39504046e-04
 1.23758455e-03 2.20539966e-03 5.17840433e-04 1.71641776e-03
 2.25135303e-03 3.64353521e-04 2.95689843e-04 7.28655205e-05
 2.60523025e-04 1.32102764e-03 9.56976231e-05 3.71641786e-04
 1.06245432e-03 2.21461999e-04 5.00948870e-04 3.81755559e-03
 1.18132766e-03 4.17617302e-04 3.22348764e-04 1.52158810e-04
 4.95334641e-04 3.80811366e-04 1.23868629e-04 1.55893055e-04
 1.27075285e-03 1.69164853e-03 1.33580857e-03 1.95919591e-04
 5.63765557e-04 3.09829149e-04 4.10278828e-04 4.27101626e-04
 4.37285484e-04 2.00939535e-03 1.11008198e-03 3.80146801e-04
 1.87274110e-04 8.64333322e-04 9.69725815e-04 6.29037599e-03
 1.27834714e-03 8.85615851e-05 1.11961714e-03 2.75761053e-04
 2.21542521e-03 1.62341109e-03 1.05891312e-03 1.01163715e-03
 1.22886431e-03 4.09934749e-04 4.15935399e-04]

[(0.09492041469280532, 'avg_price_current_year'), (0.08572890190454055, '4046_units'), (0.07352597503177744, 'xl_bags'), (0.06384106527686222, 'total_bags'), (0.05309522202527382, '4770_units'), (0.04941570683805413, '4225_units'), (0.046015097777486844, 'avg_price_prior_year'), (0.04599615682872273, 'l_bags'), (0.04433039403019822, 's_bags'), (0.022086142107594405, 'dollars_prior_year'), (0.02195939973550732, 'sp12'), (0.0217634613792446, 'avg_price_variance'), (0.021570856986301342, 'dollars_current_year'), (0.0197082794007205, 'peru'), (0.01871054663032128, 'tmin'), (0.01785861426454496, 'unit_variance'), (0.017224297317849736, 'sp24'), (0.01573257610908255, 'cdd'), (0.015392323792897337, 'phdi'), (0.014532690322378885, 'tavg'), (0.01415420244275295, 'units_current_year'), (0.013752981174649341, 'units_prior_year'), (0.013590540487828472, 'pdsi'), (0.013356165032074365, 'tmax'), (0.01330273970429198, 'hdd'), (0.011630659355218268, 'sp09'), (0.011229636093596005, 'california'), (0.010971148371014068, 'pmdi'), (0.010543469849708515, 'pcp'), (0.008936934190976223, 'mexico'), (0.008692164216784955, 'dollar_variance'), (0.008325771486135228, 'sp03'), (0.00807892777685189, 'sp06'), (0.006453702608416622, 'period'), (0.0062903759863721384, 'geography_San Francisco'), (0.0059532105024446115, 'sp02'), (0.005073874506626081, 'zndx'), (0.003817555585447375, 'geography_Hartford/Springfield'), (0.003239445921143035, 'sp01'), (0.002646961873810158, 'year_month_2019-12-01 00:00:00'), (0.00237513679163902, 'chile'), (0.0022513530252252353, 'geography_California'), (0.002215425212689747, 'geography_Spokane'), (0.0022053996551900097, 'geography_Boise'), (0.002009395351646111, 'geography_Portland'), (0.001944944994230979, 'year_month_2020-02-01 00:00:00'), (0.0017164177560561591, 'geography_Buffalo/Rochester'), (0.0016916485303728628, 'geography_New York'), (0.0016614230385997531, 'year_month_2019-07-01 00:00:00'), (0.0016234110852533306, 'geography_St. Louis'), (0.001335808574521414, 'geography_Northeast'), (0.0013210276379981671, 'geography_Dallas/Ft. Worth'), (0.0012783471441478549, 'geography_Seattle'), (0.0012707528479646622, 'geography_New Orleans/Mobile'), (0.0012375845524831757, 'geography_Baltimore/Washington'), (0.0012288643078949405, 'geography_Total U.S.'), (0.0012104414933088088, 'year_month_2020-01-01 00:00:00'), (0.0011813276550851736, 'geography_Houston'), (0.0011196171366886609, 'geography_South Central'), (0.0011100819801384398, 'geography_Raleigh/Greensboro'), (0.001062454315610233, 'geography_Grand Rapids'), (0.0010589131151633384, 'geography_Syracuse'), (0.0010309638605057586, 'columbia'), (0.0010116371486519223, 'geography_Tampa'), (0.000969725814567997, 'geography_San Diego'), (0.0008643333222720099, 'geography_Sacramento'), (0.0005637655569017099, 'geography_Orlando'), (0.0005178404330298594, 'geography_Boston'), (0.0005009488704630125, 'geography_Harrisburg/Scranton'), (0.0004953346406465168, 'geography_Los Angeles'), (0.00045416431652746695, 'year_month_2018-01-01 00:00:00'), (0.0004372854838250463, 'geography_Plains'), (0.0004271016258759574, 'geography_Pittsburgh'), (0.0004259382329638282, 'year_month_2019-10-01 00:00:00'), (0.0004176173019034504, 'geography_Indianapolis'), (0.00041593539935315426, 'geography_West Tex/New Mexico'), (0.00041027882816534005, 'geography_Phoenix/Tucson'), (0.0004099347485736373, 'geography_West'), (0.0003931340202216239, 'year_month_2019-08-01 00:00:00'), (0.000380811365507739, 'geography_Louisville'), (0.00038014680070396867, 'geography_Richmond/Norfolk'), (0.00037164178554970615, 'geography_Detroit'), (0.0003643535210229785, 'geography_Charlotte'), (0.0003421503394262335, 'date_2019-12-29 00:00:00'), (0.0003238178139160888, 'geography_Albany'), (0.00032234876389575153, 'geography_Jacksonville'), (0.00031852602699819455, 'year_month_2019-09-01 00:00:00'), (0.00030982914912355743, 'geography_Philadelphia'), (0.00030907584902101134, 'year_month_2018-04-01 00:00:00'), (0.0002956898431395605, 'geography_Chicago'), (0.0002818871833702053, 'year_month_2018-02-01 00:00:00'), (0.00027576105310187415, 'geography_Southeast'), (0.00026056325304937904, 'year_month_2019-03-01 00:00:00'), (0.00026052302459503903, 'geography_Columbus'), (0.00024735399816963697, 'date_2019-04-07 00:00:00'), (0.00023130643782439298, 'date_2019-12-08 00:00:00'), (0.00022695945956792895, 'date_2019-04-28 00:00:00'), (0.00022146199888162005, 'geography_Great Lakes'), (0.00022106188350509394, 'year_month_2019-05-01 00:00:00'), (0.00021558684075579266, 'year_month_2018-09-01 00:00:00'), (0.0002080521483957663, 'year_month_2018-11-01 00:00:00'), (0.0002021096718064344, 'year_month_2020-03-01 00:00:00'), (0.0001959195910452749, 'geography_Northern New England'), (0.00018727410979521784, 'geography_Roanoke'), (0.00017665642392501981, 'year_month_2018-10-01 00:00:00'), (0.00017605168343766991, 'year_month_2020-08-01 00:00:00'), (0.00016758867856781748, 'year_month_2019-06-01 00:00:00'), (0.0001558930545333607, 'geography_Nashville'), (0.00015215880955095603, 'geography_Las Vegas'), (0.00014282694561219792, 'date_2020-02-02 00:00:00'), (0.0001396183598035298, 'year_month_2019-02-01 00:00:00'), (0.0001395040461949202, 'geography_Atlanta'), (0.00013795696269845286, 'year_month_2020-05-01 00:00:00'), (0.00013195665305932802, 'year_month_2019-11-01 00:00:00'), (0.00013092452286828484, 'year_month_2018-12-01 00:00:00'), (0.0001309024081214447, 'date_2019-03-31 00:00:00'), (0.00012732346911029137, 'year_month_2019-04-01 00:00:00'), (0.00012386862909942694, 'geography_Midsouth'), (0.00010275125935860471, 'year_month_2019-01-01 00:00:00'), (9.67850750491207e-05, 'year_month_2020-04-01 00:00:00'), (9.580686819499618e-05, 'year_month_2018-07-01 00:00:00'), (9.569762308087778e-05, 'geography_Denver'), (8.856158508289853e-05, 'geography_South Carolina'), (8.391350885785563e-05, 'date_2019-07-28 00:00:00'), (8.129711271224219e-05, 'date_2018-12-02 00:00:00'), (7.94600631257136e-05, 'date_2020-01-19 00:00:00'), (7.286552053120668e-05, 'geography_Cincinnati/Dayton'), (7.046588213922679e-05, 'date_2019-07-21 00:00:00'), (7.030275375020687e-05, 'date_2019-03-17 00:00:00'), (6.983448305274439e-05, 'year_month_2018-03-01 00:00:00'), (6.974618409558408e-05, 'date_2020-01-26 00:00:00'), (6.889015684663511e-05, 'date_2020-03-29 00:00:00'), (6.806309088037693e-05, 'date_2019-06-09 00:00:00'), (6.751412558705454e-05, 'date_2020-09-06 00:00:00'), (6.466052275197706e-05, 'date_2020-02-09 00:00:00'), (6.43671842275787e-05, 'date_2019-07-07 00:00:00'), (6.328773775966698e-05, 'date_2019-07-14 00:00:00'), (5.838398591007257e-05, 'date_2019-08-04 00:00:00'), (5.58263345468201e-05, 'date_2019-04-21 00:00:00'), (5.567626663713885e-05, 'date_2019-04-14 00:00:00'), (5.071539184301064e-05, 'year_month_2018-05-01 00:00:00'), (4.896719492625567e-05, 'year_month_2018-08-01 00:00:00'), (4.7747038214595e-05, 'date_2020-01-12 00:00:00'), (4.742130082867684e-05, 'year_month_2020-06-01 00:00:00'), (4.686141091094244e-05, 'date_2018-11-25 00:00:00'), (4.500497451267151e-05, 'year_month_2018-06-01 00:00:00'), (4.379216569475784e-05, 'year_month_2020-07-01 00:00:00'), (4.2549741949938786e-05, 'date_2019-12-01 00:00:00'), (4.168011553179017e-05, 'date_2019-11-17 00:00:00'), (4.01148300398478e-05, 'date_2019-06-23 00:00:00'), (3.97449543677672e-05, 'date_2019-06-02 00:00:00'), (3.882589203843687e-05, 'date_2019-11-03 00:00:00'), (3.497474677902522e-05, 'date_2019-10-27 00:00:00'), (3.446521867734888e-05, 'date_2018-04-22 00:00:00'), (3.345388193631155e-05, 'date_2018-03-11 00:00:00'), (3.309044754956805e-05, 'date_2019-12-22 00:00:00'), (3.225660778914222e-05, 'date_2020-04-12 00:00:00'), (3.2243200132598586e-05, 'date_2019-01-20 00:00:00'), (3.10079084487386e-05, 'date_2019-08-18 00:00:00'), (3.086784283285767e-05, 'date_2018-01-28 00:00:00'), (3.0837209273581316e-05, 'date_2018-02-04 00:00:00'), (3.0722151153851624e-05, 'date_2018-01-14 00:00:00'), (3.0162070277109375e-05, 'date_2019-02-10 00:00:00'), (2.7990444739290464e-05, 'date_2018-06-03 00:00:00'), (2.4872661637696245e-05, 'date_2018-03-18 00:00:00'), (2.4644702768523263e-05, 'date_2019-09-29 00:00:00'), (2.4617307255647325e-05, 'date_2018-05-27 00:00:00'), (2.4590257573035346e-05, 'date_2019-11-24 00:00:00'), (2.4318592976417907e-05, 'date_2018-03-04 00:00:00'), (2.4154048521104072e-05, 'date_2020-08-30 00:00:00'), (2.298991463859374e-05, 'date_2019-11-10 00:00:00'), (2.2851095810215805e-05, 'date_2019-05-12 00:00:00'), (2.1657487521474325e-05, 'date_2018-09-30 00:00:00'), (2.1310064019664967e-05, 'date_2019-02-24 00:00:00'), (2.041083796560473e-05, 'date_2019-10-06 00:00:00'), (2.0394544877794663e-05, 'date_2019-06-16 00:00:00'), (2.028044155283541e-05, 'date_2018-11-04 00:00:00'), (2.026448530461871e-05, 'date_2020-04-05 00:00:00'), (1.965824888784185e-05, 'date_2020-08-09 00:00:00'), (1.9026419163870785e-05, 'date_2020-03-01 00:00:00'), (1.8914784785351832e-05, 'date_2020-04-26 00:00:00'), (1.8902974243383053e-05, 'date_2018-02-25 00:00:00'), (1.820792409452718e-05, 'date_2019-05-19 00:00:00'), (1.8144603269778805e-05, 'date_2019-05-26 00:00:00'), (1.7973477695067485e-05, 'date_2018-10-28 00:00:00'), (1.7532978852680234e-05, 'date_2019-03-10 00:00:00'), (1.6709832460750217e-05, 'date_2019-01-13 00:00:00'), (1.6691164649407694e-05, 'date_2018-01-21 00:00:00'), (1.666322683656813e-05, 'date_2018-08-19 00:00:00'), (1.6572225309552e-05, 'date_2019-05-05 00:00:00'), (1.6426870144312925e-05, 'date_2018-02-18 00:00:00'), (1.6392626556482266e-05, 'date_2018-10-21 00:00:00'), (1.578406177798311e-05, 'date_2020-03-08 00:00:00'), (1.5783623806506976e-05, 'date_2019-10-13 00:00:00'), (1.577206933702759e-05, 'date_2019-08-25 00:00:00'), (1.571249530115699e-05, 'date_2018-06-24 00:00:00'), (1.566335758087495e-05, 'date_2019-09-01 00:00:00'), (1.5505359187148064e-05, 'date_2020-08-02 00:00:00'), (1.4838173924990577e-05, 'date_2018-09-02 00:00:00'), (1.4765781227033493e-05, 'date_2019-08-11 00:00:00'), (1.4663452000441048e-05, 'date_2018-09-23 00:00:00'), (1.4486013157464606e-05, 'date_2018-11-18 00:00:00'), (1.4352319838036026e-05, 'date_2019-06-30 00:00:00'), (1.3802662964415165e-05, 'date_2018-04-08 00:00:00'), (1.3260248442410552e-05, 'date_2020-04-19 00:00:00'), (1.321779914515689e-05, 'date_2019-12-15 00:00:00'), (1.2932803190813347e-05, 'date_2018-02-11 00:00:00'), (1.2867593694452138e-05, 'date_2018-07-08 00:00:00'), (1.274952823253654e-05, 'date_2020-08-16 00:00:00'), (1.2682527579600238e-05, 'date_2019-09-22 00:00:00'), (1.2554677585191764e-05, 'date_2018-01-07 00:00:00'), (1.1978394907000777e-05, 'date_2020-07-19 00:00:00'), (1.1899072288704185e-05, 'date_2020-07-26 00:00:00'), (1.1675479894234103e-05, 'date_2019-03-03 00:00:00'), (1.1513805902523185e-05, 'date_2020-03-22 00:00:00'), (1.1390502717080508e-05, 'date_2020-07-12 00:00:00'), (1.091774125477512e-05, 'date_2020-05-31 00:00:00'), (1.0852587435636447e-05, 'date_2018-04-29 00:00:00'), (1.04194482924071e-05, 'date_2018-08-05 00:00:00'), (9.931067468343944e-06, 'date_2019-09-15 00:00:00'), (9.66688424761228e-06, 'date_2020-02-23 00:00:00'), (9.4522160162185e-06, 'year_month_2020-09-01 00:00:00'), (9.095893278325868e-06, 'date_2018-07-15 00:00:00'), (8.714344266011445e-06, 'date_2020-06-14 00:00:00'), (8.648754966604984e-06, 'date_2020-02-16 00:00:00'), (7.802045088304519e-06, 'date_2020-05-10 00:00:00'), (7.79340805211503e-06, 'date_2018-05-20 00:00:00'), (7.780169977382974e-06, 'date_2018-04-01 00:00:00'), (7.70238426347595e-06, 'date_2018-10-07 00:00:00'), (7.649884934062956e-06, 'date_2018-05-06 00:00:00'), (7.600927541743443e-06, 'date_2018-05-13 00:00:00'), (7.4804522285289896e-06, 'date_2020-06-21 00:00:00'), (7.454195479036038e-06, 'date_2020-08-23 00:00:00'), (7.311873720788179e-06, 'date_2018-06-10 00:00:00'), (6.8829810017877135e-06, 'date_2018-08-12 00:00:00'), (6.807535660421875e-06, 'date_2019-03-24 00:00:00'), (6.552353989185144e-06, 'date_2020-06-28 00:00:00'), (6.0290487377179615e-06, 'date_2019-01-27 00:00:00'), (5.965919277990234e-06, 'date_2019-10-20 00:00:00'), (5.796434156032032e-06, 'date_2018-04-15 00:00:00'), (5.609619322893059e-06, 'date_2020-05-03 00:00:00'), (5.523794646806925e-06, 'date_2020-05-17 00:00:00'), (5.2773307447512e-06, 'date_2019-02-17 00:00:00'), (5.2262376961412525e-06, 'date_2019-09-08 00:00:00'), (5.079379010388375e-06, 'date_2018-11-11 00:00:00'), (4.514398064041286e-06, 'date_2019-02-03 00:00:00'), (4.260699556491042e-06, 'date_2018-09-16 00:00:00'), (3.849820043093377e-06, 'date_2018-07-01 00:00:00'), (3.718073147366059e-06, 'date_2020-03-15 00:00:00'), (3.153291023455282e-06, 'date_2018-07-22 00:00:00'), (3.1438821947832303e-06, 'date_2020-05-24 00:00:00'), (2.6819233958768946e-06, 'date_2018-03-25 00:00:00'), (2.528927355690892e-06, 'date_2018-08-26 00:00:00'), (2.013337373629737e-06, 'date_2018-07-29 00:00:00'), (1.3053604248558622e-06, 'date_2018-06-17 00:00:00'), (1.0139896980595526e-06, 'date_2018-10-14 00:00:00'), (3.6373387103309946e-07, 'date_2020-06-07 00:00:00'), (0.0, 'variety'), (0.0, 'type'), (0.0, 'status'), (0.0, 'segment'), (0.0, 'date_2020-07-05 00:00:00'), (0.0, 'date_2018-09-09 00:00:00')]

# Additional Rough work

In [54]:
prices_df = pd.read_csv(Path('../resources/prices.csv'))
prices_df.head()

,year_month,geography,timeframe,date,type,avg_price,total_volume,4046_units,4225_units,4770_units,total_bags,s_bags,l_bags,xl_bags,price_inc
0,1/1/2017,Albany,Weekly,1/2/2017,conventional,1.47,129948.23,4845.77,117027.41,200.36,7874.69,7866.86,7.83,0.00,1
1,1/1/2017,Albany,Weekly,1/8/2017,conventional,1.55,91728.18,3355.47,75641.23,56.91,12674.57,12606.67,67.90,0.00,1
2,1/1/2017,Albany,Weekly,1/15/2017,conventional,1.55,88526.26,3327.65,71956.77,607.03,12634.81,12574.72,60.09,0.00,0
3,1/1/2017,Albany,Weekly,1/22/2017,conventional,1.59,128679.24,4119.94,111173.08,2191.71,11194.51,11060.19,125.50,8.82,1
4,1/1/2017,Albany,Weekly,1/29/2017,conventional,1.31,95424.59,3844.62,78315.15,484.56,12780.26,12393.84,382.06,4.36,0

In [55]:
prices_df['year_month'] = pd.to_datetime(prices_df['year_month'])
prices_df['date'] = pd.to_datetime(prices_df['date'])
#prices_df["year"] = prices_df['date'].apply(lambda x: x.year)
#prices_df["month"] = prices_df['date'].apply(lambda x: x.month)
#prices_df["day"] = prices_df['date'].apply(lambda x: x.day)

In [56]:
for col in prices_df.columns:
    print(f"Column {col} has {prices_df[col].isnull().sum()} null values")

Column year_month has 0 null values
Column geography has 0 null values
Column timeframe has 0 null values
Column date has 0 null values
Column type has 0 null values
Column avg_price has 0 null values
Column total_volume has 0 null values
Column 4046_units has 0 null values
Column 4225_units has 0 null values
Column 4770_units has 0 null values
Column total_bags has 0 null values
Column s_bags has 0 null values
Column l_bags has 0 null values
Column xl_bags has 0 null values
Column price_inc has 0 null values

In [57]:
# type con organic
def change_type_string(str):
        
    if str == "actual":
        return 1
    
    if str == "avocados":
        return 1
    
    if str == "hass":
        return 1
    
    if str == "conventional":
        return 1
    else:
        return 0
    
    
prices_df['type'] = prices_df['type'].apply(change_type_string)
#combined_cleaned_df['status'] = combined_cleaned_df['status'].apply(change_type_string)
#combined_cleaned_df['segment'] = combined_cleaned_df['segment'].apply(change_type_string)
#combined_cleaned_df['variety'] = combined_cleaned_df['variety'].apply(change_type_string)

#combined_cleaned_df.head()

In [58]:
price_bins = [0.44, 1.14, 1.37, 1.63, 3.17]
group_names = ["0", "1", "2", "3" ]

#cleaned_cat_df = prices_df.copy()

# Categorize prices for NB.
prices_df["price_cat"] = pd.cut(prices_df['avg_price'], price_bins, labels=group_names)

prices_df.head()

,year_month,geography,timeframe,date,type,avg_price,total_volume,4046_units,4225_units,4770_units,total_bags,s_bags,l_bags,xl_bags,price_inc,price_cat
0,2017-01-01,Albany,Weekly,2017-01-02,1,1.47,129948.23,4845.77,117027.41,200.36,7874.69,7866.86,7.83,0.00,1,2
1,2017-01-01,Albany,Weekly,2017-01-08,1,1.55,91728.18,3355.47,75641.23,56.91,12674.57,12606.67,67.90,0.00,1,2
2,2017-01-01,Albany,Weekly,2017-01-15,1,1.55,88526.26,3327.65,71956.77,607.03,12634.81,12574.72,60.09,0.00,0,2
3,2017-01-01,Albany,Weekly,2017-01-22,1,1.59,128679.24,4119.94,111173.08,2191.71,11194.51,11060.19,125.50,8.82,1,2
4,2017-01-01,Albany,Weekly,2017-01-29,1,1.31,95424.59,3844.62,78315.15,484.56,12780.26,12393.84,382.06,4.36,0,1

In [59]:
prices_df = pd.get_dummies(data=prices_df, columns=['year_month', 'date'])
prices_df.head()

,geography,timeframe,type,avg_price,total_volume,4046_units,4225_units,4770_units,total_bags,s_bags,...,date_2020-07-05 00:00:00,date_2020-07-12 00:00:00,date_2020-07-19 00:00:00,date_2020-07-26 00:00:00,date_2020-08-02 00:00:00,date_2020-08-09 00:00:00,date_2020-08-16 00:00:00,date_2020-08-23 00:00:00,date_2020-08-30 00:00:00,date_2020-09-06 00:00:00
0,Albany,Weekly,1,1.47,129948.23,4845.77,117027.41,200.36,7874.69,7866.86,...,0,0,0,0,0,0,0,0,0,0
1,Albany,Weekly,1,1.55,91728.18,3355.47,75641.23,56.91,12674.57,12606.67,...,0,0,0,0,0,0,0,0,0,0
2,Albany,Weekly,1,1.55,88526.26,3327.65,71956.77,607.03,12634.81,12574.72,...,0,0,0,0,0,0,0,0,0,0
3,Albany,Weekly,1,1.59,128679.24,4119.94,111173.08,2191.71,11194.51,11060.19,...,0,0,0,0,0,0,0,0,0,0
4,Albany,Weekly,1,1.31,95424.59,3844.62,78315.15,484.56,12780.26,12393.84,...,0,0,0,0,0,0,0,0,0,0

In [60]:
prices_df = prices_df.reset_index()

In [61]:
# Create the OneHotEncoder instance
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(sparse=False)

# Fit the encoder and produce encoded DataFrame
encode_df = pd.DataFrame(enc.fit_transform(prices_df.geography.values.reshape(-1,1)))

# Rename encoded columns
encode_df.columns = enc.get_feature_names(['geography'])
encode_df.head()

,geography_Albany,geography_Atlanta,geography_Baltimore/Washington,geography_Boise,geography_Boston,geography_Buffalo/Rochester,geography_California,geography_Charlotte,geography_Chicago,geography_Cincinnati/Dayton,...,geography_South Carolina,geography_South Central,geography_Southeast,geography_Spokane,geography_St. Louis,geography_Syracuse,geography_Tampa,geography_Total U.S.,geography_West,geography_West Tex/New Mexico
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [62]:
# Merge the two DataFrames together and drop the geography column
prices_df = prices_df.merge(encode_df,left_index=True,right_index=True).drop("geography",1)
prices_df.head()

,index,timeframe,type,avg_price,total_volume,4046_units,4225_units,4770_units,total_bags,s_bags,...,geography_South Carolina,geography_South Central,geography_Southeast,geography_Spokane,geography_St. Louis,geography_Syracuse,geography_Tampa,geography_Total U.S.,geography_West,geography_West Tex/New Mexico
0,0,Weekly,1,1.47,129948.23,4845.77,117027.41,200.36,7874.69,7866.86,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,Weekly,1,1.55,91728.18,3355.47,75641.23,56.91,12674.57,12606.67,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,Weekly,1,1.55,88526.26,3327.65,71956.77,607.03,12634.81,12574.72,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,Weekly,1,1.59,128679.24,4119.94,111173.08,2191.71,11194.51,11060.19,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,Weekly,1,1.31,95424.59,3844.62,78315.15,484.56,12780.26,12393.84,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [63]:
prices_df = prices_df.drop(columns=['timeframe'], axis=1)
prices_df.head()

,index,type,avg_price,total_volume,4046_units,4225_units,4770_units,total_bags,s_bags,l_bags,...,geography_South Carolina,geography_South Central,geography_Southeast,geography_Spokane,geography_St. Louis,geography_Syracuse,geography_Tampa,geography_Total U.S.,geography_West,geography_West Tex/New Mexico
0,0,1,1.47,129948.23,4845.77,117027.41,200.36,7874.69,7866.86,7.83,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1,1.55,91728.18,3355.47,75641.23,56.91,12674.57,12606.67,67.90,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,1,1.55,88526.26,3327.65,71956.77,607.03,12634.81,12574.72,60.09,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,1,1.59,128679.24,4119.94,111173.08,2191.71,11194.51,11060.19,125.50,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,1,1.31,95424.59,3844.62,78315.15,484.56,12780.26,12393.84,382.06,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [64]:
prices_df.shape

(20410, 301)

In [65]:
print(prices_df.columns)

Index(['index', 'type', 'avg_price', 'total_volume', '4046_units',
       '4225_units', '4770_units', 'total_bags', 's_bags', 'l_bags',
       ...
       'geography_South Carolina', 'geography_South Central',
       'geography_Southeast', 'geography_Spokane', 'geography_St. Louis',
       'geography_Syracuse', 'geography_Tampa', 'geography_Total U.S.',
       'geography_West', 'geography_West Tex/New Mexico'],
      dtype='object', length=301)

In [66]:
prices_df = prices_df.dropna()

In [67]:
prices_df["4046_units"] = prices_df["4046_units"] / 100
prices_df["4225_units"] = prices_df["4225_units"] / 1000
prices_df["4770_units"] = prices_df["4770_units"] / 10
prices_df["total_bags"] = prices_df["total_bags"] / 100
prices_df["s_bags"] = prices_df["s_bags"] / 100
prices_df["l_bags"] = prices_df["l_bags"] / 100

In [68]:
y = prices_df['price_cat']
X = prices_df.drop(columns=['index', 'price_cat', 'avg_price', 'total_volume'], axis=1)

RFSSModel4(X, y)

Predictions: ['3' '3' '3' ... '0' '3' '3']
Confusion Matrix

          Predicted 0  Predicted 1  Predicted 2  Predicted 3
Actual 0         1147           22           45          116
Actual 1          636           72          168          341
Actual 2          339           31          209          712
Actual 3          127            7           89         1042

Accuracy Score : 0.48402900254752107
Classification Report
              precision    recall  f1-score   support

           0       0.51      0.86      0.64      1330
           1       0.55      0.06      0.11      1217
           2       0.41      0.16      0.23      1291
           3       0.47      0.82      0.60      1265

    accuracy                           0.48      5103
   macro avg       0.48      0.48      0.39      5103
weighted avg       0.48      0.48      0.40      5103

Importances: [8.47747813e-02 1.49524193e-01 7.21587054e-02 9.51356396e-02
 1.18458881e-01 8.83919252e-02 8.85176864e-02 1.09615650e-01
 3.95119949e-04 4.63380970e-04 1.65566776e-03 2.74314669e-04
 4.10024755e-04 3.26134496e-04 3.75768572e-04 1.53418362e-03
 5.99550427e-03 1.67528777e-02 1.45377979e-02 3.90577110e-04
 1.15485347e-04 1.14144223e-04 1.44412474e-04 7.13887112e-05
 1.76671022e-04 1.64006473e-04 1.35196045e-04 1.56834091e-04
 1.34189912e-04 4.60502257e-04 1.07592620e-04 9.41397859e-05
 4.30217215e-05 2.14268180e-04 1.37926725e-03 2.96122468e-03
 6.50150109e-05 5.55663318e-04 8.09847734e-04 9.24155231e-03
 1.67892195e-03 1.78262889e-04 2.24648997e-04 3.71992730e-04
 1.32698817e-03 3.06086865e-03 2.01601339e-03 1.71713226e-04
 1.26321034e-04 1.23060470e-04 1.19118764e-04 9.86895301e-05
 1.01119840e-03 2.67222529e-05 5.32157024e-05 4.48913827e-05
 5.67685544e-05 6.59751422e-05 4.80489593e-05 1.33113983e-04
 5.44960570e-05 6.61350177e-05 6.42333354e-05 8.02853493e-05
 3.36780895e-05 3.15418893e-05 6.01574318e-05 2.69417541e-05
 5.53639800e-05 3.11933820e-05 4.12361801e-05 6.68323916e-05
 3.22298038e-05 3.25270990e-05 3.18606757e-05 7.80424700e-05
 3.85647948e-05 3.34681040e-05 1.16009520e-04 2.38422418e-05
 5.19832533e-05 2.19336674e-05 7.12912326e-05 1.03803176e-04
 9.41572582e-05 6.94408186e-05 5.81215550e-05 1.33487040e-04
 3.50074030e-04 1.12503274e-03 1.78749418e-03 1.06513574e-03
 9.57605858e-04 1.99573918e-03 2.98764348e-03 5.42985263e-04
 3.89466075e-04 1.49593602e-04 3.90113380e-05 1.55677537e-05
 7.01264350e-06 2.03327798e-05 4.05875322e-06 2.84242539e-05
 3.09045845e-05 2.23230457e-05 1.87803040e-05 2.15054264e-05
 1.77940283e-05 2.94625731e-05 2.43034747e-05 7.03588913e-05
 1.88152616e-05 3.15459473e-05 2.33942703e-05 1.41569408e-05
 2.11781281e-05 1.20384665e-05 1.66896361e-05 3.16644781e-05
 4.32541223e-05 2.10090494e-05 3.90428637e-05 2.00959744e-05
 1.75029997e-05 2.91190269e-05 2.82185244e-05 2.57963545e-05
 3.17436665e-05 2.06116110e-05 4.15957926e-05 2.56898002e-05
 2.47567930e-05 3.44785214e-05 1.73606388e-05 1.24015503e-05
 1.90794088e-05 1.54776230e-05 2.52149095e-05 1.06532651e-05
 3.18937070e-05 3.24556287e-05 8.77264524e-05 1.56201346e-05
 6.87700847e-05 2.48538972e-05 1.73016473e-05 9.03231483e-06
 1.42643657e-05 9.29905493e-06 2.14773045e-05 1.72489074e-05
 1.01993308e-05 8.04354842e-06 1.79981274e-05 8.42616018e-06
 2.87305322e-05 5.50389163e-05 2.49742511e-05 2.16777149e-04
 7.28469970e-05 4.36471403e-05 4.15222411e-05 3.30926460e-05
 8.93250770e-05 8.72655571e-05 6.86337721e-05 7.02391215e-05
 4.05930275e-05 3.97943611e-05 2.77667304e-05 6.99548486e-05
 3.95097613e-05 2.03770777e-05 2.84132807e-05 3.12096038e-05
 2.60697375e-05 4.78207015e-05 2.09804844e-05 6.99493023e-05
 4.69852779e-05 2.66516079e-04 1.55543069e-04 3.53291433e-04
 1.60970578e-04 1.36032804e-04 7.31900132e-05 4.18303382e-05
 3.72855455e-05 3.14260723e-05 2.22925787e-05 2.88252974e-05
 4.17205517e-05 5.05915606e-06 3.46785384e-05 2.27673601e-05
 3.95803442e-05 2.68904678e-05 1.00855941e-04 1.77244588e-05
 5.90939445e-05 3.76080005e-05 2.12703126e-05 5.02434129e-05
 7.76978542e-05 3.87442888e-05 1.69575476e-04 1.04351352e-04
 1.05836051e-04 1.75401461e-04 7.11438815e-05 2.52566553e-04
 9.04860744e-05 1.63662763e-05 4.72823322e-05 2.84476951e-05
 2.50945022e-05 1.88226410e-05 7.81042359e-06 1.46250572e-05
 1.80402836e-05 2.33195274e-05 2.46920741e-05 3.78085494e-05
 2.22385584e-05 2.98289738e-05 2.52682425e-05 4.11291632e-05
 3.57980504e-06 3.05254719e-05 2.29678633e-05 1.70110429e-05
 6.53526387e-05 8.53953037e-06 1.00331376e-05 3.40409034e-05
 3.67608563e-05 2.47322977e-05 3.62194185e-05 2.43749339e-05
 4.76508762e-05 4.58353581e-05 2.38437444e-05 6.67933696e-04
 3.38562699e-04 2.77725819e-03 4.84433039e-04 3.77134681e-03
 2.89498915e-03 2.91814998e-03 1.03602206e-03 2.36361064e-03
 2.80807591e-04 1.84008234e-03 5.40661671e-03 1.12991095e-04
 5.16687900e-04 5.98086880e-04 2.58315075e-04 3.96061677e-04
 9.03343273e-03 5.42569517e-03 1.04862724e-03 1.72127608e-04
 4.34849305e-04 4.97851489e-04 9.86124387e-04 9.05936993e-04
 4.36016771e-04 1.60356902e-03 1.79177690e-03 8.42972556e-03
 4.84977453e-03 1.15873008e-04 1.96467504e-04 9.04748139e-04
 3.26271201e-03 2.98391080e-03 1.35912557e-04 1.29599550e-03
 1.06163108e-03 6.85481274e-04 9.16589013e-04 2.60178183e-03
 1.74282025e-03 9.53117170e-03 2.23379017e-03 8.61170887e-05
 4.89195648e-03 1.07885984e-04 1.45655605e-03 3.34325192e-04
 9.42178737e-04 3.32120056e-04 1.00175512e-03 8.17533382e-04
 2.93853034e-03]

In [70]:
cleaned_cat_df["4046_units"] = cleaned_cat_df["4046_units"] / 100
cleaned_cat_df["4225_units"] = cleaned_cat_df["4225_units"] / 1000
cleaned_cat_df["4770_units"] = cleaned_cat_df["4770_units"] / 10
cleaned_cat_df["total_bags"] = cleaned_cat_df["total_bags"] / 100
cleaned_cat_df["s_bags"] = cleaned_cat_df["s_bags"] / 100
cleaned_cat_df["l_bags"] = cleaned_cat_df["l_bags"] / 100

In [74]:
y = cleaned_cat_df['price_cat']
X = cleaned_cat_df.drop(columns=['price_cat', 'total_bags', 'avg_price_current_year',
                                 'avg_price_prior_year', 'total_volume_prod', 'avg_price_variance', 
                                 'unit_variance', 'total_volume_price'], axis=1)

RFSSModel4(X, y)

Predictions: ['2' '0' '3' ... '2' '0' '2']
Confusion Matrix

          Predicted 0  Predicted 1  Predicted 2  Predicted 3
Actual 0          992            2           27           12
Actual 1          108          578          239           25
Actual 2           34          184          707           46
Actual 3            1           34           24          697

Accuracy Score : 0.8016172506738545
Classification Report
              precision    recall  f1-score   support

           0       0.87      0.96      0.92      1033
           1       0.72      0.61      0.66       950
           2       0.71      0.73      0.72       971
           3       0.89      0.92      0.91       756

    accuracy                           0.80      3710
   macro avg       0.80      0.80      0.80      3710
weighted avg       0.80      0.80      0.80      3710

Importances: [4.83042268e-02 3.30939821e-01 1.05268307e-01 5.05364285e-02
 6.14864439e-02 6.37390852e-02 4.92384685e-02 7.80323219e-02
 3.53995080e-03 4.19033549e-03 7.31316977e-03 1.07926090e-02
 2.13085825e-03 9.86499061e-03 6.09130998e-03 5.58396108e-03
 1.10707622e-03 2.22399273e-03 4.33798368e-03 8.37492200e-03
 1.15222695e-02 7.33669870e-03 2.77538511e-03 6.16443182e-03
 4.49271965e-03 0.00000000e+00 2.44024251e-03 1.71103523e-03
 3.80011491e-03 6.40413772e-03 9.02236371e-04 0.00000000e+00
 0.00000000e+00 2.02824296e-03 8.71965824e-03 9.47911394e-03
 1.18945630e-02 1.23027192e-02 7.11132298e-03 6.62995698e-05
 3.31735582e-05 1.42506194e-05 5.96005965e-05 2.52625721e-05
 4.35264463e-05 3.80014064e-05 4.87089221e-05 4.50934603e-04
 3.79435127e-05 1.26842061e-05 1.16022595e-04 3.33399841e-05
 8.10270461e-05 1.88055413e-04 4.60780876e-05 1.61313547e-04
 1.40604771e-04 3.86072269e-03 8.82551722e-04 1.02618535e-04
 6.15408054e-05 4.87123293e-05 7.39889119e-04 7.07695977e-05
 2.14841028e-04 4.66340315e-05 5.35435034e-05 3.65054361e-05
 1.40794497e-05 3.78885576e-05 4.77202104e-04 1.61872132e-05
 1.34031860e-05 2.48830619e-05 1.81938056e-05 1.34215137e-05
 2.74196988e-05 3.18924763e-06 1.05008231e-05 9.94625603e-06
 3.35916955e-06 3.72123012e-06 1.77547656e-05 7.14942149e-06
 2.12935990e-05 1.07780839e-05 8.93046554e-06 8.22568545e-06
 4.56625764e-06 5.13926394e-05 3.98515678e-06 1.17590825e-05
 7.96938839e-06 6.58870001e-06 6.94433780e-06 5.20682317e-06
 8.75040500e-06 5.52047173e-06 5.13026420e-06 7.93353399e-06
 2.58915991e-06 7.97679000e-06 4.26819629e-06 3.14458012e-06
 4.66283932e-07 1.63847462e-05 2.61049131e-05 2.32116121e-05
 1.85200060e-05 1.20587301e-05 1.55707329e-06 4.98439107e-06
 9.58686026e-06 7.61306577e-06 1.89257407e-05 2.23221232e-05
 2.52498168e-06 6.13426752e-06 2.26779669e-05 2.08461200e-04
 1.86684824e-05 7.22220039e-06 4.08468946e-06 1.31430354e-05
 2.74659799e-05 3.31564399e-06 7.02086318e-06 2.13551212e-05
 5.33167839e-06 1.95900876e-05 1.76570001e-05 4.36609811e-06
 3.01308800e-05 1.67610463e-05 2.21340353e-05 6.12283229e-05
 2.11552622e-05 3.79194749e-06 6.11433677e-06 3.09622123e-05
 4.07596108e-05 3.48928411e-05 2.37300853e-05 8.47650981e-06
 1.66040985e-05 7.93449623e-05 5.40845837e-05 2.70388823e-04
 7.80657516e-05 5.68496797e-05 2.12840655e-05 1.75804962e-06
 2.79696680e-06 1.09313449e-05 1.08105641e-05 5.37215101e-06
 7.44867016e-07 9.82777781e-06 1.81965257e-05 1.31966910e-05
 5.03129205e-06 2.65957720e-05 2.29151868e-05 7.26389136e-06
 5.30239558e-06 2.76141276e-06 1.43481385e-05 7.37077963e-05
 2.43432125e-06 3.66982082e-05 3.35329158e-05 8.47570776e-06
 1.92006924e-05 4.13616865e-06 1.35560171e-05 2.55324955e-06
 3.52547581e-06 8.39645709e-06 1.54423845e-05 5.76461226e-06
 1.28735752e-05 3.90175355e-06 9.84934686e-06 3.00115952e-06
 1.55603243e-06 2.44841116e-06 1.93543073e-06 2.39572793e-05
 7.94228001e-06 8.39057573e-06 9.75960123e-06 2.49206663e-06
 1.81094002e-06 3.06902634e-06 4.13250858e-08 7.22328179e-06
 3.51291582e-06 4.51099338e-06 3.70187011e-06 9.45906038e-06
 1.30858878e-06 1.27670982e-05 4.20492797e-06 5.77142011e-07
 1.03864140e-05 2.83420558e-05 1.85936184e-04 1.71591673e-04
 1.25309936e-03 1.02461093e-03 1.05394021e-03 9.64837100e-04
 1.33383822e-03 3.44827096e-04 4.59345522e-04 1.23358893e-04
 3.73814009e-04 1.27173847e-03 5.29419282e-05 1.82955496e-04
 7.73817073e-04 1.35350756e-04 3.48792594e-04 2.44982896e-03
 1.52958348e-03 1.88516202e-04 2.72584824e-04 8.21220608e-05
 1.39126780e-04 2.55122200e-04 5.93832820e-05 1.45929749e-04
 9.48143702e-04 1.88577170e-03 1.92036014e-03 1.26459186e-04
 2.63388056e-04 7.40673268e-04 6.51896187e-04 5.25866338e-04
 2.38119978e-04 7.38203315e-04 6.39325350e-04 2.97668612e-04
 9.91600569e-05 4.97000190e-04 2.99212718e-04 3.90027210e-03
 1.85271671e-03 4.88384219e-05 7.14944718e-04 1.20206166e-04
 1.66467033e-03 7.67887645e-04 5.10165998e-04 9.14464683e-04
 5.96451465e-04 3.48678323e-04 7.33084085e-04]
[(0.3309398209415635, 'avg_price'), (0.10526830691530839, '4046_units'), (0.07803232188947301, 'xl_bags'), (0.06373908516953736, 's_bags'), (0.06148644391989362, '4770_units'), (0.05053642847126031, '4225_units'), (0.049238468478364404, 'l_bags'), (0.04830422675753616, 'type'), (0.0123027191721874, 'dollars_current_year'), (0.011894563041574229, 'dollars_prior_year'), (0.011522269530582666, 'sp09'), (0.01079260899944512, 'phdi'), (0.009864990610346335, 'pmdi'), (0.009479113939093408, 'units_current_year'), (0.008719658235510313, 'units_prior_year'), (0.008374921995895212, 'sp06'), (0.007336698699860555, 'sp12'), (0.007313169774008466, 'pdsi'), (0.007111322978842233, 'dollar_variance'), (0.006404137724077573, 'peru'), (0.006164431821743892, 'tmin'), (0.0060913099792674905, 'cdd'), (0.005583961082396399, 'hdd'), (0.004492719647966959, 'tmax'), (0.004337983682248715, 'sp03'), (0.004190335486518037, 'tavg'), (0.0039002721040477754, 'geography_San Francisco'), (0.0038607226924100495, 'year_month_2019-07-01 00:00:00'), (0.0038001149135437977, 'mexico'), (0.0035399508004421427, 'pcp'), (0.002775385106256313, 'sp24'), (0.002449828958598001, 'geography_Hartford/Springfield'), (0.0024402425143460276, 'california'), (0.002223992728587766, 'sp02'), (0.0021308582493701996, 'zndx'), (0.002028242961675365, 'period'), (0.0019203601392713651, 'geography_Northeast'), (0.0018857717036993259, 'geography_New York'), (0.0018527167070468184, 'geography_Seattle'), (0.0017110352292947241, 'chile'), (0.0016646703349776385, 'geography_Spokane'), (0.0015295834791953192, 'geography_Houston'), (0.001333838219543424, 'geography_California'), (0.0012717384661486476, 'geography_Dallas/Ft. Worth'), (0.001253099363240097, 'geography_Baltimore/Washington'), (0.001107076218858658, 'sp01'), (0.0010539402113864612, 'geography_Boston'), (0.001024610929031468, 'geography_Boise'), (0.0009648370996951428, 'geography_Buffalo/Rochester'), (0.0009481437020920559, 'geography_New Orleans/Mobile'), (0.0009144646829706193, 'geography_Tampa'), (0.000902236371007618, 'columbia'), (0.0008825517222741039, 'year_month_2019-08-01 00:00:00'), (0.0007738170725833613, 'geography_Grand Rapids'), (0.0007678876447827251, 'geography_St. Louis'), (0.0007406732683947689, 'geography_Philadelphia'), (0.0007398891188933284, 'year_month_2019-12-01 00:00:00'), (0.0007382033146710627, 'geography_Portland'), (0.0007330840854819627, 'geography_West Tex/New Mexico'), (0.0007149447177007552, 'geography_South Central'), (0.0006518961872317789, 'geography_Phoenix/Tucson'), (0.0006393253504087068, 'geography_Raleigh/Greensboro'), (0.0005964514647703728, 'geography_Total U.S.'), (0.0005258663381458901, 'geography_Pittsburgh'), (0.000510165998081169, 'geography_Syracuse'), (0.0004970001901757388, 'geography_Sacramento'), (0.00047720210385084673, 'year_month_2020-08-01 00:00:00'), (0.00045934552192711703, 'geography_Chicago'), (0.0004509346033785662, 'year_month_2018-09-01 00:00:00'), (0.0003738140087362264, 'geography_Columbus'), (0.00034879259407767893, 'geography_Harrisburg/Scranton'), (0.0003486783234997839, 'geography_West'), (0.0003448270956683195, 'geography_Charlotte'), (0.00029921271753733324, 'geography_San Diego'), (0.00029766861185676877, 'geography_Richmond/Norfolk'), (0.00027258482360462333, 'geography_Jacksonville'), (0.00027038882280356854, 'date_2019-07-21 00:00:00'), (0.0002633880558425697, 'geography_Orlando'), (0.00025512219976212095, 'geography_Louisville'), (0.00023811997774033885, 'geography_Plains'), (0.00021484102788421294, 'year_month_2020-02-01 00:00:00'), (0.00020846119952797643, 'date_2018-12-02 00:00:00'), (0.00018851620243631072, 'geography_Indianapolis'), (0.0001880554129872381, 'year_month_2019-03-01 00:00:00'), (0.00018593618383161382, 'geography_Albany'), (0.00018295549639074074, 'geography_Detroit'), (0.00017159167292858473, 'geography_Atlanta'), (0.00016131354735282477, 'year_month_2019-05-01 00:00:00'), (0.00014592974930013257, 'geography_Nashville'), (0.000140604770655144, 'year_month_2019-06-01 00:00:00'), (0.00013912678017000357, 'geography_Los Angeles'), (0.00013535075598646615, 'geography_Great Lakes'), (0.0001264591863466227, 'geography_Northern New England'), (0.00012335889343002737, 'geography_Cincinnati/Dayton'), (0.00012020616571605597, 'geography_Southeast'), (0.00011602259455707083, 'year_month_2018-12-01 00:00:00'), (0.00010261853482425952, 'year_month_2019-09-01 00:00:00'), (9.91600569094146e-05, 'geography_Roanoke'), (8.212206075419033e-05, 'geography_Las Vegas'), (8.102704606633591e-05, 'year_month_2019-02-01 00:00:00'), (7.9344962334485e-05, 'date_2019-07-07 00:00:00'), (7.806575155335893e-05, 'date_2019-07-28 00:00:00'), (7.370779634460093e-05, 'date_2019-12-08 00:00:00'), (7.07695977400235e-05, 'year_month_2020-01-01 00:00:00'), (6.62995698057284e-05, 'year_month_2018-01-01 00:00:00'), (6.154080537201892e-05, 'year_month_2019-10-01 00:00:00'), (6.122832290777905e-05, 'date_2019-04-28 00:00:00'), (5.9600596459584e-05, 'year_month_2018-04-01 00:00:00'), (5.9383281969622764e-05, 'geography_Midsouth'), (5.684967967366706e-05, 'date_2019-08-04 00:00:00'), (5.408458365451793e-05, 'date_2019-07-14 00:00:00'), (5.354350341114551e-05, 'year_month_2020-04-01 00:00:00'), (5.294192821644075e-05, 'geography_Denver'), (5.1392639413010283e-05, 'date_2018-05-06 00:00:00'), (4.883842186683744e-05, 'geography_South Carolina'), (4.8712329336426075e-05, 'year_month_2019-11-01 00:00:00'), (4.870892207906639e-05, 'year_month_2018-08-01 00:00:00'), (4.663403151803886e-05, 'year_month_2020-03-01 00:00:00'), (4.607808758831419e-05, 'year_month_2019-04-01 00:00:00'), (4.352644628150329e-05, 'year_month_2018-06-01 00:00:00'), (4.0759610829490186e-05, 'date_2019-06-02 00:00:00'), (3.800140637004419e-05, 'year_month_2018-07-01 00:00:00'), (3.794351271338057e-05, 'year_month_2018-10-01 00:00:00'), (3.788855764532982e-05, 'year_month_2020-07-01 00:00:00'), (3.6698208163890354e-05, 'date_2019-12-22 00:00:00'), (3.650543610934671e-05, 'year_month_2020-05-01 00:00:00'), (3.489284105728365e-05, 'date_2019-06-09 00:00:00'), (3.3532915805123105e-05, 'date_2019-12-29 00:00:00'), (3.333998413783262e-05, 'year_month_2019-01-01 00:00:00'), (3.3173558240908424e-05, 'year_month_2018-02-01 00:00:00'), (3.096221225507734e-05, 'date_2019-05-26 00:00:00'), (3.0130880045339443e-05, 'date_2019-04-07 00:00:00'), (2.8342055757111233e-05, 'date_2020-09-06 00:00:00'), (2.7465979882194176e-05, 'date_2019-02-10 00:00:00'), (2.741969881733186e-05, 'date_2018-02-04 00:00:00'), (2.659577198446826e-05, 'date_2019-10-27 00:00:00'), (2.6104913095441806e-05, 'date_2018-09-02 00:00:00'), (2.526257207140936e-05, 'year_month_2018-05-01 00:00:00'), (2.488306192153486e-05, 'date_2018-01-14 00:00:00'), (2.3957279313486424e-05, 'date_2020-05-03 00:00:00'), (2.3730085336546848e-05, 'date_2019-06-16 00:00:00'), (2.3211612076606554e-05, 'date_2018-09-09 00:00:00'), (2.291518682131685e-05, 'date_2019-11-03 00:00:00'), (2.2677966923213748e-05, 'date_2018-11-25 00:00:00'), (2.2322123178694103e-05, 'date_2018-11-04 00:00:00'), (2.2134035288818077e-05, 'date_2019-04-21 00:00:00'), (2.1355121234505733e-05, 'date_2019-03-03 00:00:00'), (2.1293599041213187e-05, 'date_2018-04-01 00:00:00'), (2.128406548956733e-05, 'date_2019-08-11 00:00:00'), (2.1155262212164938e-05, 'date_2019-05-05 00:00:00'), (1.9590087604069483e-05, 'date_2019-03-17 00:00:00'), (1.9200692414034335e-05, 'date_2020-01-19 00:00:00'), (1.8925740715290356e-05, 'date_2018-10-28 00:00:00'), (1.866848242717227e-05, 'date_2019-01-13 00:00:00'), (1.852000602237383e-05, 'date_2018-09-16 00:00:00'), (1.819652565892205e-05, 'date_2019-10-06 00:00:00'), (1.8193805604098486e-05, 'date_2018-01-21 00:00:00'), (1.7754765624016317e-05, 'date_2018-03-18 00:00:00'), (1.7657000129109414e-05, 'date_2019-03-24 00:00:00'), (1.6761046250466314e-05, 'date_2019-04-14 00:00:00'), (1.6604098454038293e-05, 'date_2019-06-30 00:00:00'), (1.6384746237315872e-05, 'date_2018-08-26 00:00:00'), (1.6187213154875548e-05, 'year_month_2020-09-01 00:00:00'), (1.5442384540821466e-05, 'date_2020-03-01 00:00:00'), (1.4348138500302726e-05, 'date_2019-12-01 00:00:00'), (1.4250619351788423e-05, 'year_month_2018-03-01 00:00:00'), (1.4079449670581256e-05, 'year_month_2020-06-01 00:00:00'), (1.3556017101171015e-05, 'date_2020-02-02 00:00:00'), (1.3421513700294722e-05, 'date_2018-01-28 00:00:00'), (1.3403185982708054e-05, 'date_2018-01-07 00:00:00'), (1.3196690994222001e-05, 'date_2019-10-13 00:00:00'), (1.3143035398724907e-05, 'date_2019-02-03 00:00:00'), (1.2873575195006807e-05, 'date_2020-03-15 00:00:00'), (1.2767098240351014e-05, 'date_2020-08-09 00:00:00'), (1.268420607287473e-05, 'year_month_2018-11-01 00:00:00'), (1.2058730065815143e-05, 'date_2018-09-23 00:00:00'), (1.1759082504467419e-05, 'date_2018-05-20 00:00:00'), (1.093134488919589e-05, 'date_2019-09-01 00:00:00'), (1.0810564078080882e-05, 'date_2019-09-08 00:00:00'), (1.0778083934943181e-05, 'date_2018-04-08 00:00:00'), (1.05008230520396e-05, 'date_2018-02-18 00:00:00'), (1.03864140335828e-05, 'date_2020-08-30 00:00:00'), (9.946256028904694e-06, 'date_2018-02-25 00:00:00'), (9.849346863864878e-06, 'date_2020-03-29 00:00:00'), (9.827777805343762e-06, 'date_2019-09-29 00:00:00'), (9.759601229354657e-06, 'date_2020-05-24 00:00:00'), (9.586860257693835e-06, 'date_2018-10-14 00:00:00'), (9.459060381936429e-06, 'date_2020-07-26 00:00:00'), (8.930465536405086e-06, 'date_2018-04-15 00:00:00'), (8.750404996292781e-06, 'date_2018-06-24 00:00:00'), (8.476509811817648e-06, 'date_2019-06-23 00:00:00'), (8.475707761931466e-06, 'date_2020-01-12 00:00:00'), (8.396457091486442e-06, 'date_2020-02-23 00:00:00'), (8.390575728838277e-06, 'date_2020-05-17 00:00:00'), (8.225685452339714e-06, 'date_2018-04-22 00:00:00'), (7.976790001347388e-06, 'date_2018-07-29 00:00:00'), (7.969388394176553e-06, 'date_2018-05-27 00:00:00'), (7.942280013223081e-06, 'date_2020-05-10 00:00:00'), (7.933533989633571e-06, 'date_2018-07-15 00:00:00'), (7.613065770343219e-06, 'date_2018-10-21 00:00:00'), (7.263891363796386e-06, 'date_2019-11-10 00:00:00'), (7.223281787739352e-06, 'date_2020-06-28 00:00:00'), (7.222200389075565e-06, 'date_2019-01-20 00:00:00'), (7.149421486796698e-06, 'date_2018-03-25 00:00:00'), (7.020863178885197e-06, 'date_2019-02-24 00:00:00'), (6.944337803101763e-06, 'date_2018-06-10 00:00:00'), (6.588700014692474e-06, 'date_2018-06-03 00:00:00'), (6.134267522358892e-06, 'date_2018-11-18 00:00:00'), (6.11433677447644e-06, 'date_2019-05-19 00:00:00'), (5.764612259805695e-06, 'date_2020-03-08 00:00:00'), (5.520471733975597e-06, 'date_2018-07-01 00:00:00'), (5.372151010116913e-06, 'date_2019-09-15 00:00:00'), (5.331678389118849e-06, 'date_2019-03-10 00:00:00'), (5.30239557500736e-06, 'date_2019-11-17 00:00:00'), (5.206823172184458e-06, 'date_2018-06-17 00:00:00'), (5.130264199504491e-06, 'date_2018-07-08 00:00:00'), (5.031292050558916e-06, 'date_2019-10-20 00:00:00'), (4.984391073154257e-06, 'date_2018-10-07 00:00:00'), (4.5662576435483475e-06, 'date_2018-04-29 00:00:00'), (4.510993382006005e-06, 'date_2020-07-12 00:00:00'), (4.36609811342649e-06, 'date_2019-03-31 00:00:00'), (4.268196285321684e-06, 'date_2018-08-05 00:00:00'), (4.204927970431068e-06, 'date_2020-08-16 00:00:00'), (4.1361686536766675e-06, 'date_2020-01-26 00:00:00'), (4.0846894553712414e-06, 'date_2019-01-27 00:00:00'), (3.985156778570238e-06, 'date_2018-05-13 00:00:00'), (3.901753550367171e-06, 'date_2020-03-22 00:00:00'), (3.7919474854726574e-06, 'date_2019-05-12 00:00:00'), (3.721230122002903e-06, 'date_2018-03-11 00:00:00'), (3.701870114977818e-06, 'date_2020-07-19 00:00:00'), (3.5254758085570934e-06, 'date_2020-02-16 00:00:00'), (3.512915822269214e-06, 'date_2020-07-05 00:00:00'), (3.3591695494941306e-06, 'date_2018-03-04 00:00:00'), (3.3156439868807476e-06, 'date_2019-02-17 00:00:00'), (3.189247629577517e-06, 'date_2018-02-11 00:00:00'), (3.1445801189125425e-06, 'date_2018-08-12 00:00:00'), (3.0690263417259465e-06, 'date_2020-06-14 00:00:00'), (3.00115951724723e-06, 'date_2020-04-05 00:00:00'), (2.7969668027111783e-06, 'date_2019-08-25 00:00:00'), (2.7614127578340746e-06, 'date_2019-11-24 00:00:00'), (2.5891599101397572e-06, 'date_2018-07-22 00:00:00'), (2.553249549023755e-06, 'date_2020-02-09 00:00:00'), (2.524981682621544e-06, 'date_2018-11-11 00:00:00'), (2.4920666329460273e-06, 'date_2020-05-31 00:00:00'), (2.4484111557698272e-06, 'date_2020-04-19 00:00:00'), (2.434321251104168e-06, 'date_2019-12-15 00:00:00'), (1.9354307273485514e-06, 'date_2020-04-26 00:00:00'), (1.810940016037513e-06, 'date_2020-06-07 00:00:00'), (1.7580496167579314e-06, 'date_2019-08-18 00:00:00'), (1.5570732907416614e-06, 'date_2018-09-30 00:00:00'), (1.556032429457301e-06, 'date_2020-04-12 00:00:00'), (1.3085887809405662e-06, 'date_2020-08-02 00:00:00'), (7.448670156036435e-07, 'date_2019-09-22 00:00:00'), (5.771420108793563e-07, 'date_2020-08-23 00:00:00'), (4.662839320765465e-07, 'date_2018-08-19 00:00:00'), (4.132508577893932e-08, 'date_2020-06-21 00:00:00'), (0.0, 'variety'), (0.0, 'status'), (0.0, 'segment')]

In [97]:
pp_df = pd.read_csv(Path('../resources/prices_prod.csv'))
pp_df.head()

,year_month,geography,timeframe,date,type,avg_price,total_volume,4046_units,4225_units,4770_units,...,s_bags,l_bags,xl_bags,status,prod_total_volume,california,chile,mexico,peru,columbia
0,2020-03-01,Phoenix/Tucson,Weekly,2020-03-22,conventional,0.83,1559597.93,490963.83,191059.35,5795.86,...,225725.82,640831.47,5221.60,actual,54765620,8086208,0,46679412,0,0
1,2020-03-01,Buffalo/Rochester,Weekly,2020-03-15,conventional,1.20,255471.62,22625.06,70184.86,2547.78,...,134178.70,23965.22,1970.00,actual,48039847,3868964,0,44120882,50000,0
2,2018-11-01,San Diego,Weekly,2018-11-18,organic,2.07,15809.64,2284.08,9243.37,0.00,...,4263.31,18.88,0.00,actual,44931673,0,3513150,41418523,0,0
3,2018-11-01,Dallas/Ft. Worth,Weekly,2018-11-18,conventional,0.71,1160242.00,655676.32,95361.47,3983.06,...,278437.39,126749.95,33.81,actual,44931673,0,3513150,41418523,0,0
4,2020-02-01,Total U.S.,Weekly,2020-02-23,organic,1.41,1871904.09,105003.23,150837.39,6789.04,...,1298135.07,311012.52,77.88,actual,60175473,6454635,0,53720838,0,0

In [98]:
for col in pp_df.columns:
    print(f"Column {col} has {pp_df[col].isnull().sum()} null values")

Column year_month has 0 null values
Column geography has 0 null values
Column timeframe has 0 null values
Column date has 0 null values
Column type has 0 null values
Column avg_price has 0 null values
Column total_volume has 0 null values
Column 4046_units has 0 null values
Column 4225_units has 0 null values
Column 4770_units has 0 null values
Column total_bags has 0 null values
Column s_bags has 0 null values
Column l_bags has 0 null values
Column xl_bags has 0 null values
Column status has 0 null values
Column prod_total_volume has 0 null values
Column california has 0 null values
Column chile has 0 null values
Column mexico has 0 null values
Column peru has 0 null values
Column columbia has 0 null values

In [99]:
pp_df['type'] = pp_df['type'].apply(change_type_string)

In [100]:
pp_df = pd.get_dummies(data=pp_df, columns=['year_month', 'date', 'geography'])
pp_df.head()

,timeframe,type,avg_price,total_volume,4046_units,4225_units,4770_units,total_bags,s_bags,l_bags,...,geography_South Carolina,geography_South Central,geography_Southeast,geography_Spokane,geography_St. Louis,geography_Syracuse,geography_Tampa,geography_Total U.S.,geography_West,geography_West Tex/New Mexico
0,Weekly,0,0.83,1559597.93,490963.83,191059.35,5795.86,871778.89,225725.82,640831.47,...,0,0,0,0,0,0,0,0,0,0
1,Weekly,0,1.20,255471.62,22625.06,70184.86,2547.78,160113.92,134178.70,23965.22,...,0,0,0,0,0,0,0,0,0,0
2,Weekly,0,2.07,15809.64,2284.08,9243.37,0.00,4282.19,4263.31,18.88,...,0,0,0,0,0,0,0,0,0,0
3,Weekly,1,0.71,1160242.00,655676.32,95361.47,3983.06,405221.15,278437.39,126749.95,...,0,0,0,0,0,0,0,0,0,0
4,Weekly,0,1.41,1871904.09,105003.23,150837.39,6789.04,1609225.47,1298135.07,311012.52,...,0,0,0,0,0,0,0,1,0,0

In [101]:
print(pp_df.columns)

Index(['timeframe', 'type', 'avg_price', 'total_volume', '4046_units',
       '4225_units', '4770_units', 'total_bags', 's_bags', 'l_bags',
       ...
       'geography_South Carolina', 'geography_South Central',
       'geography_Southeast', 'geography_Spokane', 'geography_St. Louis',
       'geography_Syracuse', 'geography_Tampa', 'geography_Total U.S.',
       'geography_West', 'geography_West Tex/New Mexico'],
      dtype='object', length=239)

In [102]:
price_bins = [0.44, 1.14, 1.37, 1.63, 3.17]
group_names = ["0", "1", "2", "3" ]

#cleaned_cat_df = prices_df.copy()

# Categorize prices for NB.
pp_df["price_cat"] = pd.cut(pp_df['avg_price'], price_bins, labels=group_names)

pp_df.head()

,timeframe,type,avg_price,total_volume,4046_units,4225_units,4770_units,total_bags,s_bags,l_bags,...,geography_South Central,geography_Southeast,geography_Spokane,geography_St. Louis,geography_Syracuse,geography_Tampa,geography_Total U.S.,geography_West,geography_West Tex/New Mexico,price_cat
0,Weekly,0,0.83,1559597.93,490963.83,191059.35,5795.86,871778.89,225725.82,640831.47,...,0,0,0,0,0,0,0,0,0,0
1,Weekly,0,1.20,255471.62,22625.06,70184.86,2547.78,160113.92,134178.70,23965.22,...,0,0,0,0,0,0,0,0,0,1
2,Weekly,0,2.07,15809.64,2284.08,9243.37,0.00,4282.19,4263.31,18.88,...,0,0,0,0,0,0,0,0,0,3
3,Weekly,1,0.71,1160242.00,655676.32,95361.47,3983.06,405221.15,278437.39,126749.95,...,0,0,0,0,0,0,0,0,0,0
4,Weekly,0,1.41,1871904.09,105003.23,150837.39,6789.04,1609225.47,1298135.07,311012.52,...,0,0,0,0,0,0,1,0,0,2

In [103]:
pp_df = pp_df.drop(columns=['timeframe', 'status'], axis=1)
pp_df.head()

,type,avg_price,total_volume,4046_units,4225_units,4770_units,total_bags,s_bags,l_bags,xl_bags,...,geography_South Central,geography_Southeast,geography_Spokane,geography_St. Louis,geography_Syracuse,geography_Tampa,geography_Total U.S.,geography_West,geography_West Tex/New Mexico,price_cat
0,0,0.83,1559597.93,490963.83,191059.35,5795.86,871778.89,225725.82,640831.47,5221.60,...,0,0,0,0,0,0,0,0,0,0
1,0,1.20,255471.62,22625.06,70184.86,2547.78,160113.92,134178.70,23965.22,1970.00,...,0,0,0,0,0,0,0,0,0,1
2,0,2.07,15809.64,2284.08,9243.37,0.00,4282.19,4263.31,18.88,0.00,...,0,0,0,0,0,0,0,0,0,3
3,1,0.71,1160242.00,655676.32,95361.47,3983.06,405221.15,278437.39,126749.95,33.81,...,0,0,0,0,0,0,0,0,0,0
4,0,1.41,1871904.09,105003.23,150837.39,6789.04,1609225.47,1298135.07,311012.52,77.88,...,0,0,0,0,0,0,1,0,0,2

In [104]:
y = pp_df['price_cat']
X = pp_df.drop(columns=['price_cat', 'total_volume', 'prod_total_volume'], axis=1)

RFSSModel4(X, y)

Predictions: ['1' '1' '0' ... '3' '1' '2']
Confusion Matrix

          Predicted 0  Predicted 1  Predicted 2  Predicted 3
Actual 0          974            2           85            0
Actual 1           89          557          318            1
Actual 2           52          154          653            0
Actual 3            1           41           20          671

Accuracy Score : 0.789110005527916
Classification Report
              precision    recall  f1-score   support

           0       0.87      0.92      0.89      1061
           1       0.74      0.58      0.65       965
           2       0.61      0.76      0.67       859
           3       1.00      0.92      0.96       733

    accuracy                           0.79      3618
   macro avg       0.80      0.79      0.79      3618
weighted avg       0.80      0.79      0.79      3618

Importances: [6.85363297e-02 3.22124416e-01 1.02296103e-01 5.20452821e-02
 6.52251627e-02 7.37873805e-02 5.80475502e-02 4.20394549e-02
 8.55233762e-02 5.65562328e-03 2.48726280e-03 1.05017266e-02
 1.09955478e-02 1.67564318e-03 1.99183487e-04 1.18318334e-04
 5.53653641e-05 9.43043905e-05 2.50349969e-04 1.06384343e-04
 1.26137275e-04 1.09168507e-04 1.24822941e-03 9.62980803e-05
 1.71599459e-04 3.76378140e-05 1.00303094e-04 7.70937865e-04
 8.58283240e-04 2.49119835e-04 1.12125194e-03 7.59708132e-04
 1.06532829e-02 3.91085914e-03 2.05154821e-04 1.49493518e-04
 1.83088331e-04 9.00932697e-04 6.42551463e-04 9.61777631e-04
 1.79818641e-04 2.01118575e-04 7.52192548e-05 7.36861507e-05
 1.16613977e-04 7.17825245e-04 2.76042706e-05 2.55672670e-05
 1.14513873e-04 6.17552457e-05 1.17250626e-05 5.07629710e-05
 6.72946458e-06 3.61814428e-05 2.63546938e-05 3.66305422e-05
 3.42227331e-05 2.08422543e-05 3.62615317e-05 1.36515565e-05
 4.76106359e-05 1.22037418e-05 7.16525457e-05 2.09493117e-05
 8.42340061e-05 2.94068081e-05 1.95326513e-05 4.33275518e-05
 1.24328902e-05 3.58636768e-05 1.44939201e-05 7.96650617e-06
 3.06873119e-05 2.19330919e-05 1.83245801e-05 1.69267977e-05
 2.46663999e-05 1.23992863e-05 1.25278856e-05 1.01711793e-05
 4.14726972e-05 6.79844484e-05 1.02616455e-04 1.37804234e-05
 8.39796814e-05 3.66676300e-05 1.63345501e-05 4.61854720e-06
 3.98116820e-05 2.26979441e-05 5.85225928e-05 2.76396929e-05
 2.13570863e-05 1.08255181e-04 5.77193207e-05 1.52247194e-05
 5.00795516e-05 2.94200634e-05 7.20633281e-05 8.47056753e-05
 3.29065581e-05 2.95946710e-05 4.37138800e-05 2.79254982e-05
 4.16522958e-05 4.98880721e-05 3.18673715e-05 6.20906842e-05
 4.51449966e-05 3.83785037e-05 4.27543734e-04 4.93866464e-05
 1.50604132e-05 7.52223306e-05 3.71899251e-05 2.33689995e-05
 2.67659300e-05 2.78387700e-05 6.50125386e-05 1.50571825e-04
 3.07756551e-04 3.12484862e-04 3.35294566e-04 3.60346424e-04
 3.45904996e-04 1.09400527e-04 9.03039195e-05 6.89846353e-05
 2.24819490e-05 2.71362612e-05 3.37834439e-05 3.85950522e-05
 1.89802339e-05 1.89817731e-05 1.04067865e-05 2.22485461e-05
 3.31265945e-05 3.22737675e-05 2.26212363e-05 4.62417942e-05
 2.42115614e-05 2.02941604e-05 4.50693281e-05 5.77931434e-06
 1.94137477e-05 1.03724402e-04 4.10328407e-05 1.11994758e-04
 4.49837096e-05 1.41590885e-04 5.84843105e-05 3.33524732e-05
 3.55667079e-05 2.34635431e-05 1.50425281e-05 2.30069103e-05
 1.73567408e-05 1.19331069e-05 2.35395680e-05 2.88349495e-05
 9.77448342e-06 2.70725204e-05 2.67748425e-05 1.34144432e-05
 2.25865822e-05 1.42606181e-05 4.57281111e-06 2.04240496e-05
 2.78741296e-05 1.36251916e-05 2.71484603e-05 2.39853846e-05
 1.38915538e-05 4.27681034e-05 2.97862177e-05 1.42762781e-05
 4.30291652e-05 4.26096181e-05 1.38282134e-05 6.57029341e-05
 4.39881973e-05 1.58023844e-04 3.69272452e-04 2.57465441e-03
 1.89196612e-03 3.09894440e-03 1.22440346e-03 2.97206126e-03
 7.94604376e-04 5.04707892e-04 2.34655538e-04 5.32064177e-04
 1.60227529e-03 6.30228256e-05 2.25432857e-04 9.43516106e-04
 1.37240701e-04 3.75670584e-04 4.99821708e-03 2.38609192e-03
 5.06621111e-04 2.56232167e-04 1.38350094e-04 2.45195577e-04
 3.91050306e-04 1.06898728e-03 3.65089047e-04 1.66143637e-04
 9.88279106e-04 3.18803749e-03 2.63846776e-03 5.30730933e-05
 4.14657886e-04 7.26056100e-04 9.23045047e-04 4.62226149e-04
 1.33478160e-04 2.20166821e-03 1.13182828e-03 5.11930404e-04
 4.22750147e-04 1.51891620e-03 1.38148169e-03 7.49430164e-03
 4.40216333e-03 3.41781925e-05 1.34389773e-03 9.35927991e-05
 1.69147319e-03 5.11899710e-04 1.55819333e-03 1.70333540e-03
 1.29725102e-03 7.08243762e-04 9.22605983e-04]
[(0.32212441617925597, 'avg_price'), (0.10229610286983908, '4046_units'), (0.08552337620892736, 'xl_bags'), (0.07378738045829598, 'total_bags'), (0.06853632965065273, 'type'), (0.06522516272668266, '4770_units'), (0.058047550240652966, 's_bags'), (0.052045282056527066, '4225_units'), (0.042039454873383175, 'l_bags'), (0.010995547769039719, 'peru'), (0.010653282928709092, 'year_month_2019-07-01'), (0.010501726622555482, 'mexico'), (0.007494301641028711, 'geography_San Francisco'), (0.005655623280259376, 'california'), (0.004998217076202119, 'geography_Hartford/Springfield'), (0.004402163325105967, 'geography_Seattle'), (0.003910859143379767, 'year_month_2019-08-01'), (0.0031880374862447223, 'geography_New York'), (0.003098944402069342, 'geography_Boston'), (0.0029720612635018833, 'geography_California'), (0.0026384677569344177, 'geography_Northeast'), (0.0025746544056350065, 'geography_Baltimore/Washington'), (0.002487262795875741, 'chile'), (0.00238609192472818, 'geography_Houston'), (0.002201668206292266, 'geography_Portland'), (0.00189196612306243, 'geography_Boise'), (0.0017033354038355748, 'geography_Tampa'), (0.0016914731945373207, 'geography_Spokane'), (0.0016756431791962174, 'columbia'), (0.001602275292437506, 'geography_Dallas/Ft. Worth'), (0.0015581933270039277, 'geography_Syracuse'), (0.001518916202705035, 'geography_Sacramento'), (0.0013814816891813708, 'geography_San Diego'), (0.0013438977253347481, 'geography_South Central'), (0.0012972510154162045, 'geography_Total U.S.'), (0.0012482294103870076, 'year_month_2018-09-01'), (0.0012244034616159262, 'geography_Buffalo/Rochester'), (0.0011318282809746924, 'geography_Raleigh/Greensboro'), (0.0011212519406389812, 'year_month_2019-05-01'), (0.0010689872764279883, 'geography_Miami/Ft. Lauderdale'), (0.000988279106081695, 'geography_New Orleans/Mobile'), (0.0009617776312337207, 'year_month_2020-02-01'), (0.0009435161057326046, 'geography_Grand Rapids'), (0.0009230450468678427, 'geography_Phoenix/Tucson'), (0.0009226059829255233, 'geography_West Tex/New Mexico'), (0.0009009326968785323, 'year_month_2019-12-01'), (0.00085828323997077, 'year_month_2019-03-01'), (0.0007946043755903186, 'geography_Charlotte'), (0.0007709378654433562, 'year_month_2019-02-01'), (0.0007597081324930943, 'year_month_2019-06-01'), (0.0007260560995757555, 'geography_Philadelphia'), (0.0007178252447188418, 'year_month_2020-08-01'), (0.0007082437623614316, 'geography_West'), (0.0006425514626939155, 'year_month_2020-01-01'), (0.0005320641767536714, 'geography_Columbus'), (0.0005119304038534403, 'geography_Richmond/Norfolk'), (0.0005118997104475937, 'geography_St. Louis'), (0.0005066211105747089, 'geography_Indianapolis'), (0.0005047078923072472, 'geography_Chicago'), (0.00046222614862568965, 'geography_Pittsburgh'), (0.0004275437336245611, 'date_2019-04-28'), (0.0004227501472639618, 'geography_Roanoke'), (0.00041465788554945394, 'geography_Orlando'), (0.00039105030581759856, 'geography_Louisville'), (0.0003756705836755613, 'geography_Harrisburg/Scranton'), (0.00036927245156856886, 'geography_Atlanta'), (0.00036508904728593615, 'geography_Midsouth'), (0.00036034642358903353, 'date_2019-07-28'), (0.0003459049960179733, 'date_2019-08-04'), (0.00033529456622981106, 'date_2019-07-21'), (0.0003124848622273167, 'date_2019-07-14'), (0.00030775655116399174, 'date_2019-07-07'), (0.0002562321668944746, 'geography_Jacksonville'), (0.0002503499690165811, 'year_month_2018-05-01'), (0.0002491198346613499, 'year_month_2019-04-01'), (0.0002451955765533116, 'geography_Los Angeles'), (0.00023465553807925995, 'geography_Cincinnati/Dayton'), (0.00022543285658236514, 'geography_Detroit'), (0.00020515482097246444, 'year_month_2019-09-01'), (0.0002011185752724562, 'year_month_2020-04-01'), (0.0001991834866255958, 'year_month_2018-01-01'), (0.00018308833107006677, 'year_month_2019-11-01'), (0.00017981864125923887, 'year_month_2020-03-01'), (0.00017159945885540664, 'year_month_2018-11-01'), (0.00016614363710119008, 'geography_Nashville'), (0.0001580238442754349, 'geography_Albany'), (0.00015057182488161056, 'date_2019-06-30'), (0.0001494935180801856, 'year_month_2019-10-01'), (0.00014159088532888708, 'date_2020-02-02'), (0.00013835009405929464, 'geography_Las Vegas'), (0.0001372407005470737, 'geography_Great Lakes'), (0.00013347816038391836, 'geography_Plains'), (0.000126137274527461, 'year_month_2018-07-01'), (0.00011831833382249242, 'year_month_2018-02-01'), (0.00011661397688642806, 'year_month_2020-07-01'), (0.0001145138730635262, 'date_2018-01-14'), (0.00011199475817116639, 'date_2020-01-19'), (0.0001094005274621625, 'date_2019-08-11'), (0.00010916850658667828, 'year_month_2018-08-01'), (0.00010825518111986693, 'date_2018-11-25'), (0.00010638434326148434, 'year_month_2018-06-01'), (0.00010372440192028338, 'date_2019-12-29'), (0.00010261645507030095, 'date_2018-09-09'), (0.00010030309393804754, 'year_month_2019-01-01'), (9.629808031507958e-05, 'year_month_2018-10-01'), (9.430439051571435e-05, 'year_month_2018-04-01'), (9.359279912744238e-05, 'geography_Southeast'), (9.030391947716523e-05, 'date_2019-08-18'), (8.47056753188029e-05, 'date_2019-02-10'), (8.42340061149809e-05, 'date_2018-05-06'), (8.397968143923406e-05, 'date_2018-09-23'), (7.522233061200521e-05, 'date_2019-05-19'), (7.52192548380181e-05, 'year_month_2020-05-01'), (7.368615074935126e-05, 'year_month_2020-06-01'), (7.206332807324441e-05, 'date_2019-02-03'), (7.165254573989185e-05, 'date_2018-04-22'), (6.898463529364025e-05, 'date_2019-08-25'), (6.798444843275898e-05, 'date_2018-09-02'), (6.570293413948345e-05, 'date_2020-08-30'), (6.501253860585839e-05, 'date_2019-06-23'), (6.302282562776648e-05, 'geography_Denver'), (6.209068415476853e-05, 'date_2019-04-07'), (6.175524573862694e-05, 'date_2018-01-21'), (5.852259284932818e-05, 'date_2018-11-04'), (5.8484310549576293e-05, 'date_2020-02-09'), (5.7719320708610094e-05, 'date_2018-12-02'), (5.5365364096173014e-05, 'year_month_2018-03-01'), (5.307309334822766e-05, 'geography_Northern New England'), (5.076297097918756e-05, 'date_2018-02-04'), (5.0079551619868746e-05, 'date_2019-01-20'), (4.9888072131022686e-05, 'date_2019-03-24'), (4.938664636946433e-05, 'date_2019-05-05'), (4.761063587972655e-05, 'date_2018-04-08'), (4.6241794209770615e-05, 'date_2019-11-17'), (4.514499663197684e-05, 'date_2019-04-14'), (4.506932811291258e-05, 'date_2019-12-08'), (4.4983709611360164e-05, 'date_2020-01-26'), (4.3988197342089027e-05, 'date_2020-09-06'), (4.3713879951837734e-05, 'date_2019-03-03'), (4.332755181645769e-05, 'date_2018-05-27'), (4.302916524759674e-05, 'date_2020-08-09'), (4.276810342189985e-05, 'date_2020-07-19'), (4.260961809156264e-05, 'date_2020-08-16'), (4.165229575422786e-05, 'date_2019-03-17'), (4.147269716499368e-05, 'date_2018-08-26'), (4.103284070505887e-05, 'date_2020-01-12'), (3.981168200514492e-05, 'date_2018-10-21'), (3.859505220808864e-05, 'date_2019-09-22'), (3.837850369775011e-05, 'date_2019-04-21'), (3.763781404824834e-05, 'year_month_2018-12-01'), (3.7189925128672276e-05, 'date_2019-05-26'), (3.666763002760885e-05, 'date_2018-09-30'), (3.663054216357601e-05, 'date_2018-03-04'), (3.6261531723351375e-05, 'date_2018-03-25'), (3.618144282971413e-05, 'date_2018-02-18'), (3.5863676801877595e-05, 'date_2018-06-10'), (3.5566707903318665e-05, 'date_2020-02-23'), (3.422273305003713e-05, 'date_2018-03-11'), (3.417819248227463e-05, 'geography_South Carolina'), (3.378344387451205e-05, 'date_2019-09-15'), (3.3352473238587e-05, 'date_2020-02-16'), (3.31265944599771e-05, 'date_2019-10-27'), (3.2906558135027195e-05, 'date_2019-02-17'), (3.227376745176957e-05, 'date_2019-11-03'), (3.186737149310065e-05, 'date_2019-03-31'), (3.068731186483686e-05, 'date_2018-07-01'), (2.9786217680629563e-05, 'date_2020-07-26'), (2.9594670956561135e-05, 'date_2019-02-24'), (2.9420063441765668e-05, 'date_2019-01-27'), (2.9406808147168583e-05, 'date_2018-05-13'), (2.8834949548844405e-05, 'date_2020-04-12'), (2.7925498178942632e-05, 'date_2019-03-10'), (2.787412955046476e-05, 'date_2020-06-14'), (2.7838770017125166e-05, 'date_2019-06-16'), (2.7639692871140695e-05, 'date_2018-11-11'), (2.760427064869597e-05, 'year_month_2020-09-01'), (2.7148460256702713e-05, 'date_2020-06-28'), (2.7136261208721196e-05, 'date_2019-09-08'), (2.7072520449157455e-05, 'date_2020-04-26'), (2.677484249313276e-05, 'date_2020-05-03'), (2.6765929974071474e-05, 'date_2019-06-09'), (2.635469377022509e-05, 'date_2018-02-25'), (2.5567267001030634e-05, 'date_2018-01-07'), (2.4666399924333783e-05, 'date_2018-07-29'), (2.4211561447561754e-05, 'date_2019-11-24'), (2.3985384573679876e-05, 'date_2020-07-05'), (2.3539567963998772e-05, 'date_2020-04-05'), (2.3463543098848912e-05, 'date_2020-03-01'), (2.336899954741755e-05, 'date_2019-06-02'), (2.3006910282814044e-05, 'date_2020-03-15'), (2.269794412310413e-05, 'date_2018-10-28'), (2.2621236267624394e-05, 'date_2019-11-10'), (2.2586582155093537e-05, 'date_2020-05-17'), (2.248194902966966e-05, 'date_2019-09-01'), (2.224854613479884e-05, 'date_2019-10-20'), (2.1933091898799316e-05, 'date_2018-07-08'), (2.1357086302001155e-05, 'date_2018-11-18'), (2.0949311715171818e-05, 'date_2018-04-29'), (2.0842254251451962e-05, 'date_2018-03-18'), (2.042404957150914e-05, 'date_2020-06-07'), (2.0294160361493896e-05, 'date_2019-12-01'), (1.9532651335993755e-05, 'date_2018-05-20'), (1.9413747741091628e-05, 'date_2019-12-22'), (1.8981773056887293e-05, 'date_2019-10-06'), (1.8980233862184004e-05, 'date_2019-09-29'), (1.8324580074173655e-05, 'date_2018-07-15'), (1.7356740776110545e-05, 'date_2020-03-22'), (1.6926797717807856e-05, 'date_2018-07-22'), (1.6334550112890075e-05, 'date_2018-10-07'), (1.5224719416626464e-05, 'date_2019-01-13'), (1.5060413220448249e-05, 'date_2019-05-12'), (1.504252806777626e-05, 'date_2020-03-08'), (1.4493920074566059e-05, 'date_2018-06-17'), (1.4276278066660362e-05, 'date_2020-08-02'), (1.4260618130034517e-05, 'date_2020-05-24'), (1.3891553845786781e-05, 'date_2020-07-12'), (1.3828213402641592e-05, 'date_2020-08-23'), (1.3780423362487681e-05, 'date_2018-09-16'), (1.3651556494873276e-05, 'date_2018-04-01'), (1.3625191582437325e-05, 'date_2020-06-21'), (1.3414443177323826e-05, 'date_2020-05-10'), (1.2527885630962318e-05, 'date_2018-08-12'), (1.2432890248361334e-05, 'date_2018-06-03'), (1.2399286300421885e-05, 'date_2018-08-05'), (1.2203741802637687e-05, 'date_2018-04-15'), (1.1933106867718883e-05, 'date_2020-03-29'), (1.1725062619223089e-05, 'date_2018-01-28'), (1.0406786509907402e-05, 'date_2019-10-13'), (1.0171179345946753e-05, 'date_2018-08-19'), (9.77448341938983e-06, 'date_2020-04-19'), (7.966506169157347e-06, 'date_2018-06-24'), (6.729464577800724e-06, 'date_2018-02-11'), (5.779314340377207e-06, 'date_2019-12-15'), (4.618547198616256e-06, 'date_2018-10-14'), (4.5728111053225e-06, 'date_2020-05-31')]

In [105]:
y = pp_df['price_cat']
X = pp_df.drop(columns=['price_cat', 'avg_price', 'total_volume', 'prod_total_volume'], axis=1)

RFSSModel4(X, y)

Predictions: ['0' '0' '0' ... '3' '0' '2']
Confusion Matrix

          Predicted 0  Predicted 1  Predicted 2  Predicted 3
Actual 0          935           29           84           13
Actual 1          500          101          335           29
Actual 2          198           38          523          100
Actual 3           46            4          198          485

Accuracy Score : 0.5649530127142067
Classification Report
              precision    recall  f1-score   support

           0       0.56      0.88      0.68      1061
           1       0.59      0.10      0.18       965
           2       0.46      0.61      0.52       859
           3       0.77      0.66      0.71       733

    accuracy                           0.56      3618
   macro avg       0.59      0.56      0.52      3618
weighted avg       0.59      0.56      0.52      3618

Importances: [1.04947870e-01 1.38929829e-01 8.53006244e-02 9.76447926e-02
 9.75646177e-02 8.19397760e-02 7.10238616e-02 1.20624332e-01
 8.99151419e-03 4.46490329e-03 1.73726984e-02 1.92921836e-02
 3.00738140e-03 3.75435591e-04 1.95039711e-04 9.63124357e-05
 2.53704930e-04 3.63967028e-04 1.92527318e-04 2.06777832e-04
 1.98465729e-04 1.36558293e-03 2.16801182e-04 2.37064329e-04
 1.67833155e-04 1.39906925e-04 1.17468695e-03 1.00055750e-03
 3.56129359e-04 1.18190610e-03 9.97396005e-04 1.40368773e-02
 5.18936049e-03 4.66562624e-04 2.75022212e-04 4.08169340e-04
 9.56407755e-04 8.39476898e-04 1.64474369e-03 1.79085696e-04
 1.88015880e-04 1.11669276e-04 1.68118231e-04 2.31750613e-04
 1.21269886e-03 1.15469885e-04 3.15534534e-05 1.98684284e-04
 8.13571326e-05 4.60818216e-05 1.19397902e-04 3.44793190e-05
 5.42891286e-05 2.92235188e-05 4.17375371e-05 4.92308961e-05
 2.80438971e-05 4.61146424e-05 2.62768054e-05 8.39686104e-05
 5.17891970e-05 9.00661754e-05 3.67784310e-05 3.42037112e-04
 4.66689782e-05 3.07004055e-05 4.62570005e-05 2.20638993e-05
 7.04313556e-05 3.96317590e-05 1.24213451e-05 3.46151685e-05
 7.19044725e-05 2.93851695e-05 3.82725238e-05 2.77748743e-05
 4.56392946e-05 1.96568113e-05 1.50982941e-05 7.60022514e-05
 1.52687790e-04 1.25907504e-04 6.51732076e-05 1.29025278e-04
 3.17696546e-05 2.89157292e-05 2.31616153e-05 3.93835984e-05
 9.73526057e-05 1.10133044e-04 2.81058663e-05 5.37036285e-05
 1.53575555e-04 8.29981219e-05 6.17773299e-05 5.75753330e-05
 4.34148588e-05 6.69527886e-05 1.31362497e-04 5.66215884e-05
 2.29052081e-05 5.30641661e-05 8.44556315e-05 1.23225070e-04
 9.88651361e-05 4.10701523e-05 5.62219560e-05 6.49503003e-05
 7.86282827e-05 2.58312802e-04 3.40448898e-05 5.87922615e-05
 9.92812730e-05 3.12404928e-05 3.63284129e-05 2.56246540e-05
 8.00993387e-05 7.64777543e-05 1.57112638e-04 6.95451251e-04
 6.87340252e-04 7.16127831e-04 7.79483563e-04 3.53668925e-04
 1.35565851e-04 8.06792727e-05 1.17151193e-04 4.57588632e-05
 2.31274953e-05 2.00225492e-05 3.57261139e-05 3.04316354e-05
 1.32090286e-05 3.74240244e-05 5.25155448e-05 1.16381193e-04
 1.31765755e-04 4.29481683e-05 5.31065391e-05 2.80207346e-05
 5.13856509e-05 9.46060018e-05 4.33899608e-05 5.34937741e-05
 1.10592432e-04 7.87926865e-05 7.70426163e-05 8.42115747e-05
 3.76046143e-04 1.38385250e-04 5.81857545e-05 4.86186531e-05
 3.31161950e-05 2.55771928e-05 5.16947525e-05 1.47564366e-05
 4.02406817e-05 8.81619569e-05 3.90932679e-05 4.91556797e-05
 5.79543112e-05 3.05321100e-05 2.83438701e-05 3.56026254e-05
 1.87007636e-05 2.53635358e-05 3.52555271e-05 3.13546386e-05
 4.95782041e-05 3.85187205e-05 1.96134413e-05 4.64588399e-05
 3.02134531e-05 5.35994552e-05 6.14121647e-05 5.23163039e-05
 2.92053624e-05 1.98790956e-05 7.96684969e-05 8.64297870e-05
 2.80904487e-04 5.19461199e-04 4.58146889e-03 2.10061438e-03
 4.53120553e-03 2.48640059e-03 4.21326599e-03 1.23950811e-03
 7.37953375e-04 3.31436907e-04 7.14787841e-04 3.20768545e-03
 1.08288208e-04 4.05763165e-04 1.60176461e-03 2.50263140e-04
 5.25436146e-04 7.51539273e-03 4.35774663e-03 8.21234825e-04
 3.58433569e-04 1.96548293e-04 9.35575052e-04 5.78003042e-04
 1.79416217e-03 3.85163182e-04 3.78334936e-04 1.78912582e-03
 5.71581484e-03 3.74563563e-03 1.46623713e-04 5.63425139e-04
 8.91832438e-04 1.57909184e-03 5.89151135e-04 2.23690221e-04
 2.82919262e-03 1.51962271e-03 7.01713370e-04 1.00235904e-03
 2.01071480e-03 1.88802813e-03 1.05832245e-02 6.57381562e-03
 8.33852101e-05 2.11245681e-03 1.61101984e-04 2.73037248e-03
 7.39563392e-04 2.17871234e-03 2.66386919e-03 1.71366566e-03
 1.03506343e-03 1.60365268e-03]
[(0.13892982903434065, '4046_units'), (0.12062433210435708, 'xl_bags'), (0.10494787004285663, 'type'), (0.09764479264498692, '4770_units'), (0.09756461765008623, 'total_bags'), (0.08530062439962427, '4225_units'), (0.08193977601375518, 's_bags'), (0.07102386163988253, 'l_bags'), (0.019292183611170955, 'peru'), (0.01737269836119036, 'mexico'), (0.014036877338224443, 'year_month_2019-07-01'), (0.010583224461661236, 'geography_San Francisco'), (0.008991514185148429, 'california'), (0.0075153927253326595, 'geography_Hartford/Springfield'), (0.006573815621345022, 'geography_Seattle'), (0.00571581484292628, 'geography_New York'), (0.005189360492202862, 'year_month_2019-08-01'), (0.0045814688941274995, 'geography_Baltimore/Washington'), (0.004531205533889395, 'geography_Boston'), (0.0044649032946698815, 'chile'), (0.004357746634992362, 'geography_Houston'), (0.004213265988240471, 'geography_California'), (0.0037456356292455985, 'geography_Northeast'), (0.003207685452975082, 'geography_Dallas/Ft. Worth'), (0.003007381403492681, 'columbia'), (0.002829192624199159, 'geography_Portland'), (0.002730372478646068, 'geography_Spokane'), (0.002663869193307498, 'geography_Tampa'), (0.0024864005930540453, 'geography_Buffalo/Rochester'), (0.0021787123366222827, 'geography_Syracuse'), (0.002112456808279268, 'geography_South Central'), (0.002100614381033616, 'geography_Boise'), (0.0020107147964140894, 'geography_Sacramento'), (0.0018880281271807528, 'geography_San Diego'), (0.0017941621727662563, 'geography_Miami/Ft. Lauderdale'), (0.0017891258205120762, 'geography_New Orleans/Mobile'), (0.0017136656574815088, 'geography_Total U.S.'), (0.0016447436944462364, 'year_month_2020-02-01'), (0.0016036526813365303, 'geography_West Tex/New Mexico'), (0.0016017646102560997, 'geography_Grand Rapids'), (0.0015790918432688039, 'geography_Phoenix/Tucson'), (0.001519622711304169, 'geography_Raleigh/Greensboro'), (0.00136558293227402, 'year_month_2018-09-01'), (0.0012395081144672927, 'geography_Charlotte'), (0.0012126988619311826, 'year_month_2020-08-01'), (0.0011819061036228964, 'year_month_2019-05-01'), (0.0011746869533084726, 'year_month_2019-02-01'), (0.0010350634280564465, 'geography_West'), (0.0010023590353745084, 'geography_Roanoke'), (0.0010005575002014953, 'year_month_2019-03-01'), (0.000997396004665619, 'year_month_2019-06-01'), (0.0009564077548996856, 'year_month_2019-12-01'), (0.0009355750519810809, 'geography_Los Angeles'), (0.0008918324381026535, 'geography_Philadelphia'), (0.000839476898236727, 'year_month_2020-01-01'), (0.0008212348254519116, 'geography_Indianapolis'), (0.0007794835626699578, 'date_2019-07-28'), (0.0007395633915972152, 'geography_St. Louis'), (0.0007379533754090828, 'geography_Chicago'), (0.0007161278309759971, 'date_2019-07-21'), (0.0007147878407360302, 'geography_Columbus'), (0.0007017133701113815, 'geography_Richmond/Norfolk'), (0.0006954512507122568, 'date_2019-07-07'), (0.0006873402523917296, 'date_2019-07-14'), (0.0005891511346313301, 'geography_Pittsburgh'), (0.0005780030420744441, 'geography_Louisville'), (0.0005634251392733194, 'geography_Orlando'), (0.0005254361462092791, 'geography_Harrisburg/Scranton'), (0.0005194611993470327, 'geography_Atlanta'), (0.00046656262372030816, 'year_month_2019-09-01'), (0.0004081693402306254, 'year_month_2019-11-01'), (0.0004057631653174181, 'geography_Detroit'), (0.00038516318237329095, 'geography_Midsouth'), (0.0003783349356061468, 'geography_Nashville'), (0.00037604614317661894, 'date_2020-02-02'), (0.0003754355914858309, 'year_month_2018-01-01'), (0.0003639670282903794, 'year_month_2018-05-01'), (0.0003584335689465191, 'geography_Jacksonville'), (0.00035612935870599, 'year_month_2019-04-01'), (0.000353668925108019, 'date_2019-08-04'), (0.0003420371116993567, 'date_2018-05-06'), (0.00033143690662231623, 'geography_Cincinnati/Dayton'), (0.0002809044865526846, 'geography_Albany'), (0.00027502221171145933, 'year_month_2019-10-01'), (0.00025831280173647773, 'date_2019-04-28'), (0.0002537049299286008, 'year_month_2018-04-01'), (0.00025026313984557373, 'geography_Great Lakes'), (0.00023706432934912755, 'year_month_2018-11-01'), (0.0002317506129897069, 'year_month_2020-07-01'), (0.0002236902207169913, 'geography_Plains'), (0.00021680118221200463, 'year_month_2018-10-01'), (0.00020677783179654733, 'year_month_2018-07-01'), (0.00019868428438295975, 'date_2018-01-14'), (0.00019846572892881481, 'year_month_2018-08-01'), (0.00019654829319088886, 'geography_Las Vegas'), (0.0001950397110070227, 'year_month_2018-02-01'), (0.00019252731847415848, 'year_month_2018-06-01'), (0.00018801588007347504, 'year_month_2020-04-01'), (0.00017908569588857875, 'year_month_2020-03-01'), (0.00016811823051399283, 'year_month_2020-06-01'), (0.00016783315497699504, 'year_month_2018-12-01'), (0.00016110198438675988, 'geography_Southeast'), (0.0001571126377473219, 'date_2019-06-30'), (0.0001535755550287048, 'date_2018-11-25'), (0.00015268779021013583, 'date_2018-09-02'), (0.00014662371294903132, 'geography_Northern New England'), (0.0001399069245328968, 'year_month_2019-01-01'), (0.000138385249889203, 'date_2020-02-09'), (0.00013556585072176523, 'date_2019-08-11'), (0.00013176575457998652, 'date_2019-11-03'), (0.00013136249742375469, 'date_2019-02-10'), (0.00012902527816560975, 'date_2018-09-23'), (0.00012590750386002694, 'date_2018-09-09'), (0.00012322507034717896, 'date_2019-03-17'), (0.00011939790249153088, 'date_2018-02-04'), (0.00011715119305763401, 'date_2019-08-25'), (0.00011638119316883154, 'date_2019-10-27'), (0.00011546988474074996, 'year_month_2020-09-01'), (0.00011166927550643084, 'year_month_2020-05-01'), (0.00011059243162440991, 'date_2019-12-29'), (0.00011013304365018579, 'date_2018-11-04'), (0.00010828820789181641, 'geography_Denver'), (9.928127298886362e-05, 'date_2019-05-19'), (9.88651360934655e-05, 'date_2019-03-24'), (9.73526056605328e-05, 'date_2018-10-28'), (9.631243574224519e-05, 'year_month_2018-03-01'), (9.46060017539416e-05, 'date_2019-12-08'), (9.006617536171583e-05, 'date_2018-04-22'), (8.816195688744645e-05, 'date_2020-04-05'), (8.642978697940541e-05, 'date_2020-09-06'), (8.445563153499184e-05, 'date_2019-03-10'), (8.421157473562927e-05, 'date_2020-01-26'), (8.396861037532693e-05, 'date_2018-04-08'), (8.338521010215199e-05, 'geography_South Carolina'), (8.299812194320341e-05, 'date_2018-12-02'), (8.135713263731579e-05, 'date_2018-01-21'), (8.06792726957157e-05, 'date_2019-08-18'), (8.009933872386944e-05, 'date_2019-06-16'), (7.966849687853677e-05, 'date_2020-08-30'), (7.879268650859091e-05, 'date_2020-01-12'), (7.862828270006485e-05, 'date_2019-04-21'), (7.704261633678983e-05, 'date_2020-01-19'), (7.647775428786202e-05, 'date_2019-06-23'), (7.600225135548479e-05, 'date_2018-08-26'), (7.190447249622995e-05, 'date_2018-07-08'), (7.043135555059513e-05, 'date_2018-06-10'), (6.695278858374501e-05, 'date_2019-02-03'), (6.51732075568822e-05, 'date_2018-09-16'), (6.495030032671073e-05, 'date_2019-04-14'), (6.177732987326452e-05, 'date_2019-01-13'), (6.141216469320986e-05, 'date_2020-08-02'), (5.879226149153056e-05, 'date_2019-05-12'), (5.8185754512661415e-05, 'date_2020-02-16'), (5.7954311181807394e-05, 'date_2020-04-26'), (5.757533297981807e-05, 'date_2019-01-20'), (5.662158837087632e-05, 'date_2019-02-17'), (5.6221955986223556e-05, 'date_2019-04-07'), (5.4289128644316826e-05, 'date_2018-02-18'), (5.370362845914513e-05, 'date_2018-11-18'), (5.359945522688534e-05, 'date_2020-07-26'), (5.349377407993471e-05, 'date_2019-12-22'), (5.3106539053450534e-05, 'date_2019-11-17'), (5.30641660916141e-05, 'date_2019-03-03'), (5.251554482555985e-05, 'date_2019-10-20'), (5.2316303887201365e-05, 'date_2020-08-09'), (5.1789196978379525e-05, 'date_2018-04-15'), (5.169475254627693e-05, 'date_2020-03-15'), (5.138565091710736e-05, 'date_2019-12-01'), (4.957820413574781e-05, 'date_2020-06-21'), (4.923089611906847e-05, 'date_2018-03-11'), (4.915567966263358e-05, 'date_2020-04-19'), (4.86186531312457e-05, 'date_2020-02-23'), (4.666897824644292e-05, 'date_2018-05-13'), (4.6458839874266855e-05, 'date_2020-07-12'), (4.6257000471615376e-05, 'date_2018-05-27'), (4.611464243976357e-05, 'date_2018-03-25'), (4.608182158375275e-05, 'date_2018-01-28'), (4.575886316200826e-05, 'date_2019-09-01'), (4.56392945783545e-05, 'date_2018-08-05'), (4.341485878998111e-05, 'date_2019-01-27'), (4.3389960838218756e-05, 'date_2019-12-15'), (4.2948168252084793e-05, 'date_2019-11-10'), (4.173753708978531e-05, 'date_2018-03-04'), (4.107015226734389e-05, 'date_2019-03-31'), (4.0240681749998375e-05, 'date_2020-03-29'), (3.963175896698634e-05, 'date_2018-06-17'), (3.938359843548613e-05, 'date_2018-10-21'), (3.90932679412578e-05, 'date_2020-04-12'), (3.85187205373187e-05, 'date_2020-06-28'), (3.827252380324427e-05, 'date_2018-07-22'), (3.742402438416301e-05, 'date_2019-10-13'), (3.677843099522748e-05, 'date_2018-04-29'), (3.632841288087723e-05, 'date_2019-06-02'), (3.572611389831494e-05, 'date_2019-09-22'), (3.56026253810807e-05, 'date_2020-05-17'), (3.5255527061673176e-05, 'date_2020-06-07'), (3.46151685375095e-05, 'date_2018-07-01'), (3.447931903109304e-05, 'date_2018-02-11'), (3.404488975327922e-05, 'date_2019-05-05'), (3.3116194951549444e-05, 'date_2020-03-01'), (3.1769654632440175e-05, 'date_2018-09-30'), (3.155345335762321e-05, 'date_2018-01-07'), (3.135463860100966e-05, 'date_2020-06-14'), (3.124049277986303e-05, 'date_2019-05-26'), (3.0700405543790526e-05, 'date_2018-05-20'), (3.053211003202515e-05, 'date_2020-05-03'), (3.0431635427251897e-05, 'date_2019-09-29'), (3.02134530714932e-05, 'date_2020-07-19'), (2.938516948664152e-05, 'date_2018-07-15'), (2.9223518848415168e-05, 'date_2018-02-25'), (2.9205362406259864e-05, 'date_2020-08-16'), (2.8915729203393313e-05, 'date_2018-10-07'), (2.834387010222397e-05, 'date_2020-05-10'), (2.8105866300716884e-05, 'date_2018-11-11'), (2.8043897129300382e-05, 'date_2018-03-18'), (2.80207346326295e-05, 'date_2019-11-24'), (2.7774874337626556e-05, 'date_2018-07-29'), (2.627680541394067e-05, 'date_2018-04-01'), (2.5624653950068834e-05, 'date_2019-06-09'), (2.5577192773254268e-05, 'date_2020-03-08'), (2.536353583235714e-05, 'date_2020-05-31'), (2.3161615348634512e-05, 'date_2018-10-14'), (2.3127495316297805e-05, 'date_2019-09-08'), (2.290520805953679e-05, 'date_2019-02-24'), (2.2063899333795042e-05, 'date_2018-06-03'), (2.0022549237534297e-05, 'date_2019-09-15'), (1.9879095597441344e-05, 'date_2020-08-23'), (1.9656811290533796e-05, 'date_2018-08-12'), (1.9613441292563533e-05, 'date_2020-07-05'), (1.8700763647951532e-05, 'date_2020-05-24'), (1.5098294110089244e-05, 'date_2018-08-19'), (1.4756436580783073e-05, 'date_2020-03-22'), (1.3209028616629897e-05, 'date_2019-10-06'), (1.2421345078965757e-05, 'date_2018-06-24')]