### Neural Network ML model

(Features) **X-variables**: region, date, units sold, production data, climate data, import data, export data, median income.

(Target) **y-variable:** avocado price (numerical outcome)

In [3]:
# Import dependencies.
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
from pathlib import Path

import warnings
warnings.filterwarnings('ignore')

# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

# Load the avocado_mock_df.csv dataset.
avocado_mock_df = pd.read_csv(Path('././MOCK_datasets_ML/MockDataset_Avocado_ML.csv'))
avocado_mock_df.head(10)

,REGION (city),LATITUDE,LONGITUDE,DATE (Month + Year),4046 Units sold,4225 Units,4770 Units,Bags sold,CLIMATE_CA_pcp,CLIMATE_CA_tmin,...,PERU PRODUCTION,COLUMBIA PRODUCTION,IMPORTS BY VALUE ($1000),IMPORTS BY VOLUME (1000 LBS),IMPORTS UNIT VALUE ($ PER POUND),EXPORTS BY VALUE ($1000),EXPORTS BY VOLUME (1000 LBS),EXPORTS UNIT VALUE ($ PER POUND),MEDIAN INCOME,PRICE
0,Los Angeles,34.0522,118.2437,1/1/2017,1223299.39,829896.69,56808.74,1441332.35,6.48,36.6,...,0,0,207387693,214329.7208,0.967611,1660842,994.194413,1.670540,64251,0.84
1,San Diego,32.7157,117.1611,1/1/2017,149666.20,206181.12,15014.45,189448.58,6.48,36.6,...,0,0,207387693,214329.7208,0.967611,1660842,994.194413,1.670540,74855,0.93
2,San Francisco,37.7749,122.4194,1/1/2017,260100.73,717625.67,2490.66,66958.27,6.48,36.6,...,0,0,207387693,214329.7208,0.967611,1660842,994.194413,1.670540,104552,0.95
3,Sacramento,38.5816,121.4944,1/1/2017,144876.31,339664.16,660.97,41564.20,6.48,36.6,...,0,0,207387693,214329.7208,0.967611,1660842,994.194413,1.670540,63902,0.98
4,Los Angeles,34.0522,118.2437,2/1/2017,5470227.08,1741607.02,937331.61,2701609.82,3.65,37.5,...,0,0,182421005,157957.1830,1.154876,2119913,1400.845874,1.513309,64251,0.53
5,San Diego,32.7157,117.1611,2/1/2017,260418.91,290223.93,20313.95,321784.08,3.65,37.5,...,0,0,182421005,157957.1830,1.154876,2119913,1400.845874,1.513309,74855,0.63
6,San Francisco,37.7749,122.4194,2/1/2017,560686.25,900172.65,21331.13,75785.02,3.65,37.5,...,0,0,182421005,157957.1830,1.154876,2119913,1400.845874,1.513309,104552,0.84
7,Sacramento,38.5816,121.4944,2/1/2017,321474.22,418158.93,11962.44,57213.28,3.65,37.5,...,0,0,182421005,157957.1830,1.154876,2119913,1400.845874,1.513309,63902,0.98
8,Los Angeles,34.0522,118.2437,3/1/2017,2768930.88,897311.08,518369.51,1269943.15,2.19,37.2,...,0,0,224948272,171411.0822,1.312332,4549077,2623.655244,1.733870,64251,0.99
9,San Diego,32.7157,117.1611,3/1/2017,163424.69,176304.67,19186.14,158785.76,2.19,37.2,...,0,0,224948272,171411.0822,1.312332,4549077,2623.655244,1.733870,74855,1.04

In [4]:
# Drop the non-beneficial columns.
# Make a copy of df
avocado_mock_df.drop(columns=["CLIMATE_CA_pcp", "CLIMATE_CA_tmin", "CLIMATE_CA_tmax", "DATE (Month + Year)"], inplace=True)
avocado_mock_df.head()

,REGION (city),LATITUDE,LONGITUDE,4046 Units sold,4225 Units,4770 Units,Bags sold,TOTAL_VOLUME,CALIFORNIA PRODUCTION,CHILE PRODUCTION,...,PERU PRODUCTION,COLUMBIA PRODUCTION,IMPORTS BY VALUE ($1000),IMPORTS BY VOLUME (1000 LBS),IMPORTS UNIT VALUE ($ PER POUND),EXPORTS BY VALUE ($1000),EXPORTS BY VOLUME (1000 LBS),EXPORTS UNIT VALUE ($ PER POUND),MEDIAN INCOME,PRICE
0,Los Angeles,34.0522,118.2437,1223299.39,829896.69,56808.74,1441332.35,45670156,899349,519433,...,0,0,207387693,214329.7208,0.967611,1660842,994.194413,1.670540,64251,0.84
1,San Diego,32.7157,117.1611,149666.20,206181.12,15014.45,189448.58,45670156,899349,519433,...,0,0,207387693,214329.7208,0.967611,1660842,994.194413,1.670540,74855,0.93
2,San Francisco,37.7749,122.4194,260100.73,717625.67,2490.66,66958.27,45670156,899349,519433,...,0,0,207387693,214329.7208,0.967611,1660842,994.194413,1.670540,104552,0.95
3,Sacramento,38.5816,121.4944,144876.31,339664.16,660.97,41564.20,45670156,899349,519433,...,0,0,207387693,214329.7208,0.967611,1660842,994.194413,1.670540,63902,0.98
4,Los Angeles,34.0522,118.2437,5470227.08,1741607.02,937331.61,2701609.82,47371481,2635471,0,...,0,0,182421005,157957.1830,1.154876,2119913,1400.845874,1.513309,64251,0.53

In [5]:
# Determine the number of unique values in each column.
avo_cat = avocado_mock_df.dtypes.index.tolist()
avocado_mock_df[avo_cat].nunique()

REGION (city)                        4
LATITUDE                             4
LONGITUDE                            4
4046 Units sold                     12
4225 Units                          12
4770 Units                          12
Bags sold                           12
TOTAL_VOLUME                         3
CALIFORNIA PRODUCTION                3
CHILE PRODUCTION                     2
MEXICO PRODUCTION                    3
PERU PRODUCTION                      1
COLUMBIA PRODUCTION                  1
IMPORTS BY VALUE ($1000)             3
IMPORTS BY VOLUME (1000 LBS)         3
IMPORTS UNIT VALUE ($ PER POUND)     3
EXPORTS BY VALUE ($1000)             3
EXPORTS BY VOLUME (1000 LBS)         3
EXPORTS UNIT VALUE ($ PER POUND)     3
MEDIAN INCOME                        4
PRICE                               10
dtype: int64

In [6]:
avocado_mock_df.dtypes

REGION (city)                        object
LATITUDE                            float64
LONGITUDE                           float64
4046 Units sold                     float64
4225 Units                          float64
4770 Units                          float64
Bags sold                           float64
TOTAL_VOLUME                          int64
CALIFORNIA PRODUCTION                 int64
CHILE PRODUCTION                      int64
MEXICO PRODUCTION                     int64
PERU PRODUCTION                       int64
COLUMBIA PRODUCTION                   int64
IMPORTS BY VALUE ($1000)              int64
IMPORTS BY VOLUME (1000 LBS)        float64
IMPORTS UNIT VALUE ($ PER POUND)    float64
EXPORTS BY VALUE ($1000)              int64
EXPORTS BY VOLUME (1000 LBS)        float64
EXPORTS UNIT VALUE ($ PER POUND)    float64
MEDIAN INCOME                         int64
PRICE                               float64
dtype: object

In [7]:
# Look at SPECIFIC value counts for binning
avocado_mock_df['CALIFORNIA PRODUCTION'].value_counts()

2635471    4
4997613    4
899349     4
Name: CALIFORNIA PRODUCTION, dtype: int64

In [23]:
## Visualize the value counts of avocado_mock_df['CALIFORNIA PRODUCTION']
ca_prod = avocado_mock_df['CALIFORNIA PRODUCTION'].value_counts()
ca_prod.plot.density()

In [11]:
# Determine which values to replace if counts are less than ...?
replace_ca_prod = list(ca_prod[ca_prod < 500000].index)

## Replace in dataframe
for ca_p in replace_ca_prod:
    avocado_mock_df['CALIFORNIA PRODUCTION'] = avocado_mock_df['CALIFORNIA PRODUCTION'].replace(ca_p,"Other")
    
# Check to make sure binning was successful
avocado_mock_df['CALIFORNIA PRODUCTION'].value_counts()

Other    12
Name: CALIFORNIA PRODUCTION, dtype: int64

In [12]:
# Generate our categorical variable lists
avocado_cat = avocado_mock_df.dtypes[avocado_mock_df.dtypes == "object"].index.tolist()

In [13]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(avocado_mock_df[avocado_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(avocado_cat)
encode_df.head()

,REGION (city)_Los Angeles,REGION (city)_Sacramento,REGION (city)_San Diego,REGION (city)_San Francisco,CALIFORNIA PRODUCTION_Other
0,1.0,0.0,0.0,0.0,1.0
1,0.0,0.0,1.0,0.0,1.0
2,0.0,0.0,0.0,1.0,1.0
3,0.0,1.0,0.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0

In [14]:
# Merge one-hot encoded features and drop the originals
avocado_mock_df = avocado_mock_df.merge(encode_df,left_index=True, right_index=True)
avocado_mock_df = avocado_mock_df.drop(avocado_cat,1)
avocado_mock_df.head()

,LATITUDE,LONGITUDE,4046 Units sold,4225 Units,4770 Units,Bags sold,TOTAL_VOLUME,CHILE PRODUCTION,MEXICO PRODUCTION,PERU PRODUCTION,...,EXPORTS BY VALUE ($1000),EXPORTS BY VOLUME (1000 LBS),EXPORTS UNIT VALUE ($ PER POUND),MEDIAN INCOME,PRICE,REGION (city)_Los Angeles,REGION (city)_Sacramento,REGION (city)_San Diego,REGION (city)_San Francisco,CALIFORNIA PRODUCTION_Other
0,34.0522,118.2437,1223299.39,829896.69,56808.74,1441332.35,45670156,519433,44251374,0,...,1660842,994.194413,1.670540,64251,0.84,1.0,0.0,0.0,0.0,1.0
1,32.7157,117.1611,149666.20,206181.12,15014.45,189448.58,45670156,519433,44251374,0,...,1660842,994.194413,1.670540,74855,0.93,0.0,0.0,1.0,0.0,1.0
2,37.7749,122.4194,260100.73,717625.67,2490.66,66958.27,45670156,519433,44251374,0,...,1660842,994.194413,1.670540,104552,0.95,0.0,0.0,0.0,1.0,1.0
3,38.5816,121.4944,144876.31,339664.16,660.97,41564.20,45670156,519433,44251374,0,...,1660842,994.194413,1.670540,63902,0.98,0.0,1.0,0.0,0.0,1.0
4,34.0522,118.2437,5470227.08,1741607.02,937331.61,2701609.82,47371481,0,44736010,0,...,2119913,1400.845874,1.513309,64251,0.53,1.0,0.0,0.0,0.0,1.0

In [15]:
# Split our preprocessed data into our features and target arrays
y = avocado_mock_df["PRICE"].values
X = avocado_mock_df.drop(["PRICE"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Compile, Train and Evaluate the Model

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 210
hidden_nodes_layer2 = 90
#hidden_nodes_layer3 = 40

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
#nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From C:\Users\sfand\anaconda3\envs\pythonml\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 210)               5040
_________________________________________________________________
dense_1 (Dense)              (None, 90)                18990
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 91
=================================================================
Total params: 24,121
Trainable params: 24,121
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Define the checkpoint path and filenames
os.makedirs("checkpoints/",exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [19]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\sfand\anaconda3\envs\pythonml\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [20]:
# Create a callback that saves the model's weights every 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq=1000)

In [21]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100,callbacks=[cp_callback])

Epoch 1/100
9/9 [==============================] - 0s 22ms/sample - loss: 0.6645 - acc: 0.0000e+00
Epoch 2/100
9/9 [==============================] - 0s 2ms/sample - loss: 0.5410 - acc: 0.0000e+00
Epoch 3/100
9/9 [==============================] - 0s 665us/sample - loss: 0.4417 - acc: 0.0000e+00
Epoch 4/100
9/9 [==============================] - 0s 999us/sample - loss: 0.3630 - acc: 0.0000e+00
Epoch 5/100
9/9 [==============================] - 0s 332us/sample - loss: 0.2988 - acc: 0.0000e+00
Epoch 6/100
9/9 [==============================] - 0s 216us/sample - loss: 0.2439 - acc: 0.0000e+00
Epoch 7/100
9/9 [==============================] - 0s 760us/sample - loss: 0.1947 - acc: 0.0000e+00
Epoch 8/100
9/9 [==============================] - 0s 440us/sample - loss: 0.1506 - acc: 0.0000e+00
Epoch 9/100
9/9 [==============================] - 0s 665us/sample - loss: 0.1104 - acc: 0.0000e+00
Epoch 10/100
9/9 [==============================] - 0s 997us/sample - loss: 0.0726 - acc: 0.0000e+00
Epoch 11/100
9/9 [==============================] - 0s 326us/sample - loss: 0.0362 - acc: 0.0000e+00
Epoch 12/100
9/9 [==============================] - 0s 554us/sample - loss: 1.7439e-04 - acc: 0.0000e+00
Epoch 13/100
9/9 [==============================] - 0s 225us/sample - loss: -0.0364 - acc: 0.0000e+00
Epoch 14/100
9/9 [==============================] - 0s 222us/sample - loss: -0.0729 - acc: 0.0000e+00
Epoch 15/100
9/9 [==============================] - 0s 887us/sample - loss: -0.1105 - acc: 0.0000e+00
Epoch 16/100
9/9 [==============================] - 0s 217us/sample - loss: -0.1495 - acc: 0.0000e+00
Epoch 17/100
9/9 [==============================] - 0s 775us/sample - loss: -0.1904 - acc: 0.0000e+00
Epoch 18/100
9/9 [==============================] - 0s 336us/sample - loss: -0.2331 - acc: 0.0000e+00
Epoch 19/100
9/9 [==============================] - 0s 440us/sample - loss: -0.2778 - acc: 0.0000e+00
Epoch 20/100
9/9 [==============================] - 0s 443us/sample - loss: -0.3249 - acc: 0.0000e+00
Epoch 21/100
9/9 [==============================] - 0s 1ms/sample - loss: -0.3747 - acc: 0.0000e+00
Epoch 22/100
9/9 [==============================] - 0s 332us/sample - loss: -0.4272 - acc: 0.0000e+00
Epoch 23/100
9/9 [==============================] - 0s 554us/sample - loss: -0.4829 - acc: 0.0000e+00
Epoch 24/100
9/9 [==============================] - 0s 329us/sample - loss: -0.5420 - acc: 0.0000e+00
Epoch 25/100
9/9 [==============================] - 0s 179us/sample - loss: -0.6044 - acc: 0.0000e+00
Epoch 26/100
9/9 [==============================] - 0s 998us/sample - loss: -0.6701 - acc: 0.0000e+00
Epoch 27/100
9/9 [==============================] - 0s 218us/sample - loss: -0.7394 - acc: 0.0000e+00
Epoch 28/100
9/9 [==============================] - 0s 558us/sample - loss: -0.8124 - acc: 0.0000e+00
Epoch 29/100
9/9 [==============================] - 0s 222us/sample - loss: -0.8897 - acc: 0.0000e+00
Epoch 30/100
9/9 [==============================] - 0s 444us/sample - loss: -0.9718 - acc: 0.0000e+00
Epoch 31/100
9/9 [==============================] - 0s 444us/sample - loss: -1.0590 - acc: 0.0000e+00
Epoch 32/100
9/9 [==============================] - 0s 329us/sample - loss: -1.1514 - acc: 0.0000e+00
Epoch 33/100
9/9 [==============================] - 0s 554us/sample - loss: -1.2491 - acc: 0.0000e+00
Epoch 34/100
9/9 [==============================] - 0s 1ms/sample - loss: -1.3525 - acc: 0.0000e+00
Epoch 35/100
9/9 [==============================] - 0s 331us/sample - loss: -1.4620 - acc: 0.0000e+00
Epoch 36/100
9/9 [==============================] - 0s 218us/sample - loss: -1.5777 - acc: 0.0000e+00
Epoch 37/100
9/9 [==============================] - 0s 223us/sample - loss: -1.7000 - acc: 0.0000e+00
Epoch 38/100
9/9 [==============================] - 0s 601us/sample - loss: -1.8291 - acc: 0.0000e+00
Epoch 39/100
9/9 [==============================] - 0s 220us/sample - loss: -1.9660 - acc: 0.0000e+00
Epoch 40/100
9/9 [==============================] - 0s 664us/sample - loss: -2.1103 - acc: 0.0000e+00
Epoch 41/100
9/9 [==============================] - 0s 438us/sample - loss: -2.2625 - acc: 0.0000e+00
Epoch 42/100
9/9 [==============================] - 0s 550us/sample - loss: -2.4230 - acc: 0.0000e+00
Epoch 43/100
9/9 [==============================] - 0s 336us/sample - loss: -2.5921 - acc: 0.0000e+00
Epoch 44/100
9/9 [==============================] - 0s 222us/sample - loss: -2.7697 - acc: 0.0000e+00
Epoch 45/100
9/9 [==============================] - 0s 554us/sample - loss: -2.9568 - acc: 0.0000e+00
Epoch 46/100
9/9 [==============================] - 0s 661us/sample - loss: -3.1535 - acc: 0.0000e+00
Epoch 47/100
9/9 [==============================] - 0s 443us/sample - loss: -3.3598 - acc: 0.0000e+00
Epoch 48/100
9/9 [==============================] - 0s 332us/sample - loss: -3.5762 - acc: 0.0000e+00
Epoch 49/100
9/9 [==============================] - 0s 1ms/sample - loss: -3.8032 - acc: 0.0000e+00
Epoch 50/100
9/9 [==============================] - 0s 438us/sample - loss: -4.0421 - acc: 0.0000e+00
Epoch 51/100
9/9 [==============================] - 0s 333us/sample - loss: -4.2926 - acc: 0.0000e+00
Epoch 52/100
9/9 [==============================] - 0s 221us/sample - loss: -4.5548 - acc: 0.0000e+00
Epoch 53/100
9/9 [==============================] - 0s 1ms/sample - loss: -4.8295 - acc: 0.0000e+00
Epoch 54/100
9/9 [==============================] - 0s 443us/sample - loss: -5.1166 - acc: 0.0000e+00
Epoch 55/100
9/9 [==============================] - 0s 775us/sample - loss: -5.4158 - acc: 0.0000e+00
Epoch 56/100
9/9 [==============================] - 0s 554us/sample - loss: -5.7295 - acc: 0.0000e+00
Epoch 57/100
9/9 [==============================] - 0s 886us/sample - loss: -6.0572 - acc: 0.0000e+00
Epoch 58/100
9/9 [==============================] - 0s 330us/sample - loss: -6.3988 - acc: 0.0000e+00
Epoch 59/100
9/9 [==============================] - 0s 329us/sample - loss: -6.7550 - acc: 0.0000e+00
Epoch 60/100
9/9 [==============================] - 0s 221us/sample - loss: -7.1265 - acc: 0.0000e+00
Epoch 61/100
9/9 [==============================] - 0s 220us/sample - loss: -7.5138 - acc: 0.0000e+00
Epoch 62/100
9/9 [==============================] - 0s 552us/sample - loss: -7.9158 - acc: 0.0000e+00
Epoch 63/100
9/9 [==============================] - 0s 220us/sample - loss: -8.3351 - acc: 0.0000e+00
Epoch 64/100
9/9 [==============================] - 0s 329us/sample - loss: -8.7705 - acc: 0.0000e+00
Epoch 65/100
9/9 [==============================] - 0s 915us/sample - loss: -9.2232 - acc: 0.0000e+00
Epoch 66/100
9/9 [==============================] - 0s 448us/sample - loss: -9.6942 - acc: 0.0000e+00
Epoch 67/100
9/9 [==============================] - 0s 448us/sample - loss: -10.1822 - acc: 0.0000e+00
Epoch 68/100
9/9 [==============================] - 0s 333us/sample - loss: -10.6888 - acc: 0.0000e+00
Epoch 69/100
9/9 [==============================] - 0s 329us/sample - loss: -11.2141 - acc: 0.0000e+00
Epoch 70/100
9/9 [==============================] - 0s 224us/sample - loss: -11.7588 - acc: 0.0000e+00
Epoch 71/100
9/9 [==============================] - 0s 554us/sample - loss: -12.3236 - acc: 0.0000e+00
Epoch 72/100
9/9 [==============================] - 0s 332us/sample - loss: -12.9080 - acc: 0.0000e+00
Epoch 73/100
9/9 [==============================] - 0s 560us/sample - loss: -13.5125 - acc: 0.0000e+00
Epoch 74/100
9/9 [==============================] - 0s 333us/sample - loss: -14.1394 - acc: 0.0000e+00
Epoch 75/100
9/9 [==============================] - 0s 447us/sample - loss: -14.7885 - acc: 0.0000e+00
Epoch 76/100
9/9 [==============================] - 0s 331us/sample - loss: -15.4589 - acc: 0.0000e+00
Epoch 77/100
9/9 [==============================] - 0s 890us/sample - loss: -16.1521 - acc: 0.0000e+00
Epoch 78/100
9/9 [==============================] - 0s 336us/sample - loss: -16.8691 - acc: 0.0000e+00
Epoch 79/100
9/9 [==============================] - 0s 440us/sample - loss: -17.6092 - acc: 0.0000e+00
Epoch 80/100
9/9 [==============================] - 0s 891us/sample - loss: -18.3740 - acc: 0.0000e+00
Epoch 81/100
9/9 [==============================] - 0s 2ms/sample - loss: -19.1629 - acc: 0.0000e+00

Epoch 82/100
9/9 [==============================] - 0s 661us/sample - loss: -19.9765 - acc: 0.0000e+00
Epoch 83/100
9/9 [==============================] - 0s 333us/sample - loss: -20.8153 - acc: 0.0000e+00
Epoch 84/100
9/9 [==============================] - 0s 667us/sample - loss: -21.6785 - acc: 0.0000e+00
Epoch 85/100
9/9 [==============================] - 0s 328us/sample - loss: -22.5698 - acc: 0.0000e+00
Epoch 86/100
9/9 [==============================] - 0s 670us/sample - loss: -23.4863 - acc: 0.0000e+00
Epoch 87/100
9/9 [==============================] - 0s 222us/sample - loss: -24.4302 - acc: 0.0000e+00
Epoch 88/100
9/9 [==============================] - 0s 335us/sample - loss: -25.4021 - acc: 0.0000e+00
Epoch 89/100
9/9 [==============================] - 0s 555us/sample - loss: -26.3995 - acc: 0.0000e+00
Epoch 90/100
9/9 [==============================] - 0s 333us/sample - loss: -27.4286 - acc: 0.0000e+00
Epoch 91/100
9/9 [==============================] - 0s 559us/sample - loss: -28.4847 - acc: 0.0000e+00
Epoch 92/100
9/9 [==============================] - 0s 333us/sample - loss: -29.5700 - acc: 0.0000e+00
Epoch 93/100
9/9 [==============================] - 0s 264us/sample - loss: -30.6857 - acc: 0.0000e+00
Epoch 94/100
9/9 [==============================] - 0s 218us/sample - loss: -31.8312 - acc: 0.0000e+00
Epoch 95/100
9/9 [==============================] - 0s 332us/sample - loss: -33.0066 - acc: 0.0000e+00
Epoch 96/100
9/9 [==============================] - 0s 332us/sample - loss: -34.2136 - acc: 0.0000e+00
Epoch 97/100
9/9 [==============================] - 0s 336us/sample - loss: -35.4511 - acc: 0.0000e+00
Epoch 98/100
9/9 [==============================] - 0s 443us/sample - loss: -36.7212 - acc: 0.0000e+00
Epoch 99/100
9/9 [==============================] - 0s 221us/sample - loss: -38.0219 - acc: 0.0000e+00
Epoch 100/100
9/9 [==============================] - 0s 328us/sample - loss: -39.3590 - acc: 0.0000e+00

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

3/3 - 0s - loss: -2.3563e+00 - acc: 0.0000e+00
Loss: -2.3562779426574707, Accuracy: 0.0

In [22]:
# Export our model to HDF5 file
#nn.save("Avocado_price.h5")