### Purpose of ML models: forecasting avocado prices and defining what features are affecting avocado prices in the US.

### Linear Regression with sckit-learn, Random Tree Classifier and Random Forest Ensamble (Regressor & Classifier) 

(Features) **X-variables**: region, date, units sold, production data (US, Mexico, Chile, Peru and Colombia).

(Target) **y-variable:** avocado price

## Import basic dependencies

In [1]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import seaborn as sns

## Import data from the database

In [2]:
import pandas as pd
from sqlalchemy import create_engine
from config import db_password

# local server connection string
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/avocados"

# create db engine
engine = create_engine(db_string)

In [3]:
# Load the avocado dataset form pgAdmin.
avocado_df = pd.read_sql_table('prices_prod', engine)
avocado_df.head()

,year_month,geography,date,type,avg_price,prices_total_volume,units_4046,units_4225,units_4770,total_bags,s_bags,l_bags,xl_bags,status,prod_total_volume,california,chile,mexico,peru,colombia
0,2018-03-01,Richmond/Norfolk,2018-03-25,organic,1.42,17340.49,295.16,3478.97,81.25,13485.11,12149.49,1335.62,0.00,actual,45807126,4997613,0,40809513,0,0
1,2018-07-01,Louisville,2018-07-08,conventional,0.97,142520.42,22704.27,33493.36,74.79,86248.00,44028.94,41902.39,316.67,actual,54802659,11546402,0,34059160,9197097,0
2,2019-02-01,Northeast,2019-02-03,conventional,1.14,7743349.68,344482.59,5667229.92,33665.87,1697971.30,1234928.23,462968.25,74.82,actual,45231823,225945,584756,44421122,0,0
3,2018-09-01,WestTex/NewMexico,2018-09-16,conventional,1.06,653087.92,314055.97,91822.68,28164.95,219044.32,130499.36,88272.02,272.94,actual,51398671,3782736,6299540,35153392,6163003,0
4,2019-07-01,WestTex/NewMexico,2019-07-21,conventional,1.34,760761.72,337772.97,78373.80,72579.15,272035.80,182285.97,76347.61,13402.22,actual,51585051,9892498,0,27328014,14364539,0

## Data Cleaning

In [4]:
#Count Null values
#avocado_df.isnull().sum()

In [5]:
# Make a copy.
avocado_df = avocado_df.copy()

In [6]:
# Drop Null values
avocado_df = avocado_df.dropna(how='any')
print(avocado_df.shape)
avocado_df.head()

(14472, 20)

,year_month,geography,date,type,avg_price,prices_total_volume,units_4046,units_4225,units_4770,total_bags,s_bags,l_bags,xl_bags,status,prod_total_volume,california,chile,mexico,peru,colombia
0,2018-03-01,Richmond/Norfolk,2018-03-25,organic,1.42,17340.49,295.16,3478.97,81.25,13485.11,12149.49,1335.62,0.00,actual,45807126,4997613,0,40809513,0,0
1,2018-07-01,Louisville,2018-07-08,conventional,0.97,142520.42,22704.27,33493.36,74.79,86248.00,44028.94,41902.39,316.67,actual,54802659,11546402,0,34059160,9197097,0
2,2019-02-01,Northeast,2019-02-03,conventional,1.14,7743349.68,344482.59,5667229.92,33665.87,1697971.30,1234928.23,462968.25,74.82,actual,45231823,225945,584756,44421122,0,0
3,2018-09-01,WestTex/NewMexico,2018-09-16,conventional,1.06,653087.92,314055.97,91822.68,28164.95,219044.32,130499.36,88272.02,272.94,actual,51398671,3782736,6299540,35153392,6163003,0
4,2019-07-01,WestTex/NewMexico,2019-07-21,conventional,1.34,760761.72,337772.97,78373.80,72579.15,272035.80,182285.97,76347.61,13402.22,actual,51585051,9892498,0,27328014,14364539,0

In [7]:
# Drop the non-beneficial columns.
avocado_df.drop(columns=["year_month"], inplace=True)
#avocado_df.head()

In [8]:
# Rename confusing columns
avocado_df = avocado_df.rename(columns={'prices_total_volume':'total_volume_sold', 'prod_total_volume':'total_volume_produced'})
avocado_df.head()

,geography,date,type,avg_price,total_volume_sold,units_4046,units_4225,units_4770,total_bags,s_bags,l_bags,xl_bags,status,total_volume_produced,california,chile,mexico,peru,colombia
0,Richmond/Norfolk,2018-03-25,organic,1.42,17340.49,295.16,3478.97,81.25,13485.11,12149.49,1335.62,0.00,actual,45807126,4997613,0,40809513,0,0
1,Louisville,2018-07-08,conventional,0.97,142520.42,22704.27,33493.36,74.79,86248.00,44028.94,41902.39,316.67,actual,54802659,11546402,0,34059160,9197097,0
2,Northeast,2019-02-03,conventional,1.14,7743349.68,344482.59,5667229.92,33665.87,1697971.30,1234928.23,462968.25,74.82,actual,45231823,225945,584756,44421122,0,0
3,WestTex/NewMexico,2018-09-16,conventional,1.06,653087.92,314055.97,91822.68,28164.95,219044.32,130499.36,88272.02,272.94,actual,51398671,3782736,6299540,35153392,6163003,0
4,WestTex/NewMexico,2019-07-21,conventional,1.34,760761.72,337772.97,78373.80,72579.15,272035.80,182285.97,76347.61,13402.22,actual,51585051,9892498,0,27328014,14364539,0

In [9]:
# Convert date object to date and check datatype
avocado_df.date = avocado_df.date.apply(pd.to_datetime)
print(avocado_df.date.dtypes)

datetime64[ns]

In [10]:
print(avocado_df.shape)

(14472, 19)

In [11]:
# Exctract the month
avocado_df['month'] = avocado_df.date.dt.month
#avocado_df.head()

In [12]:
# Exctract the week
avocado_df['week'] = avocado_df.date.dt.week
#avocado_df.head()

C:\Users\sfand\anaconda3\envs\pythonml\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.

In [13]:
print(avocado_df.shape)

(14472, 21)

In [14]:
# Drop rows with Total U.S. (possible outlier) 
avocado_df_no_TotalUS = avocado_df[~avocado_df['geography'].isin(['TotalUS'])]
avocado_df_no_TotalUS.head()

,geography,date,type,avg_price,total_volume_sold,units_4046,units_4225,units_4770,total_bags,s_bags,...,xl_bags,status,total_volume_produced,california,chile,mexico,peru,colombia,month,week
0,Richmond/Norfolk,2018-03-25,organic,1.42,17340.49,295.16,3478.97,81.25,13485.11,12149.49,...,0.00,actual,45807126,4997613,0,40809513,0,0,3,12
1,Louisville,2018-07-08,conventional,0.97,142520.42,22704.27,33493.36,74.79,86248.00,44028.94,...,316.67,actual,54802659,11546402,0,34059160,9197097,0,7,27
2,Northeast,2019-02-03,conventional,1.14,7743349.68,344482.59,5667229.92,33665.87,1697971.30,1234928.23,...,74.82,actual,45231823,225945,584756,44421122,0,0,2,5
3,WestTex/NewMexico,2018-09-16,conventional,1.06,653087.92,314055.97,91822.68,28164.95,219044.32,130499.36,...,272.94,actual,51398671,3782736,6299540,35153392,6163003,0,9,37
4,WestTex/NewMexico,2019-07-21,conventional,1.34,760761.72,337772.97,78373.80,72579.15,272035.80,182285.97,...,13402.22,actual,51585051,9892498,0,27328014,14364539,0,7,29

In [15]:
print(avocado_df_no_TotalUS.shape)

(14204, 21)

In [16]:
# Calculations
### sumup all units sold
avocado_df_no_TotalUS['total_units_sold'] = avocado_df_no_TotalUS.iloc[:, 5:8].sum(axis=1)

### calculate ratio total volume sold vs total_volume_produced
avocado_df_no_TotalUS['ratio_sold_vs_produced'] = avocado_df_no_TotalUS.loc[:,('total_volume_sold')]/avocado_df_no_TotalUS.loc[:,('total_volume_produced')]

### calculate ratio total sold and total volume produced in CA
avocado_df_no_TotalUS['CA_ratio_sold_vs_produced'] = avocado_df_no_TotalUS.loc[:,('california')]/avocado_df_no_TotalUS.loc[:,('total_volume_sold')]

avocado_df_no_TotalUS.head()

C:\Users\sfand\anaconda3\envs\pythonml\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\sfand\anaconda3\envs\pythonml\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\sfand\anaconda3\envs\pythonml\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

,geography,date,type,avg_price,total_volume_sold,units_4046,units_4225,units_4770,total_bags,s_bags,...,california,chile,mexico,peru,colombia,month,week,total_units_sold,ratio_sold_vs_produced,CA_ratio_sold_vs_produced
0,Richmond/Norfolk,2018-03-25,organic,1.42,17340.49,295.16,3478.97,81.25,13485.11,12149.49,...,4997613,0,40809513,0,0,3,12,3855.38,0.000379,288.204832
1,Louisville,2018-07-08,conventional,0.97,142520.42,22704.27,33493.36,74.79,86248.00,44028.94,...,11546402,0,34059160,9197097,0,7,27,56272.42,0.002601,81.015773
2,Northeast,2019-02-03,conventional,1.14,7743349.68,344482.59,5667229.92,33665.87,1697971.30,1234928.23,...,225945,584756,44421122,0,0,2,5,6045378.38,0.171193,0.029179
3,WestTex/NewMexico,2018-09-16,conventional,1.06,653087.92,314055.97,91822.68,28164.95,219044.32,130499.36,...,3782736,6299540,35153392,6163003,0,9,37,434043.60,0.012706,5.792078
4,WestTex/NewMexico,2019-07-21,conventional,1.34,760761.72,337772.97,78373.80,72579.15,272035.80,182285.97,...,9892498,0,27328014,14364539,0,7,29,488725.92,0.014748,13.003412

In [17]:
# Clean the type_conventional.
## Count the values
avocado_df_no_TotalUS["type"].value_counts()

organic          7102
conventional     4187
conventional     2915
Name: type, dtype: int64

In [18]:
# Replace "conventional " with "conventional"
avocado_df_no_TotalUS["type"] = avocado_df_no_TotalUS.loc[:,"type"].str.replace("conventional ", "conventional")

C:\Users\sfand\anaconda3\envs\pythonml\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [19]:
# Clean the type_conventional.
## Count the values
avocado_df_no_TotalUS["type"].value_counts()

conventional    7102
organic         7102
Name: type, dtype: int64

In [20]:
# Check all columns.
avocado_df_no_TotalUS.columns.tolist()

['geography',
 'date',
 'type',
 'avg_price',
 'total_volume_sold',
 'units_4046',
 'units_4225',
 'units_4770',
 'total_bags',
 's_bags',
 'l_bags',
 'xl_bags',
 'status',
 'total_volume_produced',
 'california',
 'chile',
 'mexico',
 'peru',
 'colombia',
 'month',
 'week',
 'total_units_sold',
 'ratio_sold_vs_produced',
 'CA_ratio_sold_vs_produced']

In [21]:
# Check datatypes.
avocado_df_no_TotalUS.dtypes

geography                            object
date                         datetime64[ns]
type                                 object
avg_price                           float64
total_volume_sold                   float64
units_4046                          float64
units_4225                          float64
units_4770                          float64
total_bags                          float64
s_bags                              float64
l_bags                              float64
xl_bags                             float64
status                               object
total_volume_produced                 int64
california                            int64
chile                                 int64
mexico                                int64
peru                                  int64
colombia                              int64
month                                 int64
week                                  int64
total_units_sold                    float64
ratio_sold_vs_produced              float64
CA_ratio_sold_vs_produced           float64
dtype: object

In [22]:
#Check the months
#avocado_df_CA.month.value_counts()

#Check the weeks
#avocado_df_CA.week.value_counts()

In [23]:
# Print shape of df.
print(avocado_df_no_TotalUS.shape)

(14204, 24)

### DATA preprocessing for ML model

In [24]:
# Import dependencies data preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

In [25]:
# Check datatypes
avocado_df_no_TotalUS.dtypes

geography                            object
date                         datetime64[ns]
type                                 object
avg_price                           float64
total_volume_sold                   float64
units_4046                          float64
units_4225                          float64
units_4770                          float64
total_bags                          float64
s_bags                              float64
l_bags                              float64
xl_bags                             float64
status                               object
total_volume_produced                 int64
california                            int64
chile                                 int64
mexico                                int64
peru                                  int64
colombia                              int64
month                                 int64
week                                  int64
total_units_sold                    float64
ratio_sold_vs_produced              float64
CA_ratio_sold_vs_produced           float64
dtype: object

In [26]:
# Use get_dummies() to create variables for text features.
avocado_cat_encoded = pd.get_dummies(avocado_df_no_TotalUS,  columns=["geography", "type", "status"])
avocado_cat_encoded.head()

,date,avg_price,total_volume_sold,units_4046,units_4225,units_4770,total_bags,s_bags,l_bags,xl_bags,...,geography_Southeast,geography_Spokane,geography_StLouis,geography_Syracuse,geography_Tampa,geography_West,geography_WestTex/NewMexico,type_conventional,type_organic,status_actual
0,2018-03-25,1.42,17340.49,295.16,3478.97,81.25,13485.11,12149.49,1335.62,0.00,...,0,0,0,0,0,0,0,0,1,1
1,2018-07-08,0.97,142520.42,22704.27,33493.36,74.79,86248.00,44028.94,41902.39,316.67,...,0,0,0,0,0,0,0,1,0,1
2,2019-02-03,1.14,7743349.68,344482.59,5667229.92,33665.87,1697971.30,1234928.23,462968.25,74.82,...,0,0,0,0,0,0,0,1,0,1
3,2018-09-16,1.06,653087.92,314055.97,91822.68,28164.95,219044.32,130499.36,88272.02,272.94,...,0,0,0,0,0,0,1,1,0,1
4,2019-07-21,1.34,760761.72,337772.97,78373.80,72579.15,272035.80,182285.97,76347.61,13402.22,...,0,0,0,0,0,0,1,1,0,1

In [27]:
#List the columns
avocado_cat_encoded.columns.tolist()

['date',
 'avg_price',
 'total_volume_sold',
 'units_4046',
 'units_4225',
 'units_4770',
 'total_bags',
 's_bags',
 'l_bags',
 'xl_bags',
 'total_volume_produced',
 'california',
 'chile',
 'mexico',
 'peru',
 'colombia',
 'month',
 'week',
 'total_units_sold',
 'ratio_sold_vs_produced',
 'CA_ratio_sold_vs_produced',
 'geography_Albany',
 'geography_Atlanta',
 'geography_Baltimore/Washington',
 'geography_Boise',
 'geography_Boston',
 'geography_Buffalo/Rochester',
 'geography_California',
 'geography_Charlotte',
 'geography_Chicago',
 'geography_Cincinnati/Dayton',
 'geography_Columbus',
 'geography_Dallas/FtWorth',
 'geography_Denver',
 'geography_Detroit',
 'geography_GrandRapids',
 'geography_GreatLakes',
 'geography_Harrisburg/Scranton',
 'geography_Hartford/Springfield',
 'geography_Houston',
 'geography_Indianapolis',
 'geography_Jacksonville',
 'geography_LasVegas',
 'geography_LosAngeles',
 'geography_Louisville',
 'geography_Miami/FtLauderdale',
 'geography_Midsouth',
 'geography_Nashville',
 'geography_NewOrleans/Mobile',
 'geography_NewYork',
 'geography_Northeast',
 'geography_NorthernNewEngland',
 'geography_Orlando',
 'geography_Philadelphia',
 'geography_Phoenix/Tucson',
 'geography_Pittsburgh',
 'geography_Plains',
 'geography_Portland',
 'geography_Raleigh/Greensboro',
 'geography_Richmond/Norfolk',
 'geography_Roanoke',
 'geography_Sacramento',
 'geography_SanDiego',
 'geography_SanFrancisco',
 'geography_Seattle',
 'geography_SouthCarolina',
 'geography_SouthCentral',
 'geography_Southeast',
 'geography_Spokane',
 'geography_StLouis',
 'geography_Syracuse',
 'geography_Tampa',
 'geography_West',
 'geography_WestTex/NewMexico',
 'type_conventional',
 'type_organic',
 'status_actual']

In [28]:
# Drop the non-beneficial columns.
avocado_cat_encoded.drop(columns=["date"], inplace=True)
avocado_cat_encoded.head()

,avg_price,total_volume_sold,units_4046,units_4225,units_4770,total_bags,s_bags,l_bags,xl_bags,total_volume_produced,...,geography_Southeast,geography_Spokane,geography_StLouis,geography_Syracuse,geography_Tampa,geography_West,geography_WestTex/NewMexico,type_conventional,type_organic,status_actual
0,1.42,17340.49,295.16,3478.97,81.25,13485.11,12149.49,1335.62,0.00,45807126,...,0,0,0,0,0,0,0,0,1,1
1,0.97,142520.42,22704.27,33493.36,74.79,86248.00,44028.94,41902.39,316.67,54802659,...,0,0,0,0,0,0,0,1,0,1
2,1.14,7743349.68,344482.59,5667229.92,33665.87,1697971.30,1234928.23,462968.25,74.82,45231823,...,0,0,0,0,0,0,0,1,0,1
3,1.06,653087.92,314055.97,91822.68,28164.95,219044.32,130499.36,88272.02,272.94,51398671,...,0,0,0,0,0,0,1,1,0,1
4,1.34,760761.72,337772.97,78373.80,72579.15,272035.80,182285.97,76347.61,13402.22,51585051,...,0,0,0,0,0,0,1,1,0,1

In [29]:
# Define X values - 3rd trial.
X = avocado_cat_encoded[['month', 'week',
 'units_4046',
 'units_4225',
 'units_4770',
 's_bags',
 'l_bags',
 'xl_bags',
 'california',
 'chile',
 'mexico',
 'peru',
 'colombia',
 'ratio_sold_vs_produced',
 'CA_ratio_sold_vs_produced',
 'geography_Albany',
 'geography_Atlanta',
 'geography_Baltimore/Washington',
 'geography_Boise',
 'geography_Boston',
 'geography_Buffalo/Rochester',
 'geography_California',
 'geography_Charlotte',
 'geography_Chicago',
 'geography_Cincinnati/Dayton',
 'geography_Columbus',
 'geography_Dallas/FtWorth',
 'geography_Denver',
 'geography_Detroit',
 'geography_GrandRapids',
 'geography_GreatLakes',
 'geography_Harrisburg/Scranton',
 'geography_Hartford/Springfield',
 'geography_Houston',
 'geography_Indianapolis',
 'geography_Jacksonville',
 'geography_LasVegas',
 'geography_LosAngeles',
 'geography_Louisville',
 'geography_Miami/FtLauderdale',
 'geography_Midsouth',
 'geography_Nashville',
 'geography_NewOrleans/Mobile',
 'geography_NewYork',
 'geography_Northeast',
 'geography_NorthernNewEngland',
 'geography_Orlando',
 'geography_Philadelphia',
 'geography_Phoenix/Tucson',
 'geography_Pittsburgh',
 'geography_Plains',
 'geography_Portland',
 'geography_Raleigh/Greensboro',
 'geography_Richmond/Norfolk',
 'geography_Roanoke',
 'geography_Sacramento',
 'geography_SanDiego',
 'geography_SanFrancisco',
 'geography_Seattle',
 'geography_SouthCarolina',
 'geography_SouthCentral',
 'geography_Southeast',
 'geography_Spokane',
 'geography_StLouis',
 'geography_Syracuse',
 'geography_Tampa',
 'geography_West',
 'geography_WestTex/NewMexico',
 'type_conventional',
 'type_organic']]

In [30]:
# Define y values.
y = avocado_cat_encoded.avg_price

In [31]:
# Split the to training and testing.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [32]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Linear Regression with sckit-learn

In [33]:
# Import dependencies.
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [34]:
# Fit the model.
model = LinearRegression()
model.fit(X_train_scaled, y_train)

LinearRegression()

In [35]:
# Predict the model.
y_pred = model.predict(X_test_scaled)

In [36]:
# Mean squared error.
mean_squared_error(y_test, y_pred)

0.038170459739821784

In [37]:
# R2 score.
r2_score(y_test, y_pred)

0.6700483809603264

In [38]:
# Print coeficient and intercept
print(model.coef_)
print(model.intercept_)

[-0.12459348  0.12852636 -0.01208551 -0.00433341  0.00909195 -0.01532508
 -0.00934753  0.00213816  0.01201211  0.02271223 -0.02679768  0.0590539
 -0.04467865 -0.01044506  0.00690348  0.00596217 -0.0130101   0.00677047
  0.02465425  0.02483323 -0.01717108  0.02805299  0.01670833  0.01854114
 -0.0139163  -0.02518352 -0.03746365 -0.00587206 -0.02086307  0.00237319
 -0.0077109  -0.01904645  0.04537533 -0.03268393 -0.02469894 -0.01336982
 -0.0022171   0.01140294 -0.01486293 -0.01679825  0.00386039 -0.01919419
 -0.03040893  0.03294071  0.02156749  0.00703523 -0.02036769  0.00554226
 -0.02105661 -0.01262539 -0.01049493  0.0236897   0.02446161 -0.02151224
 -0.01889238  0.0231872   0.02287985  0.04536163  0.04063935 -0.00381924
 -0.01968931 -0.00373476  0.02779225  0.01601223 -0.01099331 -0.02445596
  0.0177707  -0.01479185 -0.09936511  0.09936511]
1.363926593447855

In [39]:
# Print the scores for 
print("R2 score : %.2f" % r2_score(y_test, y_pred))
print("Mean squared error: %.2f" % mean_squared_error(y_test,y_pred))

R2 score : 0.67
Mean squared error: 0.04

## Random Forest Regressor

In [40]:
# Import dependencies
from sklearn.ensemble import RandomForestRegressor

In [41]:
# Train the model
reg = RandomForestRegressor(n_estimators = 50, random_state = 0)
reg.fit(X_train_scaled, y_train)

RandomForestRegressor(n_estimators=50, random_state=0)

In [42]:
# List the features sorted in descending order by feature importance
feature_importance = sorted(zip(reg.feature_importances_, X.columns), reverse=True)
feature_importance

[(0.22323353236070242, 'type_conventional'),
 (0.176893065556193, 'type_organic'),
 (0.12104483290641534, 'units_4225'),
 (0.0835252375283466, 'units_4046'),
 (0.0778177044532324, 's_bags'),
 (0.04395076095538803, 'peru'),
 (0.034946845037804965, 'l_bags'),
 (0.02788640509620566, 'mexico'),
 (0.027248396178084115, 'ratio_sold_vs_produced'),
 (0.01923308016483763, 'units_4770'),
 (0.015941335334312797, 'california'),
 (0.014732292736381982, 'week'),
 (0.013866354115135072, 'CA_ratio_sold_vs_produced'),
 (0.011549545813003744, 'xl_bags'),
 (0.0078247853386695, 'geography_SanFrancisco'),
 (0.0076405948257972835, 'chile'),
 (0.006930168524317851, 'colombia'),
 (0.0063878093362344, 'geography_Raleigh/Greensboro'),
 (0.006182212365277498, 'geography_Seattle'),
 (0.005018868097328424, 'geography_Boston'),
 (0.004162462612867599, 'month'),
 (0.003853904527384186, 'geography_SanDiego'),
 (0.003766954685409899, 'geography_NorthernNewEngland'),
 (0.0034405860094571666, 'geography_Hartford/Springfield'),
 (0.002985724003516984, 'geography_SouthCentral'),
 (0.002534909218289781, 'geography_Louisville'),
 (0.0025292050037566717, 'geography_Houston'),
 (0.002499016508974683, 'geography_Chicago'),
 (0.002167198356367968, 'geography_Atlanta'),
 (0.002131866294323984, 'geography_Columbus'),
 (0.002102940750454609, 'geography_GrandRapids'),
 (0.0017847579164347394, 'geography_Plains'),
 (0.0017473851364532933, 'geography_Miami/FtLauderdale'),
 (0.001694049601901623, 'geography_Boise'),
 (0.0016761759780169392, 'geography_Phoenix/Tucson'),
 (0.001636517863565817, 'geography_Harrisburg/Scranton'),
 (0.001636386874433458, 'geography_Dallas/FtWorth'),
 (0.0016236388173700345, 'geography_Indianapolis'),
 (0.0015151457297552548, 'geography_StLouis'),
 (0.0014364800416589937, 'geography_Portland'),
 (0.0013475295604771084, 'geography_Detroit'),
 (0.001290229468959302, 'geography_LosAngeles'),
 (0.0012824437148576597, 'geography_Spokane'),
 (0.001229644331176864, 'geography_Richmond/Norfolk'),
 (0.0012268810701134547, 'geography_California'),
 (0.001169262690382412, 'geography_Sacramento'),
 (0.001097702742343643, 'geography_Denver'),
 (0.0010975131590115893, 'geography_Cincinnati/Dayton'),
 (0.0010658450662512262, 'geography_Philadelphia'),
 (0.0010507836487660045, 'geography_Charlotte'),
 (0.0009780301953791204, 'geography_NewYork'),
 (0.0009218909724708094, 'geography_Jacksonville'),
 (0.0008668644785474514, 'geography_WestTex/NewMexico'),
 (0.0008663406548385964, 'geography_LasVegas'),
 (0.0006185757155502149, 'geography_Southeast'),
 (0.0006171427709744206, 'geography_Northeast'),
 (0.0005674280752682988, 'geography_SouthCarolina'),
 (0.0004797829849902023, 'geography_Baltimore/Washington'),
 (0.0004651680466752537, 'geography_NewOrleans/Mobile'),
 (0.0004588061947430931, 'geography_Albany'),
 (0.00040251259258967774, 'geography_Nashville'),
 (0.0002919797144119257, 'geography_Syracuse'),
 (0.000286878039448333, 'geography_Buffalo/Rochester'),
 (0.00028255449910239555, 'geography_Roanoke'),
 (0.00027521682064538515, 'geography_Orlando'),
 (0.0002505563393997271, 'geography_Pittsburgh'),
 (0.000214805256158381, 'geography_Tampa'),
 (0.0001860737117742664, 'geography_Midsouth'),
 (0.00018274547907830104, 'geography_GreatLakes'),
 (0.0001496793515525139, 'geography_West')]

In [43]:
# Predictions
y_pred = reg.predict(X_test_scaled)
#y_pred

In [44]:
# Print result mse and rmse (root mean squared error)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
rmse

0.12112555701924192

In [45]:
# Print the scores for RandomForestRegressor
print("R2 score : %.2f" % r2_score(y_test, y_pred))
print("Mean squared error: %.2f" % mean_squared_error(y_test,y_pred))
print("Root mean squared error: %.2f" % rmse)

R2 score : 0.87
Mean squared error: 0.01
Root mean squared error: 0.12

## Random Forest Classifier

In [46]:
# Import Dependencies
from imblearn.ensemble import BalancedRandomForestClassifier
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [47]:
avocado_cat_encoded.head()

,avg_price,total_volume_sold,units_4046,units_4225,units_4770,total_bags,s_bags,l_bags,xl_bags,total_volume_produced,...,geography_Southeast,geography_Spokane,geography_StLouis,geography_Syracuse,geography_Tampa,geography_West,geography_WestTex/NewMexico,type_conventional,type_organic,status_actual
0,1.42,17340.49,295.16,3478.97,81.25,13485.11,12149.49,1335.62,0.00,45807126,...,0,0,0,0,0,0,0,0,1,1
1,0.97,142520.42,22704.27,33493.36,74.79,86248.00,44028.94,41902.39,316.67,54802659,...,0,0,0,0,0,0,0,1,0,1
2,1.14,7743349.68,344482.59,5667229.92,33665.87,1697971.30,1234928.23,462968.25,74.82,45231823,...,0,0,0,0,0,0,0,1,0,1
3,1.06,653087.92,314055.97,91822.68,28164.95,219044.32,130499.36,88272.02,272.94,51398671,...,0,0,0,0,0,0,1,1,0,1
4,1.34,760761.72,337772.97,78373.80,72579.15,272035.80,182285.97,76347.61,13402.22,51585051,...,0,0,0,0,0,0,1,1,0,1

In [48]:
# Get the price ranges
avocado_cat_encoded.avg_price.describe()

count    14204.000000
mean         1.362873
std          0.342213
min          0.500000
25%          1.117500
50%          1.330000
75%          1.570000
max          2.780000
Name: avg_price, dtype: float64

In [49]:
# Categorize y-values
labels = ["low", "low-medium", "high-medium","high"]
x = avocado_cat_encoded['avg_price']

#Categorize prices
avocado_cat_encoded["price_category"] = pd.qcut(x, 4, labels=labels)
avocado_cat_encoded.head()

,avg_price,total_volume_sold,units_4046,units_4225,units_4770,total_bags,s_bags,l_bags,xl_bags,total_volume_produced,...,geography_Spokane,geography_StLouis,geography_Syracuse,geography_Tampa,geography_West,geography_WestTex/NewMexico,type_conventional,type_organic,status_actual,price_category
0,1.42,17340.49,295.16,3478.97,81.25,13485.11,12149.49,1335.62,0.00,45807126,...,0,0,0,0,0,0,0,1,1,high-medium
1,0.97,142520.42,22704.27,33493.36,74.79,86248.00,44028.94,41902.39,316.67,54802659,...,0,0,0,0,0,0,1,0,1,low
2,1.14,7743349.68,344482.59,5667229.92,33665.87,1697971.30,1234928.23,462968.25,74.82,45231823,...,0,0,0,0,0,0,1,0,1,low-medium
3,1.06,653087.92,314055.97,91822.68,28164.95,219044.32,130499.36,88272.02,272.94,51398671,...,0,0,0,0,0,1,1,0,1,low
4,1.34,760761.72,337772.97,78373.80,72579.15,272035.80,182285.97,76347.61,13402.22,51585051,...,0,0,0,0,0,1,1,0,1,high-medium

In [50]:
# Check bin balance
avocado_cat_encoded["price_category"].value_counts()

low-medium     3601
low            3551
high           3540
high-medium    3512
Name: price_category, dtype: int64

In [51]:
# Assigning new X-values and y-values
y_new = avocado_cat_encoded["price_category"]
X_new = avocado_cat_encoded[['month', 'week',
 'units_4046',
 'units_4225',
 'units_4770',
 's_bags',
 'l_bags',
 'xl_bags',
 'california',
 'chile',
 'mexico',
 'peru',
 'colombia',
 'ratio_sold_vs_produced',
 'CA_ratio_sold_vs_produced',
 'geography_Albany',
 'geography_Atlanta',
 'geography_Baltimore/Washington',
 'geography_Boise',
 'geography_Boston',
 'geography_Buffalo/Rochester',
 'geography_California',
 'geography_Charlotte',
 'geography_Chicago',
 'geography_Cincinnati/Dayton',
 'geography_Columbus',
 'geography_Dallas/FtWorth',
 'geography_Denver',
 'geography_Detroit',
 'geography_GrandRapids',
 'geography_GreatLakes',
 'geography_Harrisburg/Scranton',
 'geography_Hartford/Springfield',
 'geography_Houston',
 'geography_Indianapolis',
 'geography_Jacksonville',
 'geography_LasVegas',
 'geography_LosAngeles',
 'geography_Louisville',
 'geography_Miami/FtLauderdale',
 'geography_Midsouth',
 'geography_Nashville',
 'geography_NewOrleans/Mobile',
 'geography_NewYork',
 'geography_Northeast',
 'geography_NorthernNewEngland',
 'geography_Orlando',
 'geography_Philadelphia',
 'geography_Phoenix/Tucson',
 'geography_Pittsburgh',
 'geography_Plains',
 'geography_Portland',
 'geography_Raleigh/Greensboro',
 'geography_Richmond/Norfolk',
 'geography_Roanoke',
 'geography_Sacramento',
 'geography_SanDiego',
 'geography_SanFrancisco',
 'geography_Seattle',
 'geography_SouthCarolina',
 'geography_SouthCentral',
 'geography_Southeast',
 'geography_Spokane',
 'geography_StLouis',
 'geography_Syracuse',
 'geography_Tampa',
 'geography_West',
 'geography_WestTex/NewMexico',
 'type_conventional',
 'type_organic']]

In [52]:
# Split the to training and testing.
X_train, X_test, y_train, y_test = train_test_split(X_new, y_new, test_size=0.25, random_state=42)

In [53]:
# Resample the training data with the BalancedRandomForestClassifier
brf = BalancedRandomForestClassifier(n_estimators=100, random_state=1)
brf.fit(X_train, y_train)

BalancedRandomForestClassifier(random_state=1)

In [54]:
# Calculated the balanced accuracy score
y_pred = brf.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.7636586347796386

In [55]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

       high       0.83      0.87      0.94      0.85      0.91      0.82       859
high-medium       0.72      0.66      0.91      0.69      0.78      0.59       910
        low       0.83      0.84      0.94      0.84      0.89      0.79       889
 low-medium       0.67      0.67      0.89      0.67      0.77      0.59       893

avg / total       0.76      0.76      0.92      0.76      0.84      0.69      3551

In [56]:
# List the features sorted in descending order by feature importance
feature_importance = sorted(zip(brf.feature_importances_, X.columns), reverse=True)
for i in feature_importance:
    print('{} : ({})'.format(i[1], i[0]))

units_4225 : (0.0933517247147598)
units_4046 : (0.0928058379205818)
s_bags : (0.0810009098213439)
l_bags : (0.07116886387526425)
ratio_sold_vs_produced : (0.06948196128900813)
CA_ratio_sold_vs_produced : (0.05504141373215138)
units_4770 : (0.05478777012881662)
xl_bags : (0.04957804653783573)
mexico : (0.04679521857205571)
week : (0.040299576844863)
california : (0.03978460994899055)
type_conventional : (0.039180718479970726)
peru : (0.03131479663214419)
type_organic : (0.02973477637865655)
month : (0.02388324043251757)
chile : (0.021083155967567446)
colombia : (0.009507381686154675)
geography_SanFrancisco : (0.0051960315290675956)
geography_Seattle : (0.005007272142192126)
geography_Hartford/Springfield : (0.004902719411816702)
geography_Baltimore/Washington : (0.004312854258747945)
geography_NewYork : (0.004192944320856266)
geography_Boston : (0.004092123580541215)
geography_Richmond/Norfolk : (0.004053298057079147)
geography_SanDiego : (0.003973874526039696)
geography_GrandRapids : (0.0038045307658819572)
geography_Northeast : (0.0037812192674030127)
geography_Houston : (0.0036339765171450574)
geography_Chicago : (0.0035500742561478285)
geography_Indianapolis : (0.003522710253625228)
geography_Dallas/FtWorth : (0.0034509468348620565)
geography_Miami/FtLauderdale : (0.0033626885660824075)
geography_Sacramento : (0.0033225124281665843)
geography_Louisville : (0.0032941793236081654)
geography_California : (0.003291008792277212)
geography_Columbus : (0.0032377367197039797)
geography_SouthCentral : (0.0032097508706226434)
geography_Spokane : (0.003036522727824869)
geography_Detroit : (0.003024505722328536)
geography_Buffalo/Rochester : (0.002919063704101189)
geography_Harrisburg/Scranton : (0.0029177536393670198)
geography_NewOrleans/Mobile : (0.0028827875092251273)
geography_Philadelphia : (0.0028163976532489493)
geography_Phoenix/Tucson : (0.002777497585216478)
geography_Pittsburgh : (0.002513285500371865)
geography_Tampa : (0.002463888946853944)
geography_StLouis : (0.002454115580660925)
geography_NorthernNewEngland : (0.0024143363445384854)
geography_Plains : (0.0023733063780066563)
geography_Roanoke : (0.002366922359727213)
geography_Denver : (0.0022734966316555693)
geography_Orlando : (0.002270669120410026)
geography_WestTex/NewMexico : (0.0022660002872530796)
geography_Raleigh/Greensboro : (0.002233022868565053)
geography_Jacksonville : (0.0022301906944078398)
geography_Syracuse : (0.0022087039827453866)
geography_Nashville : (0.0021040161014156673)
geography_Boise : (0.0020978365328989516)
geography_Portland : (0.0020849170421038993)
geography_Cincinnati/Dayton : (0.002041893539751095)
geography_LasVegas : (0.0020009913515629976)
geography_Charlotte : (0.001964671526695759)
geography_Atlanta : (0.001933221570070615)
geography_LosAngeles : (0.0018804449040819475)
geography_Southeast : (0.0018758214509608739)
geography_SouthCarolina : (0.0017164188647060792)
geography_Albany : (0.0017149697434622406)
geography_GreatLakes : (0.0014259533570337643)
geography_Midsouth : (0.0014148312277980604)
geography_West : (0.001309090166400858)

# Hyperparameter Tuning

In [57]:
# from sklearn.metrics import classification_report
# report = classification_report(y_test, y_pred)

In [58]:
# estimators = [100, 150, 200, 250, 500]
# for estimator in estimators:
#     brf = BalancedRandomForestClassifier(n_estimators=estimator, random_state=1)
#     brf.fit(X_train, y_train)  
#     y_pred = brf.predict(X_test)
#     report = classification_report(y_test, y_pred)
#     print('----------------')
#     print(str(estimator))
#     print(report)

## Decision Tree Classifier

In [66]:
# Import dependencies
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
from sklearn import tree
import graphviz

In [67]:
# Building Decision Tree 
dt = DecisionTreeClassifier(criterion = 'entropy', random_state = 42)
dt.fit(X_train, y_train)
y_pred = dt.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

        high       0.78      0.76      0.77       859
 high-medium       0.60      0.57      0.59       910
         low       0.77      0.78      0.77       889
  low-medium       0.58      0.63      0.60       893

    accuracy                           0.68      3551
   macro avg       0.68      0.68      0.68      3551
weighted avg       0.68      0.68      0.68      3551

In [68]:
# Limit the tree depth
# Building Decision Tree 2
dt = DecisionTreeClassifier(criterion = 'entropy', random_state = 42, max_depth=4)
dt.fit(X_train, y_train)
y_pred = dt.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

        high       0.58      0.73      0.65       859
 high-medium       0.43      0.33      0.38       910
         low       0.63      0.60      0.61       889
  low-medium       0.42      0.44      0.43       893

    accuracy                           0.52      3551
   macro avg       0.52      0.52      0.52      3551
weighted avg       0.52      0.52      0.51      3551

In [69]:
# Graph the decision tree
classification_tree = tree.export_graphviz(dt, out_file=None, 
                        feature_names=X_new.columns, 
                        class_names=dt.classes_, 
                        filled=True)

graph = graphviz.Source(classification_tree, format="png")
graph

In [70]:
dt.classes_

array(['high', 'high-medium', 'low', 'low-medium'], dtype=object)

### Time Series with Random Forest

In [ ]:
#Next